
{% macro chapterTitle() %}Chapitre 17{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('17_chap_16')"><i class="fa-solid fa-arrow-left"></i> Chapitre 16</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('19_chap_18')">Chapitre 18 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f156/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f156/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f156" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f157/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f157/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f157" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f158/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f158/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f158" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f159/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f159/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f159" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f156">
   <p title="Numéro de folio" class="text-end"><i>65v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2997">§Sans long proces / cy deſſoubz ſera mys</span>
      <span class="verse v2998">Comme 
         <span class="lem">Clouys</span>
         
          de miracles inſignes</span>
      <span class="verse v2999">Fut aduerty, par prodiges et ſignes,</span>
      <span class="verse v3000"><span class="verse-number">[3000]</span>Auant combatre aux gotz, ſes ennemys.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      
      <span class="lem">
         §Chapitre.
         <span class="num" type="ordinal" value="17">xuii<sup>e</sup>
            </span>.</span>
      
      
      </blockquote>
   
   <span class="verse v3001">LE roy Clouys / ains 
      <span class="lem">ſe</span>
      
       vouloir 
      <span class="lem">embatre</span>
      
      </span>
   <span class="verse v3002">Mectre ſes gentz au hazard de <span class="choice"><span title="Abbréviation pour combatre">cōbatre</span></span></span>
   <span class="verse v3003">Fiſt, en lhonneur et contemplation</span>
   <span class="verse v3004">De ſainct Martin / certaine oblation</span>
   <span class="verse v3005"><span class="verse-number">[3005]</span>Poꝛter a <mark title="placeName" instant="false" full="yes">tours</mark> / deuant la ſepulture</span>
   <span class="verse v3006">Du digne coꝛps /.Eſperant, de future</span>
   <span class="verse v3007">Bonne victoyꝛe / ung ſigne receuoir.</span>
   <span class="verse v3008">En quoy ne fut fruſtre par deceuoir</span>
   <span class="verse v3009">Car, 
      <span class="lem"></span>
      
      quant ſes gentz en legliſe arriuerent,</span>
   <span class="verse v3010"><span class="verse-number">[3010]</span>
      <span class="lem"></span>
      
       Pꝛeſtres chantantz / dedans 
      <span class="lem">le</span>
      
       cueur trouuerent.</span>
   <span class="verse v3011">Et en offrant leurs dons au gꝛand aultier,</span>
   <span class="verse v3012">Ce beau verſet ouyrent du pſaultier&nbsp;:</span>
   <span class="verse v3013"><i>Pꝛecinxiſti / me domine</i> /. La lectre</span>
   <span class="verse v3014">Dit 
      <span class="lem">en</span>
      
       francoys / pour 
      <span class="lem"></span>
      
       clerement le mectre&nbsp;:</span>
   <span class="verse v3015"><span class="verse-number">[3015]</span><i>Sire / tu mas tout 
         <span class="lem">arme</span>
         
          / reueſtu</i></span>
   
   
   <hr data-img-id="f157">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clouis ſe delibere
         combatre les gotz hereticques arriens.</span><span title="Numéro de folio" class="folio-num"><i>66r</i></span></span>
   <span class="verse v3016"><i>Et ſeinct de gꝛace en ta foꝛce et vertu.</i></span>
   <span class="verse v3017"><i>Mes ennemys de fiere et rude taille</i></span>
   <span class="verse v3018"><i>As ſupplantez / ſoubz mes piedz
         en bataille</i>.</span>
   
   <span class="verse v3019">§Ces motz ouyz et pꝛis
      daffection,</span>
   <span class="verse v3020"><span class="verse-number">[3020]</span>Loffrande faicte a gꝛand deuotion,</span>
   <span class="verse v3021">Les meſſaigiers allerent ce meſſaige</span>
   <span class="verse v3022">Poꝛter au roy / qui le pꝛiſt a pꝛeſaige</span>
   <span class="verse v3023">De bon effect / et, 
      <span class="lem">en</span>
      
      
      <span class="lem">faueur</span>
      
       de cueur,</span>
   <span class="verse v3024">Remercia le benoiſt Createur.</span>
   <span class="verse v3025"><span class="verse-number">[3025]</span>Loꝛs fiſt ſes gentz aſſembler, pour leur dire</span>
   <span class="verse v3026">Et remonſtrer la cauſe dont feu de ire,</span>
   <span class="verse v3027">Sur loſt des gotz / fait armes pꝛeparer,</span>
   <span class="verse v3028">Diſant / que ceſt /
      <span class="lem"></span>
      
      affin de reparer</span>
   <span class="verse v3029">Liniure faicte a Dieu par les
      pꝛacticques</span>
   <span class="verse v3030"><span class="verse-number">[3030]</span>Deulx, malheureux / et meſchantz hereticques,</span>
   <span class="verse v3031">Qui 
      <span class="lem"></span>
      
       ſur lhonneur diuin ſont detracteurs,</span>
   <span class="verse v3032">Perſecuteurs / et pꝛeuaricateurs</span>
   <span class="verse v3033">Des ſainctes 
      <span class="lem">loix</span>
      
       /. entant que a ceulx 
      <span class="lem">qui poꝛtent</span>
      
      </span>
   <span class="verse v3034">
      <span class="lem">Salutz de 
         <span class="lem">paix</span>
         
          /. et vers eulx ſe tranſpoꝛtent,</span>
      
      </span>
   <span class="verse v3035"><span class="verse-number">[3035]</span>Font mal ſouffrir / par laſche trahiſon.</span>
   <span class="verse v3036">Sur ce, conclud / et dit que la raiſon</span>
   <span class="verse v3037">De batailler encontre eulx vault /.Car elle</span>
   <span class="verse v3038">
      <span class="lem">Eſt</span>
      
       bien fondee / et 
      <span class="lem">en</span>
      
       iuſte querelle.</span>
   <span class="verse v3039">Genſdarmes 
      <span class="lem"></span>
      
      , loꝛs 
      <span class="lem"></span>
      
       treſfoꝛt encouraigez</span>
   <span class="verse v3040"><span class="verse-number">[3040]</span>De les chaſſer, comme chiens enraigez,</span>
   
   
   <hr data-img-id="f158">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clouys prie dieu pour ſon oſt contre les gotz.</span><span title="Numéro de folio" class="folio-num"><i>66v</i></span></span>
   <span class="verse v3041">Apꝛes ſon dire /
      <span class="lem">eurent</span>
      
       ferme eſperance</span>
   <span class="verse v3042">
      <span class="lem">En la victoyꝛe / Et, ſur telle aſſeurance,</span>
      
      </span>
   <span class="verse v3043">Tout loſt / dun bꝛanſle, encommenca marcher.</span>
   <span class="verse v3044">Mais il ne peut de pꝛes les appꝛocher</span>
   <span class="verse v3045"><span class="verse-number">[3045]</span>Sans trauerſer, de <mark title="placeName" instant="false" full="yes">uienne</mark>, le fleuue</span>
   <span class="verse v3046">Gꝛos et enfle /Car mys le cas quil pleuue</span>
   <span class="verse v3047"><span class="date" dur="P2D" instant="false">Deux ou troys iours</span> /.Rauyne deau toſt rend</span>
   <span class="verse v3048">Ce fleuue, tel / quil bꝛuyt comme ung toꝛrent.</span>
   <span class="verse v3049">Et ne peult on y trouuer 
      <span class="lem"></span>
      
       fons ne ryue.</span>
   <span class="verse v3050"><span class="verse-number">[3050]</span>Le roy, voyant ſon oſt qui la arriue</span>
   <span class="verse v3051">Et 
      <span class="lem">ſi</span>
      
       ne peult paſſer /. leuant ſes yeulx,</span>
   <span class="verse v3052">Pꝛetend auoir ſecours deuers les cieulx</span>
   <span class="verse v3053">Et dit ainſi /.<span title="Discours direct">O Trinite unie,</span></span>
   <span class="verse v3054"><span title="Discours direct">
         <span class="lem"></span>
         
         Trine unite / et bonte infinie,</span></span>
   <span class="verse v3055"><span class="verse-number">[3055]</span><span title="Discours direct">Conſolateur des poures
         deſolez,</span></span>
   <span class="verse v3056"><span title="Discours direct">Te plaiſe rendꝛe oꝛendꝛoit
         conſolez</span></span>
   <span class="verse v3057"><span title="Discours direct">Tes ſeruiteurs /
         leſquelz, pour la deffenſe</span></span>
   <span class="verse v3058"><span title="Discours direct">De ton ſainct nom /.
         
         <span class="lem">a</span>
         
          peuple qui toffenſe</span></span>
   <span class="verse v3059"><span title="Discours direct">Vont 
         <span class="lem">batailler</span>
         
          / mectans ames et coꝛps</span></span>
   <span class="verse v3060"><span class="verse-number">[3060]</span><span title="Discours direct">En gꝛand peril /. Doulx Dieu miſericoꝛdz,</span></span>
   <span class="verse v3061"><span title="Discours direct">Enſeigne nous 
         <span class="lem">du</span>
         
          paſſaige la voye</span></span>
   <span class="verse v3062"><span title="Discours direct">A celle fin que 
         <span class="lem">ce</span>
         
          peuple la voye</span></span>
   <span class="verse v3063"><span title="Discours direct">Que a tes ſeruans veulx
         eſtre directeur,</span></span>
   <span class="verse v3064"><span title="Discours direct">Guyde / ſuppoꝛt / appuy / et pꝛotecteur.</span></span>
   <span class="verse v3065"><span class="verse-number">[3065]</span>§Dieu / qui iamais loꝛaiſon ne meſpꝛiſe</span>
   
   
   <hr data-img-id="f159">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Miracles et ſignes veuz en loſt du roy Clouis.</span><span title="Numéro de folio" class="folio-num"><i>67r</i></span></span>
   <span class="verse v3066">Dun cueur loyal / quant le ſert, ame et pꝛiſe,</span>
   <span class="verse v3067">Bien declaira 
      <span class="lem"></span>
      
       eſtre aux ſiens ſeur garand,</span>
   <span class="verse v3068">
      <span class="lem">Quant luy monſtra ſigne damour ſi gꝛand</span>
      
      </span>
   <span class="verse v3069">Quil enuoya, par ung certain meſſaige,</span>
   <span class="verse v3070"><span class="verse-number">[3070]</span>De la riuiere enſeigner le paſſaige.</span>
   <span class="verse v3071">Ce fut ung 
      <span class="lem">cerf</span>
      
      
       /. le quel ſans que homme ne</span>
   <span class="verse v3072">Leuſt foꝛhue / chaſſe / ne mau mene,</span>
   <span class="verse v3073">Teſte poꝛtant 
      <span class="lem">(</span>
      
      de ſeze 
      <span class="lem">coꝛps</span>
      
      
      
      <span class="lem">)</span>
      
       ſommee,</span>
   <span class="verse v3074">Se vint offrir tout le long de larmee,</span>
   <span class="verse v3075"><span class="verse-number">[3075]</span>Ung beau matin, des le ſoleil leuant,</span>
   <span class="verse v3076">Et en ce fleuue 
      <span class="lem">alla</span>
      
       paſſer deuant</span>
   <span class="verse v3077">De ryue 
      <span class="lem">a</span>
      
       autre /. Ainſi mys hoꝛs de craincte,</span>
   <span class="verse v3078">Tous ceulx de loſt paſſerent ſans contraincte.</span>
   <span class="verse v3079">§Dieu mercians /
      <span class="lem">auant</span>
      
      <span class="date" dur="P6D" instant="false">ſix</span> iours entiers,</span>
   <span class="verse v3080"><span class="verse-number">[3080]</span>Clouys et 
      <span class="lem"></span>
      
       loſt 
      <span class="lem">logerent a</span>
      
      <mark title="placeName" instant="false" full="yes">Poictiers</mark>.</span>
   <span class="verse v3081">Et la, au pꝛes du temple <mark title="placeName" instant="false" full="yes">sainct Hillaire</mark>,</span>
   <span class="verse v3082">(Ains que aſſaillir le roy des gotz /Allaire,</span>
   <span class="verse v3083">Son pauillon fiſt tendꝛe, pour la nuyt
      <span class="lem"></span>
      
      </span>
   <span class="verse v3084">Y repoſer /.
      <span class="lem">La</span>
      
      , teſmoings <span class="num">ſept</span> ou <span class="num">huyt</span></span>
   <span class="verse v3085"><span class="verse-number">[3085]</span>Dignes de 
      <span class="lem">foy</span>
      
       / vers mynuyt, apperceurent</span>
   <span class="verse v3086">Bꝛandon de 
      <span class="lem"></span>
      
       feu / et bien congnoiſſance eurent</span>
   <span class="verse v3087">Le veoir tumber ſur la tente du roy,</span>
   <span class="verse v3088">Sans faire mal / ne aucun deſarroy.</span>
   <span class="verse v3089">Par quoy 
      <span class="lem">tous eulx</span>
      
      
      
       pꝛindꝛent augure et ſigne</span>
   <span class="verse v3090"><span class="verse-number">[3090]</span>Quen cela /dieu / victoyꝛe leur aſſigne.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f156">
   <blockquote class="ms-2">
      
      <span class="verse v2997">§Sans long procés, cy dessoubz sera mys</span>
      <span class="verse v2998">Comme <mark class="persName"><span style="position: relative;">Clovys</span><span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> de miracles insignes</span>
      <span class="verse v2999">Fut adverty, par prodiges et signes,</span>
      <span class="verse v3000"><span class="verse-number">[3000]</span>Avant combatre aux Gotz, ses ennemys.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <span style="position: relative;"><span class="lem">
            §Chapitre
            <span class="num" type="ordinal" value="17">xvii<sup>e</sup>
               </span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></div>
            </div></sup></span>
      </blockquote>
   
   <span class="verse v3001">Le roy <mark class="persName">Clovys<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark>, ains <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
               <div class="collation-content">que<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> vouloir <span style="position: relative;"><span class="lem">embatre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content">
                  <span class="choice">combactre</span>
                  <span class="coll-source"> [Aix419]</span></div>
            </div></sup></span></span>
   <span class="verse v3002">Mectre ses gentz au hazard de <span class="choice"><span title="Abbrégé en cōbatre">combatre</span></span></span>
   <span class="verse v3003">Fist, en l’honneur et contemplatïon</span>
   <span class="verse v3004">De sainct <mark class="persName">Martin<span class="persName-info fw-normal on-right"><b>Martin de Tours, saint</b> (316 — 08/11/397)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark>, certaine oblatïon</span>
   <span class="verse v3005"><span class="verse-number">[3005]</span>Porter à <mark title="placeName" instant="false" full="yes">Tours</mark>, devant la sepulture</span>
   <span class="verse v3006">Du digne corps,esperant, de future</span>
   <span class="verse v3007">Bonne victoyre, ung signe recevoir.</span>
   <span class="verse v3008">En quoy ne fut frustré par decevoir</span>
   <span class="verse v3009">Car, quant ses gentz en l’eglise arriverent,</span>
   <span class="verse v3010"><span class="verse-number">[3010]</span> Prestres chantantz dedans <span style="position: relative;">le</span> cueur trouverent.</span>
   <span class="verse v3011">Et en offrant leurs dons au grand aultier,</span>
   <span class="verse v3012">Ce beau verset ouÿrent du psaultier&nbsp;:</span>
   <span class="verse v3013"><i>Precinxisti me Domine</i><sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>. La lectre</span>
   <span class="verse v3014">Dit <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content">aux<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> francoys, pour  clerement le mectre&nbsp;:</span>
   <span class="verse v3015"><span class="verse-number">[3015]</span><i>Sire, tu m’as tout <span style="position: relative;"><span class="lem">armé</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10">
                  <div class="collation-content">
                     <span>armé</span>
                     <span class="coll-source"> [BnFfr17274]</span></div>
               </div></sup></span> revestu</i></span>
   
   
   <hr data-img-id="f157">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> se delibere
      combatre les Gotz hereticques arriens</span>
   <span class="verse v3016"><i>Et seinct de grace en ta force et vertu.</i></span>
   <span class="verse v3017"><i>Mes ennemys de fiere et rude taille</i></span>
   <span class="verse v3018"><i>As supplantéz soubz mes piedz
         en bataille</i>.</span>
   
   <span class="verse v3019">§Ces motz ouÿz et pris
      d’affectïon,</span>
   <span class="verse v3020"><span class="verse-number">[3020]</span>L’offrande faicte à grand devotïon,</span>
   <span class="verse v3021">Les messaigiers allerent ce messaige</span>
   <span class="verse v3022">Porter au roy, qui le prist à presaige</span>
   <span class="verse v3023">De bon effect et, <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">faveur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content">ferveur<span class="coll-source"> [Aix419, Vat966, Cha514]</span></div>
            </div></sup></span> de cueur,</span>
   <span class="verse v3024">Remercia le benoist <mark class="persName">Createur<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>.</span>
   <span class="verse v3025"><span class="verse-number">[3025]</span>Lors fist ses gentz assembler, pour leur dire</span>
   <span class="verse v3026">Et remonstrer la cause dont feu de ire,</span>
   <span class="verse v3027">Sur l’ost des Gotz, fait armes preparer,</span>
   <span class="verse v3028">Disant que c’estaffin de reparer</span>
   <span class="verse v3029">L’injure faicte à <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> par les
      practicques</span>
   <span class="verse v3030"><span class="verse-number">[3030]</span>D’eulx, malheureux et meschantz hereticques,</span>
   <span class="verse v3031">Qui  sur l’honneur divin sont detracteurs,</span>
   <span class="verse v3032">Persecuteurs et prevaricateurs</span>
   <span class="verse v3033">Des sainctes <span style="position: relative;">loix</span>, en tant que à ceulx <span style="position: relative;"><span class="lem">qui portent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">se transportent<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v3034"><span style="position: relative;"><span class="lem">Salutz de <span style="position: relative;"><span class="lem">paix</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
                     <div class="collation-content">poix<span class="coll-source"> [Aix419]</span></div>
                  </div></sup></span> et vers eulx se transportent,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v3035"><span class="verse-number">[3035]</span>Font mal souffrir par lasche trahison.</span>
   <span class="verse v3036">Sur ce, conclud et dit que la raison</span>
   <span class="verse v3037">De batailler encontre eulx vault,car elle</span>
   <span class="verse v3038"><span style="position: relative;"><span class="lem">Est</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span> bien fondee et <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">sur<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> juste querelle.</span>
   <span class="verse v3039">Gens d’armes , lors  trés fort encouraigéz</span>
   <span class="verse v3040"><span class="verse-number">[3040]</span>De les chasser, comme chiens enraigéz,</span>
   
   
   <hr data-img-id="f158">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> prie <mark class="persName">Dieu<span class="persName-info fw-normal on-left"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> pour son ost contre les Gotz</span>
   <span class="verse v3041">Aprés son dire,<span style="position: relative;"><span class="lem">eurent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content">eut<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> ferme esperance</span>
   <span class="verse v3042"><span style="position: relative;"><span class="lem">En la victoyre. Et, sur telle asseurance,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v3043">Tout l’ost, d’un bransle, encommença marcher.</span>
   <span class="verse v3044">Mais il ne peut de prés les approcher</span>
   <span class="verse v3045"><span class="verse-number">[3045]</span>Sans traverser, de <mark title="placeName" instant="false" full="yes">Vïenne</mark>, le fleuve</span>
   <span class="verse v3046">Gros et enflé,car mys le cas qu’il pleuve</span>
   <span class="verse v3047"><span class="date" dur="P2D" instant="false">Deux ou troys jours</span>,ravyne d’eau tost rend</span>
   <span class="verse v3048">Ce fleuve, tel qu’il bruyt comme ung torrent.</span>
   <span class="verse v3049">Et ne peult on y trouver <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">ne<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span> fons ne ryve.</span>
   <span class="verse v3050"><span class="verse-number">[3050]</span>Le roy, voyant son ost qui là arrive</span>
   <span class="verse v3051">Et <span style="position: relative;"><span class="lem">si</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">s’il<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> ne peult passer, levant ses yeulx,</span>
   <span class="verse v3052">Pretend avoir secours devers les cieulx</span>
   <span class="verse v3053">Et dit ainsi :<span title="Discours direct">«&nbsp;O Trinité unie,</span></span>
   <span class="verse v3054"><span title="Discours direct">Trine unité et bonté infinie,</span></span>
   <span class="verse v3055"><span class="verse-number">[3055]</span><span title="Discours direct">Consolateur des povres
         desoléz,</span></span>
   <span class="verse v3056"><span title="Discours direct">Te plaise rendre orendroit
         consoléz</span></span>
   <span class="verse v3057"><span title="Discours direct">Tes serviteurs !
         Lesquelz, pour la deffense</span></span>
   <span class="verse v3058"><span title="Discours direct">De ton sainct nom,
         <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
                  <div class="collation-content">au<span class="coll-source"> [BnFfr17274]</span></div>
               </div></sup></span> peuple qui t’offense</span></span>
   <span class="verse v3059"><span title="Discours direct">Vont <span style="position: relative;">batailler</span>, mectans ames et corps</span></span>
   <span class="verse v3060"><span class="verse-number">[3060]</span><span title="Discours direct">En grand peril. Doulx Dieu misericordz,</span></span>
   <span class="verse v3061"><span title="Discours direct">Enseigne nous <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30">
                  <div class="collation-content">de<span class="coll-source"> [BnFfr17274]</span></div>
               </div></sup></span> passaige la voye</span></span>
   <span class="verse v3062"><span title="Discours direct">À celle fin que <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31">
                  <div class="collation-content">le<span class="coll-source"> [BnFfr17274]</span></div>
               </div></sup></span> peuple la voye</span></span>
   <span class="verse v3063"><span title="Discours direct">Que à tes servans veulx
         estre directeur,</span></span>
   <span class="verse v3064"><span title="Discours direct">Guyde, support, appuy et protecteur !&nbsp;»</span></span>
   <span class="verse v3065"><span class="verse-number">[3065]</span>§<mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>, qui jamais l’oraison ne mesprise</span>
   
   
   <hr data-img-id="f159">
   
   <span class="curr-title fw-bold">Miracles et signes veuz en l’ost du roy <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark></span>
   <span class="verse v3066">D’un cueur loyal, quant le sert, ame et prise,</span>
   <span class="verse v3067">Bien declaira  estre aux siens seur garand,</span>
   <span class="verse v3068"><span style="position: relative;"><span class="lem">Quant luy monstra signe d’amour si grand</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content">
                  faulte de ligne
                   Quand luy monstra signe
                  d’amour si grand 
                  <span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span><sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup></span>
   <span class="verse v3069">Qu’il envoya, par ung certain messaige,</span>
   <span class="verse v3070"><span class="verse-number">[3070]</span>De la riviere enseigner le passaige.</span>
   <span class="verse v3071">Ce fut ung <span style="position: relative;"><span class="lem">cerf</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34">
               <div class="collation-content">serf<span class="coll-source"> [BnFfr4967]</span></div>
               <div class="collation-content"></div>
            </div></sup></span>, lequel sans que homme né</span>
   <span class="verse v3072">L’eust forhué, chassé ne mau mené,</span>
   <span class="verse v3073">Teste portant <span style="position: relative;"></span>de seze <span style="position: relative;"><span class="lem">corps</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">cornes<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299]</span></div>
               <div class="collation-content"> <span class="coll-source"> [Vat966]</span></div>
            </div></sup></span><span style="position: relative;"></span> sommee,</span>
   <span class="verse v3074">Se vint offrir tout le long de l’armee,</span>
   <span class="verse v3075"><span class="verse-number">[3075]</span>Ung beau matin, dès le soleil levant,</span>
   <span class="verse v3076">Et en ce fleuve <span style="position: relative;"><span class="lem">alla</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content">va<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span> passer devant</span>
   <span class="verse v3077">De ryve <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39">
               <div class="collation-content">
                  <span>à</span>
                  <span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> autre. Ainsi mys hors de craincte,</span>
   <span class="verse v3078">Tous ceulx de l’ost passerent sans contraincte.</span>
   <span class="verse v3079">§<mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> mercians,<span style="position: relative;"><span class="lem">avant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content">et en<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr5299, BnFfr4967, Vat966, Cha514]</span></div>
            </div></sup></span><span class="date" dur="P6D" instant="false">six</span> jours entiers,</span>
   <span class="verse v3080"><span class="verse-number">[3080]</span><mark class="persName">Clovys<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> et  l’ost <span style="position: relative;"><span class="lem">logerent à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content">
                  <div>furent dedans<span class="coll-source"> [BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span> ; </div>
                  <div>furent dedens<span class="coll-source"> [BnFfr17274]</span></div>
               </div>
            </div></sup></span><mark title="placeName" instant="false" full="yes">Poictiers</mark>.</span>
   <span class="verse v3081">Et là, auprés du temple <mark title="placeName" instant="false" full="yes">Sainct Hillaire</mark>,</span>
   <span class="verse v3082">Ains que assaillir le roy des Gotz,<mark class="persName">Allaire<span class="persName-info fw-normal on-right"><b>Alaric II</b> (458 — 01/08/507)<span class="hr-short">&nbsp;</span>Roi des Wisigoths de 484 à 507</span></mark>,</span>
   <span class="verse v3083">Son pavillon fist tendre, pour la nuyt</span>
   <span class="verse v3084">Y reposer.<span style="position: relative;"><span class="lem">Là</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44">
               <div class="collation-content">Les<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>, tesmoings <span class="num">sept</span> ou <span class="num">huyt</span></span>
   <span class="verse v3085"><span class="verse-number">[3085]</span>Dignes de <span style="position: relative;">foy</span>, vers mynuyt, apperceurent</span>
   <span class="verse v3086">Brandon de  feu, et bien congnoissance eurent</span>
   <span class="verse v3087">Le veoir tumber sur la tente du roy,</span>
   <span class="verse v3088">Sans faire mal ne aucun desarroy.</span>
   <span class="verse v3089">Par quoy <span style="position: relative;"><span class="lem">tous eulx</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47">
               <div class="collation-content">tous ceulx<span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content"></div>
               <div class="collation-content">eulx tous<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> prindrent augure et signe</span>
   <span class="verse v3090"><span class="verse-number">[3090]</span>Qu’en cela<mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> victoyre leur assigne.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(3013);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Ps.&nbsp;17&nbsp;: 40.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(3068);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Le vers est ajouté en marge dans le ms. BnF fr.
      17274, avec la mention "faulte de ligne".</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3001);">v. 3001</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>que</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3001);">v. 3001</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>
            <span class="choice">combactre</span>
            </span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3014);">v. 3014</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>aux</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3015);">v. 3015</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            <span>armé</span>
            </span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3023);">v. 3023</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3023);">v. 3023</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Vat966, Cha514 </span>ferveur</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3033);">v. 3033</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>se transportent</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3034);">v. 3034</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3034);">v. 3034</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>poix</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3038);">v. 3038</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3038);">v. 3038</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>sur</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3041);">v. 3041</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>eut</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3042);">v. 3042</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3049);">v. 3049</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>ne</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3051);">v. 3051</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>s’il</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3058);">v. 3058</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>au</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3061);">v. 3061</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>de</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3062);">v. 3062</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>le</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3068);">v. 3068</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            faulte de ligne
             Quand luy monstra signe
            d’amour si grand 
            </span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3073);">v. 3073</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299 </span>cornes</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span> </span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3076);">v. 3076</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>va</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3077);">v. 3077</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            <span>à</span>
            </span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3079);">v. 3079</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr5299, BnFfr4967, Vat966, Cha514 </span>et en</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3080);">v. 3080</a> </div>
      
      
      <div class="coll-text col-10">
         <div><span><span class="coll-source">BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>furent dedans</span> ; </div>
         <div><span><span class="coll-source">BnFfr17274 </span>furent dedens</span></div>
      </div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3084);">v. 3084</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Les</span></div>
      </div>
</div>
{% endmacro %}
