
{% macro chapterTitle() %}Chapitre 2{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('2_chap_1')"><i class="fa-solid fa-arrow-left"></i> Chapitre 1</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('4_chap_3')">Chapitre 3 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f34/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f34/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f34" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f35/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f35/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f35" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f36/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f36/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f36" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f37/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f37/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f37" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f38/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f38/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f38" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f39/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f39/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f39" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f34">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Brutus et Turnus.</span><span title="Numéro de folio" class="folio-num"><i>4v</i></span></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v139">§Le propos ſuyt, ſans
         prendre longs deſtours,</span>
      <span class="verse v140"><span class="verse-number">[140]</span>En recuillant les faictz de renommee</span>
      <span class="verse v141">Que, de Brutus.<mark title="placeName" instant="false" full="yes">Bretaigne</mark> fut 
         <span class="lem">nommee</span>
         
         ,</span>
      <span class="verse v142">Et de Turnus auſſi denomme
         <mark title="placeName" instant="false" full="yes">Tours</mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre&nbsp;<span class="num" type="ordinal" value="2">
            
            <span class="lem">ii<sup>e</sup>.</span>
            
            
            
            </span></span>
      
      
      </blockquote>
   
   <span class="verse v143">Ceſtuy Bꝛutus, peruenu a dꝛoit
      aaige</span>
   <span class="verse v144">Darmes 
      <span class="lem"></span>
      
       poꝛter /.
      <span class="lem">pꝛiſt</span>
      
       a ſon aduantaige</span>
   <span class="verse v145"><span class="verse-number">[145]</span>Foꝛtune et temps /.Pvys, en ſaiſon decente,</span>
   <span class="verse v146">Vers <mark title="placeName" instant="false" full="yes">acquitaine</mark> empꝛiſt faire
      deſcente</span>
   <span class="verse v147">En peu de iours eut tel bꝛuict / que
      ſoubz vmbꝛe</span>
   <span class="verse v148">De ſon credit /
      <span class="lem">ſ</span>
      
      aſſembla foꝛt gꝛand nombꝛe</span>
   <span class="verse v149">De 
      <span class="lem">troyans</span>
      
       /
      <span class="lem">tous</span>
      
      
       deliberez le ſuyure</span>
   <span class="verse v150"><span class="verse-number">[150]</span>
      <span class="lem">Et lheur</span>
      
      
       futur de ſa queſte pourſuyure.</span>
   <span class="verse v151">Gꝛoffarius,
      poicteuin, roy regnant</span>
   <span class="verse v152">Oudit pays / aduerty la venant</span>
   <span class="verse v153">Celluy BꝛutusA gꝛande et gꝛoſſe armee,</span>
   <span class="verse v154">Incontinent ceſte choſe affermee,</span>
   <span class="verse v155"><span class="verse-number">[155]</span>Vint au deuant luy pꝛeſenter bataille,</span>
   <span class="verse v156">
      <span class="lem">Foꝛte</span>
      
       / aſpꝛe / dure / et de cruelle taille.</span>
   <span class="verse v157">La furent crys plus hoꝛribles, 
      <span class="lem">ce</span>
      
       croy,</span>
   <span class="verse v158">Que les abbaiz de
      <span class="lem">s</span>
      
       chiens en ung vaultroy</span>
   <span class="verse v159">La furent veuz, de pꝛoueſſes pꝛiſees,</span>
   <span class="verse v160"><span class="verse-number">[160]</span>Maintz coꝛps par terre et pꝛou lances bꝛiſees</span>
   <span class="verse v161">La furent bꝛaz a foꝛce deſployez</span>
   <span class="verse v162">
      <span class="lem">
         <span class="lem">Armetz</span>
         
         
         
         <span class="lem">bꝛiſez</span>
         
          / et foꝛtz eſtocz ployez /.</span>
      
      </span>
   
   
   <hr data-img-id="f35">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Brutus
         / et Turnus჻</span><span title="Numéro de folio" class="folio-num"><i>5r</i></span></span>
   <span class="verse v163">En ung inſtant, y eut pour dur remoꝛs</span>
   
   <span class="verse v164">
      <span class="lem">Nombꝛe infiny de gens naurez et moꝛtz</span>
      
      </span>
   <span class="verse v165"><span class="verse-number">[165]</span>Gꝛoffarius, 
      <span class="lem">enfin</span>
      
       / comme 
      <span class="lem"></span>
      
      vain|cueur,</span>
   <span class="verse v166">Tourna le doz / et fut Bꝛutus vainqueur</span>
   <span class="verse v167">En la victoire obtint gꝛandes richeſſes</span>
   <span class="verse v168">Dont fiſt a tous les ſiens amples largeſſes,</span>
   <span class="verse v169">En quoy 
      <span class="lem">acquiſt</span>
      
       credit plus que deuant</span>
   <span class="verse v170"><span class="verse-number">[170]</span>Et en tel heur ſa pointe
      <span class="lem"></span>
      
      pourſuyuant</span>
   <span class="verse v171">Loꝛs, ſe monſtrant 
      <span class="lem">a dextre et pꝛompt</span>
      
       aux armes,</span>
   <span class="verse v172">Sexercita en courſes et alarmes</span>
   <span class="verse v173">Telles / que luy / et ſon nepueu
      Turnus,</span>
   <span class="verse v174">Pꝛeux cheuallier / miſrent, 
      <span class="lem"></span>
      
      ſans doubter nulz,</span>
   <span class="verse v175"><span class="verse-number">[175]</span>A feu et ſang <mark title="placeName" instant="false" full="yes">Poictou</mark> et
      <mark title="placeName" instant="false" full="yes">Acquitaine</mark>.</span>
   <span class="verse v176">Puys, pour auoir leur retraicte certaine,</span>
   <span class="verse v177">Ung foꝛt chaſteau ſur
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Loyꝛe</mark></mark> ediffierent</span>
   <span class="verse v178">Ou, bien 
      <span class="lem">a dꝛoit</span>
      
      , ilz ſe foꝛtiffierent</span>
   <span class="verse v179">De Turnus /<mark title="placeName" instant="false" full="yes">Tours</mark> fut nomme / et du nom</span>
   <span class="verse v180"><span class="verse-number">[180]</span><mark title="placeName" instant="false" full="yes">Tours</mark>, la cite a pꝛis nom et renom.</span>
   <span class="verse v181">Gꝛoffarius, cuydant venger
      loultraige</span>
   <span class="verse v182">Quil ſe voit faict /. tout foꝛcene de raige,</span>
   <span class="verse v183">Mect en auant gꝛoſſe ire ſur fureur,</span>
   <span class="verse v184">Picque ſur hayne / et hoꝛreur ſur terreur.</span>
   <span class="verse v185"><span class="verse-number">[185]</span>Larriere ban publie / veult quon mande</span>
   <span class="verse v186">Subiectz / ſoudardz / aliez /. et commande</span>
   <span class="verse v187">Faire appareil de guerre ſi tres fiere</span>
   
   
   <hr data-img-id="f36">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Brutus et Turnus.</span><span title="Numéro de folio" class="folio-num"><i>5v</i></span></span>
   <span class="verse v188">Que moꝛtel glayue y trauerſe oultre 
      <span class="lem">et fiere</span>
      
      </span>
   <span class="verse v189">Son 
      <span class="lem">oſt</span>
      
       mys ſus / au chaſteau deſſus dit,</span>
   <span class="verse v190"><span class="verse-number">[190]</span>Ses pauillons et tentes eſtendit,</span>
   <span class="verse v191">Le ſieige y tint long temps / ou ſes vaſſaulx</span>
   <span class="verse v192">Donnerent gꝛandz et merueilleux aſſaulx.</span>
   <span class="verse v193">Ceulx 
      <span class="lem">de</span>
      
      
       dedans auſſi, par leurs ſaillies,</span>
   <span class="verse v194">Ont aſpꝛement les tentes aſſaillies</span>
   <span class="verse v195"><span class="verse-number">[195]</span>En leur faiſant la guerre ſi cruelle</span>
   <span class="verse v196">Que ſang ſeſpend en place et par ruelle</span>
   <span class="verse v197">Et toſt apꝛes les aſſaillantz abſtrainctz</span>
   <span class="verse v198">Leuer le ſieige / a lheure ſont conſtraincts</span>
   <span class="verse v199">De batailler /. Car Bꝛutus ſe partit</span>
   <span class="verse v200"><span class="verse-number">[200]</span>Hoꝛs du chaſteau /.Et, dautre part, ſoꝛtit</span>
   <span class="verse v201">Sur eulx Turnus /. Loꝛs fut 
      <span class="lem">foꝛt</span>
      
       bataille,</span>
   <span class="verse v202">Maint coꝛps naure /
      <span class="lem"></span>
      
       pourfendu /
      <span class="lem">detaille</span>
      
      </span>
   <span class="verse v203">Et detranche /. ſi quen deciſion</span>
   
   <span class="verse v204">
      <span class="lem">De ce conflict eut fiere occiſion.</span>
      
      </span>
   <span class="verse v205"><span class="verse-number">[205]</span>
      <span class="lem">Gꝛoffarius fuyant
         / perdit gꝛandz ſommes</span>
      
      </span>
   <span class="verse v206">De ſes deniers. La, mil ou huyt cens hommes</span>
   <span class="verse v207">Des ſiens ſoudardz furent par moꝛt tranſis.</span>
   <span class="verse v208">Auſſi /<span title="substitution"><span class="align-top" title="Ajout">Turnus</span><s class="align-bottom" title="Suppression"><s></s></s></span>
      <span class="lem">enfin</span>
      
       y fut occis.</span>
   <span class="verse v209">Bꝛutus, voyant auoir ainſi
      perdu</span>
   <span class="verse v210"><span class="verse-number">[210]</span>Son chier nepueu /. Apꝛes 
      <span class="lem">auoir</span>
      
       rendu</span>
   <span class="verse v211">Le coꝛps en terre a dꝛoit de ſepulture,</span>
   <span class="verse v212">Ce lieu laiſſa /. et, a ſon aduenture,</span>
   
   
   <hr data-img-id="f37">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Brutus.</span><span title="Numéro de folio" class="folio-num"><i>6r</i></span></span>
   <span class="verse v213">Monta ſur mer auecques tous ſes gentz,</span>
   <span class="verse v214">Qui dun accoꝛd furent tres diligentz,</span>
   <span class="verse v215"><span class="verse-number">[215]</span>De le ſeruir /. Meſmement ung nomme</span>
   <span class="verse v216">Coꝛineus / homme bien renomme</span>
   <span class="verse v217">Si bien aduint, moyennant vent tranſquille,</span>
   <span class="verse v218">Quil arriua en la belle et gꝛande iſle</span>
   <span class="verse v219">Dicte <mark title="placeName" instant="false" full="yes">Albion</mark> / dont tous les habitans,</span>
   <span class="verse v220"><span class="verse-number">[220]</span>La ſienne foꝛce et fureur redoubtans,</span>
   <span class="verse v221">Par ſa pꝛoueſſe, induſtrie et puiſſance,</span>
   <span class="verse v222">Toſt furent mys a ſon obeiſſance.</span>
   <span class="verse v223">Loingtain pays de liſle enuironne</span>
   <span class="verse v224">Il ſubiugua / dont fut roy couronne.</span>
   <span class="verse v225"><span class="verse-number">[225]</span>Et auſſi toſt quil eut mys pied 
      <span class="lem">en</span>
      
       terre,</span>
   <span class="verse v226">Certaine armine 
      <span class="lem">vint a luy</span>
      
       de gꝛand erre.</span>
   <span class="verse v227">Sans riens doubter, entre ſes bꝛaz ſe gecte</span>
   <span class="verse v228">Et quelque temps ſe tient ſur ſa targette.</span>
   <span class="verse v229">Pꝛenant plaiſir a 
      <span class="lem">la</span>
      
       iolye armine,</span>
   <span class="verse v230"><span class="verse-number">[230]</span>Des lheure dit / conclud / et determine</span>
   <span class="verse v231">Touſiours larmine en ſes armes poꝛter.</span>
   <span class="verse v232">Autres 
      <span class="lem">ont dit</span>
      
       et voulu rappoꝛter</span>
   <span class="verse v233">Que aucun miracle aduint au roy Artus,</span>
   <span class="verse v234">Par quoy les pꝛiſt /. Quoy quil en ſoit /.Bꝛutus</span>
   <span class="verse v235"><span class="verse-number">[235]</span>Fut iouyſſant /
      <span class="lem">(</span>
      
      affin que au nombꝛe attaigne</span>
   <span class="verse v236">De toute gꝛande et petite <mark title="placeName" instant="false" full="yes">Bꝛetaigne</mark>.</span>
   <span class="verse v237">Et pour ſon nom en fleur de renommee</span>
   
   
   <hr data-img-id="f38">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Brutus჻</span><span title="Numéro de folio" class="folio-num"><i>6v</i></span></span>
   <span class="verse v238">Perpetuer / voult quainſi feuſt nommee</span>
   <span class="verse v239">Oꝛ, luy voyant eſtre roy tout paiſible</span>
   <span class="verse v240"><span class="verse-number">[240]</span>De ſi gꝛand terre /. aſſez luy fut 
      <span class="lem">loyſible</span>
      
      </span>
   <span class="verse v241">En deſpartir certaine poꝛtion</span>
   <span class="verse v242">A ſon amy /. ſans nulle extoꝛtion</span>
   <span class="verse v243">Faire a autruy /. Et loꝛs, au deſſuſdit</span>
   <span class="verse v244">Coꝛineus, rendit, par ſon
      edit,</span>
   <span class="verse v245"><span class="verse-number">[245]</span>Une contree a luy ſerfue obligee,</span>
   <span class="verse v246">Qui en duche depuys fut erigee.</span>
   <span class="verse v247">Et de ſon nom la nomma <mark title="placeName" instant="false" full="yes">Coꝛnouaille</mark>,</span>
   <span class="verse v248">Quoy que le bꝛuyt autre part coꝛne ou aille</span>
   <span class="verse v249">De ceulx diſans, par leurs raiſons dernieres,</span>
   <span class="verse v250"><span class="verse-number">[250]</span>Que attainct <mark title="placeName" instant="false" full="yes">Bꝛetaigne</mark> en lune des
      coꝛnieres,</span>
   <span class="verse v251">Et que cella rend la raiſon foꝛmee</span>
   <span class="verse v252">
      <span class="lem">Pour</span>
      
       quoy 
      <span class="lem">elle</span>
      
       eſt <mark title="placeName" instant="false" full="yes">Coꝛnouaille</mark> nommee.</span>
   <span class="verse v253">Suffiſe a tant / quen 
      <span class="lem">mer</span>
      
       / terre 
      <span class="lem"></span>
      
      et champaigne,</span>
   <span class="verse v254">Bꝛutus regna ſur toute la
      Bꝛetaigne.</span>
   <span class="verse v255"><span class="verse-number">[255]</span><span class="date" dur="P24Y" instant="false"><span class="num" type="cardinal" value="24">Vingt et
            quatre</span></span> ans entiers la poſſeda</span>
   <span class="verse v256">Et <span class="num" type="cardinal" value="3">troys</span> beaulx filz laiſſa
      quant deceda,</span>
   <span class="verse v257">Qui, par entre eulx, ſaigement aduiſerent</span>
   <span class="verse v258">Et le royaulme en <span class="num" type="cardinal" value="3">troys</span>
      <span class="lem"></span>
      
       partz diuiſerent</span>
   <span class="verse v259">Dont iouyſſans furent /. Et de 
      <span class="lem">ces</span>
      
       troys</span>
   <span class="verse v260"><span class="verse-number">[260]</span>Sont 
      <span class="lem">du</span>
      
       depuys deſcenduz tous les roys</span>
   <span class="verse v261">Qui apꝛes eulx regnerent au pays,</span>
   <span class="verse v262">Sans que iamais ſe veiſſent enuahys,</span>
   
   
   <hr data-img-id="f39">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Francion filz de
         hector.</span><span title="Numéro de folio" class="folio-num"><i>7r</i></span></span>
   <span class="verse v263">Foꝛt moleſtez ou troublez de perſonne</span>
   <span class="verse v264">Iuſques au temps que des partz de
      <mark title="placeName" instant="false" full="yes">Saxonne</mark>,</span>
   <span class="verse v265"><span class="verse-number">[265]</span>Loꝛs nommee <mark title="placeName" instant="false" full="yes">Angle</mark>-Angloys ſur 
      <span class="lem"></span>
      
       ceſte terre</span>
   <span class="verse v266">Vindꝛent manoir /. dont fut dicte <mark title="placeName" instant="false" full="yes">Angleterre</mark>.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f34">
   
   <span class="curr-title fw-bold">De <mark class="persName">Brutus<span class="persName-info fw-normal on-left"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark> et <mark class="persName">Turnus<span class="persName-info fw-normal on-left"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v139">§Le propos suyt, sans
         prendre longs destours,</span>
      <span class="verse v140"><span class="verse-number">[140]</span>En recuillant les faictz de renommee</span>
      <span class="verse v141">Que, de <mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
               Énée</span></mark>,<mark title="placeName" instant="false" full="yes">Bretaigne</mark> fut <span style="position: relative;"><span class="lem">nommee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
                  <div class="collation-content">renommee<span class="coll-source"> [BnFfr4967]</span></div>
               </div></sup></span>,</span>
      <span class="verse v142">Et de <mark class="persName">Turnus<span class="persName-info fw-normal on-right"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark> aussi denommé
         <mark title="placeName" instant="false" full="yes">Tours</mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;<span class="num" type="ordinal" value="2">
               <span style="position: relative;"><span class="lem">ii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
                        <div class="collation-content">second<span class="coll-source"> [BnFfr17274]</span></div>
                        <div class="collation-content">deuxiesme<span class="coll-source"> [Cha514]</span></div>
                     </div></sup></span>
               </span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, Vat966]</span></div>
            </div></sup></span>
      </blockquote>
   
   <span class="verse v143">Cestuy <mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark>, pervenu à droit
      aaige</span>
   <span class="verse v144">D’armes  porter,<span style="position: relative;">prist</span> à son advantaige</span>
   <span class="verse v145"><span class="verse-number">[145]</span>Fortune et temps,puys, en saison decente,</span>
   <span class="verse v146">Vers <mark title="placeName" instant="false" full="yes">Acquitaine</mark> emprist faire
      descente.</span>
   <span class="verse v147">En peu de jours eut tel bruict que,
      soubz umbre</span>
   <span class="verse v148">De son credit,<span style="position: relative;"><span class="lem">s’</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>assembla fort grand nombre</span>
   <span class="verse v149">De <span style="position: relative;"><span class="lem">Troyans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">troys ans<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span>,<span style="position: relative;">tous</span> deliberéz le suyvre</span>
   <span class="verse v150"><span class="verse-number">[150]</span><span style="position: relative;"><span class="lem">Et l’heur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">Et leur<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">En leur<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> futur de sa queste poursuyvre.</span>
   <span class="verse v151"><mark class="persName">Groffarïus<span class="persName-info fw-normal on-right"><b>Goffarius le Picte</b></span></mark>,
      poictevin, roy regnant</span>
   <span class="verse v152">Oudit paÿs, adverty là venant</span>
   <span class="verse v153">Celluy <mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark>à grande et grosse armee,</span>
   <span class="verse v154">Incontinent ceste chose affermee,</span>
   <span class="verse v155"><span class="verse-number">[155]</span>Vint au devant luy presenter bataille,</span>
   <span class="verse v156"><span style="position: relative;"><span class="lem">Forte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10">
               <div class="collation-content">Fort<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></div>
            </div></sup></span>, aspre, dure et de cruelle taille<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>.</span>
   <span class="verse v157">Là furent crys plus horribles, <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content">se<span class="coll-source"> [BnFfr5299]</span></div>
            </div></sup></span> croy,</span>
   <span class="verse v158">Que les abbaiz de<span style="position: relative;"><span class="lem">s</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content"><s>s</s><span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> chiens en ung vaultroy<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup><sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup>.</span>
   <span class="verse v159">Là furent veuz, de prouësses prisees,</span>
   <span class="verse v160"><span class="verse-number">[160]</span>Maintz corps par terre et prou lances brisees.</span>
   <span class="verse v161">Là furent braz à force desployéz</span>
   <span class="verse v162"><span style="position: relative;"><span class="lem"><span style="position: relative;"><span class="lem">Armetz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
                     <div class="collation-content">Arméz<span class="coll-source"> [BnFfr17274]</span></div>
                  </div></sup></span>
            <span style="position: relative;"><span class="lem">briséz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
                     <div class="collation-content">froisséz<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, Vat966, Cha514]</span></div>
                  </div></sup></span> et fortz estocz ployéz.</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   
   
   <hr data-img-id="f35">
   
   <span class="curr-title fw-bold">De <mark class="persName">Brutus<span class="persName-info fw-normal on-left"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark>
       et <mark class="persName">Turnus<span class="persName-info fw-normal on-left"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark></span>
   <span class="verse v163">En ung instant, y eut pour dur remors</span>
   
   <span class="verse v164"><span style="position: relative;"><span class="lem">Nombre infiny de gens navréz et mortz.</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v165"><span class="verse-number">[165]</span><mark class="persName">Groffarïus<span class="persName-info fw-normal on-right"><b>Goffarius le Picte</b></span></mark>, <span style="position: relative;"><span class="lem">enfin</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">en fin<span class="coll-source"> [BnFfr4967, Cha514]</span></div>
            </div></sup></span>, comme <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content"><s>ung</s>
                  <span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>vain cueur,</span>
   <span class="verse v166">Tourna le doz et fut <mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark> vainqueur.</span>
   <span class="verse v167">En la victoire obtint grandes richesses</span>
   <span class="verse v168">Dont fist à tous les siens amples largesses,</span>
   <span class="verse v169">En quoy <span style="position: relative;">acquist</span> credit plus que devant</span>
   <span class="verse v170"><span class="verse-number">[170]</span>Et en tel heur sa pointe<sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup><span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">bien <span class="coll-source"> [BnFfr5299]</span></div>
            </div></sup></span>poursuyvant.</span>
   <span class="verse v171">Lors, se monstrant <span style="position: relative;"><span class="lem">adextre et prompt</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
               <div class="collation-content">prompt et adextre<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></div>
            </div></sup></span> aux armes,</span>
   <span class="verse v172">S’exercita en courses et alarmes</span>
   <span class="verse v173">Telles que luy et son nepveu
      <mark class="persName">Turnus<span class="persName-info fw-normal on-right"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark>,</span>
   <span class="verse v174">Preux chevallier, misrent, sans doubter<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup> nulz,</span>
   <span class="verse v175"><span class="verse-number">[175]</span>À feu et sang <mark title="placeName" instant="false" full="yes">Poictou</mark> et
      <mark title="placeName" instant="false" full="yes">Acquitaine</mark>.</span>
   <span class="verse v176">Puys, pour avoir leur retraicte certaine,</span>
   <span class="verse v177">Ung fort chasteau sur
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Loyre</mark></mark> ediffïerent</span>
   <span class="verse v178">Où, bien <span style="position: relative;"><span class="lem">à droit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content">adroit<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>, ilz se fortiffierent.</span>
   <span class="verse v179">De <mark class="persName">Turnus<span class="persName-info fw-normal on-right"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark>,<mark title="placeName" instant="false" full="yes">Tours</mark> fut nommé, et du nom</span>
   <span class="verse v180"><span class="verse-number">[180]</span><mark title="placeName" instant="false" full="yes">Tours</mark>, la cité a pris nom et renom.</span>
   <span class="verse v181"><mark class="persName">Groffarïus<span class="persName-info fw-normal on-right"><b>Goffarius le Picte</b></span></mark>, cuydant venger
      l’oultraige</span>
   <span class="verse v182">Qu’il se voit faict, tout forcené de raige,</span>
   <span class="verse v183">Mect en avant grosse ire sur fureur,</span>
   <span class="verse v184">Picque sur hayne et horreur sur terreur.</span>
   <span class="verse v185"><span class="verse-number">[185]</span>L’arriere ban<sup class="modal-call note-call" aria-hidden="true" id="noteCall6" data-modal-id="noteModal6">6</sup> publie, veult qu’on mande</span>
   <span class="verse v186">Subjectz, soudardz, aliéz, et commande</span>
   <span class="verse v187">Faire appareil de guerre si trés fiere</span>
   
   
   <hr data-img-id="f36">
   
   <span class="curr-title fw-bold">De <mark class="persName">Brutus<span class="persName-info fw-normal on-left"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark> et <mark class="persName">Turnus<span class="persName-info fw-normal on-left"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark></span>
   <span class="verse v188">Que mortel glayve y traverse oultre <span style="position: relative;">et fiere<sup class="modal-call note-call" aria-hidden="true" id="noteCall7" data-modal-id="noteModal7">7</sup></span>.</span>
   <span class="verse v189">Son <span style="position: relative;"><span class="lem">ost</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">ost<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> mys sus au chasteau dessus dit,</span>
   <span class="verse v190"><span class="verse-number">[190]</span>Ses pavillons et tentes estendit,</span>
   <span class="verse v191">Le sieige y tint long temps où ses vassaulx</span>
   <span class="verse v192">Donnerent grandz et merveilleux assaulx.</span>
   <span class="verse v193">Ceulx <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">du<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Vat966, Cha514]</span></div>
               <div class="collation-content">en<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> dedans aussi, par leurs saillies,</span>
   <span class="verse v194">Ont asprement les tentes assaillies</span>
   <span class="verse v195"><span class="verse-number">[195]</span>En leur faisant la guerre si crüelle</span>
   <span class="verse v196">Que sang s’espend en place et par rüelle.</span>
   <span class="verse v197">Et tost aprés les assaillantz abstrainctz</span>
   <span class="verse v198">Lever le sieige, à l’heure sont constraincts</span>
   <span class="verse v199">De batailler. Car <mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark> se partit</span>
   <span class="verse v200"><span class="verse-number">[200]</span>Hors du chasteauet, d’autre part, sortit</span>
   <span class="verse v201">Sur eulx <mark class="persName">Turnus<span class="persName-info fw-normal on-right"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark>. Lors fut <span style="position: relative;"><span class="lem">fort</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">forte<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> bataillé,</span>
   <span class="verse v202">Maint corps navré,<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">
                  <span class="choice">et</span>
                  <span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> pourfendu,<span style="position: relative;"><span class="lem">detaillé</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
               <div class="collation-content">de taille<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span></span>
   <span class="verse v203">Et detranché, si qu’en decisïon</span>
   
   <span class="verse v204"><span style="position: relative;"><span class="lem">De ce conflict eut fiere occisïon.</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30">
               <div class="collation-content">
                  Groffarïus fuyant perdit grandz sommes
                  <span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v205"><span class="verse-number">[205]</span><span style="position: relative;"><span class="lem"><mark class="persName">Groffarïus<span class="persName-info fw-normal on-right"><b>Goffarius le Picte</b></span></mark> fuyant perdit grandz sommes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31">
               <div class="collation-content">
                  De ce conflict eut fiere occisïon
                  <span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v206">De ses deniers. Là, mil ou huyt cens hommes</span>
   <span class="verse v207">Des siens soudardz furent par mort transis.</span>
   <span class="verse v208">Aussi,<span title="Texte résultant d'une substitution"><mark class="persName">Turnus<span class="persName-info fw-normal on-right"><b>Turnus</b><span class="hr-short">&nbsp;</span>Roi légendaire</span></mark></span><span style="position: relative;"><span class="lem">enfin</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content">en fin<span class="coll-source"> [BnFfr4967, Cha514]</span></div>
            </div></sup></span> y fut occis.</span>
   <span class="verse v209"><mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark>, voyant avoir ainsi
      perdu</span>
   <span class="verse v210"><span class="verse-number">[210]</span>Son chier nepveu, aprés <span style="position: relative;"><span class="lem">avoir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content">qu’il eut<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514, Aix419]</span></div>
            </div></sup></span> rendu</span>
   <span class="verse v211">Le corps en terre à droit de sepulture,</span>
   <span class="verse v212">Ce lieu laissa et, à son adventure,</span>
   
   
   <hr data-img-id="f37">
   
   <span class="curr-title fw-bold">De <mark class="persName">Brutus<span class="persName-info fw-normal on-left"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark></span>
   <span class="verse v213">Monta sur mer avecques tous ses gentz,</span>
   <span class="verse v214">Qui d’un accord furent trés diligentz,</span>
   <span class="verse v215"><span class="verse-number">[215]</span>De le servir, mesmement ung nommé</span>
   <span class="verse v216"><mark class="persName">Corineüs<span class="persName-info fw-normal on-right"><b>Corineus</b><span class="hr-short">&nbsp;</span>Combattant des génats dans la légende médiévale britannique</span></mark>, homme bien renommé.</span>
   <span class="verse v217">Si bien advint, moyennant vent transquille,</span>
   <span class="verse v218">Qu’il arriva en la belle et grande isle</span>
   <span class="verse v219">Dicte <mark title="placeName" instant="false" full="yes">Albïon</mark>, dont tous les habitans,</span>
   <span class="verse v220"><span class="verse-number">[220]</span>La sienne force et fureur redoubtans,</span>
   <span class="verse v221">Par sa prouësse, industrie et puissance,</span>
   <span class="verse v222">Tost furent mys à son obeïssance.</span>
   <span class="verse v223">Loingtain paÿs de l’isle environné</span>
   <span class="verse v224">Il subjugua, dont fut roy couronné.</span>
   <span class="verse v225"><span class="verse-number">[225]</span>Et aussitost qu’il eut mys pied <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34">
               <div class="collation-content">à<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> terre,</span>
   <span class="verse v226">Certaine armine <span style="position: relative;"><span class="lem">vint à luy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35">
               <div class="collation-content">à luy vint<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></div>
            </div></sup></span> de grand erre.</span>
   <span class="verse v227">Sans riens doubter, entre ses braz se gecte</span>
   <span class="verse v228">Et quelque temps se tient sur sa targette<sup class="modal-call note-call" aria-hidden="true" id="noteCall8" data-modal-id="noteModal8">8</sup>.</span>
   <span class="verse v229">Prenant plaisir à <span style="position: relative;">la</span> jolye armine,</span>
   <span class="verse v230"><span class="verse-number">[230]</span>Dès l’heure dit, conclud et determine</span>
   <span class="verse v231">Tousjours l’armine en ses armes porter.</span>
   <span class="verse v232">Autres <span style="position: relative;"><span class="lem">ont dit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
               <div class="collation-content">on dict<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> et voulu rapporter</span>
   <span class="verse v233">Que aucun miracle advint au roy <mark class="persName">Artus<span class="persName-info fw-normal on-right"><b>Pendragon, Arthur</b><span class="hr-short">&nbsp;</span>Roi légendaire des Bretons</span></mark>,</span>
   <span class="verse v234">Par quoy les prist. Quoy qu’il en soit,<mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark></span>
   <span class="verse v235"><span class="verse-number">[235]</span>Fut jouÿssant<span style="position: relative;">, </span>affin que au nombre attaigne,</span>
   <span class="verse v236">De toute grande et petite <mark title="placeName" instant="false" full="yes">Bretaigne</mark>.</span>
   <span class="verse v237">Et pour son nom en fleur de renommee</span>
   
   
   <hr data-img-id="f38">
   
   <span class="curr-title fw-bold">De <mark class="persName">Brutus<span class="persName-info fw-normal on-left"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark></span>
   <span class="verse v238">Perpetuer, voult qu’ainsi feust nommee.</span>
   <span class="verse v239">Or, luy voyant estre roy tout paisible</span>
   <span class="verse v240"><span class="verse-number">[240]</span>De si grand terre, assez luy fut <span style="position: relative;"><span class="lem">loysible</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39">
               <div class="collation-content">paisible<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v241">En despartir certaine portïon</span>
   <span class="verse v242">À son amy, sans nulle extortïon</span>
   <span class="verse v243">Faire à autruy. Et lors, au dessusdit</span>
   <span class="verse v244"><mark class="persName">Corineüs<span class="persName-info fw-normal on-right"><b>Corineus</b><span class="hr-short">&nbsp;</span>Combattant des génats dans la légende médiévale britannique</span></mark>, rendit, par son
      edit,</span>
   <span class="verse v245"><span class="verse-number">[245]</span>Une contree à luy serfve obligee,</span>
   <span class="verse v246">Qui en duché depuys fut erigee.</span>
   <span class="verse v247">Et de son nom la nomma <mark title="placeName" instant="false" full="yes">Cornouaille</mark>,</span>
   <span class="verse v248">Quoy que le bruyt autre part corne ou aille</span>
   <span class="verse v249">De ceulx disans, par leurs raisons dernieres,</span>
   <span class="verse v250"><span class="verse-number">[250]</span>Que attainct <mark title="placeName" instant="false" full="yes">Bretaigne</mark> en l’une des
      cornieres,</span>
   <span class="verse v251">Et que cella rend la raison formee</span>
   <span class="verse v252"><span style="position: relative;"><span class="lem">Pour</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content">Par<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> quoy <span style="position: relative;"><span class="lem">elle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41">
               <div class="collation-content">celle<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> est <mark title="placeName" instant="false" full="yes">Cornouaille</mark> nommee.</span>
   <span class="verse v253">Suffise à tant qu’en <span style="position: relative;"><span class="lem">mer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content">mer<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>, terre <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">mer <span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>et champaigne,</span>
   <span class="verse v254"><mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark> regna sur toute la
      Bretaigne.</span>
   <span class="verse v255"><span class="verse-number">[255]</span><span class="date" dur="P24Y" instant="false"><span class="num" type="cardinal" value="24">Vingt et
            quatre</span></span> ans entiers la posseda</span>
   <span class="verse v256">Et <span class="num" type="cardinal" value="3">troys</span> beaulx filz laissa
      quant deceda,</span>
   <span class="verse v257">Qui, par entre eulx, saigement adviserent</span>
   <span class="verse v258">Et le royaulme en <span class="num" type="cardinal" value="3">troys</span> partz diviserent</span>
   <span class="verse v259">Dont jouyssans furent. Et de <span style="position: relative;"><span class="lem">ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45">
               <div class="collation-content"><s>s</s>es<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> troys</span>
   <span class="verse v260"><span class="verse-number">[260]</span>Sont <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span> depuys descenduz tous les roys</span>
   <span class="verse v261">Qui aprés eulx regnerent au paÿs,</span>
   <span class="verse v262">Sans que jamais se veissent envahys,</span>
   
   
   <hr data-img-id="f39">
   
   <span class="curr-title fw-bold">De <mark class="persName">Francion<span class="persName-info fw-normal on-left"><b>Francion</b><span class="hr-short">&nbsp;</span>Prince troyen</span></mark> filz de
      <mark class="persName">Hector<span class="persName-info fw-normal on-left"><b>Hector</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque</span></mark></span>
   <span class="verse v263">Fort molestéz ou troubléz de personne</span>
   <span class="verse v264">Jusques au temps que des partz de
      <mark title="placeName" instant="false" full="yes">Saxonne</mark>,</span>
   <span class="verse v265"><span class="verse-number">[265]</span>Lors nommee <mark title="placeName" instant="false" full="yes">Angle</mark>, Angloys sur  ceste terre</span>
   <span class="verse v266">Vindrent manoir<sup class="modal-call note-call" aria-hidden="true" id="noteCall9" data-modal-id="noteModal9">9</sup>, dont fut dicte <mark title="placeName" instant="false" full="yes">Angleterre</mark>.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(156);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Coup
      donné avec le tranchant de l'épée.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(158);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Equipage de
      chasse</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(158);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Cretin fait de nombreuses
      références à la chasse et en particulier à celle qui se pratique
      avec les chiens dans la <i title="Titre">Chronique</i> : c'était le loisir
      favori de François Ier.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(170);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Charge, attaque.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(174);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Redouter, craindre.</div>
   <h4 class="modal-title" modal-title="noteModal6"><a href="javascript:versePointer(185);">Note n°6</a></h4>
   <div class="modal-text" modal-text="noteModal6">Les vassaux des vassaux du
      souverain.</div>
   <h4 class="modal-title" modal-title="noteModal7"><a href="javascript:versePointer(188);">Note n°7</a></h4>
   <div class="modal-text" modal-text="noteModal7">Frappe.</div>
   <h4 class="modal-title" modal-title="noteModal8"><a href="javascript:versePointer(228);">Note n°8</a></h4>
   <div class="modal-text" modal-text="noteModal8">Petit
      bouclier.</div>
   <h4 class="modal-title" modal-title="noteModal9"><a href="javascript:versePointer(266);">Note n°9</a></h4>
   <div class="modal-text" modal-text="noteModal9">Demeurer.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(141);">v. 141</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>renommee</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>second</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>deuxiesme</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(148);">v. 148</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(149);">v. 149</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>troys ans</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(150);">v. 150</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Et leur</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>En leur</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(156);">v. 156</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>Fort</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(157);">v. 157</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr5299 </span>se</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(158);">v. 158</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><s>s</s></span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(162);">v. 162</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(162);">v. 162</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Arméz</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(162);">v. 162</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, Vat966, Cha514 </span>froisséz</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(164);">v. 164</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(165);">v. 165</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967, Cha514 </span>en fin</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(165);">v. 165</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><s>ung</s>
            </span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(170);">v. 170</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr5299 </span>bien </span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(171);">v. 171</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>prompt et adextre</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(178);">v. 178</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>adroit</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(189);">v. 189</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>ost</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(193);">v. 193</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Vat966, Cha514 </span>du</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>en</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(201);">v. 201</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>forte</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(202);">v. 202</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>
            <span class="choice">et</span>
            </span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(202);">v. 202</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>de taille</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(204);">v. 204</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>
            Groffarïus fuyant perdit grandz sommes
            </span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(205);">v. 205</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>
            De ce conflict eut fiere occisïon
            </span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(208);">v. 208</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967, Cha514 </span>en fin</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(210);">v. 210</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514, Aix419 </span>qu’il eut</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(225);">v. 225</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>à</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(226);">v. 226</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>à luy vint</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(232);">v. 232</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>on dict</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(240);">v. 240</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>paisible</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(252);">v. 252</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>Par</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(252);">v. 252</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>celle</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(253);">v. 253</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>mer</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(253);">v. 253</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>mer </span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(259);">v. 259</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><s>s</s>es</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(260);">v. 260</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span><i>om.</i></span></div>
      </div>
</div>
{% endmacro %}
