
{% macro chapterTitle() %}Chapitre 5{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('5_chap_4')"><i class="fa-solid fa-arrow-left"></i> Chapitre 4</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('7_chap_6')">Chapitre 6 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f52/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f52/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f52" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f53/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f53/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f53" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f54/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f54/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f54" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f55/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f55/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f55" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f56/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f56/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f56" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f57/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f57/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f57" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f58/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f58/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f58" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f52">
   <p title="Numéro de folio" class="text-end"><i>13v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v599">§Sans prolonger trop
         ennuyeux ſermon /</span>
      <span class="verse v600"><span class="verse-number">[600]</span>Sera narre de lanticque cite</span>
      <span class="verse v601">Dicte <mark title="placeName" instant="false" full="yes">Luteſſe</mark> /.Et auſſi recite</span>
      <span class="verse v602">Du premier roy 
         <span class="lem">de <mark title="placeName" instant="false" full="yes">france</mark></span>
         
         , Pharamon.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.
         <span class="num" type="ordinal" value="5">u<sup>e</sup></span>.</span>
      
      
      
      </blockquote>
   
   
   <hr data-img-id="f53">
   <span title="Numéro de folio" class="folio-num"><i>14r</i></span>
   
   
   <hr data-img-id="f54">
   
   <span class="folio"><span class="d-block fw-bold mb-3"><mark title="placeName" instant="false" full="yes">Luteſſe</mark>
         / par les francoys ediffiee.</span><span title="Numéro de folio" class="folio-num"><i>14v</i></span></span>
   
   <span class="verse v603">A Traict 
      <span class="lem">de</span>
      
       temps /
      <span class="lem">les</span>
      
      
      <span class="choice"><span title="Abbréviation pour Françoys">Frācoys</span></span>
       iouyſſans</span>
   <span class="verse v604">De ceſte terre et cite /. congnoiſſans</span>
   <span class="verse v605"><span class="verse-number">[605]</span>Eſtre beaucoup multipliez /.Et <span class="choice"><span title="Abbréviation pour que">q̄</span></span> vmbꝛe</span>
   <span class="verse v606">Dun ſi <span class="choice"><span title="Abbréviation pour grand">gꝛād</span></span> peuple / a lautre fait <span class="choice"><span title="Abbréviation pour encombre">encōbꝛe</span></span>,</span>
   <span class="verse v607">Meurent pꝛopos / et conclurent dentendꝛe</span>
   <span class="verse v608">Eulx eſlargir / et leurs deſtroictz extendꝛe.</span>
   <span class="verse v609">En diuers lieux et climatz ſeſcarterent,</span>
   <span class="verse v610"><span class="verse-number">[610]</span>Dont les aucuns <mark title="placeName" instant="false" full="yes">Allemaigne</mark> habiterent,</span>
   <span class="verse v611"><span class="num" type="cardinal" value="33000">Trente 
         <span class="lem">et</span>
         
          troys 
         <span class="lem">mil</span>
         
         
         </span> /
      <span class="lem">tous</span>
      
       dune compaignie,</span>
   <span class="verse v612">Et 
      <span class="lem">bon</span>
      
       accoꝛd / laiſſerent
      <mark title="placeName" instant="false" full="yes">Germanie</mark>.</span>
   <span class="verse v613">Et, trauerſans 
      <span class="lem">gꝛand</span>
      
       pays / arriuerent</span>
   <span class="verse v614">Iuſques en <mark title="placeName" instant="false" full="yes">Gaulle</mark> /. ou ung fluue trouuerent</span>
   <span class="verse v615"><span class="verse-number">[615]</span>Au quel, pꝛenans leur delectation,</span>
   <span class="verse v616">Eſleurent place et habitation.</span>
   <span class="verse v617">Quant le pays eurent conſidere,</span>
   <span class="verse v618">La gꝛand doulceur de laer 
      <span class="lem">ſi</span>
      
       modere,</span>
   <span class="verse v619">Vignobles / bledz / boys / pꝛez / terres fertilles,</span>
   <span class="verse v620"><span class="verse-number">[620]</span>Montz fructueux / valees tres vtilles,</span>
   <span class="verse v621">Arbꝛes / fruictiers / doulces 
      <span class="lem">amenitez</span>
      
      ,</span>
   <span class="verse v622">Fruictz delicatz / franches 
      <span class="lem">humanitez</span>
      
      ,</span>
   <span class="verse v623">Mareſcz / vergiers / veines vifues / carrieres,</span>
   <span class="verse v624">Fontaines / puiz / et commodes plaſtrieres,</span>
   <span class="verse v625"><span class="verse-number">[625]</span>
      <span class="lem">Loꝛs, enuiron</span>
      
       ce beau fluue de <mark title="placeName" instant="false" full="yes">Seine</mark>,</span>
   <span class="verse v626">Pꝛindꝛent aduis et oppinion ſaine</span>
   <span class="verse v627">
      <span class="lem">Ville</span>
      
       baſtir /
      <span class="lem">quilz</span>
      
       nommerent <mark title="placeName" instant="false" full="yes">Luteſſe</mark>,</span>
   
   
   <hr data-img-id="f55">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Marcomyre
         gouuerneur des francoys.</span><span title="Numéro de folio" class="folio-num"><i>15r</i></span></span>
   <span class="verse v628">Dicte <i>a Lvto</i>. Auſſi celle part 
      <span class="lem">eſſe</span>
      
      </span>
   <span class="verse v629">Fange en 
      <span class="lem">tout</span>
      
       temps / ſi petit quil y pleuue.</span>
   <span class="verse v630"><span class="verse-number">[630]</span>La firent ilz, pꝛes les riues du fleuue,</span>
   <span class="verse v631">Leur baſtiement de ville /et au millieu,</span>
   <span class="verse v632">Dedans une iſle aſſiſe en foꝛt beau lieu,</span>
   <span class="verse v633">Fut la cite erigee et conſtruicte</span>
   <span class="verse v634">Par main / en lart darchitecture inſtruicte.</span>
   <span class="verse v635"><span class="verse-number">[635]</span>Oꝛ, pour pugnir entreulx les foꝛfaictures</span>
   <span class="verse v636">
      <span class="lem">Des</span>
      
       delinquans / ſelon iuſtes 
      <span class="lem"></span>
      
      dꝛoictures,</span>
   <span class="verse v637">Pource quencoꝛ homme de leur arroy</span>
   <span class="verse v638">Nauoit acquis leſtat et nom de roy,</span>
   <span class="verse v639">Pꝛenans exemple a loꝛdꝛe des rommains,</span>
   <span class="verse v640"><span class="verse-number">[640]</span>Quoy que 
      <span class="lem">ia pꝛes feuſſent</span>
      
      
       hoꝛs de leurs mains,</span>
   <span class="verse v641">Par chaſcun an, deux conſulz eſliſoyent</span>
   <span class="verse v642">Qui a regir ceſtuy peuple aduiſoyent.</span>
   <span class="verse v643">§Celluy, ſur eulx, ayant
      pꝛemierement</span>
   <span class="verse v644">La ſeigneurie et plain gouuernement</span>
   <span class="verse v645"><span class="verse-number">[645]</span>Fut Marcomyꝛe /
      homme puiſſant et riche,</span>
   <span class="verse v646">Filz de Pꝛiam, roy regnant en
      <mark title="placeName" instant="false" full="yes">Auſtriche</mark>,</span>
   <span class="verse v647">Yſſu du tronc et nobleſſe de <mark title="placeName" instant="false" full="yes">troye</mark>.</span>
   <span class="verse v648">Pluſieurs raiſons, icy endꝛoit, mectroye</span>
   <span class="verse v649">Pour quoy il fut leur gouuerneur eſleu,</span>
   <span class="verse v650"><span class="verse-number">[650]</span>Mais en cueillant le bon de ce quay leu,</span>
   <span class="verse v651">Fuyant lennuy de langaige pꝛolixe,</span>
   <span class="verse v652">La cauſe fut. par ce quil miſt police.</span>
   
   
   <hr data-img-id="f56">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Pharamon premier
         roy de <mark title="placeName" instant="false" full="yes">france</mark> filz de Marcomire.</span><span title="Numéro de folio" class="folio-num"><i>15v</i></span></span>
   <span class="verse v653">A foſſez faire et murs ediffier</span>
   <span class="verse v654">Pour fermer / cloꝛre / et bien foꝛtiffier,</span>
   <span class="verse v655"><span class="verse-number">[655]</span>Contre ennemys /
      <span class="lem">tous</span>
      
       chaſteaux et citez,</span>
   <span class="verse v656">Et quil rendit ſes gentz 
      <span class="lem">excercitez</span>
      
      ,</span>
   <span class="verse v657">Armes poꝛter / et pꝛis dhonneur acquerre</span>
   <span class="verse v658">En demenant le meſtier de la guerre.</span>
   <span class="verse v659">Ung filz auoit le deſſuſdit ſeigneur,</span>
   <span class="verse v660"><span class="verse-number">[660]</span>Plein de vertus / de pꝛoueſſe et dhonneur,</span>
   <span class="verse v661">Bon cheuallier / bien a cheual adextre,</span>
   <span class="verse v662">Rude coureur, ſelon poſſible deſtre,</span>
   <span class="verse v663">Pꝛompt aux aſſaultz / couraigeux a combatre,</span>
   <span class="verse v664">
      <span class="lem">Durcy</span>
      
       aux coups / et mal aiſe a 
      <span class="lem">batre</span>
      
      ,</span>
   <span class="verse v665"><span class="verse-number">[665]</span>Ceſt ceſtuy la / que Pharamon ie nomme.</span>
   <span class="verse v666">§Oꝛ les francoys, voyans 
      <span class="lem">celluy</span>
      
       ieune homme</span>
   <span class="verse v667">Foꝛt acomply pour 
      <span class="lem">peuples</span>
      
       gouuerner,</span>
   <span class="verse v668">Lont extime digne de long regner.</span>
   <span class="verse v669">Si ont/ conclud, en leurs affections,</span>
   <span class="verse v670"><span class="verse-number">[670]</span>Dauoir ung roy comme autres nations.</span>
   <span class="verse v671">Et en faueur des vertus agꝛeables,</span>
   <span class="verse v672">Honneurs / bontez / et pꝛoueſſes louables,</span>
   <span class="verse v673">Du pere ſien / et de luy / ſans deſroy,</span>
   <span class="verse v674">Diceulx francoys fut eſleu pꝛemier roy.</span>
   <span class="verse v675"><span class="verse-number">[675]</span>Et ce, notez / que au temps de gꝛace aduint</span>
   <span class="verse v676">
      <span class="lem">Dacte</span>
      
      
       courant /<span class="date" when="0420" instant="false">Qvatre centz ans et vingt</span>.</span>
   <span class="verse v677">Pour augmenter les francoys en renom</span>
   
   
   <hr data-img-id="f57">
   
   <span class="folio"><span class="d-block fw-bold mb-3"><mark title="placeName" instant="false" full="yes">Luteſſe</mark>. par Pharamon nommee
         <mark title="placeName" instant="false" full="yes">Paris</mark>.</span><span title="Numéro de folio" class="folio-num"><i>16r</i></span></span>
   <span class="verse v678">Et acquerir 
      <span class="lem">leur gꝛace</span>
      
       /Pharamon</span>
   <span class="verse v679">Changea le nom de <mark title="placeName" instant="false" full="yes">lvteſſe</mark> fangeuſe,</span>
   <span class="verse v680"><span class="verse-number">[680]</span>Lextimant eſtre 
      <span class="lem">ainſi dicte</span>
      
       faſcheuſe,</span>
   <span class="verse v681">Et non pourtant / bien dire 
      <span class="lem">cella</span>
      
       ioſe,</span>
   <span class="verse v682">Ce nom aſſez coꝛreſpondꝛe a la choſe,</span>
   <span class="verse v683">Mais de Paris, filz
      du bon roy Pꝛiam,</span>
   <span class="verse v684">La denomma / pour le hault nom troyan</span>
   <span class="verse v685"><span class="verse-number">[685]</span>Faire floꝛir en longue renommee.</span>
   <span class="verse v686">Oꝛ fut <mark title="placeName" instant="false" full="yes">Luteſſe</mark>
      <span class="lem">adonc</span>
      
      <mark title="placeName" instant="false" full="yes">Paris</mark> nommee</span>
   <span class="verse v687">Car, quelque part que feuſſent demourans</span>
   <span class="verse v688">Troyans, francoys / eurent cueurs deſirans</span>
   <span class="verse v689">Veoir exaulcer leurs pꝛimerains anceſtres</span>
   <span class="verse v690"><span class="verse-number">[690]</span>Et le nom deulx perpetuer en ſceptres</span>
   <span class="verse v691">De loz eterne et gloyꝛe perdurable.</span>
   <span class="verse v692">§Ce Pharamon, pꝛudent et honnoꝛable,</span>
   <span class="verse v693">Tant quil veſquit entretint le royaulme.</span>
   <span class="verse v694">Honneſtete gardant / que bon roy 
      <span class="lem">ayme</span>
      
      ,</span>
   <span class="verse v695"><span class="verse-number">[695]</span><span class="num" type="cardinal" value="11"><span class="date" dur="P11Y" instant="false">Unze</span></span> ans non plus /
      <span class="lem">comme on treuue</span>
      
      , regna</span>
   <span class="verse v696">Et en repos ſon peuple gouuerna.</span>
   <span class="verse v697">Il fut dhonneur / et bonnes meurs tuteur</span>
   <span class="verse v698">Et de la loy ſalicque inſtitueur.</span>
   <span class="verse v699">De ceſte loy, oppinerent aucuns</span>
   <span class="verse v700"><span class="verse-number">[700]</span>Differamment /.Et 
      <span class="lem">ont</span>
      
       tenu les ungs</span>
   <span class="verse v701">Queſt, a ce nom, directement affecte</span>
   <span class="verse v702">Pour la raiſon du lieu pꝛopꝛe ou fut faicte&nbsp;;</span>
   
   
   <hr data-img-id="f58">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Du nom de la loy Salicque.</span><span title="Numéro de folio" class="folio-num"><i>16v</i></span></span>
   <span class="verse v703">Autres 
      <span class="lem">ont dit</span>
      
      
      <span class="lem">ſa</span>
      
       deriuation</span>
   <span class="verse v704">Venir dailleurs /Et 
      <span class="lem">leur</span>
      
       ſaluation</span>
   <span class="verse v705"><span class="verse-number">[705]</span>Fondent /. diſans /.Qvainſi comme le ſel</span>
   <span class="verse v706">Garde et pꝛeſerue au monde uniuerſel</span>
   <span class="verse v707">Toute viande /.
      <span class="lem"></span>
      
      Avſſi eſt nourriture</span>
   <span class="verse v708">La loy ſalicque / appareil, confiture</span>
   <span class="verse v709">Et dꝛoicte ſaulſe / a nourrir, maintenir,</span>
   <span class="verse v710"><span class="verse-number">[710]</span>Duyꝛe, regir / gouuerner et tenir</span>
   <span class="verse v711">Iceulx francoys en vertueuſes meurs,</span>
   <span class="verse v712">Diuertiſſant toutes males
      humeurs.</span>
   <span class="verse v713">Par les humeurs indigeſtes / ſentendent</span>
   <span class="verse v714">Faictz inconſtans /. dont maintz vices
      deppendent.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f52">
   <blockquote class="ms-2">
      
      <span class="verse v599">§Sans prolonger trop
         ennuyeux sermon,</span>
      <span class="verse v600"><span class="verse-number">[600]</span>Sera narré de l’anticque cité</span>
      <span class="verse v601">Dicte <mark title="placeName" instant="false" full="yes">Lutesse</mark>,et aussi recité<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup></span>
      <span class="verse v602">Du premier roy <span style="position: relative;">de <mark title="placeName" instant="false" full="yes">France</mark></span>, <mark class="persName">Pharamon<span class="persName-info fw-normal on-right"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre
            <span class="num" type="ordinal" value="5">v<sup>e</sup></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></div>
               <div class="collation-content">Chapitre cinquiesme.<span class="coll-source"> [Cha514]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   <hr data-img-id="f53">
   
   
   
   <hr data-img-id="f54">
   
   <span class="curr-title fw-bold"><mark title="placeName" instant="false" full="yes">Lutesse</mark>
       par les Françoys ediffiee</span>
   
   <span class="verse v603">À traict <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
               <div class="collation-content">du<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> temps,<span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content">que<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span>
      <span class="choice"><span title="Abbrégé en Frāçoys">Françoys</span></span>
       jouyssans</span>
   <span class="verse v604">De ceste terre et cité, congnoissans</span>
   <span class="verse v605"><span class="verse-number">[605]</span>Estre beaucoup multipliéz,et <span class="choice"><span title="Abbrégé en q̄">que</span></span> umbre</span>
   <span class="verse v606">D’un si <span class="choice"><span title="Abbrégé en grād">grand</span></span> peuple à l’autre fait <span class="choice"><span title="Abbrégé en encōbre">encombre</span></span>,</span>
   <span class="verse v607">Meurent propos et conclurent d’entendre</span>
   <span class="verse v608">Eulx eslargir et leurs destroictz extendre.</span>
   <span class="verse v609">En divers lieux et climatz s’escarterent,</span>
   <span class="verse v610"><span class="verse-number">[610]</span>Dont les aucuns <mark title="placeName" instant="false" full="yes">Allemaigne</mark> habiterent,</span>
   <span class="verse v611"><span class="num" type="cardinal" value="33000">Trente <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
                  <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, Vat966, Cha514]</span></div>
               </div></sup></span> troys <span style="position: relative;">mil</span>
         </span><span style="position: relative;"><span class="lem">tous</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">toutz<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> d’une compaignie,</span>
   <span class="verse v612">Et <span style="position: relative;"><span class="lem">bon</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content">
                  <span class="choice">bonne</span>
                  <span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> accord laisserent
      <mark title="placeName" instant="false" full="yes">Germanie</mark>.</span>
   <span class="verse v613">Et, traversans <span style="position: relative;"><span class="lem">grand</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">grandz<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> paÿs, arriverent</span>
   <span class="verse v614">Jusques en <mark title="placeName" instant="false" full="yes">Gaulle</mark>, où ung fluve trouverent</span>
   <span class="verse v615"><span class="verse-number">[615]</span>Auquel, prenans leur delectatïon,</span>
   <span class="verse v616">Esleurent place et habitatïon.</span>
   <span class="verse v617">Quant le paÿs eurent consideré,</span>
   <span class="verse v618">La grand doulceur de l’aer <span style="position: relative;"><span class="lem">si</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10">
               <div class="collation-content">se<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> moderé,</span>
   <span class="verse v619">Vignobles, bledz, boys, préz, terres fertilles,</span>
   <span class="verse v620"><span class="verse-number">[620]</span>Montz fructueux, valees trés utilles,</span>
   <span class="verse v621">Arbres fruictiers, doulces <span style="position: relative;"><span class="lem">amenitéz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content"><span>suavitéz</span><span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>,</span>
   <span class="verse v622">Fruictz delicatz, franches <span style="position: relative;"><span class="lem">humanitéz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content">amenitéz<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>,</span>
   <span class="verse v623">Marescz, vergiers, veines vifves, carrieres,</span>
   <span class="verse v624">Fontaines, puiz et commodes plastrieres,</span>
   <span class="verse v625"><span class="verse-number">[625]</span><span style="position: relative;"><span class="lem">Lors, environ</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content">À l’environ<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> ce beau fluve de <mark title="placeName" instant="false" full="yes">Seine</mark>,</span>
   <span class="verse v626">Prindrent advis et oppinïon saine</span>
   <span class="verse v627"><span style="position: relative;"><span class="lem">Ville</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
               <div class="collation-content">Villes<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> bastir,<span style="position: relative;"><span class="lem">qu’ilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
               <div class="collation-content">qui<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> nommerent <mark title="placeName" instant="false" full="yes">Lutesse</mark>,</span>
   
   
   <hr data-img-id="f55">
   
   <span class="curr-title fw-bold">De <mark class="persName">Marcomyre<span class="persName-info fw-normal on-left"><b>Marcomir</b> (IVe siècle — circa 400)<span class="hr-100">&nbsp;</span>Roi des Francs (380-400)<br/></span></mark>
      gouverneur des Françoys</span>
   <span class="verse v628">Dicte <i>a luto</i><sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>. Aussi celle part <span style="position: relative;"><span class="lem">esse</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">est ce<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span></span>
   <span class="verse v629">Fange en <span style="position: relative;"><span class="lem">tout</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">tous<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span> temps, si petit qu’il y pleuve.</span>
   <span class="verse v630"><span class="verse-number">[630]</span>Là firent ilz, prés les rives du fleuve,</span>
   <span class="verse v631">Leur bastiement de ville.Et au millieu,</span>
   <span class="verse v632">Dedans une isle assise en fort beau lieu,</span>
   <span class="verse v633">Fut la cité erigee et construicte</span>
   <span class="verse v634">Par main, en l’art d’architecture instruicte.</span>
   <span class="verse v635"><span class="verse-number">[635]</span>Or, pour pugnir entr’eulx les forfaictures</span>
   <span class="verse v636"><span style="position: relative;"><span class="lem">Des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content">Les<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> delinquans, selon justes droictures,</span>
   <span class="verse v637">Pource qu’encor homme de leur arroy</span>
   <span class="verse v638">N’avoit acquis l’estat et nom de roy,</span>
   <span class="verse v639">Prenans exemple à l’ordre des Rommains,</span>
   <span class="verse v640"><span class="verse-number">[640]</span>Quoy que <span style="position: relative;"><span class="lem">ja prés feussent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">ja aprés furent<span class="coll-source"> [BnFfr4967]</span></div>
               <div class="collation-content">en aprés feussent<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> hors de leurs mains,</span>
   <span class="verse v641">Par chascun an, deux consulz eslisoyent</span>
   <span class="verse v642">Qui à regir cestuy peuple advisoyent.</span>
   <span class="verse v643">§Celluy, sur eulx, ayant
      premierement</span>
   <span class="verse v644">La seigneurie et plain gouvernement</span>
   <span class="verse v645"><span class="verse-number">[645]</span>Fut <mark class="persName">Marcomyre<span class="persName-info fw-normal on-right"><b>Marcomir</b> (IVe siècle — circa 400)<span class="hr-100">&nbsp;</span>Roi des Francs (380-400)<br/></span></mark>
      homme puissant et riche,</span>
   <span class="verse v646">Filz de <mark class="persName">Priam<span class="persName-info fw-normal on-right"><b>Priam</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, dernier roi de Troie, fils et successeur
            de Laomédon</span></mark>, roy regnant en
      <mark title="placeName" instant="false" full="yes">Austriche</mark>,</span>
   <span class="verse v647">Yssu du tronc et noblesse de <mark title="placeName" instant="false" full="yes">Troye</mark>.</span>
   <span class="verse v648">Plusieurs raisons, icy endroit, mectroye</span>
   <span class="verse v649">Pourquoy il fut leur gouverneur esleu,</span>
   <span class="verse v650"><span class="verse-number">[650]</span>Mais en cueillant le bon de ce qu’ay leu,</span>
   <span class="verse v651">Fuyant l’ennuy de langaige prolixe,</span>
   <span class="verse v652">La cause fut par ce qu’il mist police<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup></span>
   
   
   <hr data-img-id="f56">
   
   <span class="curr-title fw-bold">De <mark class="persName">Pharamon<span class="persName-info fw-normal on-left"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark> premier
      roy de <mark title="placeName" instant="false" full="yes">France</mark>, filz de <mark class="persName">Marcomire<span class="persName-info fw-normal on-left"><b>Marcomir</b> (IVe siècle — circa 400)<span class="hr-100">&nbsp;</span>Roi des Francs (380-400)<br/></span></mark></span>
   <span class="verse v653">À fosséz faire et murs ediffïer</span>
   <span class="verse v654">Pour fermer, clorre et bien fortiffïer,</span>
   <span class="verse v655"><span class="verse-number">[655]</span>Contre ennemys,<span style="position: relative;"><span class="lem">tous</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
               <div class="collation-content">tours<span class="coll-source"> [BnFfr17274, Aix419]</span></div>
            </div></sup></span> chasteaux et citéz,</span>
   <span class="verse v656">Et qu’il rendit ses gentz <span style="position: relative;">excercitéz</span>,</span>
   <span class="verse v657">Armes porter et pris d’honneur acquerre</span>
   <span class="verse v658">En demenant le mestier de la guerre.</span>
   <span class="verse v659">Ung filz avoit le dessusdit seigneur,</span>
   <span class="verse v660"><span class="verse-number">[660]</span>Plein de vertus, de prouësse et d’honneur,</span>
   <span class="verse v661">Bon chevallier, bien à cheval adextre,</span>
   <span class="verse v662">Rude coureur, selon possible d’estre,</span>
   <span class="verse v663">Prompt aux assaultz, couraigeux à combatre,</span>
   <span class="verse v664"><span style="position: relative;"><span class="lem">Durcy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content">Fort dur<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> aux coups et mal aisé à <span style="position: relative;">batre</span>,</span>
   <span class="verse v665"><span class="verse-number">[665]</span>C’est cestuy là que <mark class="persName">Pharamon<span class="persName-info fw-normal on-right"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark> je nomme.</span>
   <span class="verse v666">§Or les Françoys, voyans <span style="position: relative;"><span class="lem">celluy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">
                  <span>cestuy</span>
                  <span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> jeune homme</span>
   <span class="verse v667">Fort acomply pour <span style="position: relative;"><span class="lem">peuples</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">peuple<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> gouverner,</span>
   <span class="verse v668">L’ont extimé digne de long regner.</span>
   <span class="verse v669">Si ont conclud, en leurs affectïons<sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup>,</span>
   <span class="verse v670"><span class="verse-number">[670]</span>D’avoir ung roy comme autres natïons.</span>
   <span class="verse v671">Et en faveur des vertus agreables,</span>
   <span class="verse v672">Honneurs, bontéz et prouësses louables,</span>
   <span class="verse v673">Du pere sien et de luy, sans desroy<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup>,</span>
   <span class="verse v674">D’iceulx Françoys fut esleu premier roy.</span>
   <span class="verse v675"><span class="verse-number">[675]</span>Et ce, notez que au temps de grace advint</span>
   <span class="verse v676"><span style="position: relative;"><span class="lem">D’acte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">Datte<span class="coll-source"> [BnFfr17274, Aix419]</span></div>
               <div class="collation-content">Date<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span> courant,<span class="date" when="0420" instant="false">quatre centz ans et vingt</span>.</span>
   <span class="verse v677">Pour augmenter les Françoys en renom</span>
   
   
   <hr data-img-id="f57">
   
   <span class="curr-title fw-bold"><mark title="placeName" instant="false" full="yes">Lutesse</mark> par <mark class="persName">Pharamon<span class="persName-info fw-normal on-left"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark> nommée
      <mark title="placeName" instant="false" full="yes">Paris</mark></span>
   <span class="verse v678">Et acquerir <span style="position: relative;">leur grace</span>,<mark class="persName">Pharamon<span class="persName-info fw-normal on-right"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark></span>
   <span class="verse v679">Changea le nom de <mark title="placeName" instant="false" full="yes">Lutesse</mark> fangeuse,</span>
   <span class="verse v680"><span class="verse-number">[680]</span>L’extimant estre <span style="position: relative;">ainsi dicte</span> fascheuse,</span>
   <span class="verse v681">Et non pourtant, bien dire <span style="position: relative;">cella</span> j’ose,</span>
   <span class="verse v682">Ce nom assez correspondre à la chose,</span>
   <span class="verse v683">Mais de <mark class="persName">Paris<span class="persName-info fw-normal on-right"><b>Pâris</b><span class="hr-short">&nbsp;</span>Personnage de la mythologique grecque, prince de Troie, fils du roi
            Priam</span></mark>, filz
      du bon roy <mark class="persName">Priam<span class="persName-info fw-normal on-right"><b>Priam</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, dernier roi de Troie, fils et successeur
            de Laomédon</span></mark>,</span>
   <span class="verse v684">La denomma, pour le hault nom troyan</span>
   <span class="verse v685"><span class="verse-number">[685]</span>Faire florir en longue renommee.</span>
   <span class="verse v686">Or fut <mark title="placeName" instant="false" full="yes">Lutesse</mark><span style="position: relative;">adonc</span><mark title="placeName" instant="false" full="yes">Paris</mark> nommee</span>
   <span class="verse v687">Car, quelque part que feussent demourans</span>
   <span class="verse v688">Troyans, Françoys eurent cueurs desirans</span>
   <span class="verse v689">Veoir exaulcer leurs primerains ancestres</span>
   <span class="verse v690"><span class="verse-number">[690]</span>Et le nom d’eulx perpetuer en sceptres</span>
   <span class="verse v691">De loz eterne et gloyre perdurable.</span>
   <span class="verse v692">§Ce <mark class="persName">Pharamon<span class="persName-info fw-normal on-right"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark>, prudent et honnorable,</span>
   <span class="verse v693">Tant qu’il vesquit entretint le royaulme.</span>
   <span class="verse v694">Honnesteté gardant, que bon roy <span style="position: relative;"><span class="lem">ayme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content">ame<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, Cha514]</span></div>
            </div></sup></span>,</span>
   <span class="verse v695"><span class="verse-number">[695]</span><span class="num" type="cardinal" value="11"><span class="date" dur="P11Y" instant="false">Unze</span></span> ans non plus,<span style="position: relative;">comme on treuve</span>, regna</span>
   <span class="verse v696">Et en repos son peuple gouverna.</span>
   <span class="verse v697">Il fut d’honneur et bonnes meurs tuteur</span>
   <span class="verse v698">Et de la loy salicque institueur.</span>
   <span class="verse v699">De ceste loy, oppinerent aucuns</span>
   <span class="verse v700"><span class="verse-number">[700]</span>Differamment,et <span style="position: relative;">ont</span> tenu les ungs</span>
   <span class="verse v701">Qu’est, à ce nom, directement affecte</span>
   <span class="verse v702">Pour la raison du lieu propre où fut faicte&nbsp;;</span>
   
   
   <hr data-img-id="f58">
   
   <span class="curr-title fw-bold">Du nom de la loy salicque</span>
   <span class="verse v703">Autres <span style="position: relative;"><span class="lem">ont dit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35">
               <div class="collation-content">on dict<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">sa</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">sans<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> derivatïon</span>
   <span class="verse v704">Venir d’ailleurs,et <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
               <div class="collation-content">leurs<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> salvatïon</span>
   <span class="verse v705"><span class="verse-number">[705]</span>Fondent, disansqu’ainsi comme le sel</span>
   <span class="verse v706">Garde et preserve au monde universel</span>
   <span class="verse v707">Toute vïande,<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content"><s>et</s><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>aussi est nourriture</span>
   <span class="verse v708">La loy salicque, appareil, confiture</span>
   <span class="verse v709">Et droicte saulse à nourrir, maintenir,</span>
   <span class="verse v710"><span class="verse-number">[710]</span>Duyre, regir, gouverner et tenir</span>
   <span class="verse v711">Iceulx Françoys en vertueuses meurs,</span>
   <span class="verse v712">Divertissant<sup class="modal-call note-call" aria-hidden="true" id="noteCall6" data-modal-id="noteModal6">6</sup> toutes males
      humeurs.</span>
   <span class="verse v713">Par les humeurs indigestes s’entendent</span>
   <span class="verse v714">Faictz inconstans dont maintz vices
      deppendent.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(601);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Parlé.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(628);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Boue,
      limon.</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(652);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Bonne administration</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(669);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Cœurs.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(673);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Désordre, confusion.</div>
   <h4 class="modal-title" modal-title="noteModal6"><a href="javascript:versePointer(712);">Note n°6</a></h4>
   <div class="modal-text" modal-text="noteModal6">Détournant.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Chapitre cinquiesme.</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(603);">v. 603</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>du</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(603);">v. 603</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>que</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(611);">v. 611</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, Vat966, Cha514 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(611);">v. 611</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>toutz</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(612);">v. 612</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            <span class="choice">bonne</span>
            </span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(613);">v. 613</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>grandz</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(618);">v. 618</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>se</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(621);">v. 621</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><span>suavitéz</span></span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(622);">v. 622</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>amenitéz</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(625);">v. 625</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>À l’environ</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(627);">v. 627</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Villes</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(627);">v. 627</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>qui</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(628);">v. 628</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>est ce</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(629);">v. 629</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>tous</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(636);">v. 636</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Les</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(640);">v. 640</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>ja aprés furent</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>en aprés feussent</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(655);">v. 655</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Aix419 </span>tours</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(664);">v. 664</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Fort dur</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(666);">v. 666</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            <span>cestuy</span>
            </span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(667);">v. 667</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>peuple</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(676);">v. 676</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Aix419 </span>Datte</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Date</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(694);">v. 694</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, Cha514 </span>ame</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(703);">v. 703</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>on dict</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(703);">v. 703</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>sans</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(704);">v. 704</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>leurs</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(707);">v. 707</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>et</s></span></div>
      </div>
</div>
{% endmacro %}
