
{% macro chapterTitle() %}Chapitre 6{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('6_chap_5')"><i class="fa-solid fa-arrow-left"></i> Chapitre 5</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('8_chap_7')">Chapitre 7 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f58/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f58/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f58" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f59/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f59/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f59" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f60/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f60/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f60" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f61/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f61/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f61" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f62/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f62/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f62" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f63/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f63/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f63" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f64/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f64/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f64" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f65/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f65/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f65" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f66/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f66/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f66" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f58">
   <p title="Numéro de folio" class="text-end"><i>16v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v715"><span class="verse-number">[715]</span>§Iay orendroit la maniere aduiſee</span>
      <span class="verse v716">Toucher, ſelon lordre que tiens et faiz,</span>
      <span class="verse v717">Du ſecond roy Clodion / et ſes faictz,</span>
      <span class="verse v718">Et comme fut la <mark title="placeName" instant="false" full="yes">Gaulle</mark> diuiſee ჻</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.
         §
         <span class="num" type="ordinal" value="6">vi<sup>e</sup></span>.</span>
      
      
      
      </blockquote>
   
   
   <hr data-img-id="f59">
   <span title="Numéro de folio" class="folio-num"><i>17r</i></span>
   
   
   <hr data-img-id="f60">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Clodion ſecond roy de <mark title="placeName" instant="false" full="yes">france</mark> filz de Pharamon.</span><span title="Numéro de folio" class="folio-num"><i>17v</i></span></span>
   
   <span class="verse v719">VNg filz laiſſa 
      <span class="lem">Pharamon</span>
      
       decedant,</span>
   <span class="verse v720"><span class="verse-number">[720]</span>Dit Clodion / Au regne ſuccedant,</span>
   <span class="verse v721">Pour ſecond roy des francoys fut eſleu</span>
   <span class="verse v722">Et <span class="choice"><span title="Abbréviation pour surnommé">ſurnōme</span></span> de tous /.Le cheuelu.</span>
   
   <span class="verse v723">Ce nom receut pour la ſeulle achoyſon</span>
   <span class="verse v724">Que auoit cheueux 
      <span class="lem">habondante</span>
      
      
      <span class="lem"></span>
      
      foyſon.</span>
   <span class="verse v725"><span class="verse-number">[725]</span>Il ſe monſtra en tout Imitateur</span>
   <span class="verse v726">
      <span class="lem">
         <span class="lem">Des</span>
         
          bonnes meurs du ſien pꝛogeniteur</span>
      
      </span>
   <span class="verse v727">
      <span class="lem">Et tant voulut ſes geſtes honnoꝛer,</span>
      
      </span>
   <span class="verse v728">Suyuans ſes faictz / que ſans degenerer,</span>
   <span class="verse v729">Ce qui ſouloit ou nom du pere bꝛuyꝛe</span>
   <span class="verse v730"><span class="verse-number">[730]</span>Fiſt, par effect, en ſoymeſmes reluyꝛe,</span>
   <span class="verse v731">Si quon diſoit /.<span title="Discours direct">Tel le pere
         viuant,</span></span>
   <span class="verse v732"><span title="Discours direct">Tel eſt le filz,
         ſes facons enſuyuant.</span></span>
   <span class="verse v733">Il faut noter pour reigles generalles</span>
   <span class="verse v734">Que iceulx payans / toutes vertus moꝛalles</span>
   <span class="verse v735"><span class="verse-number">[735]</span>Songneuſement furent contregardans</span>
   <span class="verse v736">Et a leur loy obſeruer regardans.</span>
   <span class="verse v737">Iacoit que eulx tous de la ſecte hayneuſe,</span>
   <span class="verse v738">Par cecite derreur caligineuſe,</span>
   <span class="verse v739">Feuſſent 
      <span class="lem">bendez</span>
      
       de vmbꝛaigeux deceuoir,</span>
   <span class="verse v740"><span class="verse-number">[740]</span>Sans la ſplendeur de gꝛace receuoir</span>
   <span class="verse v741">Ne le treſoꝛ du coffre apoſtolicque</span>
   <span class="verse v742">Deſloꝛs ouuert au peuple catholicque,</span>
   <span class="verse v743">Si 
      <span class="lem">furent ilz</span>
      
       dhonneſtete veſtus,</span>
   
   
   <hr data-img-id="f61">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Du Roy Clodion.</span><span title="Numéro de folio" class="folio-num"><i>18r</i></span></span>
   <span class="verse v744">Vices fuyans / et appꝛouchans vertus.</span>
   <span class="verse v745"><span class="verse-number">[745]</span>Et leur ſembloit eſtre pernicieuſe</span>
   <span class="verse v746">Loy creſtienne et ſuperſticieuſe,</span>
   <span class="verse v747">Dont aueuglez 
      <span class="lem">des</span>
      
       ſens / du cueur / et 
      <span class="lem">de</span>
      
      
       yeulx</span>
   <span class="verse v748">Pꝛindꝛent plaiſir de croyꝛe en pluſieurs dieux,</span>
   <span class="verse v749">
      <span class="lem">Les</span>
      
       adoꝛans par folle ydolaſtrie</span>
   <span class="verse v750"><span class="verse-number">[750]</span>De feuz / encens /
      <span class="lem"></span>
      
       culture de lattrie,</span>
   <span class="verse v751">Offrandes / veuz / diſmes, oblations,</span>
   <span class="verse v752">Sacrifians en Immolations</span>
   <span class="verse v753">Thaureaux, bꝛebiz / et aigneaux, pour augures</span>
   <span class="verse v754">En recepuoir / de 
      <span class="lem"></span>
      
      leurs ſongneuſes cures,</span>
   <span class="verse v755"><span class="verse-number">[755]</span>Mectans 
      <span class="lem">vouloirs</span>
      
       et couraiges entiers</span>
   <span class="verse v756">A decoꝛer leurs temples et autiers.</span>
   <span class="verse v757">Et touteſuoyes / comme auons dit deſſus,</span>
   <span class="verse v758">Les poures 
      <span class="lem">ſotz</span>
      
       en ont eſte deceus.</span>
   <span class="verse v759">§Oꝛ a ſcauoir
      /Se leur ſimple ignoꝛance,</span>
   <span class="verse v760"><span class="verse-number">[760]</span>En obſeruant la loy, fut eſperance</span>
   <span class="verse v761">Den meriter lieu deternel repos,</span>
   <span class="verse v762">Dieu
      <span class="lem">ſcet</span>
      
      
      <span class="lem">cella</span>
      
       /.
      <span class="lem">Retournons</span>
      
       au pꝛopos.
      <span class="lem"></span>
      
      </span>
   
   <span class="verse v765"><span class="verse-number">[765]</span>Ce Clodion, congnoiſſant les
      limites</span>
   <span class="verse v766">De <mark title="placeName" instant="false" full="yes">Germanie</mark> / eſtre a ſoy
      trop petites,</span>
   <span class="verse v767">Apꝛes auoir les Thuringes ſubmys</span>
   <span class="verse v768">A ſa puiſſance /. et en <mark title="placeName" instant="false" full="yes">
         <span class="lem">Hiſhargue</span>
         
         </mark> mys</span>
   <span class="verse v769">Sieige royal / pour ville pꝛincipalle</span>
   <span class="verse v770"><span class="verse-number">[770]</span>De ſon royaulme et cite capitalle,</span>
   
   
   <hr data-img-id="f62">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clodion vainct les rommains a <mark title="placeName" instant="false" full="yes">Cambray</mark> et a
         <mark title="placeName" instant="false" full="yes">Tournay</mark></span><span title="Numéro de folio" class="folio-num"><i>18v</i></span></span>
   <span class="verse v771">Conſiderant auſſi ia les rommains,</span>
   <span class="verse v772">En declinant, tumber du plus au moins,</span>
   <span class="verse v773">Et que nalloit, des <mark title="placeName" instant="false" full="yes">Gaulles</mark>, plus guere
      homme</span>
   <span class="verse v774">Foꝛs les Belgeoys / vers lempereur de <mark title="placeName" instant="false" full="yes">romme</mark>,</span>
   <span class="verse v775"><span class="verse-number">[775]</span>Foꝛt deſirant ſondit royaulme accroiſtre</span>
   <span class="verse v776">Oultre le <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rhin</mark></mark>,
      enuoya pour congnoiſtre</span>
   <span class="verse v777">Quel appareil de deffence y auoit.</span>
   <span class="verse v778">Par 
      <span class="lem">ung</span>
      
       eſpie aduerty / toſt pꝛeuoit</span>
   <span class="verse v779">
      <span class="lem">Lexpediant</span>
      
      
      <span class="lem">de</span>
      
       ſa queſte foꝛmee,</span>
   <span class="verse v780"><span class="verse-number">[780]</span>Si paſſa oultre et toute ſon armee.</span>
   <span class="verse v781">Loꝛs la cite de <mark title="placeName" instant="false" full="yes">Cambꝛay</mark> aſſiegea,</span>
   <span class="verse v782">La pꝛiſt daſſault /.Pvys ſoudain deſlogea</span>
   <span class="verse v783">Et, trauerſant la foꝛeſt <mark title="placeName" instant="false" full="yes">charbonniere</mark>,</span>
   <span class="verse v784">Vint a <mark title="placeName" instant="false" full="yes">Tournay</mark> /.Ou enſeigne et baniere</span>
   <span class="verse v785"><span class="verse-number">[785]</span>
      <span class="lem">Deſploye</span>
      
       aux champs /. dont Rommains eſbahys,</span>
   <span class="verse v786">Cuydans deffendꝛe et garder le pays,</span>
   <span class="verse v787">Eurent combat de tres male aduenture</span>
   <span class="verse v788">Qui cauſe fut de leur deſconfiture.</span>
   <span class="verse v789">Eulx affoibliz / et francoys renfoꝛcez</span>
   <span class="verse v790"><span class="verse-number">[790]</span>Furent ſoudain de bꝛanſler
      perfoꝛcez.</span>
   <span class="verse v791">Moult fut ce iour par bataille rengee</span>
   <span class="verse v792">La nation <mark title="placeName" instant="false" full="yes">rommaine</mark> endommaigee,</span>
   <span class="verse v793">Car Clodion, poꝛtant armes
      deffectz,</span>
   <span class="verse v794">Rendit ſouldardz rommains moꝛtz et
      deffaiz.</span>
   <span class="verse v795"><span class="verse-number">[795]</span>§Puys que 
      <span class="lem">de</span>
      
      <mark title="placeName" instant="false" full="yes">Gaule</mark> auons fait mention</span>
   
   
   <hr data-img-id="f63">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De la diuiſion de
         <mark title="placeName" instant="false" full="yes">Gaulle</mark>.</span><span title="Numéro de folio" class="folio-num"><i>19r</i></span></span>
   <span class="verse v796">Dicte oꝛes <mark title="placeName" instant="false" full="yes">France</mark> /
      <span class="lem">et franche</span>
      
       nation,</span>
   <span class="verse v797">Il ſembleroit choſe bien raiſonnable,</span>
   <span class="verse v798">Bonne / licite / et aſſez conuenable,</span>
   <span class="verse v799">Pour en toucher Icy endꝛoit /
      <span class="lem"></span>
      
       quon quiſt</span>
   <span class="verse v800"><span class="verse-number">[800]</span>Loppinion Ceſar qui la
      conquiſt</span>
   <span class="verse v801">Toute en <span class="num" type="cardinal" value="10"><span class="date" dur="P10Y" instant="false">dix</span></span> ans / veu que a la diſcipline</span>
   <span class="verse v802">Du ſien recit / ſe accoꝛde et lenſuyt Pline.</span>
   <span class="verse v803">Si font de 
      <span class="lem">meſme</span>
      
       autres pluſieurs auſſi,</span>
   <span class="verse v804">Diſans⋅ la <mark title="placeName" instant="false" full="yes">Gaule</mark> eſtre partie
      ainſi</span>
   <span class="verse v805"><span class="verse-number">[805]</span>Et diuiſee en <span class="num" type="cardinal" value="3">troys</span>
      <span class="lem"></span>
      
       pꝛouinces /. telles</span>
   <span class="verse v806">Que obtiennent loz de gloyꝛes Immoꝛtelles.</span>
   <span class="verse v807">Si fault noter leur commancement pꝛis</span>
   <span class="verse v808">Dilluſtres roys, extimez gentz de pꝛis,</span>
   <span class="verse v809">Qui les pꝛemiers en 
      <span class="lem">icelle</span>
      
       regnerent</span>
   <span class="verse v810"><span class="verse-number">[810]</span>
      <span class="lem">Et</span>
      
      
      <span class="lem">pareilz</span>
      
       noms deulx meſmes leur donnerent.</span>
   <span class="verse v811">§De Celte roy / par renommee anticque,</span>
   <span class="verse v812">Iadis nommee en fut <mark title="placeName" instant="false" full="yes">Gaule</mark>Celticque&nbsp;;</span>
   <span class="verse v813">De Belgius. la <mark title="placeName" instant="false" full="yes">Belgicque</mark> pꝛiſt nom</span>
   <span class="verse v814">Et <mark title="placeName" instant="false" full="yes">Acquitaine</mark> auſſi acquiſt renom</span>
   <span class="verse v815"><span class="verse-number">[815]</span>Du roy nomme Galatheus /.Dont toute</span>
   <span class="verse v816">
      <span class="lem"><mark title="placeName" instant="false" full="yes">Gaule</mark> fut dicte.
         Il ny a point de doubte.</span>
      
      </span>
   <span class="verse v817">Mais cauſe auons / et la raiſon certaine</span>
   <span class="verse v818">Pour quoy ainſi la nommons
      <mark title="placeName" instant="false" full="yes">Acquitaine</mark>.</span>
   <span class="verse v819">Ceſt pour la gꝛande 
      <span class="lem"></span>
      
      habondance des eaux</span>
   
   
   <hr data-img-id="f64">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Des riuieres et cites en <mark title="placeName" instant="false" full="yes">Gaulle</mark>
         celtique.</span><span title="Numéro de folio" class="folio-num"><i>19v</i></span></span>
   <span class="verse v820"><span class="verse-number">[820]</span>Quelle contient en fluues et ruyſſeaux.</span>
   <span class="verse v821">Si fault, afin que erreur ne nous eſuince,</span>
   <span class="verse v822">Toucher ung mot de chaſcune pꝛouince.</span>
   <span class="verse v823"><mark title="placeName" instant="false" full="yes">Gaule</mark> celticque, Ainſi quen veoy les pꝛeuues,</span>
   
   <span class="verse v824">Eſt 
      <span class="lem"></span>
      
      ſituee entre ces 
      <span class="lem"></span>
      
      <span class="num" type="cardinal" value="3">troys</span> beaux fleuues&nbsp;:</span>
   <span class="verse v825"><span class="verse-number">[825]</span>Le <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rhone</mark></mark> /<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Saine</mark></mark> / et
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Marne</mark></mark>. Auſſi y
      ſont</span>
   <span class="verse v826">Fleuues parmy /. dont aucuns le cours ont</span>
   <span class="verse v827">Impetueux /<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Liſere</mark></mark> et la
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Durance</mark></mark></span>
   <span class="verse v828">En ſont teſmoings / Autres 
      <span class="lem">a</span>
      
       dapparance</span>
   <span class="verse v829">Comme <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Aube</mark></mark> /
      <span class="lem"><mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Soꝛgue</mark></mark></span>
      
      
       / et
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Vienne</mark></mark> /. Oꝛ voyon</span>
   <span class="verse v830"><span class="verse-number">[830]</span>Quelles citez elle contient /.<mark title="placeName" instant="false" full="yes">Lyon</mark>,</span>
   <span class="verse v831">
      <span class="lem"></span>
      
      <mark title="placeName" instant="false" full="yes">Authun</mark> /
      <span class="lem"></span>
      
      <mark title="placeName" instant="false" full="yes">Maſcon</mark> /<mark title="placeName" instant="false" full="yes">Chalon</mark> /<mark title="placeName" instant="false" full="yes">Troyes</mark> /<mark title="placeName" instant="false" full="yes">Auxerre</mark>.</span>
   <span class="verse v832"><mark title="placeName" instant="false" full="yes">Sens</mark> /<mark title="placeName" instant="false" full="yes">Paris</mark> /<mark title="placeName" instant="false" full="yes">Meaux</mark> /<mark title="placeName" instant="false" full="yes">Chartres</mark> /. Mais il fault / ſe erre</span>
   <span class="verse v833">
      <span class="lem">En</span>
      
       mon chemin accueillir <mark title="placeName" instant="false" full="yes">Oꝛleans</mark></span>
   <span class="verse v834">Et ſen aller par <mark title="placeName" instant="false" full="yes">Eureux</mark> et <mark title="placeName" instant="false" full="yes">le Mans</mark></span>
   <span class="verse v835"><span class="verse-number">[835]</span>Et ſans laiſſer <mark title="placeName" instant="false" full="yes">Seez</mark> /<mark title="placeName" instant="false" full="yes">Auranches</mark> /<mark title="placeName" instant="false" full="yes">Liſieux</mark>,</span>
   <span class="verse v836">Paſſer <span title="substitution"><span class="align-top" title="Ajout">parmy</span><s class="align-bottom" title="Suppression"><s></s></s></span><mark title="placeName" instant="false" full="yes">
         <span class="lem">Conſtances</span>
         
         </mark> /
      <span class="lem">et</span>
      
      <mark title="placeName" instant="false" full="yes">Bayeux</mark>,</span>
   <span class="verse v837"><mark title="placeName" instant="false" full="yes">Vannes</mark> auſſi /<mark title="placeName" instant="false" full="yes">Renes</mark> /<mark title="placeName" instant="false" full="yes">Nantes</mark> /<mark title="placeName" instant="false" full="yes">Angiers</mark>,</span>
   <span class="verse v838"><mark title="placeName" instant="false" full="yes">Neuers</mark> /<mark title="placeName" instant="false" full="yes">Vienne</mark> /<mark title="placeName" instant="false" full="yes">Embꝛun</mark> /<mark title="placeName" instant="false" full="yes">Gap</mark> / et
      <mark title="placeName" instant="false" full="yes">Viuiers</mark>,</span>
   <span class="verse v839"><mark title="placeName" instant="false" full="yes">Siſtron</mark> /<mark title="placeName" instant="false" full="yes">Gꝛenoble</mark> /<mark title="placeName" instant="false" full="yes">Oꝛenges</mark> /<mark title="placeName" instant="false" full="yes">Auignon</mark>,</span>
   <span class="verse v840"><span class="verse-number">[840]</span><mark title="placeName" instant="false" full="yes">Arles</mark> /<mark title="placeName" instant="false" full="yes">Marſeille</mark> /<mark title="placeName" instant="false" full="yes">Aix</mark> /<mark title="placeName" instant="false" full="yes">Nice</mark> / et
      <mark title="placeName" instant="false" full="yes">Cauaillon</mark>.</span>
   <span class="verse v841">§Toute
      <mark title="placeName" instant="false" full="yes">Acquitaine</mark> eſt a laiſe entendue</span>
   <span class="verse v842">Par les citez que tient ſon extendue,</span>
   <span class="verse v843">Qui ſont <mark title="placeName" instant="false" full="yes">Clermont</mark> /<mark title="placeName" instant="false" full="yes">Le pvy</mark> /<mark title="placeName" instant="false" full="yes">Luxon</mark> /<mark title="placeName" instant="false" full="yes">Narbonne</mark>,</span>
   <span class="verse v844"><mark title="placeName" instant="false" full="yes">Rodays</mark> /<mark title="placeName" instant="false" full="yes">Thouloze</mark> /<mark title="placeName" instant="false" full="yes">Angouleſme</mark> /<mark title="placeName" instant="false" full="yes">Bayonne</mark>,</span>
   
   
   <hr data-img-id="f65">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Villes/ foreſtz / et riuieres de la
         <mark title="placeName" instant="false" full="yes">Gaulle</mark> belgicque.</span><span title="Numéro de folio" class="folio-num"><i>20r</i></span></span>
   <span class="verse v845"><span class="verse-number">[845]</span><mark title="placeName" instant="false" full="yes">Tarbe</mark> /<mark title="placeName" instant="false" full="yes">Sainct flour</mark> /<mark title="placeName" instant="false" full="yes">Carcaſſonne</mark> /<mark title="placeName" instant="false" full="yes">Caours</mark>,</span>
   <span class="verse v846"><mark title="placeName" instant="false" full="yes">Condon</mark> /<mark title="placeName" instant="false" full="yes">Alby</mark> /<mark title="placeName" instant="false" full="yes">Perigoꝛt</mark> /<mark title="placeName" instant="false" full="yes">Bourges</mark> /<mark title="placeName" instant="false" full="yes">Tours</mark>,</span>
   <span class="verse v847"><mark title="placeName" instant="false" full="yes">Lodeue</mark> /<mark title="placeName" instant="false" full="yes">Foix</mark> /<mark title="placeName" instant="false" full="yes">
         
         <span class="lem">Albꝛet</span>
         
         
         </mark> /<mark title="placeName" instant="false" full="yes">Sainct pons</mark> /<mark title="placeName" instant="false" full="yes">Boꝛdeaux</mark>,</span>
   <span class="verse v848"><mark title="placeName" instant="false" full="yes">Xainctes</mark> /<mark title="placeName" instant="false" full="yes">Lombees</mark> /<mark title="placeName" instant="false" full="yes">Lymoges</mark> /<mark title="placeName" instant="false" full="yes">Leſtoꝛe</mark> /<mark title="placeName" instant="false" full="yes">Aux</mark></span>
   <span class="verse v849">Et <mark title="placeName" instant="false" full="yes">Montauban</mark> / Plus ny en ſcay de poix</span>
   <span class="verse v850"><span class="verse-number">[850]</span>
      <span class="lem">
         <span title="substitution"><span class="align-top" title="Ajout">
               <span class="choice"><span title="Abbréviation pour Sinon">Sinō</span></span>
               <mark title="placeName" instant="false" full="yes">Poictiers</mark>
               </span><s class="align-bottom" title="Suppression"><s></s></s></span>
         </span>
      
       /<mark title="placeName" instant="false" full="yes">Nymes</mark> / et
      <mark title="placeName" instant="false" full="yes">Mirepoix</mark>.</span>
   <span class="verse v851">
      <span class="lem">Ses</span>
      
       fleuues gꝛandz / ſont
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Gironde</mark></mark> /<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Doꝛdonne</mark></mark>,</span>
   <span class="verse v852"><mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Loyꝛe</mark></mark> /L<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">alier</mark></mark> /<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Cher</mark></mark> /<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Charente</mark></mark> / et
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Garonne</mark></mark>.</span>
   <span class="verse v853">§<mark title="placeName" instant="false" full="yes">Gaule</mark> belgicque eſt des 
      <span class="lem">fleuues</span>
      
       pourueue,</span>
   <span class="verse v854">Cy contenuz / quon voyt a plaine veue.</span>
   <span class="verse v855"><span class="verse-number">[855]</span><span class="num" type="cardinal" value="10">Dix</span>
      <span class="lem"></span>
      
       bien comptez / ſe y trouueront en ſomme</span>
   <span class="verse v856">Et ſont le
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rhin</mark></mark> / la <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Sambꝛe</mark></mark> /
      <span class="lem">la</span>
      
      
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Lys</mark></mark> /.<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Somme</mark></mark>,</span>
   <span class="verse v857"><mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">
            
            <span class="lem">
               <mark title="placeName" instant="false" full="yes">Soone</mark>
               </span>
            
            
            
            
            </mark>
         </mark> /L<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">eſcault</mark>
         </mark> /<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">Meuſe</mark>
         </mark> /<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">
            
            <span class="lem">Moſelle</span>
            
            
            </mark>
         </mark> /<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">Saine</mark>
         </mark></span>
   <span class="verse v858">Et <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Marne</mark></mark> auſſi qui
      parfaict la diſaine.</span>
   <span class="verse v859">§Les gꝛandz foꝛeſtz / (Se le liſeur ne tenne</span>
   <span class="verse v860"><span class="verse-number">[860]</span>En les 
      <span class="lem">nommant</span>
      
      , ſont&nbsp;:
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Moꝛmault</mark></mark> /
      et <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Ardenne</mark></mark>&nbsp;;</span>
   <span class="verse v861">§Les plus 
      <span class="lem">haultz</span>
      
       montz /<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Sainct Claude</mark></mark> /Les <mark title="placeName" instant="false" full="yes">faucilles</mark></span>
   <span class="verse v862">Et <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Voſegus</mark></mark> /. Quant aux citez et villes</span>
   <span class="verse v863">Plus de renom, neufues et anciennes.</span>
   <span class="verse v864">Ce ſont <mark title="placeName" instant="false" full="yes">Cambꝛay</mark> /<mark title="placeName" instant="false" full="yes">Uttrecht</mark> /<mark title="placeName" instant="false" full="yes">Valenciennes</mark></span>
   <span class="verse v865"><span class="verse-number">[865]</span><mark title="placeName" instant="false" full="yes">Treues</mark> /<mark title="placeName" instant="false" full="yes">Strabourg</mark> /<mark title="placeName" instant="false" full="yes">Aix</mark> /<mark title="placeName" instant="false" full="yes">Coulongne</mark> /<mark title="placeName" instant="false" full="yes">Maiance</mark>,</span>
   <span class="verse v866"><mark title="placeName" instant="false" full="yes">Liege</mark> /<mark title="placeName" instant="false" full="yes">Tournay</mark> /<mark title="placeName" instant="false" full="yes">Arras</mark> /<mark title="placeName" instant="false" full="yes">Baſle</mark> /<mark title="placeName" instant="false" full="yes">Conſtance</mark>,</span>
   <span class="verse v867"><mark title="placeName" instant="false" full="yes">Amyans</mark> /<mark title="placeName" instant="false" full="yes">Soiſſons</mark> /<mark title="placeName" instant="false" full="yes">Noyon</mark> /<mark title="placeName" instant="false" full="yes">Senlis</mark> /<mark title="placeName" instant="false" full="yes">Beauuais</mark>,</span>
   <span class="verse v868"><mark title="placeName" instant="false" full="yes">Reims</mark> /<mark title="placeName" instant="false" full="yes">Meaulx</mark> /<mark title="placeName" instant="false" full="yes">Rouan</mark> /<mark title="placeName" instant="false" full="yes">Laon</mark> /<mark title="placeName" instant="false" full="yes">Chalons</mark> /<mark title="placeName" instant="false" full="yes">Langꝛes</mark> /<mark title="placeName" instant="false" full="yes">Metz</mark>,</span>
   <span class="verse v869"><mark title="placeName" instant="false" full="yes">
         <span class="lem">Dole</span>
         
         </mark> /
      <span class="lem"></span>
      
      <mark title="placeName" instant="false" full="yes">Salins</mark> /<mark title="placeName" instant="false" full="yes">Toul</mark> /<mark title="placeName" instant="false" full="yes">Verdun</mark> /<mark title="placeName" instant="false" full="yes">Beſancon</mark>,</span>
   
   
   <hr data-img-id="f66">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Des Villes de <mark title="placeName" instant="false" full="yes">france</mark>.</span><span title="Numéro de folio" class="folio-num"><i>20v</i></span></span>
   <span class="verse v870"><span class="verse-number">[870]</span><mark title="placeName" instant="false" full="yes">Loſanne</mark> / donne
      /A<mark title="placeName" instant="false" full="yes">geneſue</mark> le Son</span>
   <span class="verse v871">De <mark title="placeName" instant="false" full="yes">Chambery</mark> /. Se plus en a ou moins,</span>
   <span class="verse v872">Comme 
      <span class="lem">innocent</span>
      
      , ien laue icy mes mains.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f58">
   <blockquote class="ms-2">
      
      <span class="verse v715"><span class="verse-number">[715]</span>§J’ay orendroit la maniere advisee</span>
      <span class="verse v716">Toucher, selon l’ordre que tiens et faiz,</span>
      <span class="verse v717">Du second roy <mark class="persName">Clodïon<span class="persName-info fw-normal on-right"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark> et ses faictz,</span>
      <span class="verse v718">Et comme fut la <mark title="placeName" instant="false" full="yes">Gaulle</mark> divisee.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre
            §
            <span class="num" type="ordinal" value="6">vi<sup>e</sup></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
               <div class="collation-content">Chapitre sixiesme<span class="coll-source"> [Cha514]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   <hr data-img-id="f59">
   
   
   
   <hr data-img-id="f60">
   
   <span class="curr-title fw-bold">De <mark class="persName">Clodion<span class="persName-info fw-normal on-left"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark> second roy de <mark title="placeName" instant="false" full="yes">France</mark> filz de <mark class="persName">Pharamon<span class="persName-info fw-normal on-left"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark></span>
   
   <span class="verse v719">Ung filz laissa <mark class="persName"><span style="position: relative;">Pharamon</span><span class="persName-info fw-normal on-right"><b>Pharamond</b> (365 — 430)<span class="hr-100">&nbsp;</span>Roi des Francs (?-430)<br/></span></mark> decedant,</span>
   <span class="verse v720"><span class="verse-number">[720]</span>Dit <mark class="persName">Clodïon<span class="persName-info fw-normal on-right"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark>. Au regne succedant,</span>
   <span class="verse v721">Pour second roy des Françoys fut esleu</span>
   <span class="verse v722">Et <span class="choice"><span title="Abbrégé en surnōmé">surnommé</span></span> de tous « le chevelu ».</span>
   
   <span class="verse v723">Ce nom receut pour la seulle achoyson</span>
   <span class="verse v724">Que avoit cheveux <span style="position: relative;"><span class="lem">habondante</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
               <div class="collation-content">d’habondante<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>foyson.</span>
   <span class="verse v725"><span class="verse-number">[725]</span>Il se monstra en tout imitateur</span>
   <span class="verse v726"><span style="position: relative;"><span class="lem"><span style="position: relative;"><span class="lem">Des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
                     <div class="collation-content">De<span class="coll-source"> [Cha514]</span></div>
                  </div></sup></span> bonnes meurs du sien progeniteur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">
                  Et tant voulut ses gestes honnorer,
                  <span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v727"><span style="position: relative;"><span class="lem">Et tant voulut ses gestes honnorer,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">
                  Des bonnes meurs du sien progeniteur
                  <span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v728">Suyvans ses faictz, que sans degenerer,</span>
   <span class="verse v729">Ce qui souloit ou nom du pere bruyre</span>
   <span class="verse v730"><span class="verse-number">[730]</span>Fist, par effect, en soy mesmes reluyre,</span>
   <span class="verse v731">Si qu’on disoit :<span title="Discours direct">«&nbsp;Tel le pere
         vivant,</span></span>
   <span class="verse v732"><span title="Discours direct">Tel est le filz,
         ses façons ensuyvant.&nbsp;»</span></span>
   <span class="verse v733">Il faut noter pour reigles generalles</span>
   <span class="verse v734">Que iceulx payans toutes vertus moralles</span>
   <span class="verse v735"><span class="verse-number">[735]</span>Songneusement furent contregardans</span>
   <span class="verse v736">Et à leur loy observer regardans.</span>
   <span class="verse v737">Jaçoit que eulx tous de la secte hayneuse,</span>
   <span class="verse v738">Par cecité d’erreur caligineuse<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>,</span>
   <span class="verse v739">Feussent <span style="position: relative;"><span class="lem">bendéz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content">bridéz<span class="coll-source"> [Cha514]</span></div>
            </div></sup></span> de umbraigeux decevoir,</span>
   <span class="verse v740"><span class="verse-number">[740]</span>Sans la splendeur de grace recevoir</span>
   <span class="verse v741">Ne le tresor du coffre apostolicque</span>
   <span class="verse v742">Dès lors ouvert au peuple catholicque,</span>
   <span class="verse v743">Si <span style="position: relative;"><span class="lem">furent ilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">feussent<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> d’honnesteté vestus,</span>
   
   
   <hr data-img-id="f61">
   
   <span class="curr-title fw-bold">Du roy <mark class="persName">Clodion<span class="persName-info fw-normal on-left"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark></span>
   <span class="verse v744">Vices fuyans et approuchans vertus.</span>
   <span class="verse v745"><span class="verse-number">[745]</span>Et leur sembloit estre pernicïeuse</span>
   <span class="verse v746">Loy crestïenne et supersticïeuse,</span>
   <span class="verse v747">Dont aveugléz <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10">
               <div class="collation-content">de<span class="coll-source"> [BnFfr23145, BnFfr5299]</span></div>
            </div></sup></span> sens, du cueur et <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content">des<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr5299]</span></div>
               <div class="collation-content"></div>
            </div></sup></span> yeulx</span>
   <span class="verse v748">Prindrent plaisir de croyre en plusieurs dieux,</span>
   <span class="verse v749"><span style="position: relative;">Les</span> adorans par folle ydolastrie</span>
   <span class="verse v750"><span class="verse-number">[750]</span>De feuz, encens,<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content">de<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299]</span></div>
            </div></sup></span> culture de lattrie<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>,</span>
   <span class="verse v751">Offrandes, veuz, dismes, oblatïons,</span>
   <span class="verse v752">Sacrifians en immolatïons</span>
   <span class="verse v753">Thaureaux, brebiz et aigneaux, pour augures</span>
   <span class="verse v754">En recepvoir de leurs songneuses cures,</span>
   <span class="verse v755"><span class="verse-number">[755]</span>Mectans <span style="position: relative;"><span class="lem">vouloirs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
               <div class="collation-content">voullans<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> et couraiges entiers</span>
   <span class="verse v756">À decorer leurs temples et autiers<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup>.</span>
   <span class="verse v757">Et toutesvoyes, comme avons dit dessus,</span>
   <span class="verse v758">Les povres <span style="position: relative;"><span class="lem">sotz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">folz<span class="coll-source"> [BnFfr23145, Cha514]</span></div>
            </div></sup></span> en ont esté deceus.</span>
   <span class="verse v759">§Or à sçavoirse leur simple ignorance,</span>
   <span class="verse v760"><span class="verse-number">[760]</span>En observant la loy, fut esperance</span>
   <span class="verse v761">D’en meriter lieu d’eternel repos,</span>
   <span class="verse v762"><mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark><span style="position: relative;"><span class="lem">scet</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content"><s>scet</s> sçayt<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span><span style="position: relative;">cella</span>.<span style="position: relative;"><span class="lem">Retournons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">retournans<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> au propos.<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">
                  <s>
                     Considerant aussy ja les
                     Rommains / 
                     En declinant tumber du plus au mains
                     </s>
                  <span class="coll-source"> [Aix419]</span></div>
            </div></sup></span></span>
   
   <span class="verse v765"><span class="verse-number">[765]</span>Ce <mark class="persName">Clodïon<span class="persName-info fw-normal on-right"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark>, congnoissant les
      limites</span>
   <span class="verse v766">De <mark title="placeName" instant="false" full="yes">Germanie</mark> estre à soy
      trop petites,</span>
   <span class="verse v767">Aprés avoir les Thuringes submys</span>
   <span class="verse v768">À sa puissance et en <mark title="placeName" instant="false" full="yes"><span style="position: relative;"><span class="lem">Hishargue</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
                  <div class="collation-content">hishargne<span class="coll-source"> [Vat966]</span></div>
               </div></sup></span></mark><sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup> mys</span>
   <span class="verse v769">Sieige royal pour ville principalle</span>
   <span class="verse v770"><span class="verse-number">[770]</span>De son royaulme et cité capitalle,</span>
   
   
   <hr data-img-id="f62">
   
   <span class="curr-title fw-bold"><mark class="persName">Clodion<span class="persName-info fw-normal on-left"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark> vainct les Rommains à <mark title="placeName" instant="false" full="yes">Cambray</mark> et à
      <mark title="placeName" instant="false" full="yes">Tournay</mark></span>
   <span class="verse v771">Considerant aussi ja les Rommains,</span>
   <span class="verse v772">En declinant, tumber du plus au moins,</span>
   <span class="verse v773">Et que n’alloit, des <mark title="placeName" instant="false" full="yes">Gaulles</mark>, plus guere
      homme</span>
   <span class="verse v774">Fors les Belgeoys, vers l’empereur de <mark title="placeName" instant="false" full="yes">Romme</mark>,</span>
   <span class="verse v775"><span class="verse-number">[775]</span>Fort desirant sondit royaulme accroistre</span>
   <span class="verse v776">Oultre le <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rhin</mark></mark>,
      envoya pour congnoistre</span>
   <span class="verse v777">Quel appareil de deffence y avoit.</span>
   <span class="verse v778">Par <span style="position: relative;"><span class="lem">ung</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22">
               <div class="collation-content">une<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> espie adverty, tost prevoit</span>
   <span class="verse v779"><span style="position: relative;">L’expedïant</span><span style="position: relative;">de</span> sa queste formee,</span>
   <span class="verse v780"><span class="verse-number">[780]</span>Si passa oultre et toute son armee.</span>
   <span class="verse v781">Lors la cité de <mark title="placeName" instant="false" full="yes">Cambray</mark> assiegea,</span>
   <span class="verse v782">La prist d’assaultpuys soudain deslogea</span>
   <span class="verse v783">Et, traversant la forest <mark title="placeName" instant="false" full="yes">Charbonniere</mark>,</span>
   <span class="verse v784">Vint à <mark title="placeName" instant="false" full="yes">Tournay</mark>,où enseigne et baniere</span>
   <span class="verse v785"><span class="verse-number">[785]</span><span style="position: relative;"><span class="lem">Desploye</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">Deslpoyee<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> aux champs, dont Rommains esbahys,</span>
   <span class="verse v786">Cuydans deffendre et garder le paÿs,</span>
   <span class="verse v787">Eurent combat de trés male adventure</span>
   <span class="verse v788">Qui cause fut de leur desconfiture.</span>
   <span class="verse v789">Eulx affoibliz et Françoys renforcéz</span>
   <span class="verse v790"><span class="verse-number">[790]</span>Furent soudain de bransler<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup>
      perforcéz<sup class="modal-call note-call" aria-hidden="true" id="noteCall6" data-modal-id="noteModal6">6</sup>.</span>
   <span class="verse v791">Moult fut ce jour par bataille rengee</span>
   <span class="verse v792">La natïon <mark title="placeName" instant="false" full="yes">rommaine</mark> endommaigee,</span>
   <span class="verse v793">Car <mark class="persName">Clodïon<span class="persName-info fw-normal on-right"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark>, portant armes
      d’effectz,</span>
   <span class="verse v794">Rendit souldardz rommains mortz et
      deffaiz.</span>
   <span class="verse v795"><span class="verse-number">[795]</span>§Puysque <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">de<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span><mark title="placeName" instant="false" full="yes">Gaule</mark> avons fait mentïon</span>
   
   
   <hr data-img-id="f63">
   
   <span class="curr-title fw-bold">De la division de
      <mark title="placeName" instant="false" full="yes">Gaulle</mark></span>
   <span class="verse v796">Dicte ores <mark title="placeName" instant="false" full="yes">France</mark><span style="position: relative;"><span class="lem">et franche</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">est france<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> natïon,</span>
   <span class="verse v797">Il sembleroit chose bien raisonnable,</span>
   <span class="verse v798">Bonne, licite et assez convenable,</span>
   <span class="verse v799">Pour en toucher icy endroit, qu’on quist</span>
   <span class="verse v800"><span class="verse-number">[800]</span>L’oppinïon <mark class="persName">Cesar<span class="persName-info fw-normal on-right"><b>Jules César</b> (entre 12/07/100 et 13/07/100 — 15/03/44 av&nbsp;J.C.)<span class="hr-short">&nbsp;</span>Général et homme d'État romain</span></mark> qui la
      conquist</span>
   <span class="verse v801">Toute en <span class="num" type="cardinal" value="10"><span class="date" dur="P10Y" instant="false">dix</span></span> ans, veu que à la discipline</span>
   <span class="verse v802">Du sien recit se accorde et l’ensuyt <mark class="persName">Pline<span class="persName-info fw-normal on-right"><b>Pline l'Ancien</b> (entre 23 et 24 — entre 24/08/79 et 25/08/79)<span class="hr-short">&nbsp;</span>Homme politique, naturaliste et philosophe romain</span></mark>.</span>
   <span class="verse v803">Si font de <span style="position: relative;">mesme</span> autres plusieurs aussi,</span>
   <span class="verse v804">Disans la <mark title="placeName" instant="false" full="yes">Gaule</mark> estre partie
      ainsi</span>
   <span class="verse v805"><span class="verse-number">[805]</span>Et divisee en <span class="num" type="cardinal" value="3">troys</span> provinces telles</span>
   <span class="verse v806">Que obtiennent loz de gloyres immortelles.</span>
   <span class="verse v807">Si fault noter leur commancement pris</span>
   <span class="verse v808">D’illustres roys, extiméz gentz de pris,</span>
   <span class="verse v809">Qui les premiers en <span style="position: relative;"><span class="lem">icelle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31">
               <div class="collation-content">icelles<span class="coll-source"> [BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966]</span></div>
            </div></sup></span> regnerent</span>
   <span class="verse v810"><span class="verse-number">[810]</span><span style="position: relative;"><span class="lem">Et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">pareilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content">parelz<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span> noms d’eulx mesmes leur donnerent.</span>
   <span class="verse v811">§De <mark class="persName">Celte<span class="persName-info fw-normal on-right"><b>Celte</b><span class="hr-short">&nbsp;</span>Personnage légendaire</span></mark><sup class="modal-call note-call" aria-hidden="true" id="noteCall7" data-modal-id="noteModal7">7</sup> roy, par renommee anticque,</span>
   <span class="verse v812">Jadis nommee en fut <mark title="placeName" instant="false" full="yes">Gaule</mark>celticque&nbsp;;</span>
   <span class="verse v813">De <mark class="persName">Belgïus<span class="persName-info fw-normal on-right"><b>Bolgios</b> (Ve siècle avant J.C. — )<span class="hr-short">&nbsp;</span>Chef guerrier gaulois</span></mark>, la <mark title="placeName" instant="false" full="yes">Belgicque</mark> prist nom</span>
   <span class="verse v814">Et <mark title="placeName" instant="false" full="yes">Acquitaine</mark> aussi acquist renom</span>
   <span class="verse v815"><span class="verse-number">[815]</span>Du roy nommé <mark class="persName">Galatheus<span class="persName-info fw-normal on-right"><b>Galates</b><span class="hr-short">&nbsp;</span>Fils d'Hercule dans la mythologie grecque</span></mark>,dont toute</span>
   <span class="verse v816"><span style="position: relative;"><span class="lem"><mark title="placeName" instant="false" full="yes">Gaule</mark> fut dicte,
            il n’y a point de doubte.</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v817">Mais cause avons et la raison certaine</span>
   <span class="verse v818">Pourquoy ainsi la nommons
      <mark title="placeName" instant="false" full="yes">Acquitaine</mark>.</span>
   <span class="verse v819">C’est pour la grande habondance des eaux</span>
   
   
   <hr data-img-id="f64">
   
   <span class="curr-title fw-bold">Des rivieres et cités en <mark title="placeName" instant="false" full="yes">Gaulle</mark>
      celtique</span>
   <span class="verse v820"><span class="verse-number">[820]</span>Qu’elle contient en fluves et ruysseaux.</span>
   <span class="verse v821">Si fault, afin que erreur ne nous esvince,</span>
   <span class="verse v822">Toucher ung mot de chascune province.</span>
   <span class="verse v823"><mark title="placeName" instant="false" full="yes">Gaule</mark> celticque, ainsi qu’en veoy les preuves,</span>
   
   <span class="verse v824">Est <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">ci <span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span>situee entre ces <span class="num" type="cardinal" value="3">troys</span> beaux fleuves&nbsp;:</span>
   <span class="verse v825"><span class="verse-number">[825]</span>Le <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rhone</mark></mark>,<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Saine</mark></mark> et
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Marne</mark></mark>. Aussi y
      sont</span>
   <span class="verse v826">Fleuves parmy, dont aucuns le cours ont</span>
   <span class="verse v827">Impetueux :<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">l’Isere</mark></mark> et la
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Durance</mark></mark></span>
   <span class="verse v828">En sont tesmoings. Autres <span style="position: relative;"><span class="lem">a</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content">et<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> d’apparance</span>
   <span class="verse v829">Comme <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Aube</mark></mark>,<span style="position: relative;"><span class="lem"><mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Sorgue</mark></mark></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39">
               <div class="collation-content">Sorbe<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">
                  <div>Sorgne<span class="coll-source"> [Cha514]</span> ; </div>
                  <div>et Sorgne<span class="coll-source"> [Vat966]</span></div>
               </div>
            </div></sup></span> et
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Vïenne</mark></mark>. Or voyon</span>
   <span class="verse v830"><span class="verse-number">[830]</span>Quelles citéz elle contient :<mark title="placeName" instant="false" full="yes">Lÿon</mark>,</span>
   <span class="verse v831"><mark title="placeName" instant="false" full="yes">Authun</mark>,<mark title="placeName" instant="false" full="yes">Mascon</mark>,<mark title="placeName" instant="false" full="yes">Chalon</mark>,<mark title="placeName" instant="false" full="yes">Troyës</mark>,<mark title="placeName" instant="false" full="yes">Auxerre</mark>,</span>
   <span class="verse v832"><mark title="placeName" instant="false" full="yes">Sens</mark>,<mark title="placeName" instant="false" full="yes">Paris</mark>,<mark title="placeName" instant="false" full="yes">Meaux</mark>,<mark title="placeName" instant="false" full="yes">Chartres</mark>. Mais il fault se erre</span>
   <span class="verse v833"><span style="position: relative;"><span class="lem">En</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content">À<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> mon chemin accueillir <mark title="placeName" instant="false" full="yes">Orlëans</mark></span>
   <span class="verse v834">Et s’en aller par <mark title="placeName" instant="false" full="yes">Evreux</mark> et <mark title="placeName" instant="false" full="yes">Le Mans</mark></span>
   <span class="verse v835"><span class="verse-number">[835]</span>Et sans laisser <mark title="placeName" instant="false" full="yes">Seez</mark>,<mark title="placeName" instant="false" full="yes">Avranches</mark>,<mark title="placeName" instant="false" full="yes">Lisieux</mark>,</span>
   <span class="verse v836">Passer <span title="Texte résultant d'une substitution">parmy</span><mark title="placeName" instant="false" full="yes"><span style="position: relative;"><span class="lem">Constances</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
                  <div class="collation-content">Coustances<span class="coll-source"> [Cha514]</span></div>
               </div></sup></span></mark><span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44">
               <div class="collation-content">à<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span><mark title="placeName" instant="false" full="yes">Bayeux</mark>,</span>
   <span class="verse v837"><mark title="placeName" instant="false" full="yes">Vannes</mark> aussi,<mark title="placeName" instant="false" full="yes">Renes</mark>,<mark title="placeName" instant="false" full="yes">Nantes</mark>,<mark title="placeName" instant="false" full="yes">Angiers</mark>,</span>
   <span class="verse v838"><mark title="placeName" instant="false" full="yes">Nevers</mark>,<mark title="placeName" instant="false" full="yes">Vïenne</mark>,<mark title="placeName" instant="false" full="yes">Embrun</mark>,<mark title="placeName" instant="false" full="yes">Gap</mark> et
      <mark title="placeName" instant="false" full="yes">Viviers</mark>,</span>
   <span class="verse v839"><mark title="placeName" instant="false" full="yes">Sistron</mark>,<mark title="placeName" instant="false" full="yes">Grenoble</mark>,<mark title="placeName" instant="false" full="yes">Orenges</mark>,<mark title="placeName" instant="false" full="yes">Avignon</mark>,</span>
   <span class="verse v840"><span class="verse-number">[840]</span><mark title="placeName" instant="false" full="yes">Arles</mark>,<mark title="placeName" instant="false" full="yes">Marseille</mark>,<mark title="placeName" instant="false" full="yes">Aix</mark>,<mark title="placeName" instant="false" full="yes">Nice</mark> et
      <mark title="placeName" instant="false" full="yes">Cavaillon</mark>.</span>
   <span class="verse v841">§Toute
      <mark title="placeName" instant="false" full="yes">Acquitaine</mark> est à l’aise entendue</span>
   <span class="verse v842">Par les citéz que tient son extendue,</span>
   <span class="verse v843">Qui sont <mark title="placeName" instant="false" full="yes">Clermont</mark>,<mark title="placeName" instant="false" full="yes">Le Puy</mark>,<mark title="placeName" instant="false" full="yes">Luxon</mark>,<mark title="placeName" instant="false" full="yes">Narbonne</mark>,</span>
   <span class="verse v844"><mark title="placeName" instant="false" full="yes">Rodays</mark>,<mark title="placeName" instant="false" full="yes">Thouloze</mark>,<mark title="placeName" instant="false" full="yes">Angoulesme</mark>,<mark title="placeName" instant="false" full="yes">Bayonne</mark>,</span>
   
   
   <hr data-img-id="f65">
   
   <span class="curr-title fw-bold">Villes, forestz et rivieres de la
      <mark title="placeName" instant="false" full="yes">Gaulle</mark> belgicque</span>
   <span class="verse v845"><span class="verse-number">[845]</span><mark title="placeName" instant="false" full="yes">Tarbe</mark>,<mark title="placeName" instant="false" full="yes">Sainct Flour</mark>,<mark title="placeName" instant="false" full="yes">Carcassonne</mark>,<mark title="placeName" instant="false" full="yes">Cäours</mark>,</span>
   <span class="verse v846"><mark title="placeName" instant="false" full="yes">Condon</mark>,<mark title="placeName" instant="false" full="yes">Alby</mark>,<mark title="placeName" instant="false" full="yes">Perigort</mark>,<mark title="placeName" instant="false" full="yes">Bourges</mark>,<mark title="placeName" instant="false" full="yes">Tours</mark>,</span>
   <span class="verse v847"><mark title="placeName" instant="false" full="yes">Lodeve</mark>,<mark title="placeName" instant="false" full="yes">Foix</mark>,<mark title="placeName" instant="false" full="yes">
         <span style="position: relative;"><span class="lem">Albret</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45">
                  <div class="collation-content">Alebret<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span>
         </mark>,<mark title="placeName" instant="false" full="yes">Sainct Pons</mark>,<mark title="placeName" instant="false" full="yes">Bordeaux</mark>,</span>
   <span class="verse v848"><mark title="placeName" instant="false" full="yes">Xainctes</mark>,<mark title="placeName" instant="false" full="yes">Lombees</mark>,<mark title="placeName" instant="false" full="yes">Lymoges</mark>,<mark title="placeName" instant="false" full="yes">Lestore</mark>,<mark title="placeName" instant="false" full="yes">Aux</mark></span>
   <span class="verse v849">Et <mark title="placeName" instant="false" full="yes">Montauban</mark>. Plus n’y en sçay de poix</span>
   <span class="verse v850"><span class="verse-number">[850]</span><span style="position: relative;"><span class="lem">
            <span title="Texte résultant d'une substitution">
               <span class="choice"><span title="Abbrégé en Sinō">Sinon</span></span>
               <mark title="placeName" instant="false" full="yes">Poictiers</mark>
               </span>
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46">
               <div class="collation-content">Fors seullement<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966, BnFfr17274, Cha514]</span></div>
            </div></sup></span>,<mark title="placeName" instant="false" full="yes">Nymes</mark> et
      <mark title="placeName" instant="false" full="yes">Mirepoix</mark>.</span>
   <span class="verse v851"><span style="position: relative;"><span class="lem">Ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47">
               <div class="collation-content">Des<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> fleuves grandz sont
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Gironde</mark></mark>,<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Dordonne</mark></mark>,</span>
   <span class="verse v852"><mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Loyre</mark></mark>,l’<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Alier</mark></mark>,<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Cher</mark></mark>,<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Charente</mark></mark> et
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Garonne</mark></mark>.</span>
   <span class="verse v853">§<mark title="placeName" instant="false" full="yes">Gaule</mark> belgicque est des <span style="position: relative;"><span class="lem">fleuves</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48">
               <div class="collation-content">fleuve<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> pourveue,</span>
   <span class="verse v854">Cy contenuz qu’on voyt à plaine veue.</span>
   <span class="verse v855"><span class="verse-number">[855]</span><span class="num" type="cardinal" value="10">Dix</span><span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49">
               <div class="collation-content">bien<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> bien comptéz se y trouveront en somme</span>
   <span class="verse v856">Et sont : le
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rhin</mark></mark>, la <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Sambre</mark></mark>,<span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">le<span class="coll-source"> [BnFfr23145, Aix419]</span></div>
            </div></sup></span><mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Lys</mark></mark>,<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Somme</mark></mark>,</span>
   <span class="verse v857"><mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">
            <span style="position: relative;"><span class="lem">
                  <mark title="placeName" instant="false" full="yes">Soone</mark>
                  </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51">
                     <div class="collation-content">
                        Soene
                        <span class="coll-source"> [BnFfr17274]</span></div>
                     <div class="collation-content">
                        Sorne
                        <span class="coll-source"> [BnFfr23145, BnFfr5299]</span></div>
                     <div class="collation-content">
                        Sosne
                        <span class="coll-source"> [Aix419]</span></div>
                  </div></sup></span>
            </mark>
         </mark>,l’<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">Escault</mark>
         </mark>,<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">Meuse</mark>
         </mark>,<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">
            <span style="position: relative;"><span class="lem">Moselle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52">
                     <div class="collation-content">Moiselle<span class="coll-source"> [Cha514]</span></div>
                  </div></sup></span>
            </mark>
         </mark>,<mark title="placeName" instant="false" full="yes">
         <mark title="geogName" instant="false">Saine</mark>
         </mark></span>
   <span class="verse v858">Et <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Marne</mark></mark> aussi qui
      parfaict la disaine.</span>
   <span class="verse v859">§Les grandz forestz, se le liseur ne tenne<sup class="modal-call note-call" aria-hidden="true" id="noteCall8" data-modal-id="noteModal8">8</sup></span>
   <span class="verse v860"><span class="verse-number">[860]</span>En les <span style="position: relative;">nommant</span>, sont&nbsp;:
      <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Mormault</mark></mark>
      et <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Ardenne</mark></mark>&nbsp;;</span>
   <span class="verse v861">§Les plus <span style="position: relative;">haultz</span> montz<mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Sainct Claude</mark></mark>,les <mark title="placeName" instant="false" full="yes">Faucilles</mark></span>
   <span class="verse v862">Et <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Vosegus</mark></mark>. Quant aux citéz et villes</span>
   <span class="verse v863">Plus de renom, neufves et ancïennes,</span>
   <span class="verse v864">Ce sont <mark title="placeName" instant="false" full="yes">Cambray</mark>,<mark title="placeName" instant="false" full="yes">Uttrecht</mark>,<mark title="placeName" instant="false" full="yes">Valencïennes</mark></span>
   <span class="verse v865"><span class="verse-number">[865]</span><mark title="placeName" instant="false" full="yes">Treves</mark>,<mark title="placeName" instant="false" full="yes">Strabourg</mark>,<mark title="placeName" instant="false" full="yes">Aix</mark>,<mark title="placeName" instant="false" full="yes">Coulongne</mark>,<mark title="placeName" instant="false" full="yes">Maiance</mark>,</span>
   <span class="verse v866"><mark title="placeName" instant="false" full="yes">Liege</mark>,<mark title="placeName" instant="false" full="yes">Tournay</mark>,<mark title="placeName" instant="false" full="yes">Arras</mark>,<mark title="placeName" instant="false" full="yes">Basle</mark>,<mark title="placeName" instant="false" full="yes">Constance</mark>,</span>
   <span class="verse v867"><mark title="placeName" instant="false" full="yes">Amyans</mark>,<mark title="placeName" instant="false" full="yes">Soissons</mark>,<mark title="placeName" instant="false" full="yes">Noyon</mark>,<mark title="placeName" instant="false" full="yes">Senlis</mark>,<mark title="placeName" instant="false" full="yes">Beauvais</mark>,</span>
   <span class="verse v868"><mark title="placeName" instant="false" full="yes">Reims</mark>,<mark title="placeName" instant="false" full="yes">Meaulx</mark>,<mark title="placeName" instant="false" full="yes">Roüan</mark>,<mark title="placeName" instant="false" full="yes">Laon</mark>,<mark title="placeName" instant="false" full="yes">Chalons</mark>,<mark title="placeName" instant="false" full="yes">Langres</mark>,<mark title="placeName" instant="false" full="yes">Metz</mark>,</span>
   <span class="verse v869"><mark title="placeName" instant="false" full="yes"><span style="position: relative;"><span class="lem">Dole</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55">
                  <div class="collation-content">Tole<span class="coll-source"> [BnFfr4967]</span></div>
               </div></sup></span></mark>,<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56">
               <div class="collation-content">Saulins <span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span><mark title="placeName" instant="false" full="yes">Salins</mark>,<mark title="placeName" instant="false" full="yes">Toul</mark>,<mark title="placeName" instant="false" full="yes">Verdun</mark>,<mark title="placeName" instant="false" full="yes">Besançon</mark>,</span>
   
   
   <hr data-img-id="f66">
   
   <span class="curr-title fw-bold">Des villes de <mark title="placeName" instant="false" full="yes">France</mark></span>
   <span class="verse v870"><span class="verse-number">[870]</span><mark title="placeName" instant="false" full="yes">Losanne</mark> donneà <mark title="placeName" instant="false" full="yes">Genesve</mark> le son</span>
   <span class="verse v871">De <mark title="placeName" instant="false" full="yes">Chambery</mark>. Se plus en a ou moins,</span>
   <span class="verse v872">Comme <span style="position: relative;"><span class="lem">innocent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57">
               <div class="collation-content">ignocent<span class="coll-source"> [BnFfr23145]</span></div>
            </div></sup></span>, j’en lave icy mes mains.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(738);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Obscure,
      ténébreuse.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(750);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Adoration.</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(756);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Autels.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(768);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Nom défiguré. Les <i title="Titre">Grandes Chroniques de
         France</i>, livre I, chap. 5 (t. 1, p. 21) ont Dispergue,
      calque du latin Dispargum, qui n’est pas clairement identifié.
      </div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(790);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Faiblir.</div>
   <h4 class="modal-title" modal-title="noteModal6"><a href="javascript:versePointer(790);">Note n°6</a></h4>
   <div class="modal-text" modal-text="noteModal6">Contraints.</div>
   <h4 class="modal-title" modal-title="noteModal7"><a href="javascript:versePointer(811);">Note n°7</a></h4>
   <div class="modal-text" modal-text="noteModal7">Personnage vraisemblablement
      forgé par Cretin ou l’une de ses sources pour faire correspondre un
      nom de roi à une région.</div>
   <h4 class="modal-title" modal-title="noteModal8"><a href="javascript:versePointer(859);">Note n°8</a></h4>
   <div class="modal-text" modal-text="noteModal8">Fatigue.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Chapitre sixiesme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(724);">v. 724</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>d’habondante</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(726);">v. 726</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>
            Et tant voulut ses gestes honnorer,
            </span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(726);">v. 726</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>De</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(727);">v. 727</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>
            Des bonnes meurs du sien progeniteur
            </span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(739);">v. 739</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>bridéz</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(743);">v. 743</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>feussent</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(747);">v. 747</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr5299 </span>de</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(750);">v. 750</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299 </span>de</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(755);">v. 755</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>voullans</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(758);">v. 758</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Cha514 </span>folz</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(762);">v. 762</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>scet</s> sçayt</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(762);">v. 762</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>retournans</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(762);">v. 762</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>
            <s>
               Considerant aussy ja les
               Rommains / 
               En declinant tumber du plus au mains
               </s>
            </span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(768);">v. 768</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>hishargne</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(778);">v. 778</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>une</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(785);">v. 785</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Deslpoyee</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(795);">v. 795</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>de</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(796);">v. 796</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>est france</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(809);">v. 809</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966 </span>icelles</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(810);">v. 810</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(810);">v. 810</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>parelz</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(816);">v. 816</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(824);">v. 824</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>ci </span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(828);">v. 828</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>et</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(829);">v. 829</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Sorbe</span></div>
      
      <div class="coll-text col-10">
         <div><span><span class="coll-source">Cha514 </span>Sorgne</span> ; </div>
         <div><span><span class="coll-source">Vat966 </span>et Sorgne</span></div>
      </div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(833);">v. 833</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>À</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(836);">v. 836</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Coustances</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(836);">v. 836</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>à</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(847);">v. 847</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Alebret</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(850);">v. 850</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966, BnFfr17274, Cha514 </span>Fors seullement</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(851);">v. 851</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Des</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(853);">v. 853</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>fleuve</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(855);">v. 855</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>bien</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(856);">v. 856</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419 </span>le</span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(857);">v. 857</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            Soene
            </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr5299 </span>
            Sorne
            </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>
            Sosne
            </span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(857);">v. 857</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Moiselle</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(869);">v. 869</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Tole</span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(869);">v. 869</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Saulins </span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(872);">v. 872</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>ignocent</span></div>
      </div>
</div>
{% endmacro %}
