
{% macro chapterTitle() %}Chapitre 7{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('7_chap_6')"><i class="fa-solid fa-arrow-left"></i> Chapitre 6</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('9_chap_8')">Chapitre 8 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f66/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f66/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f66" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f67/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f67/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f67" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f68/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f68/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f68" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f69/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f69/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f69" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f70/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f70/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f70" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f71/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f71/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f71" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f66">
   <p title="Numéro de folio" class="text-end"><i>20v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v873">§
         <span class="lem">Se lœil,</span>
         
          a droit, lhiſtoire a eſprouuee.</span>
      <span class="verse v874">Il 
         <span class="lem">congnoiſtra</span>
         
          mener a plein effect,</span>
      <span class="verse v875"><span class="verse-number">[875]</span>
         <span class="lem">Sommairement / ce que iadis fut</span>
         
         
         <span class="lem">faict</span>
         
         </span>
      <span class="verse v876">Ou temps du <span class="num" type="ordinal" value="3">tiers</span> roy
         francoys Merouee.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre <span class="num" type="ordinal" value="7">vii<sup>e</sup></span>.</span>
      
      
      
      </blockquote>
   
   
   <hr data-img-id="f67">
   <span title="Numéro de folio" class="folio-num"><i>21r</i></span>
   
   
   <hr data-img-id="f68">
   
   <span class="folio"><span class="d-block fw-bold mb-3">De Merouee.iii<sup>e</sup>. roy. de <mark title="placeName" instant="false" full="yes">france</mark>. couſin de clodion</span><span title="Numéro de folio" class="folio-num"><i>21v</i></span></span>
   
   <span class="verse v877">DEClodion le treſpas aduenant,</span>
   <span class="verse v878">Apꝛes <span class="num" type="cardinal" value="20"><span class="date" dur="P20Y" instant="false">vingt</span></span> ans paſſez / quil fut
      regnant,</span>
   <span class="verse v879">Filz ne laiſſa /.
      <span class="lem">Dont, pour cauſe pꝛouuee</span>
      
      
      .</span>
   <span class="verse v880"><span class="verse-number">[880]</span>Luy ſucceda 
      <span class="lem">ſon</span>
      
      
       couſin 
      <span class="lem">Merouee</span>
      
      .</span>
   <span class="verse v881">Comme extime, de tous, mieulx apparent</span>
   <span class="verse v882">Et dicelluy le plus pꝛouchain parent.</span>
   <span class="verse v883">De 
      <span class="lem">ceſtuy roy</span>
      
      , ainſi que congnoiſſance</span>
   <span class="verse v884">Certaine auons / commenca la naiſſance,</span>
   <span class="verse v885"><span class="verse-number">[885]</span>Sourſe / oꝛigine / et generation</span>
   <span class="verse v886">Des roys / dont puys / ſe fait
      narration,</span>
   <span class="verse v887">Iuſquau ſecond 
      <span class="lem">Pepin</span>
      
      .Le quel fut pere</span>
   <span class="verse v888">De Charlemaigne /. Et affin quil appere</span>
   <span class="verse v889">Combien 
      <span class="lem"></span>
      
      
      <span class="lem">ce 
         <span class="lem">
            <span title="substitution"><span class="align-top" title="Ajout">bon</span><s class="align-bottom" title="Suppression"><s></s></s></span>
            </span>
         
         
         </span>
      
       pꝛeudhomme
      <span class="lem"></span>
      
       vertueux</span>
   <span class="verse v890"><span class="verse-number">[890]</span>Eut floꝛiſſant renom, et ſumptueux,</span>
   <span class="verse v891">On treuue aſſez, par anticques hiſtoyꝛes,</span>
   <span class="verse v892">Les ſiens haultz faictz apparentz et notoyꝛes.</span>
   <span class="verse v893">Et tout ainſi quen gꝛande infirmite</span>
   <span class="verse v894">De lourd traueil / peine et calamite,</span>
   <span class="verse v895"><span class="verse-number">[895]</span>Vertu ſe monſtre en degꝛe dexcellence,</span>
   <span class="verse v896">Auſſi apꝛes la cruelle inſolence,</span>
   <span class="verse v897">Diuers trauaulx / peines / vexations,</span>
   <span class="verse v898">Bꝛuictz / ſcandaleux / et
      perſecutions</span>
   <span class="verse v899">De guerre fiere, auſtere et foꝛt doubtable,</span>
   <span class="verse v900"><span class="verse-number">[900]</span>Il ſe monſtra vtille et pꝛouffitable</span>
   <span class="verse v901">Aux ſiens ſubiectz / pour loꝛs excercitez</span>
   
   
   <hr data-img-id="f69">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Des maulx par les huns faiz aux francoys.</span><span title="Numéro de folio" class="folio-num"><i>22r</i></span></span>
   <span class="verse v902">A ſouſtenir dures aduerſitez.</span>
   <span class="verse v903">Car, en ce temps, les 
      <span class="lem">Huns</span>
      
      , par ribleries,</span>
   <span class="verse v904">Oppꝛeſſions / cruaultez / pilleries,</span>
   <span class="verse v905"><span class="verse-number">[905]</span>Courſes / aſſaultz /
      <span class="lem">et foꝛſfaictz</span>
      
       oultraigeux,</span>
   <span class="verse v906">En leurs effoꝛtz furent ſi couraigeux</span>
   <span class="verse v907">Que la cite de <mark title="placeName" instant="false" full="yes">Treues</mark> aſſiegerent</span>
   <span class="verse v908">Et le pays denuiron fouraigerent.</span>
   <span class="verse v909">Ribleurs / robeurs / ſatrappes / ſaquemens,</span>
   <span class="verse v910"><span class="verse-number">[910]</span>Et boutefeuz firent tant de tourmens,</span>
   <span class="verse v911">Ains auoir paix paiſible recouuerte,</span>
   <span class="verse v912">Quen toute <mark title="placeName" instant="false" full="yes">Gaule</mark> y eut terre couuerte</span>
   <span class="verse v913">De maulx plongez en deſolations,</span>
   <span class="verse v914">Oultraiges / gꝛiefs / et tribulations,</span>
   <span class="verse v915"><span class="verse-number">[915]</span>Occiſions / rapines /
      <span class="lem">violences</span>
      
      
       /</span>
   <span class="verse v916">Maleuretez / tempeſtes /
      <span class="lem">peſtilences</span>
      
      ,</span>
   <span class="verse v917">
      <span class="lem">Chierte</span>
      
      
       de biens / angoiſſeuſes douleurs,</span>
   <span class="verse v918">Douloureux cris / regꝛetz, ſangloutz / et pleurs,</span>
   <span class="verse v919">Pays bꝛuſlez / pucelles effoꝛcees,</span>
   <span class="verse v920"><span class="verse-number">[920]</span>Rengꝛeigemens de
      plainctes 
      <span class="lem">diſpercees</span>
      
      ,</span>
   <span class="verse v921">Si 
      <span class="lem">quen</span>
      
       pillant iuſques a <mark title="placeName" instant="false" full="yes">Oꝛleans</mark></span>
   <span class="verse v922">Fut la cite aſſieigee /. Oꝛ. leans,</span>
   <span class="verse v923">Loꝛs floꝛiſſoit en ſainctete de vie</span>
   <span class="verse v924">Le bon eueſque Aignen, qui toſt conuie</span>
   <span class="verse v925"><span class="verse-number">[925]</span>Les citoyens a deuote oꝛaiſon,</span>
   <span class="verse v926">
      <span class="lem">Ieuſne et aulmoſne</span>
      
       /Allegant pour raiſon</span>
   
   
   <hr data-img-id="f70">
   
   <span class="folio"><span class="d-block fw-bold mb-3"><mark title="placeName" instant="false" full="yes">Orleans</mark> par les huns aſſiegee</span><span title="Numéro de folio" class="folio-num"><i>22v</i></span></span>
   <span class="verse v927">Lire de Dieu, encontre eulx
      pꝛouocquee</span>
   <span class="verse v928">
      <span class="lem">Par leurs deffaultz, diſant pour reuocquee</span>
      
      </span>
   <span class="verse v929">Veoir la ſentence, eſtre neceſſite</span>
   <span class="verse v930"><span class="verse-number">[930]</span>Par penitence affliger la cite.</span>
   <span class="verse v931">Loꝛs a ſa voix et parolle nayfue,</span>
   <span class="verse v932">Pꝛenans exemple au peuple de <mark title="placeName" instant="false" full="yes">Niniue</mark>,</span>
   <span class="verse v933">Cendꝛes et ſacz / extendent ſur 
      <span class="lem">leurs</span>
      
       chefz,</span>
   <span class="verse v934">Nudz piedz ſen vont en plourant leurs pechez,</span>
   <span class="verse v935"><span class="verse-number">[935]</span>Gꝛandz et petitz ieuſnent /.Et mais encoꝛes,</span>
   <span class="verse v936">Tous les troppeaux des beſtes et peccoꝛes.</span>
   <span class="verse v937">Le bon pꝛelat fait interceſſions,</span>
   <span class="verse v938">En 
      <span class="lem"></span>
      
      celebꝛant belles pꝛoceſſions,</span>
   <span class="verse v939">
      <span class="lem">Et</span>
      
       peuple induyt a ſi bonne doctrine</span>
   <span class="verse v940"><span class="verse-number">[940]</span>Quen cueur contrict, frappant ſur ſa poictrine,</span>
   <span class="verse v941">Diſt /&nbsp;<span title="Discours direct"><i>Peccaui</i></span> /.Et rend vomiſſemens</span>
   <span class="verse v942">De pleurs / ſouſpirs / et gꝛandz gemiſſemens,</span>
   <span class="verse v943">En requerant a Dieu
      miſericoꝛde.</span>
   <span class="verse v944">§O Sainct paſteur /. quant de toy me recoꝛde,</span>
   <span class="verse v945"><span class="verse-number">[945]</span>Ie fays ſouhait / et pꝛie a ioinctes mains</span>
   <span class="verse v946">Que les pꝛelatz / dont au monde y a maintz</span>
   <span class="verse v947">Mal extimez / feuſſent a toy ſemblables !</span>
   <span class="verse v948">Tant de pechez et maulz innumerables</span>
   <span class="verse v949">
      <span class="lem">Quon</span>
      
       voyt regner neuſſent pas ſi gꝛandz cours !</span>
   <span class="verse v950"><span class="verse-number">[950]</span>Ceſt incident, diſons en deux motz courtz,</span>
   <span class="verse v951">De ceſte gent inicque et ſcandaleuſe,</span>
   
   
   <hr data-img-id="f71">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Les huns vaincuz par le roy Merouee.</span><span title="Numéro de folio" class="folio-num"><i>23r</i></span></span>
   <span class="verse v952">Certes ce fut choſe miraculeuſe</span>
   <span class="verse v953">Car ſi ſoudain de la ſeſuanouyt,</span>
   <span class="verse v954">Quoncques depuys on ne la veit nouyt.</span>
   <span class="verse v955"><span class="verse-number">[955]</span>Mais touteſuoyes /Iay bien leu en hiſtoyꝛe</span>
   <span class="verse v956">Que 
      <span class="lem">Merouee
         
         <span class="lem">obtint</span>
         
          / belle</span>
      
       victoyꝛe,</span>
   <span class="verse v957">En 
      <span class="lem"></span>
      
      <mark title="placeName" instant="false" full="yes">Chalonnois</mark>, contre le roy des huns</span>
   <span class="verse v958">Nomme Attile / Et 
      <span class="lem">maintiennent</span>
      
       les ungs</span>
   <span class="verse v959">Y auoir eu bataille ſi treſfoꝛte</span>
   <span class="verse v960"><span class="verse-number">[960]</span>Que, de la fiere et auſtere cohoꝛte,</span>
   <span class="verse v961"><span class="num" type="cardinal" value="180000">Cent quatre vingtz mil</span>
      hommes, ſoubz le fais</span>
   <span class="verse v962">De guerre hoſtille / y furent tous deffaiz.</span>
   <span class="verse v963">Car Ecius, le ſenateur
      rommain,</span>
   <span class="verse v964">
      <span class="lem">Au roy pꝛedict</span>
      
      
       / alie, tint la main</span>
   <span class="verse v965"><span class="verse-number">[965]</span>Du bon endꝛoit /.et tant firent a lheure</span>
   <span class="verse v966">Que des deux partz obtindꝛent la meilleure,</span>
   <span class="verse v967">Thierry
      <span class="lem">le</span>
      
       roy des uiſegotz / tenant</span>
   <span class="verse v968">La 
      <span class="lem">part diceulx</span>
      
      
       /. et le choc ſouſtenant,</span>
   <span class="verse v969">Y fuſt occis. Ainſi doncq terminee,</span>
   <span class="verse v970"><span class="verse-number">[970]</span>Des 
      <span class="lem">Huns</span>
      
      , la foꝛce / et toute exterminee</span>
   <span class="verse v971">Auec les ſiens / celluy roy ſeſiouyt</span>
   <span class="verse v972">Et du royaulme en 
      <span class="lem">bonne paix</span>
      
       iouyt.</span>
   <span class="verse v973"><span class="num" type="cardinal" value="18"><span class="date" dur="P18Y" instant="false">Dix 
            <span class="lem">et</span>
            
             huyt</span></span> ans regna /
      <span class="lem">dit</span>
      
       leſcripture,</span>
   <span class="verse v974">Et puys paya le tribut de nature.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f66">
   <blockquote class="ms-2">
      
      <span class="verse v873">§<span style="position: relative;"><span class="lem">Se l’œil,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
                  <div class="collation-content">Soleil<span class="coll-source"> [BnFfr4967]</span></div>
               </div></sup></span> à droit, l’histoire a esprouvee,</span>
      <span class="verse v874">Il <span style="position: relative;"><span class="lem">congnoistra</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
                  <div class="collation-content">pourra bien<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span> mener à plein effect,</span>
      <span class="verse v875"><span class="verse-number">[875]</span><span style="position: relative;"><span class="lem">Sommairement, ce que jadis fut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
                  <div class="collation-content">Ce que jadiz fut demené et<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span><span style="position: relative;">faict</span></span>
      <span class="verse v876">Ou temps du <span class="num" type="ordinal" value="3">tiers</span> roy
         françoys <mark class="persName">Merovee<span class="persName-info fw-normal on-right"><b>Mérovée Ier</b> (415 — 457)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (451-457)<br/></span></mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre <span class="num" type="ordinal" value="7">vii<sup>e</sup></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">Chapitre septiesme<span class="coll-source"> [Cha514]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   <hr data-img-id="f67">
   
   
   
   <hr data-img-id="f68">
   
   <span class="curr-title fw-bold">De <mark class="persName">Merovee<span class="persName-info fw-normal on-left"><b>Mérovée Ier</b> (415 — 457)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (451-457)<br/></span></mark>iii<sup>e</sup> roy de <mark title="placeName" instant="false" full="yes">France</mark>, cousin de <mark class="persName">Clodion<span class="persName-info fw-normal on-left"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark></span>
   
   <span class="verse v877">De<mark class="persName">Clodïon<span class="persName-info fw-normal on-right"><b>Clodion le Chevelu</b> (393 — 448)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (428-448)<br/></span></mark> le trespas advenant,</span>
   <span class="verse v878">Aprés <span class="num" type="cardinal" value="20"><span class="date" dur="P20Y" instant="false">vingt</span></span> ans passéz qu’il fut
      regnant,</span>
   <span class="verse v879">Filz ne laissa.<span style="position: relative;"><span class="lem">Dont, pour cause prouvee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content">Dont, pour cause approuvee<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">par quoy à la couronne<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>,</span>
   <span class="verse v880"><span class="verse-number">[880]</span>Luy succeda <span style="position: relative;"><span class="lem">son</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">ung sien<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content"><span>le sien</span><span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> cousin <mark class="persName"><span style="position: relative;"><span class="lem">Merovee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
                  <div class="collation-content">Meronne<span class="coll-source"> [Vat966]</span></div>
               </div></sup></span><span class="persName-info fw-normal on-right"><b>Mérovée Ier</b> (415 — 457)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (451-457)<br/></span></mark>,</span>
   <span class="verse v881">Comme extimé, de tous, mieulx apparent</span>
   <span class="verse v882">Et d’icelluy le plus prouchain parent.</span>
   <span class="verse v883">De <span style="position: relative;"><span class="lem">cestuy roy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">ce Meronne<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>, ainsi que congnoissance</span>
   <span class="verse v884">Certaine avons, commença la naissance,</span>
   <span class="verse v885"><span class="verse-number">[885]</span>Sourse, origine et generatïon</span>
   <span class="verse v886">Des roys dont puys se fait
      narratïon,</span>
   <span class="verse v887">Jusqu’au second <mark class="persName"><span style="position: relative;">Pepin</span><span class="persName-info fw-normal on-right"><b>Pépin le Bref</b> (714 — 24/09/768)<span class="hr-100">&nbsp;</span>Maire du Palais de Neustrie (741-751)<br/>Roi des Francs (751-768)<br/></span></mark>,lequel fut pere</span>
   <span class="verse v888">De <mark class="persName">Charlemaigne<span class="persName-info fw-normal on-right"><b>Charlemagne</b> (entre 06/04/742 et 06/04/748 — 01/02/814)<span class="hr-100">&nbsp;</span>Roi des Francs (13/10/768-01/02/814)<br/>Roi des Lombards (14/07/774-01/02/814)<br/>Empereur d'Occident (29/12/800-01/02/814)<br/>Duc de Bavière (?-?)<br/></span></mark>. Et affin qu’il appere</span>
   <span class="verse v889">Combien <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content">il fut<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">ce <span style="position: relative;"><span class="lem">
                  <span title="Texte résultant d'une substitution">bon</span>
                  </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
                     <div class="collation-content">
                        luy
                        <span class="coll-source"> [BnFfr17274]</span></div>
                     <div class="collation-content">i bon<span class="coll-source"> [Aix419]</span></div>
                  </div></sup></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content">cestuy<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> preudhomme<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
               <div class="collation-content"> et<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> vertueux</span>
   <span class="verse v890"><span class="verse-number">[890]</span>Eut florissant renom, et sumptueux,</span>
   <span class="verse v891">On treuve assez, par anticques histoyres,</span>
   <span class="verse v892">Les siens haultz faictz apparentz et notoyres.</span>
   <span class="verse v893">Et tout ainsi qu’en grande infirmité</span>
   <span class="verse v894">De lourd traveil, peine et calamité,</span>
   <span class="verse v895"><span class="verse-number">[895]</span>Vertu se monstre en degré d’excellence,</span>
   <span class="verse v896">Aussi aprés la cruelle insolence,</span>
   <span class="verse v897">Divers travaulx, peines, vexatïons,</span>
   <span class="verse v898">Bruictz scandaleux et
      persecutïons</span>
   <span class="verse v899">De guerre fiere, austere et fort doubtable,</span>
   <span class="verse v900"><span class="verse-number">[900]</span>Il se monstra utille et prouffitable</span>
   <span class="verse v901">Aux siens subjectz, pour lors excercitéz</span>
   
   
   <hr data-img-id="f69">
   
   <span class="curr-title fw-bold">Des maulx par les Huns faiz aux Françoys</span>
   <span class="verse v902">À soustenir dures adversitéz.</span>
   <span class="verse v903">Car, en ce temps, les <span style="position: relative;"><span class="lem">Huns</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
               <div class="collation-content">ungs<span class="coll-source"> [BnFfr17274, Aix419, Vat966]</span></div>
            </div></sup></span>, par ribleries<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>,</span>
   <span class="verse v904">Oppressïons, cruaultéz, pilleries,</span>
   <span class="verse v905"><span class="verse-number">[905]</span>Courses, assaultz<span style="position: relative;"><span class="lem">et forsfaictz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">
                  <div>excéz, faictz<span class="coll-source"> [BnFfr17274, Cha514]</span> ; </div>
                  <div>excés, faictz<span class="coll-source"> [BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966]</span></div>
               </div>
            </div></sup></span> oultraigeux,</span>
   <span class="verse v906">En leurs effortz furent si couraigeux</span>
   <span class="verse v907">Que la cité de <mark title="placeName" instant="false" full="yes">Treves</mark> assiegerent</span>
   <span class="verse v908">Et le paÿs d’environ fouraigerent.</span>
   <span class="verse v909">Ribleurs<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>, robeurs<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup>, satrappes<sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup>, saquemens<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup>,</span>
   <span class="verse v910"><span class="verse-number">[910]</span>Et boutefeuz<sup class="modal-call note-call" aria-hidden="true" id="noteCall6" data-modal-id="noteModal6">6</sup> firent tant de tourmens,</span>
   <span class="verse v911">Ains avoir paix paisible recouverte,</span>
   <span class="verse v912">Qu’en toute <mark title="placeName" instant="false" full="yes">Gaule</mark> y eut terre couverte</span>
   <span class="verse v913">De maulx plongéz en desolatïons,</span>
   <span class="verse v914">Oultraiges, griefs et tribulatïons,</span>
   <span class="verse v915"><span class="verse-number">[915]</span>Occisïons, rapines,<span style="position: relative;"><span class="lem">vïolences</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">pestilences<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">insolences<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>,</span>
   <span class="verse v916">Maleuretéz, tempestes,<span style="position: relative;"><span class="lem">pestilences</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content">violences<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span>,</span>
   <span class="verse v917"><span style="position: relative;"><span class="lem">Chierté</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">Chiertéz<span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">Chertéz<span class="coll-source"> [BnFfr23145, Aix419, Cha514]</span></div>
            </div></sup></span> de biens, angoisseuses douleurs,</span>
   <span class="verse v918">Douloureux cris, regretz, sangloutz et pleurs,</span>
   <span class="verse v919">Paÿs brusléz, pucelles efforcees,</span>
   <span class="verse v920"><span class="verse-number">[920]</span>Rengreigemens<sup class="modal-call note-call" aria-hidden="true" id="noteCall7" data-modal-id="noteModal7">7</sup> de
      plainctes <span style="position: relative;">dispercees</span>,</span>
   <span class="verse v921">Si <span style="position: relative;"><span class="lem">qu’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
               <div class="collation-content">quant<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> pillant jusques à <mark title="placeName" instant="false" full="yes">Orlëans</mark></span>
   <span class="verse v922">Fut la cité assieigee. Or, lëans,</span>
   <span class="verse v923">Lors florissoit en saincteté de vie</span>
   <span class="verse v924">Le bon evesque <mark class="persName">Aignen<span class="persName-info fw-normal on-right"><b>Aignan d'Orléans</b> (358 — 17/11/452)<span class="hr-short">&nbsp;</span>Evêque d’Orléans</span></mark>, qui tost convie</span>
   <span class="verse v925"><span class="verse-number">[925]</span>Les citoyens à devote oraison,</span>
   <span class="verse v926"><span style="position: relative;"><span class="lem">Jeusne et aulmosne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22">
               <div class="collation-content">Jeusnez <s>aulmosnes et</s>
                  aulmosnes<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>,allegant pour raison</span>
   
   
   <hr data-img-id="f70">
   
   <span class="curr-title fw-bold"><mark title="placeName" instant="false" full="yes">Orleans</mark> par les Huns assiegee</span>
   <span class="verse v927">L’ire de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>, encontre eulx
      provocquee</span>
   <span class="verse v928"><span style="position: relative;"><span class="lem">Par leurs deffaultz, disant pour revocquee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span></span>
   <span class="verse v929">Veoir la sentence, estre necessité</span>
   <span class="verse v930"><span class="verse-number">[930]</span>Par penitence affliger la cité.</span>
   <span class="verse v931">Lors à sa voix et parolle naÿfve,</span>
   <span class="verse v932">Prenans exemple au peuple de <mark title="placeName" instant="false" full="yes">Ninive</mark>,</span>
   <span class="verse v933">Cendres et sacz extendent sur <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
               <div class="collation-content">leurs<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> chefz,</span>
   <span class="verse v934">Nudz piedz s’en vont en plourant leurs pechéz,</span>
   <span class="verse v935"><span class="verse-number">[935]</span>Grandz et petitz jeusnent,et mais<sup class="modal-call note-call" aria-hidden="true" id="noteCall8" data-modal-id="noteModal8">8</sup> encores,</span>
   <span class="verse v936">Tous les troppeaux des bestes et peccores<sup class="modal-call note-call" aria-hidden="true" id="noteCall9" data-modal-id="noteModal9">9</sup>.</span>
   <span class="verse v937">Le bon prelat fait intercessïons,</span>
   <span class="verse v938">En celebrant belles processïons,</span>
   <span class="verse v939"><span style="position: relative;"><span class="lem">Et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">Le<span class="coll-source"> [BnFfr4967]</span></div>
            </div></sup></span> peuple induyt à si bonne doctrine</span>
   <span class="verse v940"><span class="verse-number">[940]</span>Qu’en cueur contrict, frappant sur sa poictrine,</span>
   <span class="verse v941">Dist&nbsp;<span title="Discours direct">«&nbsp;<i>peccavi</i>&nbsp;»</span>et rend vomissemens</span>
   <span class="verse v942">De pleurs, souspirs et grandz gemissemens,</span>
   <span class="verse v943">En requerant à <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>
      misericorde.</span>
   <span class="verse v944">§O sainct pasteur, quant de toy me recorde,</span>
   <span class="verse v945"><span class="verse-number">[945]</span>Je fays souhait et prie à joinctes mains</span>
   <span class="verse v946">Que les prelatz, dont au monde y a maintz</span>
   <span class="verse v947">Mal extiméz, feussent à toy semblables !</span>
   <span class="verse v948">Tant de pechéz et maulz innumerables</span>
   <span class="verse v949"><span style="position: relative;">Qu’on</span> voyt regner n’eussent pas si grandz cours !</span>
   <span class="verse v950"><span class="verse-number">[950]</span>Cest incident, disons en deux motz courtz,</span>
   <span class="verse v951">De ceste gent inicque et scandaleuse,</span>
   
   
   <hr data-img-id="f71">
   
   <span class="curr-title fw-bold">Les Huns vaincuz par le roy <mark class="persName">Merovee<span class="persName-info fw-normal on-left"><b>Mérovée Ier</b> (415 — 457)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (451-457)<br/></span></mark></span>
   <span class="verse v952">Certes ce fut chose miraculeuse</span>
   <span class="verse v953">Car si soudain de là s’esvanouyt,</span>
   <span class="verse v954">Qu’oncques depuys on ne la veit n’oüyt.</span>
   <span class="verse v955"><span class="verse-number">[955]</span>Mais toutesvoyes,j’ay bien leu en histoyre</span>
   <span class="verse v956">Que <span style="position: relative;"><span class="lem"><mark class="persName">Merovee<span class="persName-info fw-normal on-right"><b>Mérovée Ier</b> (415 — 457)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (451-457)<br/></span></mark>
            <span style="position: relative;"><span class="lem">obtint</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
                     <div class="collation-content">eut fort<span class="coll-source"> [Aix419]</span></div>
                  </div></sup></span> belle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">Meronne eut glorieuse<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> victoyre,</span>
   <span class="verse v957">En <mark title="placeName" instant="false" full="yes">Chalonnois</mark>, contre le roy des Huns</span>
   <span class="verse v958">Nommé <mark class="persName">Attile<span class="persName-info fw-normal on-right"><b>Attila</b> (395 — 453)<span class="hr-short">&nbsp;</span>Roi des Huns de 434 à 453</span></mark>. Et <span style="position: relative;">maintiennent</span> les ungs</span>
   <span class="verse v959">Y avoir eu bataille si trés forte</span>
   <span class="verse v960"><span class="verse-number">[960]</span>Que, de la fiere et austere cohorte,</span>
   <span class="verse v961"><span class="num" type="cardinal" value="180000">Cent quatre vingtz mil</span>
      hommes, soubz le fais</span>
   <span class="verse v962">De guerre hostille, y furent tous deffaiz.</span>
   <span class="verse v963">Car <mark class="persName">Ecïus<span class="persName-info fw-normal on-right"><b>Aetius</b> (390 — 21/09/454)<span class="hr-short">&nbsp;</span>Général romain</span></mark>, le senateur
      rommain,</span>
   <span class="verse v964"><span style="position: relative;"><span class="lem">Au roy predict</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content">À Merovee<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">Au roy Meronne<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span>, alïé, tint la main</span>
   <span class="verse v965"><span class="verse-number">[965]</span>Du bon endroit.Et tant firent à l’heure</span>
   <span class="verse v966">Que des deux partz obtindrent la meilleure,</span>
   <span class="verse v967"><mark class="persName">Thierry<span class="persName-info fw-normal on-right"><b>Théodoric Ier</b> (393 — 20/06/451)<span class="hr-short">&nbsp;</span>Roi des Wisigoths</span></mark><span style="position: relative;">le</span> roy des Visegotz, tenant</span>
   <span class="verse v968">La <span style="position: relative;"><span class="lem">part d’iceulx</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34">
               <div class="collation-content">leur partye<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">part Meronne<span class="coll-source"> [Vat966]</span></div>
            </div></sup></span> et le choc soustenant,</span>
   <span class="verse v969">Y fust occis. Ainsi doncq terminee,</span>
   <span class="verse v970"><span class="verse-number">[970]</span>Des <span style="position: relative;"><span class="lem">Huns</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35">
               <div class="collation-content">ungs<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>, la force et toute exterminee</span>
   <span class="verse v971">Avec les siens, celluy roy s’esjouyt</span>
   <span class="verse v972">Et du royaulme en <span style="position: relative;"><span class="lem">bonne paix</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">paix <s>jouyt</s><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> jouyt.</span>
   <span class="verse v973"><span class="num" type="cardinal" value="18"><span class="date" dur="P18Y" instant="false">Dix <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
                     <div class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></div>
                  </div></sup></span> huyt</span></span> ans regna,<span style="position: relative;"><span class="lem">dit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content">c’est<span class="coll-source"> [Cha514]</span></div>
            </div></sup></span> l’escripture,</span>
   <span class="verse v974">Et puys paya le tribut de nature.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(903);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Pilleries.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(909);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Pillards.</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(909);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Voleurs, pillards.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(909);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Despote, ou plus généralement
      personnage cruel, malfaisant.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(909);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Homme de troupe, en particulier
      mercenaire, brigand, pillards.</div>
   <h4 class="modal-title" modal-title="noteModal6"><a href="javascript:versePointer(910);">Note n°6</a></h4>
   <div class="modal-text" modal-text="noteModal6">Artilleurs, ou plus génralement
      quelqu'un qui excite au mal.</div>
   <h4 class="modal-title" modal-title="noteModal7"><a href="javascript:versePointer(920);">Note n°7</a></h4>
   <div class="modal-text" modal-text="noteModal7">Nouvelle aggravation.</div>
   <h4 class="modal-title" modal-title="noteModal8"><a href="javascript:versePointer(935);">Note n°8</a></h4>
   <div class="modal-text" modal-text="noteModal8">Plus.</div>
   <h4 class="modal-title" modal-title="noteModal9"><a href="javascript:versePointer(936);">Note n°9</a></h4>
   <div class="modal-text" modal-text="noteModal9">
      Référence à la prédication de Jonas et au jeûne de Ninive (Jonas 3 :
      1-10). </div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(873);">v. 873</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Soleil</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(874);">v. 874</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>pourra bien</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(875);">v. 875</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Ce que jadiz fut demené et</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Chapitre septiesme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(879);">v. 879</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Dont, pour cause approuvee</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>par quoy à la couronne</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(880);">v. 880</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>ung sien</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><span>le sien</span></span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(880);">v. 880</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>Meronne</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(883);">v. 883</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>ce Meronne</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(889);">v. 889</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>il fut</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(889);">v. 889</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>cestuy</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(889);">v. 889</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            luy
            </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>i bon</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(889);">v. 889</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span> et</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(903);">v. 903</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Aix419, Vat966 </span>ungs</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(905);">v. 905</a> </div>
      
      
      <div class="coll-text col-10">
         <div><span><span class="coll-source">BnFfr17274, Cha514 </span>excéz, faictz</span> ; </div>
         <div><span><span class="coll-source">BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966 </span>excés, faictz</span></div>
      </div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(915);">v. 915</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>pestilences</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>insolences</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(916);">v. 916</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>violences</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(917);">v. 917</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Chiertéz</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419, Cha514 </span>Chertéz</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(921);">v. 921</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>quant</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(926);">v. 926</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Jeusnez <s>aulmosnes et</s>
            aulmosnes</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(928);">v. 928</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(933);">v. 933</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>leurs</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(939);">v. 939</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Le</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(956);">v. 956</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>Meronne eut glorieuse</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(956);">v. 956</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>eut fort</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(964);">v. 964</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>À Merovee</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>Au roy Meronne</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(968);">v. 968</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>leur partye</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>part Meronne</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(970);">v. 970</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ungs</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(972);">v. 972</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>paix <s>jouyt</s></span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(973);">v. 973</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(973);">v. 973</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>c’est</span></div>
      </div>
</div>
{% endmacro %}
