/****************
    paragraphs
****************/

.content div {
  margin-bottom: 1rem;
}

.content div.row {
  margin-top: 0rem;
  text-align: justify;
}

.content div.col {
  margin: 0rem;
}

p {
  text-align: justify;
}

div:not(.modal-text) > p:not(.quote):not(:has(img)) {
  text-indent: 3rem;
}

.quote {
  margin-left: 6rem;
  margin-right: 6rem;
}

.smaller {
  font-size: 0.9rem;
}

.tab {
  padding: 1rem;
}

img {
  max-width: 100%;
}

.double-indent{
  text-indent: 5rem !important;
}

/****************
    tables
****************/

td[colspan], th[colspan] {
  text-align: center;
}

tr.present{
  background-color: lightgrey;
}

th {
  text-align: center;
  vertical-align: middle;
}

/****************
    notes
****************/

#notes {
  display: none;
}