.content {
  margin: 0 1rem;
}

.visu-content {
  min-height: 750px;
}

.toc {
  margin-bottom: 2rem;
}

.diplo p {
  margin-bottom: 0;
}

/****************
    persName
****************/
.persName {
  position: relative;
  cursor: help;
}

.persName .persName-info {
  visibility: hidden;
  min-width: 350px;
  background-color: floralwhite;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  top: -50%;
  font-size: 0.8rem;
  text-align: left;
}

.persName .persName-info.on-left {
  right: 105%;
}

.persName .persName-info.on-right {
  left: 105%;
}

.persName:hover .persName-info {
  visibility: visible;
}

/****************
    page break
****************/
.hr-100 {
  border-top: 1px solid var(--disabled-color);
  margin-top: 3px;
  line-height: 1px;
  width: 100%;
  display: block;
}

.hr-short {
  border-top: 1px solid var(--disabled-color);
  margin-top: 3px;
  line-height: 1px;
  width: 15%;
  display: block;
}

.linear hr:not(.btnLine) {
  display: none;
}

.diplo hr {
  margin: 0.5rem 0;
}

/****************
    folios
****************/
.folio {
  display: flex;
  justify-content: space-between;
}

.folio-num {
  display: block;
}

/****************
    verses
****************/
.verse-number {
  display: inline-block;
  font-size: x-small;
  margin-left: -40px;
  width: 40px;
  color: grey;
}

.verse {
  display: block !important;
  vertical-align: top;
}

.highlighted-verses {
  text-decoration: underline var(--main-color);
}

.highlighted-verses::after {
  content: "\00261A";
  font-weight: bold;
  color: var(--main-color);
  margin-left: 1rem;
  text-decoration: none;
  display: inline-block;
}

.verse-title {
  display: flex;
  justify-content: space-between;
}

/****************
    lettrines
****************/
/* nowhere ? */
/* verse 1 to 4 of the current page */
/* .first_verses_num {
  margin-left: -95px;
  margin-right: 55px;
} */
.lettrine {
  font-size: 75px;
  float: left;
  height: 75px;
  position: relative;
  top: -25px;
}

/************************/
/******* MARK ***************/
mark {
  background-color: var(--highlight-color);
  padding: 0;
  margin: 0 1px;
}

/************************/
@media (max-width: 576px) {
  .img-thumbnails {
    padding-left: 4px;
  }

  .img-thumbnail {
    border: 1px solid var(--disabled-color);
    padding: 0;
    height: 36px;
    width: 27px;
    object-fit: cover;
    margin: 2px 2px 2px 0;
  }
}

@media (min-width: 577px) and (max-width: 1023px) {
  .img-thumbnails {
    padding-left: 4px;
  }

  .img-thumbnail {
    border: 1px solid var(--disabled-color);
    padding: 0;
    height: 45px;
    width: 30px;
    object-fit: cover;
    margin: 2px 2px 0 0;
  }
}

@media (min-width: 1024px) {
  .img-thumbnails {
    padding-left: 8px;
  }

  .img-thumbnail {
    border: 1px solid var(--disabled-color);
    padding: 0;
    height: 60px;
    width: 45px;
    object-fit: cover;
    margin: 4px 4px 0 0;
  }
}

.img-thumbnail:not([src]) {
  display: none;
}

.current-page-text {
  background-color: rgb(0, 93, 149, 0.06);
}

.text-pane hr {
  display: none;
}

.img-thumbnail.current {
  border: 2px solid var(--main-color);
}

.openseadragon {
  margin: 10px auto 0;
  width: 100%;
  height: 65vh;
  border: 0 solid var(--disabled-color);
}

/* Sur les tab qui ne sont pas l'image : fixe une margin-top au scroll
  pour éviter l'effet "manger les hauts de page" (au changement de page) */
.tab-pane:not(.osd-pane)>div, .tap-pane:not(.osd-pane)>hr {
  scroll-margin-top: 4.5rem;
}

/* à adapter aux autres tailles d'écran */
@media (orientation: landscape), (min-width: 768px) {
  .scrolled .osd-pane {
    margin-left: 0rem;
    position: fixed;
    top: 5rem;
    width: 48%;
    background-color: white;
    border: 1px solid var(--golden);
  }

  /* Sur les tab qui ne sont pas l'image : fixe une margin-top au scroll
    pour éviter l'effet "manger les hauts de page" (au scroll) */
  .scrolled .tab-pane:not(.osd-pane) {
    margin-top: 6rem;
  }

  .scrolled .tabs {
    position: fixed;
    top: 0;
    width: 48%;
    background-color: white;
    border: 1px solid var(--golden);
    z-index: 3;
  }

  .scrolled #osd-pane-content-left {
    left: 1%;
  }

  .scrolled #osd-pane-content-right {
    right: 1%;
  }

  .scrolled .osd-pane {
    border: none !important;
  }
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--main-color) !important;
  color: 1px solid var(--main-color) !important;
}

.scrolled #top-btn {
  display: inline;
}

/****************
    nav-tabs
****************/
.tab-bttn {
  color: var(--bs-gray-700);
}

.tab-bttn:hover {
  color: var(--main-color);
}

.tab-bttn.active {
  color: var(--main-color) !important;
  border-color: var(--main-color) var(--main-color) #fff var(--main-color) !important;
}

/****************
    tab-pane
****************/
.tab-pane {
  margin-left: 2rem;
}

/* TEST à mixer avec ceux du bas pour les margin bottom et top et ceux du haut pour le tab-pane*/
@media (max-width: 1649px) {
  .nav-tabs {
    margin-bottom: 0.5rem;
  }

  .tab-pane {
    margin-top: 0.5rem;
  }

  .tab-pane:not(.osd-pane)>div, .tap-pane:not(.osd-pane)>hr {
    scroll-margin-top: 6rem;
  }
}

@media (min-width: 1650px) {
  .nav-tabs {
    margin-bottom: 2rem;
  }

  .tab-pane:not(.osd-pane)>div, .tap-pane:not(.osd-pane)>hr {
    scroll-margin-top: 4.5rem;
  }
}

/****************
    layout btn
****************/

.btn.toggle-mark {
  background-color: var(--layout-btn-color) !important;
  border: 1px solid grey !important; /*on ne voit pas cette couleur*/
  color: grey !important;
  padding: 1px 4px;
  margin-right: 5px;
  margin-bottom: 5px;
    /* font-size: 0.8rem; */
}
/* TEST à mixer avec ceux du bas pour les margin bottom et top et ceux du haut pour le tab-pane*/
@media (max-width: 1050px) {
  .btn.toggle-mark {
    font-size: 0.6rem;
  }
}
@media (min-width: 1050px) and (max-width: 1250px) {
  .btn.toggle-mark {
    font-size: 0.7rem;
  }
}
@media (min-width: 1250px) {
  .btn.toggle-mark {
    font-size: 0.8rem;
  }
}

/* change btn layout */

.text-show {
  display: none;
}
.text-hide {
  display: inline-block;
}

.disabled-highlight .toggle-mark[data-type="highlight"], .disabled-collation .toggle-mark[data-type="collation"], .disabled-note .toggle-mark[data-type="note"] {
  background-color: transparent !important;
}
.disabled-highlight .toggle-mark[data-type="highlight"] .text-show, .disabled-collation .toggle-mark[data-type="collation"] .text-show, .disabled-note .toggle-mark[data-type="note"] .text-show {
  display: inline-block;
}
.disabled-highlight .toggle-mark[data-type="highlight"] .text-hide, .disabled-collation .toggle-mark[data-type="collation"] .text-hide, .disabled-note .toggle-mark[data-type="note"] .text-hide {
  display: none;
}

/* show/hide selected layout */

.disabled-highlight mark {
  background-color: transparent !important;
}
.disabled-note .note-call, .disabled-collation .collation-call {
  display: none;
}
.disabled-collation .lem {
  border-left: none !important;
  border-top: none !important;
}

/****************
    buttons
****************/

.osd-btn {
  color: var(--main-color);
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.osd-btn span {
  margin: 0rem 1rem;
}

.btn-link {
  color: var(--bs-gray-700);
  text-decoration: none;
}

.btn-link:hover, .btn-link.active {
  color: var(--main-color);
}

/****************
  current titles
****************/

.curr-title {
  float: right;
  font-size: 0.9rem;
  text-align: right;
}

@media (min-width: 577px) and (max-width: 1099px) {
  .curr-title {
    width: 30%;
  }
}

@media (min-width: 1100px) and (max-width: 1349px) {
  .curr-title {
    width: 40%;
  }
}

@media (min-width: 1350px) and (max-width: 1649px) {
  .curr-title {
    width: 50%;
  }
}

@media (min-width: 1650px) {
  .curr-title {
    /* width: 100%; */
  }
}

/****************
    collations
****************/
#linear-left .lem, #linear-right .lem {
  position: relative;
  border-left: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
}

/* collation call */

.collation-call::after {
  content: none;
}
.collation-call {
  text-decoration: none;
}

.plus {
  font-style: normal;
  font-size: 0.65rem;
  padding: 1px;
  border: 1px solid var(--main-color);
  border-radius: 45%;
}

/* collation block */

.collation-block {
  max-width: 40rem;
  width: max-content;
  max-height: 20rem;
  font-size: 0.8rem;
  line-height: 1.5;
  overflow: scroll;
}

.collation-content {
  display: block;
  margin: 0.75rem;
}

.coll-source {
  --bs-text-opacity: 1;
  color: var(--main-color) !important;
  position: inherit;
  display: contents;
}

/* collation tab content */

.collation {
  margin-bottom: 1rem;
  justify-content: end;
}
/* att : a.hover devient rouge -> ok ? */
.coll-verse > * {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.coll-verse, .coll-text {
  padding: 0;
}

/****************
      notes
****************/

#modal-title-id a{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.modal-title a{
  text-decoration: none;
}

/****************
      debug
****************/
.debug-info {
  font-size: 1.5rem;
}
