:root {
  --main-color-darker: #846054;
  /* brick  */
  --main-color: #B22222;
  --disabled-color: lightgrey;
  --selection-color: #DEC9BF;
  --highlight-color: #E2E2E2;
  --layout-btn-color: #F2F2F2;
}

body {
  font-family: 'Ubuntu';
}

h4 {
  margin: 2rem 0;
  text-align: justify;
}

h2, h3 {
  text-align: center;
  margin: 3rem 0;
}

/* fix footer down */
.content {
  /* min-height: 900px; */
  margin: 0 1rem 3rem;
}

.footer {
  background-color: white;
}

.footer div.col-9 {
  padding-left: 1rem;
}

.footer div.col-3 {
  text-align: end;
  padding-right: 2rem;
}

.footer img {
  height: 40px;
  margin: 5px 10px;
}

.footer a {
  text-decoration: none
}

@media only screen and (max-width: 1026px) {
  .footer img {
    height: 40px;
  }
  .footer .btn {
    font-size: smaller;
    padding: 4px 8px !important;
  }
}

/* display none alors pourquoi ? */
#pageNb {
  width: 60px;
}

/****************
    text style
****************/

.caps {
  text-transform: uppercase;
}

.small-caps {
  font-variant: small-caps;
}

/****************
    navbar
****************/
.navbar-nav {
  flex-direction: row;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.btn:focus {
  box-shadow: none;
}

.btn-menu,
.btn-menu.show {
  color: white;
  border-color: var(--main-color);
}

.btn-menu:hover {
  color: var(--main-color);
  background-color: white;
}

.btn-summary,
.dropdown-item:not(.disabled) {
  color: var(--main-color);
}

.btn-summary:hover,
.dropdown-item:not(.disabled):hover {
  color: white;
  background-color: var(--main-color);
}

.dropdown-item.summary {
  text-decoration: underline;
}

.bg-light {
  background-color: var(--main-color) !important;
}

#introDropdown {
  min-width: 18rem;
}

#booksDropdown {
  min-width: 10rem;
}


/*******************
    books summary
*******************/

.btn-icons {
  width: fit-content;
}

ul.summary {
  margin-bottom: 1rem;
}

.summary a {
  color: black !important;
  text-decoration: none;
}

.summary a:hover {
  color: var(--main-color) !important;
  cursor: pointer;
}

.summary li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary a.selected {
  color: var(--main-color) !important;
}

.summary .verses {
  display : block;
  text-indent: 4rem;
  font-style: italic;
  color: grey;
}

/*******************
    books menu
*******************/

.dropdown-menu.dropdown-chapters {
  min-width: 15rem;
  /* max-height: 30rem; */
  height: 30rem;
  overflow-y: auto;
}

@media (max-height: 570px) {
  .dropdown-menu.dropdown-chapters {
    height: 20rem;
  }
}
@media (min-height: 571px) and (max-height: 650px) {
  .dropdown-menu.dropdown-chapters {
    height: 25rem;
  }
}

/* hide scrollbar */
.dropdown-menu::-webkit-scrollbar {
  display: none;
  z-index: 1;
}

.dropdown .dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  width: 100%;
  vertical-align: middle;
}

.dropdown .dropdown-item.show {
  background-color: var(--selection-color);
}

.dropdown .dropdown-item:not(.show):focus {
  color: var(--main-color);
  background-color: white;
}

.dropdown .dropdown-item:hover {
  color: white;
  background-color: var(--main-color);
}

.dropend .dropdown-toggle::after {
  border: none;
}

.dropend>.dropdown-toggle.dropdown-item::after {
  margin: auto;
  margin-right: 0;
  font: var(--fa-font-solid);
  content: "\f0da";
}

.dropdown-menu {
  padding: 0;
}

.accordion {
  overflow-y: scroll;
  max-height: 30rem;
}

#booksDropdown .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu .versesRange {
  font-size: 0.8rem;
}
.versesRange {
  /* color: black; */
  font-style: italic;
}

.dropdown-chapters .dropdown-item {
  padding: 0.1rem 0.7rem;
  font-size: 0.9rem;
}

/*******************
    chapters menu
*******************/

.accordion-button {
  padding: 0.5rem 1rem;
  color: var(--main-color);
}

.accordion-button::after {
  font: var(--fa-font-solid);
  background-image: none;
  content: "\f078";
  width: 1rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: var(--selection-color);
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "\f078";
  width: 1rem;
}

.accordion-body {
  padding: 0rem;
}

.dropdown-item.btn-menu {
  padding-left: 1.5rem;
}

/****************
    links
****************/
a,
a:hover {
  color: var(--main-color);
}


/****************
    modal-note
****************/

.btn-modal {
  color: var(--main-color);
  border: solid 1px var(--main-color);
}

.btn-modal:hover {
  color: white;
  background-color: var(--main-color);
}


.modal-call {
  cursor: pointer;
}

.note-call {
  padding: 2px;
  border: 1px solid grey;
  border-radius: 50%;
}

.modal-body h3 {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  margin-top: 1rem;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.modal-title {
  color: var(--main-color);
  margin-bottom: 0.3rem;
}

.modal-text {
  margin-bottom: 1.5rem;
}

.corresp {
  background-color: pink;
}
