/****************
    TOC
****************/
.img-thumbnail-container {
    width: auto;
    display: grid;
    padding: 0;
}

.img-thumbnail-container span {
    font-size: 0.7rem;
    text-align: center;
}

.img-thumbnails hr {
    margin-top: 1rem;
    color: var(--main-color);
}

/****************
    text
****************/

.description {
    display: none;
}

.current-page-text {
    display: block;
    background-color: transparent;
}

.description-zone {
    color: var(--main-color);
    cursor: pointer;
}

.corresp {
    /* background-color: pink; */
    background-color: var(--selection-color);
    /* background-color: var(--highlight-color); */
}

/****************
    images
****************/

.openseadragon {
    height: 65vh;
}

.scrolled .openseadragon {
    height: 100vh;
}

.scrolled .osd-pane {
    top: 1rem;
}

#zones-infos {
    display: none;
    /* margin-left: 2rem; */
    /* margin-bottom: 1rem; */
    background-color: var(--selection-color);
    padding: 0.5rem;
    width: 10%;
    height: fit-content;
    text-align: center;
    border-radius: 1rem;
}

/****************
    buttons
****************/

.osd-btn {
    float: left;
    position: absolute;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255, 0.75);
    z-index: 1;
    margin-top: 3rem;
}

.osd-btn span {
    display: block !important;
    color: var(--main-color);
}

/****************
    persName
****************/


.persName .persName-info.on-left {
    left: 105%;
    right: unset;
}

.persName .persName-info.on-right {
    right: 105%;
    left: unset;
}