#cretinTitlesVisualization .vis-item {
  background-color: var(--selection-color);
  border-color: darkred;
  top: 2.5px !important;
}

#kingsVisualization .vis-item {
  border: none !important;
}

.vis-item.king1, .vis-item.king11, .vis-item.king21 {
  /* mistyRose */
  background-color: #FFE4E1;
}
.vis-item.king2, .vis-item.king12, .vis-item.king22 {
  /* thistle */
  background-color: #D8BFD8;
}
.vis-item.king3, .vis-item.king13, .vis-item.king23 {
  /* gainsboro */
  background-color: #DCDCDC;
}
.vis-item.king4, .vis-item.king14, .vis-item.king24 {
  /* lavender */
  background-color: #E6E6FA;
}
.vis-item.king5, .vis-item.king15, .vis-item.king25 {
  /* seashell */
  background-color: #FFF5EE;
}
.vis-item.king6, .vis-item.king16, .vis-item.king26 {
  /* light cyan */
  background-color: #E0FFFF;
}
.vis-item.king7, .vis-item.king17, .vis-item.king27 {
  /* whitesmoke */
  background-color: #F5F5F5;
}
.vis-item.king8, .vis-item.king18, .vis-item.king28 {
  /* ivory */
  background-color: #FFFFF0;
}
.vis-item.king9, .vis-item.king19, .vis-item.king29 {
  /* bisque */
  background-color: #FFE4C4;
}
.vis-item.king10, .vis-item.king20, .vis-item.king30 {
  /* honeydew */
  background-color: #F0FFF0;
}
