<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CreNum -
      {% block pageTitle %}{% endblock %}
    </title>
    <link href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/libs/fontawesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/libs/solid.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/cretin.png') }}">
    {% block css %}{% endblock %}
  </head>
  <body>

    {% include 'navbar_menu.html.j2' %}
    <div class="{% block containertype %}container-fluid{% endblock %}">
      <div class="content">
        {% block body %}
          Pas encore de contenu.
        {% endblock %}
      </div>
      <br>
      <div class="footer fixed-bottom">
        <!--justify-content-between-->
        <div class="row">
          <div class="col-9">
            <a target="_blank" href="http://www.elan-numerique.fr/">
              <img src="{{ url_for('static', filename='img/logos/elan.png') }}" title="ELAN, Équipe Littératures et Arts Numériques de Litt&Arts"/>
            </a>
            <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
              <img src="{{ url_for('static', filename='img/logos/litt&arts.png') }}" title="Litt&Arts (UMR 5316)"/>
            </a>
            <a target="_blank" href="https://www.cnrs.fr/">
              <img src="{{ url_for('static', filename='img/logos/cnrs.png') }}" title="CNRS, Centre Nataional de la Recherche Scientifique"/>
            </a>
            <a target="_blank" href="http://www.univ-grenoble-alpes.fr/">
              <img src="{{ url_for('static', filename='img/logos/uga.png') }}" title="Université Grenoble Alpes"/>
            </a>
            <a target="_blank" href="https://www.unamur.be/">
              <img src="{{ url_for('static', filename='img/logos/namur.png') }}" title="Université de Namur"/>
            </a>
            <a target="_blank" href="https://www.univ-amu.fr/">
              <img src="{{ url_for('static', filename='img/logos/amu.svg') }}" title="Université d'Aix-Marseille"/>
            </a>
            <a target="_blank" href="https://anr.fr">
              <img src="{{ url_for('static', filename='img/logos/anr.jpg') }}" title="ANR"/>
            </a>
          </div>
          <div class="col-3  align-self-center">
            <a target="_blank" class="btn btn-light" href="https://gricad-gitlab.univ-grenoble-alpes.fr/elan/crenum" role="button">Code source</a>
            <a class="btn btn-light" href="legal_mentions" role="button">Mentions légales</a>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/libs/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
