{% extends "chapter_base.html.j2" %}

{% block pageTitle %}Livre I{% endblock %}

{% set chapterTitle %}{% block chapter %}{{ super() }}{% endblock %}{% endset %}

{% set chaptersList %}{% block allChaptersList %}{{ super() }}{% endblock %}{% endset %}

{% block body %}
  <h2 class="title">Livre I - {{ chapterTitle }}</h2>

  <!-- table of contents  -->
  <div class="toc row justify-content-center">
      {{ chaptersList.book1() }}
  </div>
  {{ super() }}
{% endblock %}
