{% extends "base.html.j2" %}

{% block css %}
<link href="{{ url_for('static', filename='css/careerPages.css') }}" rel="stylesheet"/>
{% endblock %}

{% block containertype %}container{% endblock %}

{% block pageTitle %}La carrière de Guillaume Cretin{% endblock %}

{% block body %}
  {% include 'htm/carriere_Cretin.htm'%}
{% endblock %}
