{% extends "base.html.j2" %}

{% block css %}
<link href="{{ url_for('static', filename='css/careerPages.css') }}" rel="stylesheet"/>
{% endblock %}

{% block containertype %}container{% endblock %}

{% block pageTitle %}Guillaume Cretin à la Sainte-Chapelle de Vincennes{% endblock %}

{% block body %}
  {% include 'htm/carriere_part4.htm'%}
  {% include('modal.html.j2') %}
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/careerPages.js') }}"></script>
{% endblock %}
