{% extends "base.html.j2" %}

{% block containertype %}container{% endblock %}

{% block pageTitle %}Principes éditoriaux{% endblock %}

{% block body %}
  {% include 'htm/principes_editoriaux.htm'%}
{% endblock %}
