<nav class="tabs">
  <div class="nav nav-tabs nav-fill" id="nav-tab-{{pos}}" role="tablist">
    <button class="nav-link btn-tab tab-bttn" id="image-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#image-{{pos}}" type="button" role="tab" aria-controls="image-{{pos}}" aria-selected="true" onclick="changePath()">Manuscrit</button>
    <button class="nav-link btn-tab tab-bttn" id="diplo-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#diplo-{{pos}}" type="button" role="tab" aria-controls="diplo-{{pos}}" aria-selected="false" onclick="changePath()">Transcription diplomatique</button>
    <button class="nav-link btn-tab tab-bttn" id="linear-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#linear-{{pos}}" type="button" role="tab" aria-controls="linear-{{pos}}" aria-selected="false" onclick="changePath()">Transcription semi-modernisée</button>
    <button class="nav-link btn-tab tab-bttn" id="collations-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#collations-{{pos}}" type="button" role="tab" aria-controls="collations-{{pos}}" aria-selected="false" onclick="changePath()">Collations</button>
    <button class="nav-link btn-tab tab-bttn" id="notes-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#notes-{{pos}}" type="button" role="tab" aria-controls="notes-{{pos}}" aria-selected="false" onclick="changePath()">Notes</button>
  </div>
</nav>
