
<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <div class="collapse show navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mx-auto">
        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('index') }}"><i class="fa-solid fa-house-chimney"></i> Accueil</a>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-menu me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fa-solid fa-address-card"></i> Introduction</a>
          <ul class="dropdown-menu dropdown-pres" id="introDropdown" aria-labelledby="navbarDropdown">
            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary" id="cretinDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"></i>La carrière de Guillaume Cretin</a>
              <ul class="dropdown-menu dropdown-cretin" aria-labelledby="cretinDropdown">
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_Cretin') }}"></i>Cretin dans les archives</a>
                </li>
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_part1') }}"></i>Mentions des fonctions ecclésiastiques de Guillaume Cretin</a>
                </li>
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_part2') }}"></i>Guillaume Cretin à la Cour : les états de la maison du Roi</a>
                </li>
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_part3') }}"></i>Guillaume Cretin à la Sainte-Chapelle de Paris</a>
                </li>
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_part4') }}"></i>Guillaume Cretin à la Sainte-Chapelle de Vincennes</a>
                </li>
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_part5') }}"></i>L’obit de Guillaume Cretin</a>
                </li>
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_part6') }}"></i>La tombe de Guillaume Cretin</a>
                </li>
                <li>
                  <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='career_part7') }}"></i>Carrière ecclésiastique de Guillaume Cretin : ligne du temps</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='presentation') }}"></i><span>Relire la <i>Chronique française</i></span></a>
            </li>
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='manuscripts') }}"></i>Manuscrits</a>
            </li>
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='edit_principles') }}"></i>Principes éditoriaux</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-menu me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fa-solid fa-book"></i> Édition</a>

          <ul class="dropdown-menu dropdown-books" id="booksDropdown" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item btn-summary" id="prolog" role="button" href="{{ url_for('vue', vueName='prolog') }}">Prologue en prose</a>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary" id="book1Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre I</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book1Dropdown">
                <!-- Dropdown menu links -->
                {% include('htm/table_of_contents_1.htm') %}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary" id="book2Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre II</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book2Dropdown">
                <!-- Dropdown menu links -->
                {% include('htm/table_of_contents_2.htm') %}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary disabled" id="book3Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre III</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book3Dropdown">
                <!-- Dropdown menu links -->
                {# {% include('htm/table_of_contents_3.htm') %} #}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary disabled" id="book4Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre IV</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book4Dropdown">
                <!-- Dropdown menu links -->
                {# {% include('htm/table_of_contents_4.htm') %} #}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary disabled" id="book5Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre V</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book5Dropdown">
                <!-- Dropdown menu links -->
                {# {% include('htm/table_of_contents_5.htm') %} #}
              </ul>
            </li>
          </ul>
        </li>

        <!--<li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='manuscripts') }}"><i class="fa-solid fa-scroll"></i> Manuscrits</a>
        </li>-->

        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-menu me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fa-solid fa-palette"></i> Peintures</a>
          <ul class="dropdown-menu dropdown-paints" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('facsimile', paintsPage='paints1') }}"></i>Peintures du Livre I</a>
            </li>
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('facsimile', paintsPage='paints2') }}"></i>Peintures du Livre II</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='index_person') }}"><i class="fa-solid fa-bars"></i> Index</a>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-menu me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fa-solid fa-landmark"></i> Annexes</a>
          <ul class="dropdown-menu dropdown-ress" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='timeline') }}">Chronologie</a>
            </li>
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='genealogy') }}">Généalogie</a>
            </li>
            <li>
              <a class="dropdown-item btn-summary disabled" href="{{ url_for('vue', vueName='map') }}">Cartographie</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='bibliography') }}"><i class="fa-solid fa-layer-group"></i> Bibliographie</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='team') }}"><i class="fa-solid fa-people-group"></i> Équipe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
