{% extends "base.html.j2" %}

{% import paints as paintsId %}

{% block css %}
<!--<link href="{{ url_for('static', filename='css/chapter.css') }}" rel="stylesheet"/>-->
<link href="{{ url_for('static', filename='css/chapter.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/paints.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

  <span id="paintsName" style="display:none">{{ paintsName }}</span>
  <span id="pageNb" style="display:none">{{ pageNb }}</span>
  <span id="visu" style="display:none">{{ visu }}</span>

  <div class="row justify-content-center img-thumbnails">
    {{ paintsId.toc(pos) }}
  </div>
  <div class="visu-content row justify-content-center">

    {% set pos = 'left' %}
    <div class="col tab-content" id="nav-tabContent-{{pos}}">
      <nav class="tabs">
        <div class="nav nav-tabs nav-fill" id="nav-tab-{{pos}}" role="tablist">
          <button class="nav-link btn-tab tab-bttn" id="image-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#image-{{pos}}" type="button" role="tab" aria-controls="image-{{pos}}" aria-selected="true" onclick="changePath()">Peinture</button>
          <button class="nav-link btn-tab tab-bttn" id="description-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#description-{{pos}}" type="button" role="tab" aria-controls="description-{{pos}}" aria-selected="false" onclick="changePath()">Description</button>
          <button class="nav-link btn-tab tab-bttn" id="biblio-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#biblio-{{pos}}" type="button" role="tab" aria-controls="biblio-{{pos}}" aria-selected="false" onclick="changePath()">Bibliographie</button>
          </div>
      </nav>
      {{ paintsId.img(pos) }}
      {{ paintsId.description(pos) }}
      {{ paintsId.biblio(pos) }}
    </div>
    {% set pos = 'right' %}
    <div class="col tab-content" id="nav-tabContent-{{pos}}">
      <nav class="tabs">
        <div class="nav nav-tabs nav-fill" id="nav-tab-{{pos}}" role="tablist">
          <button class="nav-link btn-tab tab-bttn" id="image-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#image-{{pos}}" type="button" role="tab" aria-controls="image-{{pos}}" aria-selected="true" onclick="changePath()">Peinture</button>
          <button class="nav-link btn-tab tab-bttn" id="description-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#description-{{pos}}" type="button" role="tab" aria-controls="description-{{pos}}" aria-selected="false" onclick="changePath()">Description</button>
          <button class="nav-link btn-tab tab-bttn" id="biblio-{{pos}}-tab" data-bs-toggle="tab" data-bs-target="#biblio-{{pos}}" type="button" role="tab" aria-controls="biblio-{{pos}}" aria-selected="false" onclick="changePath()">Bibliographie</button>
          </div>
      </nav>
      {{ paintsId.img(pos) }}
      {{ paintsId.description(pos) }}
      {{ paintsId.biblio(pos) }}
    </div>

    <div class="fixed-bottom" id="zones-infos">
    </div>

    {{ paintsId.notes(pos) }}

  </div>


{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/libs/openseadragon.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/openseadragon-fabricjs-overlay.js') }}"></script>
  <!-- fabric.js 5.4 -->
  <script src="{{ url_for('static', filename='js/libs/fabric.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paints.js') }}"></script>
{% endblock %}
