{% extends "base.html.j2" %}

{% block css %}
<link href="{{ url_for('static', filename='css/editPages.css') }}" rel="stylesheet"/>
{% endblock %}

{% block containertype %}container{% endblock %}

{% block pageTitle %}Présentation de la <i>Chronique française</i>{% endblock %}

{% block body %}
  {% include 'htm/presentation_de_la_CF.htm'%}
{% endblock %}
