{% extends "base.html.j2" %}

{% import "htm/prolog.htm.j2" as chapterId %}

{% block pageTitle %}Prologue{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/chapter.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

  <span id="chapName" style="display:none">prolog</span>
  <span id="pageNb" style="display:none"></span>
  <span id="visu" style="display:none"></span>

  <h2 class="title">Prologue en prose</h2>

  <div class="visu-content row justify-content-center">

    {# gestion des tailles d'écran ? #}
    {# <div id="left-panel" class="col-md-6 col-sm-12"> #}

    {% set pos = 'left' %}
    <div class="col tab-content" id="nav-tabContent-{{pos}}">
      {% include('nav_tabs.html.j2', {pos: pos}) %}
      {{ chapterId.img(pos) }}
      {{ chapterId.diplo(pos) }}
      {{ chapterId.linear(pos) }}
      {{ chapterId.notes(pos) }}
      {{ chapterId.collations(pos) }}
    </div>
    {% set pos = 'right' %}
    <div class="col tab-content" id="nav-tabContent-{{pos}}">
      {% include('nav_tabs.html.j2', {pos: pos}) %}
      {{ chapterId.img(pos) }}
      {{ chapterId.diplo(pos) }}
      {{ chapterId.linear(pos) }}
      {{ chapterId.notes(pos) }}
      {{ chapterId.collations(pos) }}
    </div>

  </div>

  <br>

  {% set noteExist %}{{ chapterId.noteExist() }}{% endset %}
  {% if noteExist == "true" %}
    <div class="notes" style="display:none">
      {{ chapterId.notes() }}
    </div>
  {% endif %}


  <div class="collations" style="display:none">
    {{ chapterId.collations() }}
  </div>
  {% include('modal.html.j2') %}


  
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/libs/openseadragon.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/openseadragon-svg-overlay.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chapter.js') }}"></script>
{% endblock %}
