{% extends "base.html.j2" %}
{% block css %}<link xmlns="http://www.w3.org/1999/xhtml" href="/static/css/app_minisearch.css" rel="stylesheet"></link>{% endblock %}
{% block containertype %}container{% endblock %}
{% block pageTitle %}Recherche{% endblock %}
{% block body %}

<div xmlns="http://www.w3.org/1999/xhtml">
   <h3>Chercher dans un vers...</h3>
   <div id="app">
      <div class="App">
         <div class="Loader">chargement des données...</div>
         <div class="SearchBox">
            <div class="Search"><input type="text"></input><button class="clear">×</button></div>
            <ul class="SuggestionList"></ul>
            <details class="AdvancedOptions p-4 pt-2 pb-2">
               <summary>Options avancées</summary>
               <form class="options">
                  <div id="witnesses_selection"><b>Chercher dans les manuscrits&nbsp;:</b><span class="btn btn-sm btn-light p-0 m-0 px-1 mx-1 " onclick="var checkboxes = document.getElementsByName(&#34;fields&#34;); for (var checkbox of checkboxes) { checkbox.checked = true; }; const query = $searchInput.value;  const results = getSearchResults(query); renderSearchResults(results);">Tout sélectionner</span><span class="btn btn-sm btn-light p-0 m-0 px-1 mx-1" onclick="var checkboxes = document.getElementsByName(&#34;fields&#34;); for (var checkbox of checkboxes) { checkbox.checked = false; };const query = $searchInput.value;  const results = getSearchResults(query); renderSearchResults(results);">Tout désélectionner</span><span class="btn btn btn-sm btn-light p-0 m-0 px-1 mx-1" onclick="var checkboxes = document.getElementsByName(&#34;fields&#34;); for (var checkbox of checkboxes) { if (checkbox.checked) { checkbox.checked = false; } else { checkbox.checked = true; } };const query = $searchInput.value;  const results = getSearchResults(query); renderSearchResults(results);">Inverser la sélection</span><br/><label><b><input type="checkbox" name="fields" value="lem" checked=""></input>&nbsp;BnFfr 2817</b></label><label class="wit"><input type="checkbox" name="fields" value="Aix1419"></input>&nbsp;Aix1419</label> <label class="wit"><input type="checkbox" name="fields" value="Aix410"></input>&nbsp;Aix410</label> <label class="wit"><input type="checkbox" name="fields" value="Aix419"></input>&nbsp;Aix419</label> <label class="wit"><input type="checkbox" name="fields" value="BnDfr4964"></input>&nbsp;BnDfr4964</label> <label class="wit"><input type="checkbox" name="fields" value="BnF4965"></input>&nbsp;BnF4965</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr17174"></input>&nbsp;BnFfr17174</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr17274"></input>&nbsp;BnFfr17274</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr21316"></input>&nbsp;BnFfr21316</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr231146"></input>&nbsp;BnFfr231146</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr23136"></input>&nbsp;BnFfr23136</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr23145"></input>&nbsp;BnFfr23145</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr23146"></input>&nbsp;BnFfr23146</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr23148"></input>&nbsp;BnFfr23148</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr24136"></input>&nbsp;BnFfr24136</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr4964"></input>&nbsp;BnFfr4964</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr4965"></input>&nbsp;BnFfr4965</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr4967"></input>&nbsp;BnFfr4967</label> <label class="wit"><input type="checkbox" name="fields" value="BnFfr5299"></input>&nbsp;BnFfr5299</label> <label class="wit"><input type="checkbox" name="fields" value="BnFr23146"></input>&nbsp;BnFr23146</label> <label class="wit"><input type="checkbox" name="fields" value="Cha514"></input>&nbsp;Cha514</label> <label class="wit"><input type="checkbox" name="fields" value="Cha515"></input>&nbsp;Cha515</label> <label class="wit"><input type="checkbox" name="fields" value="Vat966"></input>&nbsp;Vat966</label> <label class="wit"><input type="checkbox" name="fields" value="_BnFfr23146"></input>&nbsp;_BnFfr23146</label> <label class="wit"><input type="checkbox" name="fields" value="et"></input>&nbsp;et</label> 
                  </div>
                  <div><b>Élargir la recherche</b><br/><label><input type="checkbox" name="prefix" value="false"></input>
                        Rechercher les mots qui commencent par... (par exemple
                        <code>qui</code> renverra <code>qui</code>,
                        <code>quidem</code>, etc.)</label><br/><label><input type="checkbox" name="fuzzy" value="false"></input>
                        Autoriser les résultats approximatifs</label></div>
                  <div><b>Rechercher</b><br/><label><input type="radio" name="combineWith" value="OR"></input>
                        au moins un des termes (<code>roy</code> ou
                        <code>ost</code>)</label><br/><label><input type="radio" name="combineWith" value="AND" checked=""></input> tous les termes (<code>roy</code> et
                        <code>ost</code>)</label></div>
               </form>
            </details>
         </div>
         <div class="m-4">
            <p class="Explanation">Votre recherche n'a donné aucun résultat. Grâce
               aux options avancées, vous pouvez élargir votre recherche en
               cherchant <i>les mots commençant par</i>, en autorisant les
               <i>résultats approximatifs</i> et en cherchant pour différents
               témoins.
            </p>
         </div>
         <ul class="resultsList"></ul>
      </div>
   </div>
</div><script xmlns="http://www.w3.org/1999/xhtml" src="https://cdn.jsdelivr.net/npm/minisearch@7.1.0/dist/umd/index.min.js"></script><script xmlns="http://www.w3.org/1999/xhtml" src="/static/js/auto_app_minisearch.js"></script><script xmlns="http://www.w3.org/1999/xhtml" src="/static/js/app_minisearch.js"></script>
{% endblock %}