{% extends "base.html.j2" %}

{% block pageTitle %}Sommaire du Livre II{% endblock %}

{% block containertype %}container{% endblock %}

{% block body %}
  <h2 class="title">Sommaire du Livre II</h2>
  {% include 'htm/summary_book2.htm'%}
{% endblock %}
