{% extends "base.html.j2" %}

{% block pageTitle %}Sommaire du Livre I{% endblock %}

{% block containertype %}container{% endblock %}

{% block body %}
  <h2 class="title">Sommaire du Livre I</h2>
  {% include 'htm/summary_book1.htm'%}
{% endblock %}
