{% extends "base.html.j2" %}

{% block pageTitle %}Repères chronologiques{% endblock %}

{% block css %}
  <link href="{{ url_for('static', filename='css/libs/vis-timeline-graph2d.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/timelines.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
  <h2 class="title">Repères chronologiques</h2>

  <div class="row">
    <div class="col" id="instructions">
      <p>Pour manipuler la frise chronologique :</p>
      <ul>
        <li>Pour zoomer-dézoomer, utiliser la roulette à l'intérieur du cadre.</li>
        <li>Pour se déplacer dans la frise, maintenir appuyé dans le cadre et déplacer la souris.</li>
      </ul>
    </div>
  </div>


  <div id="kingsVisualization"></div>

{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/libs/jquery-3.3.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/vis-timeline-graph2d.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timelines.js') }}"></script>
{% endblock %}
