
{% macro chapterTitle() %}Chapitre 11{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('11_chap_10')"><i class="fa-solid fa-arrow-left"></i> Chapitre 10</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('13_chap_12')">Chapitre 12 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f111/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f111/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f111" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f112/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f112/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f112" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f113/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f113/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f113" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f114/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f114/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f114" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f111">
   <p title="Numéro de folio" class="text-end"><i>38r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2033">§Lhiſtoire dit que
         Chilperich / par force,</span>
      <span class="verse v2034">Fiſt lun de lautre 
         <span class="lem">aſſez</span>
         
          toſt ſeparer.</span>
      <span class="verse v2035"><span class="verse-number">[2035]</span>Puys Merouee / a ſon 
         <span class="lem"></span>
         
         
         <span class="lem">deſeſperer</span>
         
         ,</span>
      <span class="verse v2036">De lame et corps cauſa piteux diuorſe.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre. xi<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v2037">APres doulx temps /
      <span class="lem">ſourd</span>
      
       oꝛaige et foꝛt 
      <span class="lem">vent</span>
      
      
       ;</span>
   <span class="verse v2038">Apꝛes plaiſir, ſuruient dueil bien ſouuent,</span>
   <span class="verse v2039">Comme il aduint apꝛes le cariaige</span>
   <span class="verse v2040"><span class="verse-number">[2040]</span>De ce ſoudain et legier mariaige.</span>
   <span class="verse v2041">Homme cueillant le fruict dautruy pommier</span>
   <span class="verse v2042">Souuent 
      <span class="lem">mengeut</span>
      
      
       / ſon pain blanc le pꝛemier,</span>
   <span class="verse v2043">Et trouue toſt ſa plaiſance bannie</span>
   <span class="verse v2044">Quant 
      <span class="lem"></span>
      
      
      <span class="lem">il</span>
      
       ſe alie a 
      <span class="lem"></span>
      
      male compaignie.</span>
   <span class="verse v2045"><span class="verse-number">[2045]</span>Qui mect plus 
      <span class="lem"></span>
      
      eau que vin en ſon hanap,</span>
   <span class="verse v2046">Ceſt fait paſſer la pane oultre le dꝛap.</span>
   <span class="verse v2047">Quant douleur rend lieſſe ſuccumbee,</span>
   <span class="verse v2048">La belle chere en va ſoudain tumbee.</span>
   <span class="verse v2049">Auſſi, ces deux / apꝛes auoir 
      <span class="lem"></span>
      
      empliz</span>
   <span class="verse v2050"><span class="verse-number">[2050]</span>Leurs cueurs de ioye / en deſirs acompliz,</span>
   <span class="verse v2051">Si tres ſoudain ſe retourna la chance,</span>
   <span class="verse v2052">Que 
      <span class="lem"></span>
      
      pour plaiſir 
      <span class="lem">eurent</span>
      
       male meſchance.</span>
   
   
   <hr data-img-id="f112">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Chilperich par
         ſubtil moyen eut Merouee et
         Brunechilde.</span><span title="Numéro de folio" class="folio-num"><i>38v</i></span></span>
   <span class="verse v2053">Car Chilperich, mal
      content de 
      <span class="lem">cela</span>
      
      ,</span>
   <span class="verse v2054">Dedans <mark title="placeName" instant="false" full="yes">Rouan</mark> ſon couroux deſcela</span>
   <span class="verse v2055"><span class="verse-number">[2055]</span>Et 
      <span class="lem">ſeffoꝛca</span>
      
       eulx deux faire ſurpꝛendꝛe.</span>
   <span class="verse v2056">Mais, ſa 
      <span class="lem">fureur</span>
      
       doubtans, 
      <span class="lem">ſe</span>
      
       allerent rendꝛe</span>
   <span class="verse v2057">En ung monſtier /
      qui franchiſe poꝛtoit /</span>
   <span class="verse v2058">Et luy fut dit que loiſible neſtoit /</span>
   <span class="verse v2059">Les en tirer ſans rompꝛe la franchiſe,</span>
   <span class="verse v2060"><span class="verse-number">[2060]</span>Et dautre part / que ceſtoit en legliſe</span>
   <span class="verse v2061">De <mark title="placeName" instant="false" full="yes">ſainct martin</mark>, foꝛtiffiee aſſez</span>
   <span class="verse v2062">Pour eſtre auant <span class="time" instant="false">neuf ou dix moys</span> paſſez,</span>
   <span class="verse v2063">Sans les auoir de la que par famine.</span>
   <span class="verse v2064">Loꝛs aduiſa y beſongner de myne,</span>
   <span class="verse v2065"><span class="verse-number">[2065]</span>Et doulcement enuoya deuers eulx,</span>
   <span class="verse v2066">Les 
      <span class="lem">depꝛians</span>
      
       neſtre de riens pouureux</span>
   <span class="verse v2067">Et que, 
      <span class="lem">pꝛeſentz</span>
      
       / tous ceulx de ſa nobleſſe,</span>
   <span class="verse v2068">Pꝛomectoit foy de roy et gentilleſſe,</span>
   <span class="verse v2069">Leur mariaige, a raiſon de bon dꝛoit,</span>
   <span class="verse v2070"><span class="verse-number">[2070]</span>Entretenir 
      <span class="lem"></span>
      
      de bien loyal endꝛoit.</span>
   <span class="verse v2071">Eulx confians (comme perſonnes folles)</span>
   <span class="verse v2072">Au fainct 
      <span class="lem"></span>
      
      blazon de parolles
      friuolles</span>
   <span class="verse v2073">Soꝛtirent hoꝛs 
      <span class="lem">a</span>
      
       leur ſanglant malheur,</span>
   <span class="verse v2074">Dueil / deſplaiſir / ennuy / peine / et douleur.</span>
   <span class="verse v2075"><span class="verse-number">[2075]</span>Car nonobſtant / que au ſemblant contrefaire</span>
   <span class="verse v2076">Sceuſt Chilperich
      ioyeuſe chere faire,</span>
   <span class="verse v2077">Et que durans <span class="time" instant="false">quatre ou cinq 
         <span class="lem">iour</span>
         
         
         </span> / leur fuſt</span>
   
   
   <hr data-img-id="f113">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Merouee
         ſen fuyt a <mark title="placeName" instant="false" full="yes">sainct martin</mark> de
         <mark title="placeName" instant="false" full="yes">Tours</mark>.</span><span title="Numéro de folio" class="folio-num"><i>39r</i></span></span>
   <span class="verse v2078">Dꝛeſſe recueil de gꝛacieux 
      <span class="lem">affuſt</span>
      
       /</span>
   <span class="verse v2079">En banquetz 
      <span class="lem"></span>
      
      pleins de viandes exquiſes,</span>
   <span class="verse v2080"><span class="verse-number">[2080]</span>Ioyeux eſbatz 
      <span class="lem"></span>
      
      et plaiſances requiſes,</span>
   <span class="verse v2081">Dont 
      <span class="lem">on</span>
      
       fait feſte et gꝛoſſe chere a gentz</span>
   <span class="verse v2082">Pour qui en riens ne 
      <span class="lem"></span>
      
      ſeſpergnent argentz,</span>
   <span class="verse v2083">Si 
      <span class="lem"></span>
      
      rendit toſt Bꝛunechilde
      attournee</span>
   <span class="verse v2084">De 
      <span class="lem">courte</span>
      
      
       ioye et chance 
      <span class="lem"></span>
      
      retournee.</span>
   <span class="verse v2085"><span class="verse-number">[2085]</span>Car, au partir, Merouee
      emmena</span>
   <span class="verse v2086">Dedans <mark title="placeName" instant="false" full="yes">Paris</mark> /. et ſoudain
      loꝛdonna</span>
   <span class="verse v2087">Mectre <i>in ſacris</i> /
      <span class="lem"></span>
      
      le voulant faire pꝛeſtre.</span>
   <span class="verse v2088">Mais conſeille / a leſtat impꝛopꝛe eſtre,</span>
   <span class="verse v2089">Sans y donner autre concluſion,</span>
   <span class="verse v2090"><span class="verse-number">[2090]</span>Se tint 
      <span class="lem">a tant</span>
      
       /
      <span class="lem"></span>
      
      A la ſuaſion</span>
   <span class="verse v2091">Du roy Gontran, ſon frere,
      et loꝛs demblee</span>
   <span class="verse v2092">Se departit /. dont la feſte troublee</span>
   <span class="verse v2093">Diligemment ſuyuy / pour ſeurs deſtours,</span>
   <span class="verse v2094">
      <span class="lem"></span>
      
      Se alla gecter a <mark title="placeName" instant="false" full="yes">ſainct martin</mark> de <mark title="placeName" instant="false" full="yes">Tours</mark>.</span>
   <span class="verse v2095"><span class="verse-number">[2095]</span>§Chilperich, mys au dur deſtroit et
      pꝛeſſe</span>
   <span class="verse v2096">De fier couroux / oꝛdonna charge expꝛeſſe</span>
   <span class="verse v2097">Aux ſiens deſquelz penſoit eſtre tout ſeur,</span>
   <span class="verse v2098"><span class="choice"><span title="Abbréviation pour Pour">Poꝛ</span></span>
      <span class="lem">le</span>
      
       tirer de leans par doulceur.</span>
   <span class="verse v2099">Car autrement neſtoit bon ny loiſible</span>
   <span class="verse v2100"><span class="verse-number">[2100]</span>Len gecter hoꝛs /. Mais il ne fut poſſible</span>
   <span class="verse v2101">A eulx 
      <span class="lem">lauoir</span>
      
       /. par ce que aduiſer ſceut</span>
   <span class="verse v2102">Quen pareil cas nagueres le deceut.</span>
   
   
   <hr data-img-id="f114">
   
   <span class="folio"><span class="d-block fw-bold mb-3">La mort de Merouee :-</span><span title="Numéro de folio" class="folio-num"><i>39v</i></span></span>
   <span class="verse v2103">Oꝛ, en ce temps, tindꝛent a gꝛandz miracles</span>
   <span class="verse v2104">Ung tas de folz / qui, ſoubz diuins oꝛacles,</span>
   <span class="verse v2105"><span class="verse-number">[2105]</span>Creurent les 
      <span class="lem"></span>
      
      ſoꝛtz de 
      <span class="lem">leur affaire</span>
      
      
       bons</span>
   <span class="verse v2106">
      <span class="lem">Sus</span>
      
       quelques motz de verſetz et reſpons.</span>
   <span class="verse v2107">A ceſte cauſe alla faire lecture</span>
   <span class="verse v2108">
      <span class="lem">Ce</span>
      
      Merouee en la ſaincte
      eſcripture,</span>
   <span class="verse v2109">Ou il trouua (ſelon linterpꝛeter)</span>
   <span class="verse v2110"><span class="verse-number">[2110]</span>
      <span class="lem"> Deuoir ſa voye autre part appꝛeſter. </span>
      
      </span>
   <span class="verse v2111">Ainſi en fiſt /.et 
      <span class="lem">ſe</span>
      
       partit demblee</span>
   <span class="verse v2112">Hoꝛs la franchiſe, a petite aſſemblee,</span>
   <span class="verse v2113">Et en <mark title="placeName" instant="false" full="yes">Champaigne</mark> alla / ou il fut pꝛis.</span>
   <span class="verse v2114">Loꝛs ſe trouua de craincte ſi eſpꝛis,</span>
   <span class="verse v2115"><span class="verse-number">[2115]</span>Doubtant tumber en la main de ſon pere,</span>
   <span class="verse v2116">Que le meſchant aloꝛs ſe deſeſpere</span>
   <span class="verse v2117">Et contraignit ung 
      <span class="lem"></span>
      
      ſien pꝛouchain affin</span>
   <span class="verse v2118">Le coup moꝛtel 
      <span class="lem"></span>
      
      luy donner /. Ceſt ſa fin.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f111">
   <blockquote class="ms-2">
      
      <span class="verse v2033">§L’histoire dit que
         <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, par force,</span>
      <span class="verse v2034">Fist l’un de l’autre <span style="position: relative;"><span class="lem">assez</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
                  <div class="collation-content">assé<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> tost separer.</span>
      <span class="verse v2035"><span class="verse-number">[2035]</span>Puys <mark class="persName">Merovee<span class="persName-info fw-normal on-right"><b>Mérovée II</b> (550 — 577)<span class="hr-100">&nbsp;</span>Prince franc (550-577)<br/><span class="hr-short">&nbsp;</span>Prince franc mérovingien, fils de Chilpéric Ier</span></mark>, à son <span style="position: relative;"><span class="lem">desesperer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
                  <div class="collation-content">desespoir<span class="coll-source"> [BnFfr4965]</span></div>
               </div></sup></span>,</span>
      <span class="verse v2036">De l’ame et corps causa piteux divorse.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre xi<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content">Chapitre xiime<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content">Chapitre.xii<sup>e</sup>.<span class="coll-source"> [Cha515]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content"><span class="choice">Chappitre</span> xii<sup>e</sup><span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content"><span class="choice">Chapitre</span> xii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>
      </blockquote>
   
   <span class="verse v2037">Aprés doulx temps,<span style="position: relative;"><span class="lem">sourd</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">sort<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup> oraige et fort <span style="position: relative;"><span class="lem">vent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content"><span class="unclear" instant="false">temps</span><span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content">temps<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span> ;</span>
   <span class="verse v2038">Aprés plaisir, survient dueil bien souvent,</span>
   <span class="verse v2039">Comme il advint aprés le carïaige</span>
   <span class="verse v2040"><span class="verse-number">[2040]</span>De ce soudain et legier marïaige.</span>
   <span class="verse v2041">Homme cueillant le fruict d’autruy pommier</span>
   <span class="verse v2042">Souvent <span style="position: relative;"><span class="lem">mengeut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content"><span>mange</span><span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content"></div>
            </div></sup></span> son pain blanc le premier,</span>
   <span class="verse v2043">Et trouve tost sa plaisance bannie</span>
   <span class="verse v2044">Quant <span style="position: relative;">il</span> se alie à male compaignie.</span>
   <span class="verse v2045"><span class="verse-number">[2045]</span>Qui mect plus eau que vin en son hanap<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>,</span>
   <span class="verse v2046">C’est fait passer la pane<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup> oultre le drap<sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup>.</span>
   <span class="verse v2047">Quant douleur rend lïesse succumbee,</span>
   <span class="verse v2048">La belle chere en va soudain tumbee.</span>
   <span class="verse v2049">Aussi, ces deux, aprés avoir empliz</span>
   <span class="verse v2050"><span class="verse-number">[2050]</span>Leurs cueurs de joye en desirs acompliz,</span>
   <span class="verse v2051">Si trés soudain se retourna la chance,</span>
   <span class="verse v2052">Que pour plaisir <span style="position: relative;"><span class="lem">eurent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
               <div class="collation-content">advient<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> male meschance.</span>
   
   
   <hr data-img-id="f112">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> par
      subtil moyen eut <mark class="persName">Merovee<span class="persName-info fw-normal on-left"><b>Mérovée II</b> (550 — 577)<span class="hr-100">&nbsp;</span>Prince franc (550-577)<br/><span class="hr-short">&nbsp;</span>Prince franc mérovingien, fils de Chilpéric Ier</span></mark> et
      <mark class="persName">Brunechilde<span class="persName-info fw-normal on-left"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark></span>
   <span class="verse v2053">Car <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, mal
      content de <span style="position: relative;"><span class="lem">cela</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
               <div class="collation-content">sela<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>,</span>
   <span class="verse v2054">Dedans <mark title="placeName" instant="false" full="yes">Rouan</mark> son couroux descela</span>
   <span class="verse v2055"><span class="verse-number">[2055]</span>Et <span style="position: relative;"><span class="lem">s’efforça</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">s’esforce<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> eulx deux faire surprendre.</span>
   <span class="verse v2056">Mais, sa <span style="position: relative;"><span class="lem">fureur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">faveur<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span> doubtans, <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content">s’en<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> allerent rendre</span>
   <span class="verse v2057">En ung monstier<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup>
      qui franchise<sup class="modal-call note-call" aria-hidden="true" id="noteCall6" data-modal-id="noteModal6">6</sup> portoit.</span>
   <span class="verse v2058">Et luy fut dit que loisible n’estoit</span>
   <span class="verse v2059">Les en tirer sans rompre la franchise,</span>
   <span class="verse v2060"><span class="verse-number">[2060]</span>Et d’autre part que c’estoit en l’eglise</span>
   <span class="verse v2061">De <mark title="placeName" instant="false" full="yes">Sainct Martin</mark>, fortiffïee assez</span>
   <span class="verse v2062">Pour estre avant <span class="time" instant="false">neuf ou dix moys</span> passéz,</span>
   <span class="verse v2063">Sans les avoir de là que par famine.</span>
   <span class="verse v2064">Lors advisa y besongner de myne<sup class="modal-call note-call" aria-hidden="true" id="noteCall7" data-modal-id="noteModal7">7</sup>,</span>
   <span class="verse v2065"><span class="verse-number">[2065]</span>Et doulcement envoya devers eulx,</span>
   <span class="verse v2066">Les <span style="position: relative;">deprians</span> n’estre de riens pouvreux</span>
   <span class="verse v2067">Et que, <span style="position: relative;"><span class="lem">presentz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">presant<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> tous ceulx de sa noblesse,</span>
   <span class="verse v2068">Promectoit foy de roy et gentillesse,</span>
   <span class="verse v2069">Leur marïaige, à raison de bon droit,</span>
   <span class="verse v2070"><span class="verse-number">[2070]</span>Entretenir de bien loyal endroit.</span>
   <span class="verse v2071">Eulx confïans, comme personnes folles,</span>
   <span class="verse v2072">Au fainct blazon<sup class="modal-call note-call" aria-hidden="true" id="noteCall8" data-modal-id="noteModal8">8</sup> de parolles
      frivolles</span>
   <span class="verse v2073">Sortirent hors <span style="position: relative;">à</span> leur sanglant malheur,</span>
   <span class="verse v2074">Dueil, desplaisir, ennuy, peine et douleur.</span>
   <span class="verse v2075"><span class="verse-number">[2075]</span>Car nonobstant que au semblant contrefaire</span>
   <span class="verse v2076">Sceust <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      joyeuse chere faire,</span>
   <span class="verse v2077">Et que durans <span class="time" instant="false">quatre ou cinq <span style="position: relative;">[jours]</span></span> leur fust</span>
   
   
   <hr data-img-id="f113">
   
   <span class="curr-title fw-bold"><mark class="persName">Merovee<span class="persName-info fw-normal on-left"><b>Mérovée II</b> (550 — 577)<span class="hr-100">&nbsp;</span>Prince franc (550-577)<br/><span class="hr-short">&nbsp;</span>Prince franc mérovingien, fils de Chilpéric Ier</span></mark>
      s’enfuyt à <mark title="placeName" instant="false" full="yes">Sainct Martin</mark> de
      <mark title="placeName" instant="false" full="yes">Tours</mark></span>
   <span class="verse v2078">Dressé recueil de gracïeux <span style="position: relative;"><span class="lem">affust</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">accueil<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>,</span>
   <span class="verse v2079">En banquetz pleins de vïandes exquises,</span>
   <span class="verse v2080"><span class="verse-number">[2080]</span>Joyeux esbatz et plaisances requises,</span>
   <span class="verse v2081">Dont <span style="position: relative;"><span class="lem">on</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> fait feste et grosse chere à gentz</span>
   <span class="verse v2082">Pour qui en riens ne s’espergnent argentz,</span>
   <span class="verse v2083">Si rendit tost <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark>
      attournee</span>
   <span class="verse v2084">De <span style="position: relative;"><span class="lem">courte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31">
               <div class="collation-content">tourte<span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">toute<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> joye et chance <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content"><s>tournee</s>
                  <span class="coll-source"> [BnFfr4964]</span></div>
            </div></sup></span>retournee.</span>
   <span class="verse v2085"><span class="verse-number">[2085]</span>Car, au partir, <mark class="persName">Merovee<span class="persName-info fw-normal on-right"><b>Mérovée II</b> (550 — 577)<span class="hr-100">&nbsp;</span>Prince franc (550-577)<br/><span class="hr-short">&nbsp;</span>Prince franc mérovingien, fils de Chilpéric Ier</span></mark>
      emmena</span>
   <span class="verse v2086">Dedans <mark title="placeName" instant="false" full="yes">Paris</mark> et soudain
      l’ordonna</span>
   <span class="verse v2087">Mectre <i>in sacris</i>,le voulant faire prestre.</span>
   <span class="verse v2088">Mais conseillé à l’estat impropre estre,</span>
   <span class="verse v2089">Sans y donner autre conclusïon,</span>
   <span class="verse v2090"><span class="verse-number">[2090]</span>Se tint <span style="position: relative;"><span class="lem">à tant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34">
               <div class="collation-content">actant<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>à la suasïon</span>
   <span class="verse v2091">Du roy <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>, son frere,
      et lors d’emblee</span>
   <span class="verse v2092">Se departit, dont la feste troublee</span>
   <span class="verse v2093">Diligemment suyvy, pour seurs destours,</span>
   <span class="verse v2094">Se alla gecter à <mark title="placeName" instant="false" full="yes">Sainct Martin</mark> de <mark title="placeName" instant="false" full="yes">Tours</mark>.</span>
   <span class="verse v2095"><span class="verse-number">[2095]</span>§<mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, mys au dur destroit et
      presse</span>
   <span class="verse v2096">De fier couroux, ordonna charge expresse</span>
   <span class="verse v2097">Aux siens desquelz pensoit estre tout seur,</span>
   <span class="verse v2098"><span class="choice"><span title="Abbrégé en Poꝛ">Pour</span></span><span style="position: relative;">le</span> tirer de lëans par doulceur.</span>
   <span class="verse v2099">Car autrement n’estoit bon ny loisible</span>
   <span class="verse v2100"><span class="verse-number">[2100]</span>L’en gecter hors. Mais il ne fut possible</span>
   <span class="verse v2101">À eulx <span style="position: relative;"><span class="lem">l’avoir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content">le <s>v</s> veoir<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>, par ce que adviser sceut</span>
   <span class="verse v2102">Qu’en pareil cas nagueres le deceut.</span>
   
   
   <hr data-img-id="f114">
   
   <span class="curr-title fw-bold">La mort de <mark class="persName">Merovee<span class="persName-info fw-normal on-left"><b>Mérovée II</b> (550 — 577)<span class="hr-100">&nbsp;</span>Prince franc (550-577)<br/><span class="hr-short">&nbsp;</span>Prince franc mérovingien, fils de Chilpéric Ier</span></mark></span>
   <span class="verse v2103">Or, en ce temps, tindrent à grandz miracles</span>
   <span class="verse v2104">Ung tas de folz qui, soubz divins oracles,</span>
   <span class="verse v2105"><span class="verse-number">[2105]</span>Creurent les sortz de <span style="position: relative;"><span class="lem">leur affaire</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content">leurs affaires<span class="coll-source"> [Aix419, Cha515]</span></div>
               <div class="collation-content"><span class="choice">leurs</span> affaires<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> bons</span>
   <span class="verse v2106"><span style="position: relative;">Sus</span> quelques motz de versetz et respons.</span>
   <span class="verse v2107">À ceste cause alla faire lecture</span>
   <span class="verse v2108"><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content">Or<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><mark class="persName">Merovee<span class="persName-info fw-normal on-right"><b>Mérovée II</b> (550 — 577)<span class="hr-100">&nbsp;</span>Prince franc (550-577)<br/><span class="hr-short">&nbsp;</span>Prince franc mérovingien, fils de Chilpéric Ier</span></mark> en la saincte
      escripture,</span>
   <span class="verse v2109">Où il trouva selon l’interpreter</span>
   <span class="verse v2110"><span class="verse-number">[2110]</span><span style="position: relative;"><span class="lem"> Devoir sa voye autre part apprester. </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span></span>
   <span class="verse v2111">Ainsi en fist.Et <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44">
               <div class="collation-content">s’en<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> partit d’emblee</span>
   <span class="verse v2112">Hors la franchise, à petite assemblee,</span>
   <span class="verse v2113">Et en <mark title="placeName" instant="false" full="yes">Champaigne</mark> alla, où il fut pris.</span>
   <span class="verse v2114">Lors se trouva de craincte si espris,</span>
   <span class="verse v2115"><span class="verse-number">[2115]</span>Doubtant tumber en la main de son pere,</span>
   <span class="verse v2116">Que le meschant alors se desespere</span>
   <span class="verse v2117">Et contraignit ung sien prouchain affin</span>
   <span class="verse v2118">Le coup mortel luy donner. C’est sa fin.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(2037);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Survient (verbe <i>sourdre</i>).</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(2045);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Grand vase à
      boire.</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(2046);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Pièe de
      fourrure.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(2046);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">De même que
      mettre trop d'eau dans son vin le gâche, de même un excès de
      fourrure nuit au
      tissu.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(2057);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Eglise.</div>
   <h4 class="modal-title" modal-title="noteModal6"><a href="javascript:versePointer(2057);">Note n°6</a></h4>
   <div class="modal-text" modal-text="noteModal6">Asile.</div>
   <h4 class="modal-title" modal-title="noteModal7"><a href="javascript:versePointer(2064);">Note n°7</a></h4>
   <div class="modal-text" modal-text="noteModal7">En prenant un
      air aimable.</div>
   <h4 class="modal-title" modal-title="noteModal8"><a href="javascript:versePointer(2072);">Note n°8</a></h4>
   <div class="modal-text" modal-text="noteModal8">Propos flatteur.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2034);">v. 2034</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>assé</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2035);">v. 2035</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>desespoir</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xiime</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chapitre.xii<sup>e</sup>.</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xii<sup>e</sup></span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2037);">v. 2037</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sort</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2037);">v. 2037</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><span class="unclear" instant="false">temps</span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>temps</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2052);">v. 2052</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>advient</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2053);">v. 2053</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sela</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2055);">v. 2055</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>s’esforce</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2056);">v. 2056</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>faveur</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2056);">v. 2056</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>s’en</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2067);">v. 2067</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>presant</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2078);">v. 2078</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>accueil</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2081);">v. 2081</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2084);">v. 2084</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>tourte</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>toute</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2084);">v. 2084</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><s>tournee</s>
            </span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2090);">v. 2090</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>actant</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2101);">v. 2101</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>le <s>v</s> veoir</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2105);">v. 2105</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515 </span>leurs affaires</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">leurs</span> affaires</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2108);">v. 2108</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Or</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2110);">v. 2110</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2111);">v. 2111</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>s’en</span></div>
      </div>
</div>
{% endmacro %}
