
{% macro chapterTitle() %}Chapitre 15{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('15_chap_14')"><i class="fa-solid fa-arrow-left"></i> Chapitre 14</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('17_chap_16')">Chapitre 16 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f137/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f137/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f137" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f138/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f138/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f138" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f139/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f139/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f139" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f140/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f140/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f140" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f141/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f141/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f141" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f142/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f142/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f142" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f143/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f143/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f143" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f137">
   <p title="Numéro de folio" class="text-end"><i>51r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2652">§Tournez fueillet. ſi verrez en ce liure</span>
      <span class="verse v2653">Eſtre aduenuz 
         <span class="lem">ce</span>
         
          temps, en diuers lieux,</span>
      <span class="verse v2654">Prodiges grandz / et ſignes merueilleux</span>
      <span class="verse v2655"><span class="verse-number">[2655]</span>Dont de 
         <span class="lem">griefz</span>
         
          maulx ne fut <mark title="placeName" instant="false" full="yes">france</mark> deliure.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.&nbsp;xu<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f138">
   <span title="Numéro de folio" class="folio-num"><i>51v</i></span>
   
   
   <hr data-img-id="f139">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Des ſignes qui en ciel et en terre apparurent en <mark title="placeName" instant="false" full="yes">france</mark></span><span title="Numéro de folio" class="folio-num"><i>52r</i></span></span>
   <span class="verse v2656">Aquarius, gꝛand miniſtre
      des eaux /</span>
   <span class="verse v2657">Ouurant 
      <span class="lem">du ciel</span>
      
      
       les conduitz et tuyaux,</span>
   <span class="verse v2658">En <mark title="placeName" instant="false" full="yes">france</mark>, fiſt celluy 
      <span class="lem">an</span>
      
       / tel deluge,</span>
   <span class="verse v2659">Que puys le temps du bon Noe /
      <span class="lem"></span>
      
      ne 
      <span class="lem"></span>
      
      leu ie</span>
   <span class="verse v2660"><span class="verse-number">[2660]</span>Sur le 
      <span class="lem">climat</span>
      
       / francois / auoir eſte</span>
   <span class="verse v2661">Ung ſi diuers et merueilleux eſte.</span>
   <span class="verse v2662">Pluye en <span class="date" when="--09" instant="false">ſeptembꝛe</span> /
      <span class="lem">a</span>
      
       tres gꝛoſſe habondance</span>
   <span class="verse v2663">Suruint (
      <span class="lem">par</span>
      
       quoy) ſonna piteuſe dance,</span>
   <span class="verse v2664">Car Eolus fiſt Auſter tant ſoufler</span>
   <span class="verse v2665"><span class="verse-number">[2665]</span>Quil contraignit les gꝛos 
      <span class="lem">fluues</span>
      
       enfler.</span>
   <span class="verse v2666">Et tellement par tout 
      <span class="lem">ſe</span>
      
       deſboꝛderent /</span>
   <span class="verse v2667">Que 
      <span class="lem"></span>
      
      
      <span class="lem">beſtiaux</span>
      
      
       et maiſons empoꝛterent /</span>
   <span class="verse v2668">Par ce deluge / et ſoudain 
      <span class="lem">appoꝛt</span>
      
       deaux,</span>
   <span class="verse v2669">En diuers lieux A<mark title="placeName" instant="false" full="yes">Lion</mark> et <mark title="placeName" instant="false" full="yes">Boꝛdeaux</mark></span>
   <span class="verse v2670"><span class="verse-number">[2670]</span>Tumberent / gꝛandz et puiſſans ediffices /.</span>
   <span class="verse v2671">Nature adoncq ne vſa de ſes offices</span>
   <span class="verse v2672">Quant a germer ſemences /. dont poureux</span>
   <span class="verse v2673">Deuindꝛent 
      <span class="lem">tous</span>
      
       les poures laboureux,</span>
   <span class="verse v2674">Car la ſaiſon neurent bien oppoꝛtune</span>
   <span class="verse v2675"><span class="verse-number">[2675]</span>De pouoir mectre / et ſemer gꝛaine aulcune /.</span>
   <span class="verse v2676">Loꝛs peuple fut / plus que iamais, trouble</span>
   <span class="verse v2677">
      <span class="lem">Voyant</span>
      
       ſi gꝛande enchere mectre 
      <span class="lem"></span>
      
      ou ble /.</span>
   <span class="verse v2678">Puys quant les eaux peu a peu 
      <span class="lem">ſeſcoullerent</span>
      
       /</span>
   
   <span class="verse v2679">
      <span class="lem">
         <span class="lem"></span>
         
         Et quau dꝛoit cours de 
         <span class="lem">leurs</span>
         
          places coullerent /</span>
      
      </span>
   <span class="verse v2680"><span class="verse-number">[2680]</span>On veit aſſez arbꝛes couuers de fleurs /</span>
   
   
   <hr data-img-id="f140">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Des ſignes et prodiges qui furent en <mark title="placeName" type="territoire" instant="false" full="yes">france</mark>.</span><span title="Numéro de folio" class="folio-num"><i>52v</i></span></span>
   <span class="verse v2681">La terre auſſi, de diuerſes couleurs</span>
   <span class="verse v2682">Moult enrichie / et foꝛt belle / pour veue</span>
   <span class="verse v2683">Raſſaſier /. mais de 
      <span class="lem">fruictz</span>
      
       non pourueue.</span>
   <span class="verse v2684">§
      <span class="lem">Les</span>
      
      
      <span class="lem"></span>
      
      Tourengeaulx, 
      <span class="lem">par</span>
      
      
       admirations</span>
   <span class="verse v2685"><span class="verse-number">[2685]</span>De 
      <span class="lem">gꝛandz eſclairs</span>
      
       / et fulgurations,</span>
   <span class="verse v2686">Furent eſmeuz de friſſons 
      <span class="lem">redoubtables</span>
      
       /</span>
   <span class="verse v2687">Cris merueilleux / tres foꝛt 
      <span class="lem">eſpouentables</span>
      
      .</span>
   <span class="verse v2688">En diuers lieux, menerent 
      <span class="lem">tel</span>
      
       ſabat /</span>
   <span class="verse v2689">Comme quant vent arbꝛes froiſſe et abat /.</span>
   <span class="verse v2690"><span class="verse-number">[2690]</span>A <mark title="placeName" instant="false" full="yes">Boꝛdeaux</mark> cheut (du
      ciel) hoꝛrible fouldꝛe,</span>
   <span class="verse v2691">Qui 
      <span class="lem">gꝛandz</span>
      
       manoirs fiſt conſommer en pouldꝛe /.</span>
   <span class="verse v2692">Tel tremblement de terre y eut / que tous</span>
   <span class="verse v2693">Les citoyens, humiliez 
      <span class="lem"></span>
      
      et doulx,</span>
   <span class="verse v2694">Tindꝛent les champs / pour loꝛs / maintes iournees /.</span>
   <span class="verse v2695"><span class="verse-number">[2695]</span>§Ces mouuements, 
      <span class="lem">vers</span>
      
       les montz <mark title="placeName" instant="false" full="yes">Pyꝛenees</mark>,</span>
   <span class="verse v2696">En ceſt inſtant, ſe allerent pꝛeſenter,</span>
   <span class="verse v2697">Sans les plus 
      <span class="lem">haultz</span>
      
       en permectre exempter.</span>
   <span class="verse v2698">Car gꝛandz rochiers / par 
      <span class="lem"></span>
      
      terribles tempeſtes,</span>
   <span class="verse v2699">En trebuchant / meurdꝛirent gentz et beſtes /.</span>
   <span class="verse v2700"><span class="verse-number">[2700]</span>§Ceulx D<mark title="placeName" instant="false" full="yes">orleans</mark> /Berruyers /
      <span class="lem">et</span>
      
      Chartrains,</span>
   <span class="verse v2701">En lieux 
      <span class="lem">pꝛofondz</span>
      
       / et bas / furent 
      <span class="lem">contrainctz</span>
      
      </span>
   <span class="verse v2702">Faire ſeiour, 
      <span class="lem">par leſpeſſeur</span>
      
       des 
      <span class="lem">gꝛeſles</span>
      
      .</span>
   <span class="verse v2703">
      <span class="lem">Tonnerre</span>
      
      
       /
      <span class="lem">eſclair</span>
      
       / et fouldꝛes tres cruelles</span>
   <span class="verse v2704">Trouuerent foꝛt 
      <span class="lem">leurs</span>
      
       biens endommaigez /.</span>
   <span class="verse v2705"><span class="verse-number">[2705]</span>Aloꝛs, fut dit par bons hommes aagez</span>
   
   
   <hr data-img-id="f141">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Diuers maulx qui furent en
         <mark title="placeName" instant="false" full="yes">France</mark>.</span><span title="Numéro de folio" class="folio-num"><i>53r</i></span></span>
   <span class="verse v2706">Que, des le temps denfance / en 
      <span class="lem">leur</span>
      
       bas aages,</span>
   <span class="verse v2707">Auoient apꝛis telz ſignes et 
      <span class="lem"></span>
      
      pꝛeſaiges</span>
   <span class="verse v2708">Eſtre rappoꝛtz de gꝛandz 
      <span class="lem">maulx</span>
      
       a venir.</span>
   <span class="verse v2709">Ce que lon vit toſt apꝛes aduenir,</span>
   <span class="verse v2710"><span class="verse-number">[2710]</span>Par les perilz qui 
      <span class="lem"></span>
      
      lannee arriuerent /</span>
   <span class="verse v2711">§Roys contre roys
      lourdement eſtriuerent /</span>
   <span class="verse v2712">Noyſes / debatz / diſcoꝛdz / contentions,</span>
   <span class="verse v2713">Aigꝛes / rumeurs / haynes / diſcentions</span>
   <span class="verse v2714">Multiplians, ainſi quen mer lareyne /.</span>
   <span class="verse v2715"><span class="verse-number">[2715]</span>Gentz contre gentz / et regne contre regne,</span>
   <span class="verse v2716">Frere 
      <span class="lem">ſur</span>
      
       frere /Oncle contre nepueu.</span>
   <span class="verse v2717">Long temps nauoit eſte ouy ne veu</span>
   <span class="verse v2718">Le ciel donner ſi mauuaiſe influence,</span>
   <span class="verse v2719">Dont pꝛocedaſt une telle affluence</span>
   <span class="verse v2720"><span class="verse-number">[2720]</span>Deſtranges maulx / et accidens diuers,</span>
   <span class="verse v2721">Pour faire 
      <span class="lem">humains</span>
      
       tant geſir a lenuers /</span>
   <span class="verse v2722">Car 
      <span class="lem">fiebure</span>
      
      
       et 
      <span class="lem">flux</span>
      
       tindꝛent comme en ſouffrance</span>
   <span class="verse v2723">La plus gꝛand part du royaulme de <mark title="placeName" instant="false" full="yes">france</mark> /.</span>
   <span class="verse v2724">Mal deſtomach /.
      <span class="lem"></span>
      
      eſuanouyſſemens,</span>
   <span class="verse v2725"><span class="verse-number">[2725]</span>Douleurs de cueur / ſoudains vomiſſemens,</span>
   <span class="verse v2726">Teſtes et reins 
      <span class="lem">ſouffrirent</span>
      
      
      
      <span class="lem">peines telles</span>
      
      </span>
   <span class="verse v2727">Que font poꝛter afflictions moꝛtelles /.</span>
   <span class="verse v2728">Ceſtoit pitie / douyꝛ plaindꝛe et gemir</span>
   <span class="verse v2729">Les pacientz /
      <span class="lem">par foꝛce</span>
      
      
       de 
      <span class="lem"></span>
      
      vomir</span>
   <span class="verse v2730"><span class="verse-number">[2730]</span>Linfection a pleine goꝛge ouuerte,</span>
   
   
   <hr data-img-id="f142">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Les trois filz de Chilperich mortz de peſte.</span><span title="Numéro de folio" class="folio-num"><i>53v</i></span></span>
   <span class="verse v2731">Comme poyſon de couleur iaulne et verte.</span>
   <span class="verse v2732">§Par tous
      endꝛoitctz /. ceſte moꝛtalite</span>
   <span class="verse v2733">Rendit aloꝛs maint coꝛps moꝛt / alitte,</span>
   <span class="verse v2734">Dont peu de ceulx qui venins telz 
      <span class="lem"></span>
      
      receurent /</span>
   <span class="verse v2735"><span class="verse-number">[2735]</span>Hoꝛs du danger marcher par terre ſceurent /</span>
   <span class="verse v2736">Meſmes le roy Chilperich / foꝛt attainct</span>
   <span class="verse v2737">De fiebure aigue, a lheure fuſt / extaint</span>
   <span class="verse v2738">Et aſſomme / ſe la diuine eſſence</span>
   <span class="verse v2739">Ne leuſt remys en ſa conualeſcence.</span>
   <span class="verse v2740"><span class="verse-number">[2740]</span>Mais toſt apꝛes quil ſe 
      <span class="lem"></span>
      
      trouua 
      <span class="lem">guery</span>
      
      ,</span>
   <span class="verse v2741">Moꝛt, qui 
      <span class="lem">tout</span>
      
       moꝛd, luy fiſt le cueur marry</span>
   <span class="verse v2742">Et ſe monſtra ſi peruerſe ennemye</span>
   <span class="verse v2743">Que 
      <span class="lem">ſes</span>
      
       enfans, de loꝛde epidimye</span>
   <span class="verse v2744">Empoiſonnez / ſans quelconcques mercis</span>
   <span class="verse v2745"><span class="verse-number">[2745]</span>Tous trois rendit / par ſon 
      <span class="lem">glayue</span>
      
      
      <span class="lem">tranſis</span>
      
      
      ,</span>
   <span class="verse v2746">Non eulx ſans plus /Mais par moꝛtel gaignaige</span>
   <span class="verse v2747">La plus gꝛand part / de ſon pꝛouchain 
      <span class="lem"></span>
      
      lignaige.</span>
   
   <span class="verse v2748">§
      <span class="lem">Loꝛs fredegonde, affligee en langueur,</span>
      
      </span>
   <span class="verse v2749">
      <span class="lem">De dueil moꝛdant ſon triſte et dolent cueur</span>
      
      </span>
   <span class="verse v2750"><span class="verse-number">[2750]</span>Par ung contrict 
      <span class="lem"></span>
      
      remoꝛs de ſindereze,</span>
   <span class="verse v2751">Doubtant pouoir de ſoy reſcinder aiſe,</span>
   <span class="verse v2752">
      <span class="lem">Les</span>
      
       maulx paſſez, pꝛeſens et a venir,</span>
   <span class="verse v2753">Delibera meilleure 
      <span class="lem">deuenir</span>
      
      .</span>
   <span class="verse v2754">Et tout ainſi contriſtee et dolente,</span>
   <span class="verse v2755"><span class="verse-number">[2755]</span>Plongee 
      <span class="lem">ou</span>
      
      
      <span class="lem">lac</span>
      
       dangoiſſe violente</span>
   
   
   <hr data-img-id="f143">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Remonſtrance par lacteur des maulx
         ſuſditz.</span><span title="Numéro de folio" class="folio-num"><i>54r</i></span></span>
   <span class="verse v2756">Vers Chilperich
      <span class="lem">ſus</span>
      
       lheure ſe tira</span>
   <span class="verse v2757">Oꝛ fault ſcauoir 
      <span class="lem">ce</span>
      
       quelle luy dira.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f137">
   <blockquote class="ms-2">
      
      <span class="verse v2652">§Tournez fueillet, si verrez en ce livre</span>
      <span class="verse v2653">Estre advenuz <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
                  <div class="collation-content">cy<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span> temps, en divers lieux,</span>
      <span class="verse v2654">Prodiges grandz et signes merveilleux</span>
      <span class="verse v2655"><span class="verse-number">[2655]</span>Dont de <span style="position: relative;"><span class="lem">griefz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
                  <div class="collation-content">grief<span class="coll-source"> [BnFfr17274]</span></div>
               </div></sup></span> maulx ne fut <mark title="placeName" instant="false" full="yes">France</mark> delivre.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xv<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
               <div class="collation-content">Chapitre xvi me<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content"><span class="choice">Chappitre</span> xvi<sup>me</sup><span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content"><span class="choice">Chapitre</span> xvi<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">Chappittre .xvi<sup>e</sup>.<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f138">
   
   
   
   <hr data-img-id="f139">
   
   <span class="curr-title fw-bold">Des signes qui en ciel et en terre apparurent en <mark title="placeName" instant="false" full="yes">France</mark></span>
   <span class="verse v2656"><mark class="persName">Aquarïus<span class="persName-info fw-normal on-right"><b>Aquarius</b><span class="hr-short">&nbsp;</span>Divinité marine</span></mark>, grand ministre
      des eaux,</span>
   <span class="verse v2657">Ouvrant <span style="position: relative;"><span class="lem">du ciel</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content"></div>
               <div class="collation-content">des cieux<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> les conduitz et tuyaux,</span>
   <span class="verse v2658">En <mark title="placeName" instant="false" full="yes">France</mark>, fist celluy <span style="position: relative;"><span class="lem">an</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> tel deluge,</span>
   <span class="verse v2659">Que puys le temps du bon <mark class="persName">Noé<span class="persName-info fw-normal on-right"><b>Noé</b><span class="hr-short">&nbsp;</span>Personnage de la Bible impliqué dans le récit du Déluge</span></mark>ne leu je</span>
   <span class="verse v2660"><span class="verse-number">[2660]</span>Sur le <span style="position: relative;"><span class="lem">climat</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content">chemain<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> françois avoir esté</span>
   <span class="verse v2661">Ung si divers et merveilleux esté.</span>
   <span class="verse v2662">Pluye en <span class="date" when="--09" instant="false">septembre</span><span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">en<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> trés grosse habondance</span>
   <span class="verse v2663">Survint, <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10">
               <div class="collation-content">pour<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> quoy sonna piteuse dance,</span>
   <span class="verse v2664">Car <mark class="persName">Eolus<span class="persName-info fw-normal on-right"><b>Éole</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, fils d'Hippotès et maître des
            vents</span></mark> fist <mark class="persName">Auster<span class="persName-info fw-normal on-right"><b>Auster</b><span class="hr-short">&nbsp;</span>Dieu des vents du sud dans la mythologie romaine</span></mark> tant soufler</span>
   <span class="verse v2665"><span class="verse-number">[2665]</span>Qu’il contraignit les gros <span style="position: relative;"><span class="lem">fluves</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content">feuves<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> enfler.</span>
   <span class="verse v2666">Et tellement partout <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> desborderent</span>
   <span class="verse v2667">Que <span style="position: relative;"><span class="lem">bestïaux</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
               <div class="collation-content">batteaux<span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">basteaulx<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et maisons emporterent.</span>
   <span class="verse v2668">Par ce deluge et soudain <span style="position: relative;"><span class="lem">apport</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
               <div class="collation-content">appert<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> d’eaux,</span>
   <span class="verse v2669">En divers lieux à<mark title="placeName" instant="false" full="yes">Lïon</mark> et <mark title="placeName" instant="false" full="yes">Bordeaux</mark></span>
   <span class="verse v2670"><span class="verse-number">[2670]</span>Tumberent grandz et puissans ediffices.</span>
   <span class="verse v2671">Nature adoncq ne usa de ses offices</span>
   <span class="verse v2672">Quant à germer semences, dont poureux</span>
   <span class="verse v2673">Devindrent <span style="position: relative;"><span class="lem">tous</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> les povres laboureux,</span>
   <span class="verse v2674">Car la saison n’eurent bien opportune</span>
   <span class="verse v2675"><span class="verse-number">[2675]</span>De pouoir mectre et semer graine aulcune.</span>
   <span class="verse v2676">Lors peuple fut, plus que jamais, troublé</span>
   <span class="verse v2677"><span style="position: relative;"><span class="lem">Voyant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">Veoir<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> si grande enchere mectre ou blé.</span>
   <span class="verse v2678">Puys quant les eaux peu à peu <span style="position: relative;"><span class="lem">s’escoullerent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">s’en <span class="choice">coullerent</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>,</span>
   
   <span class="verse v2679"><span style="position: relative;"><span class="lem">Et qu’au droit cours de <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22">
                     <div class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></div>
                  </div></sup></span> places coullerent,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">
                  Et que au droit cours de leurs places
                  coullerent
                  <span class="coll-source"> [BnF4965]</span></div>
            </div></sup></span></span>
   <span class="verse v2680"><span class="verse-number">[2680]</span>On veit assez arbres couvers de fleurs,</span>
   
   
   <hr data-img-id="f140">
   
   <span class="curr-title fw-bold">Des signes et prodiges qui furent en <mark title="placeName" type="territoire" instant="false" full="yes">France</mark></span>
   <span class="verse v2681">La terre aussi, de diverses couleurs</span>
   <span class="verse v2682">Moult enrichie, et fort belle pour veue</span>
   <span class="verse v2683">Rassasïer, mais de <span style="position: relative;"><span class="lem">fruictz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content">fruit<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> non pourveue.</span>
   <span class="verse v2684">§<span style="position: relative;"><span class="lem">Les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
               <div class="collation-content">Lors<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span>Tourengeaulx, <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content"><span class="choice">pour</span><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">pour<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> admiratïons</span>
   <span class="verse v2685"><span class="verse-number">[2685]</span>De <span style="position: relative;"><span class="lem">grandz esclairs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">grandes esclasts<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et fulguratïons,</span>
   <span class="verse v2686">Furent esmeuz de frissons <span style="position: relative;"><span class="lem">redoubtables</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">redoutable<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>,</span>
   <span class="verse v2687">Cris merveilleux trés fort <span style="position: relative;"><span class="lem">espouentables</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
               <div class="collation-content"><span class="choice">espouventable</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>.</span>
   <span class="verse v2688">En divers lieux, menerent <span style="position: relative;">tel</span> sabat</span>
   <span class="verse v2689">Comme quant vent arbres froisse et abat.</span>
   <span class="verse v2690"><span class="verse-number">[2690]</span>À <mark title="placeName" instant="false" full="yes">Bordeaux</mark> cheut du
      ciel horrible fouldre,</span>
   <span class="verse v2691">Qui <span style="position: relative;"><span class="lem">grandz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31">
               <div class="collation-content">grand<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> manoirs fist consommer en pouldre.</span>
   <span class="verse v2692">Tel tremblement de terre y eut, que tous</span>
   <span class="verse v2693">Les citoyens, humilïéz et doulx,</span>
   <span class="verse v2694">Tindrent les champs, pour lors, maintes journees.</span>
   <span class="verse v2695"><span class="verse-number">[2695]</span>§Ces mouvements, <span style="position: relative;"><span class="lem">vers</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content"><span class="choice">par</span><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> les montz <mark title="placeName" instant="false" full="yes">Pyrenees</mark>,</span>
   <span class="verse v2696">En cest instant, se allerent presenter,</span>
   <span class="verse v2697">Sans les plus <span style="position: relative;"><span class="lem">haultz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34">
               <div class="collation-content">hault<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> en permectre exempter.</span>
   <span class="verse v2698">Car grandz rochiers, par terribles tempestes,</span>
   <span class="verse v2699">En trebuchant meurdrirent gentz et bestes.</span>
   <span class="verse v2700"><span class="verse-number">[2700]</span>§Ceulx d’<mark title="placeName" instant="false" full="yes">Orlëans</mark>,Berruyers<span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>Chartrains,</span>
   <span class="verse v2701">En lieux <span style="position: relative;"><span class="lem">profondz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
               <div class="collation-content">profond<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et bas, furent <span style="position: relative;"><span class="lem">contrainctz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content">contrainct<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span></span>
   <span class="verse v2702">Faire sejour, <span style="position: relative;"><span class="lem">par l’espesseur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39">
               <div class="collation-content">parspoisseur<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> des <span style="position: relative;"><span class="lem">gresles</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content">gresle<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>.</span>
   <span class="verse v2703"><span style="position: relative;"><span class="lem">Tonnerre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41">
               <div class="collation-content">Tonnerres<span class="coll-source"> [BnFfr23146]</span></div>
               <div class="collation-content">Tonnoire<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>,<span style="position: relative;">esclair</span> et fouldres trés cruelles</span>
   <span class="verse v2704">Trouverent fort <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> biens endommaigéz.</span>
   <span class="verse v2705"><span class="verse-number">[2705]</span>Alors, fut dit par bons hommes aagéz</span>
   
   
   <hr data-img-id="f141">
   
   <span class="curr-title fw-bold">Divers maulx qui furent en
      <mark title="placeName" instant="false" full="yes">France</mark></span>
   <span class="verse v2706">Que, dès le temps d’enfance en <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44">
               <div class="collation-content">leurs<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> bas aages,</span>
   <span class="verse v2707">Avoient apris telz signes et presaiges</span>
   <span class="verse v2708">Estre rapportz de grandz <span style="position: relative;"><span class="lem">maulx</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46">
               <div class="collation-content">eaux<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> à venir.</span>
   <span class="verse v2709">Ce que l’on vit tost aprés advenir,</span>
   <span class="verse v2710"><span class="verse-number">[2710]</span>Par les perilz qui l’annee arriverent.</span>
   <span class="verse v2711">§Roys contre roys
      lourdement estriverent,</span>
   <span class="verse v2712">Noyses, debatz, discordz, contentïons,</span>
   <span class="verse v2713">Aigres rumeurs, haynes, discentïons</span>
   <span class="verse v2714">Multiplians, ainsi qu’en mer l’areyne<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>.</span>
   <span class="verse v2715"><span class="verse-number">[2715]</span>Gentz contre gentz et regne contre regne,</span>
   <span class="verse v2716">Frere <span style="position: relative;">sur</span> frere,oncle contre nepveu,</span>
   <span class="verse v2717">Longtemps n’avoit esté ouy ne veu</span>
   <span class="verse v2718">Le ciel donner si mauvaise influence,</span>
   <span class="verse v2719">Dont procedast une telle affluence</span>
   <span class="verse v2720"><span class="verse-number">[2720]</span>D’estranges maulx et accidens divers,</span>
   <span class="verse v2721">Pour faire <span style="position: relative;"><span class="lem">humains</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49">
               <div class="collation-content">humais<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> tant gesir à l’envers.</span>
   <span class="verse v2722">Car <span style="position: relative;"><span class="lem">fiebvre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50">
               <div class="collation-content">fiebvre<s>s</s><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">fievres<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et <span style="position: relative;"><span class="lem">flux</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51">
               <div class="collation-content">frux<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> tindrent comme en souffrance</span>
   <span class="verse v2723">La plus grand part du royaulme de <mark title="placeName" instant="false" full="yes">France</mark>.</span>
   <span class="verse v2724">Mal d’estomach,<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52">
               <div class="collation-content">et <span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>esvanouÿssemens,</span>
   <span class="verse v2725"><span class="verse-number">[2725]</span>Douleurs de cueur, soudains vomissemens,</span>
   <span class="verse v2726">Testes et reins <span style="position: relative;"><span class="lem">souffrirent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53">
               <div class="collation-content"></div>
               <div class="collation-content"><span class="choice">souffrent</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">peines telles</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54">
               <div class="collation-content">paine telle<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span></span>
   <span class="verse v2727">Que font porter afflictïons mortelles.</span>
   <span class="verse v2728">C’estoit pitié d’ouyr plaindre et gemir</span>
   <span class="verse v2729">Les pacïentz,<span style="position: relative;"><span class="lem">par force</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55">
               <div class="collation-content">perforcéz<span class="coll-source"> [BnFfr4965]</span></div>
               <div class="collation-content">parforcéz<span class="coll-source"> [Aix419, Cha515]</span></div>
            </div></sup></span> de vomir</span>
   <span class="verse v2730"><span class="verse-number">[2730]</span>L’infectïon à pleine gorge ouverte,</span>
   
   
   <hr data-img-id="f142">
   
   <span class="curr-title fw-bold">Les trois filz de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> mortz de peste</span>
   <span class="verse v2731">Comme poyson de couleur jaulne et verte.</span>
   <span class="verse v2732">§Par tous
      endroitctz ceste mortalité</span>
   <span class="verse v2733">Rendit alors maint corps mort alitté,</span>
   <span class="verse v2734">Dont peu de ceulx qui venins telz receurent</span>
   <span class="verse v2735"><span class="verse-number">[2735]</span>Hors du danger marcher par terre sceurent.</span>
   <span class="verse v2736">Mesmes le roy <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, fort attainct</span>
   <span class="verse v2737">De fiebvre aigue, à l’heure fust extaint</span>
   <span class="verse v2738">Et assommé, se la divine essence</span>
   <span class="verse v2739">Ne l’eust remys en sa convalescence.</span>
   <span class="verse v2740"><span class="verse-number">[2740]</span>Mais tost aprés qu’il se trouva <span style="position: relative;"><span class="lem">guery</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59">
               <div class="collation-content">guary<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>,</span>
   <span class="verse v2741">Mort, qui <span style="position: relative;"><span class="lem">tout</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60">
               <div class="collation-content">tant<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> mord, luy fist le cueur marry</span>
   <span class="verse v2742">Et se monstra si perverse ennemye</span>
   <span class="verse v2743">Que <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61">
               <div class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> enfans, de l’orde epidimye</span>
   <span class="verse v2744">Empoisonnéz, sans quelconcques mercis</span>
   <span class="verse v2745"><span class="verse-number">[2745]</span>Tous trois rendit, par son <span style="position: relative;"><span class="lem">glayve</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62">
               <div class="collation-content">laisne<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">transis</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown63" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown63">
               <div class="collation-content">trans sys<span class="coll-source"> [BnFfr23146]</span></div>
               <div class="collation-content">transsis<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>,</span>
   <span class="verse v2746">Non eulx sans plus,mais par mortel gaignaige</span>
   <span class="verse v2747">La plus grand part de son prouchain lignaige.</span>
   
   <span class="verse v2748">§<span style="position: relative;"><span class="lem">Lors <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>, affligee en langueur,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span></span>
   <span class="verse v2749"><span style="position: relative;"><span class="lem">De dueil mordant son triste et dolent cueur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown66" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown66">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span></span>
   <span class="verse v2750"><span class="verse-number">[2750]</span>Par ung contrict remors de sindereze<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>,</span>
   <span class="verse v2751">Doubtant pouoir de soy rescinder aise,</span>
   <span class="verse v2752"><span style="position: relative;"><span class="lem">Les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68">
               <div class="collation-content">Ses<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> maulx passéz, presens et à venir,</span>
   <span class="verse v2753">Delibera meilleure <span style="position: relative;"><span class="lem">devenir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown69" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown69">
               <div class="collation-content">advenir<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>.</span>
   <span class="verse v2754">Et tout ainsi contristee et dolente,</span>
   <span class="verse v2755"><span class="verse-number">[2755]</span>Plongee <span style="position: relative;"><span class="lem">ou</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70">
               <div class="collation-content"><span>au</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;">lac</span> d’angoisse vïolente</span>
   
   
   <hr data-img-id="f143">
   
   <span class="curr-title fw-bold">Remonstrance par l’acteur des maulx
      susditz</span>
   <span class="verse v2756">Vers <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark><span style="position: relative;">sus</span> l’heure se tira.</span>
   <span class="verse v2757">Or fault sçavoir <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown73" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown73">
               <div class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> qu’elle luy dira.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(2714);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Sable.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(2750);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Remords de
      conscience.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2653);">v. 2653</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>cy</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2655);">v. 2655</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>grief</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xvi me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xvi<sup>me</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xvi<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xvi<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2658);">v. 2658</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2660);">v. 2660</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>chemain</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2662);">v. 2662</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>en</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2663);">v. 2663</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>pour</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2665);">v. 2665</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>feuves</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2666);">v. 2666</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2667);">v. 2667</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>batteaux</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>basteaulx</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2668);">v. 2668</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>appert</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2673);">v. 2673</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2677);">v. 2677</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Veoir</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2678);">v. 2678</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>s’en <span class="choice">coullerent</span></span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2679);">v. 2679</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnF4965 </span>
            Et que au droit cours de leurs places
            coullerent
            </span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2679);">v. 2679</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2683);">v. 2683</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fruit</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2684);">v. 2684</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Lors</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2684);">v. 2684</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">pour</span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>pour</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2685);">v. 2685</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>grandes esclasts</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2686);">v. 2686</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>redoutable</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2687);">v. 2687</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">espouventable</span></span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2691);">v. 2691</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>grand</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2695);">v. 2695</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">par</span></span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2697);">v. 2697</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>hault</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2700);">v. 2700</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2701);">v. 2701</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>profond</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2701);">v. 2701</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>contrainct</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2702);">v. 2702</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>parspoisseur</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2702);">v. 2702</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gresle</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2703);">v. 2703</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Tonnerres</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Tonnoire</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2704);">v. 2704</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2706);">v. 2706</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>leurs</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2708);">v. 2708</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>eaux</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2721);">v. 2721</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>humais</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2722);">v. 2722</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>fiebvre<s>s</s></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fievres</span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2722);">v. 2722</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>frux</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2724);">v. 2724</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et </span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2726);">v. 2726</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>paine telle</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2729);">v. 2729</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>perforcéz</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515 </span>parforcéz</span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2740);">v. 2740</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>guary</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2741);">v. 2741</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>tant</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2743);">v. 2743</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2745);">v. 2745</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>laisne</span></div>
      </div>
   <div class="collation row" id="coll63">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2745);">v. 2745</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>trans sys</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>transsis</span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2748);">v. 2748</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll66">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2749);">v. 2749</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2752);">v. 2752</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Ses</span></div>
      </div>
   <div class="collation row" id="coll69">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2753);">v. 2753</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>advenir</span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2755);">v. 2755</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span>au</span></span></div>
      </div>
   <div class="collation row" id="coll73">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2757);">v. 2757</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
</div>
{% endmacro %}
