
{% macro chapterTitle() %}Chapitre 17{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('17_chap_16')"><i class="fa-solid fa-arrow-left"></i> Chapitre 16</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('19_chap_18')">Chapitre 18 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f149/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f149/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f149" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f150/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f150/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f150" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f151/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f151/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f151" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f149">
   <p title="Numéro de folio" class="text-end"><i>57r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2906">§Ce qui ſenſuyt.Gontran fort picque et mord,</span>
      <span class="verse v2907">En tant / que deux docteurs en medicine,
         <span class="lem"></span>
         
         </span>
      <span class="verse v2908">Par non monſtrer du bon remede 
         <span class="lem">ſigne</span>
         
         </span>
      <span class="verse v2909">A 
         <span class="lem">Auſtrigilde</span>
         
         , enuoya mectre a mort.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.&nbsp;xuii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v2910"><span class="verse-number">[2910]</span>SElon que au vray en rappoꝛte le texte,</span>
   <span class="verse v2911">Durant le cours de ſi eſtrange peſte,</span>
   <span class="verse v2912">Celle Auſtrigilde,
      eſpouſe au roy Gontran</span>
   <span class="verse v2913">Neut 
      <span class="lem">le</span>
      
       pouoir de reſiſter contre an</span>
   <span class="verse v2914">Si merueilleux / que ne fuſt attrappee.</span>
   <span class="verse v2915"><span class="verse-number">[2915]</span>Et nonobſtant que, 
      <span class="lem">la</span>
      
       voyant frappee,</span>
   <span class="verse v2916">Le roy fiſt loꝛs 
      <span class="lem">de</span>
      
      
      
      <span class="lem">gꝛand</span>
      
       ſomme 
      <span class="lem">oꝛ</span>
      
       donner</span>
   <span class="verse v2917">Et ſes meilleurs medicins oꝛdonner</span>
   <span class="verse v2918">Pour la penſer /ſi ny eut aſſeurance</span>
   <span class="verse v2919">De gueriſon / nen 
      <span class="lem"></span>
      
      ſa vie eſperance.</span>
   <span class="verse v2920"><span class="verse-number">[2920]</span>Dont, ſe voyant ia labourer aux traictz</span>
   <span class="verse v2921">Dextremite / par ſes membꝛes retraictz,</span>
   <span class="verse v2922">Pꝛes foꝛcenee en raige et fureur de ire,</span>
   <span class="verse v2923">Au roy voulut ceſte parolle dire /.</span>
   <span class="verse v2924"><span title="Discours direct">Le dard moꝛtel / ferre
         daſpꝛe rigueur</span></span>
   <span class="verse v2925"><span class="verse-number">[2925]</span><span title="Discours direct">Dont ſuys ferue 
         <span class="lem">au</span>
         
          trauers de mon cueur,</span></span>
   
   
   <hr data-img-id="f150">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Auſtrigilde a ſa
         mort enhorte Gontran de faire mourir
         ſes medicins.</span><span title="Numéro de folio" class="folio-num"><i>57v</i></span></span>
   <span class="verse v2926"><span title="Discours direct">O cher eſpoux / me rend en la partie</span></span>
   <span class="verse v2927"><span title="Discours direct">Qui 
         <span class="lem">ſus</span>
         
          nous cauſe eſtrange departie,</span></span>
   <span class="verse v2928"><span title="Discours direct">Loꝛs que viuoye en
         paſſetemps 
         <span class="lem">plaiſans</span>
         
         </span></span>
   <span class="verse v2929"><span title="Discours direct">Et nourriſſoye en fleur
         de ieunes 
         <span class="lem"></span>
         
         
         <span class="lem"></span>
         
         ans</span></span>
   <span class="verse v2930"><span class="verse-number">[2930]</span><span title="Discours direct">Mes appetitz /. Oꝛ voy que, ſans demeure,</span></span>
   <span class="verse v2931"><span title="Discours direct">Las, auiourdvy eſt
         foꝛce que ie 
         <span class="lem"></span>
         
         meure /</span></span>
   <span class="verse v2932"><span title="Discours direct">Si, en faueur de
         loyalle amytie,</span></span>
   <span class="verse v2933"><span title="Discours direct">Te plaiſt auoir de
         moy quelque pitie,</span></span>
   <span class="verse v2934"><span title="Discours direct">Apꝛes ma moꝛt / venge moy de ces rogues,</span></span>
   <span class="verse v2935"><span class="verse-number">[2935]</span><span title="Discours direct">Traiſtres,
         meurtriers medicins / qui ( par dꝛogues,</span></span>
   <span class="verse v2936"><span title="Discours direct">Foꝛtes poyſons
         / et oꝛdes potions</span></span>
   <span class="verse v2937"><span title="Discours direct">Dont faictes ont les compoſitions)</span></span>
   <span class="verse v2938"><span title="Discours direct">Me font 
         <span class="lem">mourir</span>
         
          / Puys que par eulx deſuie,</span></span>
   <span class="verse v2939"><span title="Discours direct">Ne leur permectz
         benefice de vie !</span></span>
   <span class="verse v2940"><span class="verse-number">[2940]</span><span title="Discours direct">Mais des le 
         <span class="lem">iour</span>
         
         
         
         <span class="lem">de mon</span>
         
         
         
          dolent treſpas,</span></span>
   <span class="verse v2941"><span title="Discours direct">Ie te ſupply 
         <span class="lem">quilz</span>
         
          paſſent le dur pas,</span></span>
   <span class="verse v2942"><span title="Discours direct">Affin que
         ceulx / ou 
         <span class="lem">eurent</span>
         
          aliance</span></span>
   <span class="verse v2943"><span title="Discours direct">Ayent de leur moꝛt
         pareille doleance</span></span>
   <span class="verse v2944"><span title="Discours direct">Que tu auras / et mes loyaulx amys,</span></span>
   <span class="verse v2945"><span class="verse-number">[2945]</span><span title="Discours direct">Voyans mon coꝛps en ſepulture
         mys.</span></span>
   <span class="verse v2946">§Le roy, trouble, pꝛiſt a
      cueur la querelle</span>
   <span class="verse v2947">De ceſte femme oultraigeuſe et cruelle.</span>
   <span class="verse v2948">Cruelle, dis ie /Ainſi nommer la puys,</span>
   <span class="verse v2949">Autant que femme auant 
      <span class="lem"></span>
      
      elle / et depuys /.</span>
   <span class="verse v2950"><span class="verse-number">[2950]</span>Celle que moꝛt ia detient 
      <span class="lem">a</span>
      
       la goꝛge /</span>
   
   
   <hr data-img-id="f151">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Guerres meues en
         <mark title="placeName" instant="false" full="yes">Italie</mark> contre lempereur Maurice.</span><span title="Numéro de folio" class="folio-num"><i>58r</i></span></span>
   <span class="verse v2951">Et qui parolle oultraigeuſe 
      <span class="lem">deſgoꝛge</span>
      
      ,</span>
   <span class="verse v2952">De ſon ſalut ne puys bien eſperer.</span>
   <span class="verse v2953">A lhomme auſſi / ſe doibt impꝛoperer</span>
   <span class="verse v2954">Blaſme foꝛt gꝛand / quant ſentence legiere</span>
   <span class="verse v2955"><span class="verse-number">[2955]</span>Donne au 
      <span class="lem">pourchatz</span>
      
       de langue menſongiere,</span>
   <span class="verse v2956">Comme 
      <span class="lem">ce</span>
      
      
       roy, ſi deſnue de ſens,</span>
   <span class="verse v2957">Qui 
      <span class="lem">fiſt</span>
      
       mourir les poures innocens</span>
   <span class="verse v2958">A lappetit de ſa femme / en vengeance,</span>
   <span class="verse v2959">Que a ſon gꝛief mal neut par eulx allegeance.</span>
   <span class="verse v2960"><span class="verse-number">[2960]</span>Pour auoir bien et loyaulment ſeruy,</span>
   <span class="verse v2961">Leur fut 
      <span class="lem">rendu</span>
      
       le mal non deſſeruy /.</span>
   <span class="verse v2962">Qui ſert bon maiſtre en doibt loyer actendꝛe.</span>
   <span class="verse v2963">Ceſt aſſez dit / pour le debuoir
      entendꝛe.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f149">
   <blockquote class="ms-2">
      
      <span class="verse v2906">§Ce qui s’ensuyt :<mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> fort picque et mord,</span>
      <span class="verse v2907">En tant que deux docteurs en medicine,<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
                  <div class="collation-content">
                     18
                     <span class="coll-source"> [BnFfr4965]</span></div>
               </div></sup></span></span>
      <span class="verse v2908">Par non monstrer du bon remede <span style="position: relative;"><span class="lem">signe</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
                  <div class="collation-content">sinne<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span></span>
      <span class="verse v2909">À <mark class="persName"><span style="position: relative;"><span class="lem">Austrigilde</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
                     <div class="collation-content">Austrigille<span class="coll-source"> [BnFfr23146]</span></div>
                  </div></sup></span><span class="persName-info fw-normal on-right"><b>Austregilde</b> (VIe siècle — ?)<span class="hr-100">&nbsp;</span>Reine des Francs de Bourgogne (565-580)<br/><span class="hr-short">&nbsp;</span>Femme de Gontran, roi des Francs</span></mark>, envoya mectre à mort.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xvii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content">Chapitre xviii me<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content"><span class="choice">Chappitre</span> xviii<sup>e</sup><span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content"><span class="choice">Chapitre</span> xviii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">Chappittre. xviii<sup>e</sup>.<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>
      </blockquote>
   
   <span class="verse v2910"><span class="verse-number">[2910]</span>Selon que au vray en rapporte le texte,</span>
   <span class="verse v2911">Durant le cours de si estrange peste,</span>
   <span class="verse v2912">Celle <mark class="persName">Austrigilde<span class="persName-info fw-normal on-right"><b>Austregilde</b> (VIe siècle — ?)<span class="hr-100">&nbsp;</span>Reine des Francs de Bourgogne (565-580)<br/><span class="hr-short">&nbsp;</span>Femme de Gontran, roi des Francs</span></mark>,
      espouse au roy <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark></span>
   <span class="verse v2913">N’eut <span style="position: relative;"><span class="lem">le</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">plain<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> pouoir de resister contre an</span>
   <span class="verse v2914">Si merveilleux, que ne fust attrappee.</span>
   <span class="verse v2915"><span class="verse-number">[2915]</span>Et nonobstant que, <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content">le<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> voyant frappee,</span>
   <span class="verse v2916">Le roy fist lors <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">à<span class="coll-source"> [BnFfr4964, Cha515]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, Aix419, BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">grand</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content">grande<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> somme <span style="position: relative;"><span class="lem">or</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">d’or<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> donner</span>
   <span class="verse v2917">Et ses meilleurs medicins ordonner</span>
   <span class="verse v2918">Pour la penser,si n’y eut asseurance</span>
   <span class="verse v2919">De guerison n’en sa vie esperance.</span>
   <span class="verse v2920"><span class="verse-number">[2920]</span>Dont, se voyant ja labourer aux traictz</span>
   <span class="verse v2921">D’extremité, par ses membres retraictz,</span>
   <span class="verse v2922">Près forcenee en raige et fureur de ire,</span>
   <span class="verse v2923">Au roy voulut ceste parolle dire :</span>
   <span class="verse v2924"><span title="Discours direct">«&nbsp;Le dard mortel ferré
         d’aspre rigueur</span></span>
   <span class="verse v2925"><span class="verse-number">[2925]</span><span title="Discours direct">Dont suys ferue <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
                  <div class="collation-content">à<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span> travers de mon cueur,</span></span>
   
   
   <hr data-img-id="f150">
   
   <span class="curr-title fw-bold"><mark class="persName">Austrigilde<span class="persName-info fw-normal on-left"><b>Austregilde</b> (VIe siècle — ?)<span class="hr-100">&nbsp;</span>Reine des Francs de Bourgogne (565-580)<br/><span class="hr-short">&nbsp;</span>Femme de Gontran, roi des Francs</span></mark> à sa
      mort enhorte <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> de faire mourir
      ses medicins</span>
   <span class="verse v2926"><span title="Discours direct">O cher espoux, me rend en la partie</span></span>
   <span class="verse v2927"><span title="Discours direct">Qui <span style="position: relative;">sus</span> nous cause estrange departie,</span></span>
   <span class="verse v2928"><span title="Discours direct">Lors que vivoye en
         passetemps <span style="position: relative;"><span class="lem">plaisans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
                  <div class="collation-content">plaisant<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span></span></span>
   <span class="verse v2929"><span title="Discours direct">Et nourrissoye en fleur
         de jeunes ans</span></span>
   <span class="verse v2930"><span class="verse-number">[2930]</span><span title="Discours direct">Mes appetitz. Or voy que, sans demeure,</span></span>
   <span class="verse v2931"><span title="Discours direct">Las, aujourd’uy est
         force que je meure.</span></span>
   <span class="verse v2932"><span title="Discours direct">Si, en faveur de
         loyalle amytié,</span></span>
   <span class="verse v2933"><span title="Discours direct">Te plaist avoir de
         moy quelque pitié,</span></span>
   <span class="verse v2934"><span title="Discours direct">Aprés ma mort, venge moy de ces rogues,</span></span>
   <span class="verse v2935"><span class="verse-number">[2935]</span><span title="Discours direct">Traistres,
         meurtriers medicins qui, par drogues,</span></span>
   <span class="verse v2936"><span title="Discours direct">Fortes poysons et ordes potïons</span></span>
   <span class="verse v2937"><span title="Discours direct">Dont faictes ont les compositïons,</span></span>
   <span class="verse v2938"><span title="Discours direct">Me font <span style="position: relative;">mourir</span>. Puysque par eulx desvie,</span></span>
   <span class="verse v2939"><span title="Discours direct">Ne leur permectz
         benefice de vie !</span></span>
   <span class="verse v2940"><span class="verse-number">[2940]</span><span title="Discours direct">Mais dès le <span style="position: relative;"><span class="lem">jour</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
                  <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span>
         <span style="position: relative;"><span class="lem">de mon</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
                  <div class="collation-content">du myen<span class="coll-source"> [BnFfr4965]</span></div>
                  <div class="collation-content">du mien<span class="coll-source"> [Aix419, BnFfr17274, Cha515]</span></div>
                  <div class="collation-content">mien<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> dolent trespas,</span></span>
   <span class="verse v2941"><span title="Discours direct">Je te supply <span style="position: relative;"><span class="lem">qu’ilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
                  <div class="collation-content">qu’il<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> passent le dur pas,</span></span>
   <span class="verse v2942"><span title="Discours direct">Affin que
         ceulx où <span style="position: relative;"><span class="lem">eurent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
                  <div class="collation-content">auront<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> alïance</span></span>
   <span class="verse v2943"><span title="Discours direct">Ayent de leur mort
         pareille dolëance</span></span>
   <span class="verse v2944"><span title="Discours direct">Que tu auras, et mes loyaulx amys,</span></span>
   <span class="verse v2945"><span class="verse-number">[2945]</span><span title="Discours direct">Voyans mon corps en sepulture
         mys.&nbsp;»</span></span>
   <span class="verse v2946">§Le roy, troublé, prist à
      cueur la querelle</span>
   <span class="verse v2947">De ceste femme oultraigeuse et cruelle.</span>
   <span class="verse v2948">Cruelle, dis je ?ainsi nommer la puys,</span>
   <span class="verse v2949">Autant que femme avant elle et depuys.</span>
   <span class="verse v2950"><span class="verse-number">[2950]</span>Celle que mort ja detient <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content">en<span class="coll-source"> [BnFfr4964]</span></div>
            </div></sup></span> la gorge</span>
   
   
   <hr data-img-id="f151">
   
   <span class="curr-title fw-bold">Guerres meues en
      <mark title="placeName" instant="false" full="yes">Italie</mark> contre l’empereur <mark class="persName">Maurice<span class="persName-info fw-normal on-left"><b>Maurice</b> (539 — 30/11/602)<span class="hr-short">&nbsp;</span>Empereur romain d'Orient de 582 à 602</span></mark></span>
   <span class="verse v2951">Et qui parolle oultraigeuse <span style="position: relative;"><span class="lem">desgorge</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
               <div class="collation-content">desrogue<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>,</span>
   <span class="verse v2952">De son salut ne puys bien esperer.</span>
   <span class="verse v2953">À l’homme aussi se doibt improperer</span>
   <span class="verse v2954">Blasme fort grand, quant sentence legiere</span>
   <span class="verse v2955"><span class="verse-number">[2955]</span>Donne au <span style="position: relative;"><span class="lem">pourchatz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">prouchaz<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span> de langue mensongiere,</span>
   <span class="verse v2956">Comme <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">le<span class="coll-source"> [BnFfr4965]</span></div>
               <div class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> roy, si desnué de sens,</span>
   <span class="verse v2957">Qui <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">faict<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> mourir les povres innocens</span>
   <span class="verse v2958">À l’appetit de sa femme, en vengeance,</span>
   <span class="verse v2959">Que à son grief mal n’eut par eulx allegeance.</span>
   <span class="verse v2960"><span class="verse-number">[2960]</span>Pour avoir bien et loyaulment servy,</span>
   <span class="verse v2961">Leur fut <span style="position: relative;"><span class="lem">rendu</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">vendu<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> le mal non desservy.</span>
   <span class="verse v2962">Qui sert bon maistre en doibt loyer actendre.</span>
   <span class="verse v2963">C’est assez dit pour le debvoir
      entendre.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2907);">v. 2907</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            18
            </span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2908);">v. 2908</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sinne</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2909);">v. 2909</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Austrigille</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xviii me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xviii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xviii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre. xviii<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2913);">v. 2913</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>plain</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2915);">v. 2915</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>le</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2916);">v. 2916</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, Cha515 </span>à</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, Aix419, BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2916);">v. 2916</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>grande</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2916);">v. 2916</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>d’or</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2925);">v. 2925</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>à</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2928);">v. 2928</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>plaisant</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2940);">v. 2940</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2940);">v. 2940</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>du myen</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, Cha515 </span>du mien</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>mien</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2941);">v. 2941</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>qu’il</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2942);">v. 2942</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>auront</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2950);">v. 2950</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>en</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2951);">v. 2951</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>desrogue</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2955);">v. 2955</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>prouchaz</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2956);">v. 2956</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>le</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2957);">v. 2957</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>faict</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2961);">v. 2961</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>vendu</span></div>
      </div>
</div>
{% endmacro %}
