
{% macro chapterTitle() %}Chapitre 19{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('19_chap_18')"><i class="fa-solid fa-arrow-left"></i> Chapitre 18</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('21_chap_20')">Chapitre 20 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f154/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f154/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f154" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f155/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f155/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f155" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f156/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f156/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f156" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f157/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f157/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f157" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f158/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f158/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f158" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f159/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f159/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f159" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f160/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f160/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f160" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f161/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f161/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f161" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f154">
   <p title="Numéro de folio" class="text-end"><i>59v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v3044">§Cy trouuerons (ſelon ma fantaſie,</span>
      <span class="verse v3045"><span class="verse-number">[3045]</span>Cas fort eſtrange. et de piteux recit</span>
      <span class="verse v3046">Dun roy cruel / qui ſon filz propre occit,</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v3047">
         <span class="lem">Par</span>
         
         
          delaiſſer larrienne 
         <span class="lem">hereſie</span>
         
         .</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.&nbsp;xix<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f155">
   <span title="Numéro de folio" class="folio-num"><i>60r</i></span>
   
   
   <hr data-img-id="f156">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Le roy Hermehilde
         mys hors de lhereſie Arrienne.</span><span title="Numéro de folio" class="folio-num"><i>60v</i></span></span>
   <span class="verse v3048">Ung filz d<mark title="placeName" instant="false" full="yes">eſpaigne</mark> / en ce temps, eſpouſa</span>
   <span class="verse v3049">La ſeur du roy Chilperich /.et poſa
      <span class="lem"></span>
      
      </span>
   <span class="verse v3050"><span class="verse-number">[3050]</span>En elle amour /Car de belle faconde</span>
   <span class="verse v3051">Eſtoit remplie /. et ſe nommoit Ingonde /.</span>
   <span class="verse v3052">Elle ſeruoit a dieu le createur</span>
   <span class="verse v3053">Feruentement /.et ſouuent, de bon cueur,</span>
   <span class="verse v3054">Admonneſtoit ſon mary Hermehilde,</span>
   <span class="verse v3055"><span class="verse-number">[3055]</span>Filz 
      <span class="lem">dun</span>
      
       roy 
      <span class="lem">Goth</span>
      
       /
      <span class="lem"></span>
      
      quon 
      <span class="lem">appelloit</span>
      
      
      <span class="lem"></span>
      
      Hengilde,</span>
   <span class="verse v3056">Laiſſer lerreur / ou 
      <span class="lem"></span>
      
      il eſtoit confit</span>
   <span class="verse v3057">De lhereſie <span class="choice"><span title="Abbréviation pour Aarrïenne">Arriēne</span></span> /. Et tant fit,</span>
   <span class="verse v3058">Que a traict de temps, ſa frequente pꝛiere</span>
   <span class="verse v3059">Le conuertit a la foy dꝛoicturiere,</span>
   <span class="verse v3060"><span class="verse-number">[3060]</span>Tant par ſon ſens /
      <span class="lem">que</span>
      
      
       aduis / et faictz arduz</span>
   <span class="verse v3061">Du treſdeuot 
      <span class="lem"></span>
      
      pꝛudhomme Leardus,</span>
   <span class="verse v3062">Loꝛs floꝛiſſant en ſainctete de vie.</span>
   <span class="verse v3063">Mais, 
      <span class="lem">ſus</span>
      
       ce cas, toſt ſe conceut enuie,</span>
   <span class="verse v3064">Par le malin /
      <span class="lem">faulx</span>
      
       / et inique eſpꝛit /</span>
   <span class="verse v3065"><span class="verse-number">[3065]</span>Qui pꝛomptement Gonſalde
      au cueur eſpꝛit,</span>
   <span class="verse v3066">Mere de celle 
      <span class="lem"></span>
      
      habille Bꝛunechilde,</span>
   <span class="verse v3067">Dont long 
      <span class="lem">pꝛopos</span>
      
      
      <span class="lem">ſeſt</span>
      
       tenu /.
      <span class="lem">Loꝛs</span>
      
      Hengilde</span>
   <span class="verse v3068">Fut en linſtant par 
      <span class="lem"></span>
      
      Gonſalde aduerty</span>
   <span class="verse v3069">Comme ſon filz eſtoit tout peruerty,</span>
   <span class="verse v3070"><span class="verse-number">[3070]</span>Et que laiſſoit 
      <span class="lem">leur</span>
      
       ſecte gꝛacieuſe</span>
   <span class="verse v3071">Pour pꝛendꝛe loy faulſe et pernicieuſe /.</span>
   <span class="verse v3072">De ce rappoꝛt /.
      <span class="lem">deſpit</span>
      
       / triſte / et dolent /</span>
   
   
   <hr data-img-id="f157">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Le roy Hermehilde
         tua ſon fils a <span class="date" when="--04" dur="P1D" instant="false">ung iour de paſques</span>.</span><span title="Numéro de folio" class="folio-num"><i>61r</i></span></span>
   <span class="verse v3073">Contre ſon filz / eut ſi gꝛos maltalent</span>
   <span class="verse v3074">Que, ſans auoir autre pꝛeuue affermee,</span>
   <span class="verse v3075"><span class="verse-number">[3075]</span>Soudain le 
      <span class="lem">fiſt</span>
      
       mectre en pꝛiſon fermee,</span>
   <span class="verse v3076">Ou il receut 
      <span class="lem">gꝛiefues</span>
      
       neceſſitez,</span>
   <span class="verse v3077">Oppꝛeſſions / trauaulx /
      <span class="lem"></span>
      
      perplxitez</span>
   <span class="verse v3078">Et 
      <span class="lem">durs</span>
      
       aſſaultz de froidure 
      <span class="lem">et</span>
      
       famine,</span>
   <span class="verse v3079">Auecq hoꝛreur de puante vermine /.</span>
   <span class="verse v3080"><span class="verse-number">[3080]</span>
      <span class="lem">Quoy</span>
      
       plus / ? Apꝛes auoir ces maulx ſouffers,</span>
   <span class="verse v3081">Les piedz et mains tenuz liez ſoubz fers</span>
   <span class="verse v3082">Gꝛos et peſans /. le poure enfant neſpere</span>
   <span class="verse v3083">Ia euiter la fureur de ſon pere /.</span>
   <span class="verse v3084">§Ainſi, ſeruy de remoꝛs
      langoureux</span>
   <span class="verse v3085"><span class="verse-number">[3085]</span>Le pere fier / robuſte / et rigoureux,</span>
   <span class="verse v3086"><span class="date" when="--04" dur="P1D" instant="false">Ung iour de 
         <span class="lem">paſque</span>
         
         </span> / en ceſte chartre obſcure,</span>
   <span class="verse v3087">(Faignant auoir de ſon filz ſoing et cure)</span>
   <span class="verse v3088">Voulut aller./ Mais le faulx inhumain,</span>
   <span class="verse v3089">Qui loꝛs tenoit une hache en ſa main,</span>
   <span class="verse v3090"><span class="verse-number">[3090]</span>Des quil le veit /.
      <span class="lem">par</span>
      
       raige enuenimee,</span>
   <span class="verse v3091">
      <span class="lem">Au</span>
      
       feu derreur aſpꝛement allumee,</span>
   <span class="verse v3092">Tant altera ſa male intention</span>
   <span class="verse v3093">Que, ſans eſgard a la detention</span>
   <span class="verse v3094">Foꝛt longue /
      <span class="lem">auſtere / eſtrange</span>
      
       / et criminelle,</span>
   <span class="verse v3095"><span class="verse-number">[3095]</span>La / de ſa main / oultre loy paternelle,</span>
   <span class="verse v3096">Villainement meurdꝛit ſon pꝛopꝛe enfant,</span>
   <span class="verse v3097">Qui de 
      <span class="lem"></span>
      
      martir eut loyer triumphant /.</span>
   
   
   <hr data-img-id="f158">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Ingonde femme de hermeilde / fuyant auecq ſon fils
         fut priſe.</span><span title="Numéro de folio" class="folio-num"><i>61v</i></span></span>
   <span class="verse v3098">
      <span class="lem"></span>
      
      Comme pꝛomect le texte euangelicque</span>
   <span class="verse v3099">A qui pꝛend moꝛt / pour la foy catholicque /</span>
   <span class="verse v3100"><span class="verse-number">[3100]</span>Ainſi rendit ce pere vicieux</span>
   <span class="verse v3101">
      <span class="lem">Le coꝛps</span>
      
       du filz /
      <span class="lem">a</span>
      
       terre / et lame 
      <span class="lem">aux</span>
      
       cieulx.</span>
   <span class="verse v3102">§Apꝛes lexces 
      <span class="lem">du</span>
      
       crime deteſtable,</span>
   <span class="verse v3103">Ce roy peruers fiſt du mal 
      <span class="lem">impoꝛtable</span>
      
      </span>
   <span class="verse v3104">Aux 
      <span class="lem">bons</span>
      
      creſtiens / par 
      <span class="lem"></span>
      
      executions</span>
   <span class="verse v3105"><span class="verse-number">[3105]</span>De 
      <span class="lem"></span>
      
      lourdz trauaulx et perſecutions,</span>
   <span class="verse v3106">Et meſmement a la triſte adueillee</span>
   <span class="verse v3107">Ingonde, vefue / afflicte et deſollee /.</span>
   <span class="verse v3108">Si elle auoit receu dueil deſpiteux</span>
   <span class="verse v3109">Pour le treſpas ennuyeux et doubteux</span>
   <span class="verse v3110"><span class="verse-number">[3110]</span>De ſon eſpoux /. Las / ceſte poure dame</span>
   <span class="verse v3111">Souffrit depuys dure triſteſſe de ame /.</span>
   <span class="verse v3112">Des faulx vilains hereticques marrans,</span>
   <span class="verse v3113">
      <span class="lem">Eut</span>
      
       les aſſaultz 
      <span class="lem"></span>
      
      doppꝛobꝛes lourdz et gꝛandz.</span>
   <span class="verse v3114">Et ſe trouua ſi foꝛt iniuriee</span>
   <span class="verse v3115"><span class="verse-number">[3115]</span>Que 
      <span class="lem">auoir</span>
      
       eſte en ces lieux mariee</span>
   <span class="verse v3116">Ne luy pouoit faillir le regꝛetter,</span>
   <span class="verse v3117">En ſe voyant ſi durement traicter.</span>
   <span class="verse v3118">§Pour tant de maulx. la doulce creature,</span>
   <span class="verse v3119">Auecq ſon filz / pꝛiſt fuyte a lauenture,</span>
   <span class="verse v3120"><span class="verse-number">[3120]</span>Penſant demblee /
      <span class="lem"></span>
      
      en <mark title="placeName" instant="false" full="yes">france</mark> auoir recours.</span>
   <span class="verse v3121">Mais de malheur conuint ſuyure autre cours,</span>
   <span class="verse v3122">Car pꝛiſe fut 
      <span class="lem">des</span>
      
      Biſantins, genſdarmes</span>
   
   
   <hr data-img-id="f159">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Chilperich venge
         la mort de ſa ſeur Ingonde.</span><span title="Numéro de folio" class="folio-num"><i>62r</i></span></span>
   <span class="verse v3123">De lempereur /.Et loꝛs conficte en larmes</span>
   <span class="verse v3124">Et durs regꝛetz /. gꝛoſſe fiebure la pꝛiſt,</span>
   <span class="verse v3125"><span class="verse-number">[3125]</span>Dont <span class="date" dur="P4D" instant="false">quatre</span> iours apꝛes rendit
      leſpꝛit.</span>
   <span class="verse v3126">Et le ſien filz (par ung pꝛudhomme noble)</span>
   <span class="verse v3127">Fut empoꝛte dedans <mark title="placeName" instant="false" full="yes">Conſtantinoble</mark></span>
   <span class="verse v3128">Vers lempereur /
      <span class="lem">quil</span>
      
       commanda nourrir,</span>
   <span class="verse v3129">Foꝛt bien traicter /. et doulcement cherir /</span>
   <span class="verse v3130"><span class="verse-number">[3130]</span>§Quant Chilperich eut la nouuelle ſceue</span>
   <span class="verse v3131">Comme ſa ſeur auoit, par telle yſſue,</span>
   <span class="verse v3132">
      <span class="lem">Laiſſee</span>
      
      <mark title="placeName" instant="false" full="yes">Eſpaigne</mark> / au moyen des toꝛſfaictz </span>
   <span class="verse v3133">Et diuers maulx /&nbsp;a elle a 
      <span class="lem">gꝛand</span>
      
       toꝛt faiz.</span>
   <span class="verse v3134">Il pꝛopoſa narreſter iour ny heure</span>
   <span class="verse v3135"><span class="verse-number">[3135]</span>Quil ne ſen venge /. au dangier 
      <span class="lem">que y</span>
      
       demeure /.</span>
   <span class="verse v3136">Loꝛs, pꝛepara ſi 
      <span class="lem">diligentz appꝛeſtz</span>
      
      </span>
   <span class="verse v3137">
      <span class="lem">Que</span>
      
       fiſt 
      <span class="lem">marcher</span>
      
       ſon oſt /<span class="date" dur="P1M" instant="false">ung</span> moys apꝛes,</span>
   <span class="verse v3138">Et trauerſant par <mark title="placeName" instant="false" full="yes">Alpes</mark> et
      <mark title="placeName" instant="false" full="yes">Campaignes</mark>,</span>
   <span class="verse v3139">De fierte 
      <span class="lem"></span>
      
      gꝛande enuahit les <mark title="placeName" instant="false" full="yes">Eſpaignes</mark>.</span>
   <span class="verse v3140"><span class="verse-number">[3140]</span>Le roy 
      <span class="lem"></span>
      
      Hengilde / aux
      armes vif et pꝛompt,</span>
   <span class="verse v3141">Tenant les champs de couraige tout rond,</span>
   <span class="verse v3142">Liura tantoſt aux francois la bataille,</span>
   <span class="verse v3143">Bien extimant effondꝛer leur tripaille</span>
   <span class="verse v3144">Et 
      <span class="lem">en</span>
      
       deffaire autant que de pourceaux.</span>
   <span class="verse v3145"><span class="verse-number">[3145]</span>Mais quant on vint a trencher les moꝛceaux,</span>
   <span class="verse v3146">Quoy quil y eut / coups 
      <span class="lem">ruez</span>
      
       a oultrance,</span>
   <span class="verse v3147">Tant 
      <span class="lem">de la part</span>
      
       d<mark title="placeName" instant="false" full="yes">eſpaigne</mark> / que de <mark title="placeName" instant="false" full="yes">france</mark>,</span>
   
   
   <hr data-img-id="f160">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Chilperich deffait
         les Eſpaignolz. et
         Gotz.</span><span title="Numéro de folio" class="folio-num"><i>62v</i></span></span>
   <span class="verse v3148">Quoy que les ungs / comme 
      <span class="lem"></span>
      
      on 
      <span class="lem">tourne</span>
      
       et pꝛend laer,</span>
   <span class="verse v3149">Fuſſent contrainctz par gꝛandz flottes bꝛanſler,</span>
   <span class="verse v3150"><span class="verse-number">[3150]</span>Ainſi quen mer foꝛte 
      <span class="lem"></span>
      
      vague / et royde 
      <span class="lem"></span>
      
      unde</span>
   <span class="verse v3151">Va et vient / quant foꝛt vent 
      <span class="lem"></span>
      
      ſouffle et redonde,</span>
   <span class="verse v3152">Si trouua lon, des deux partz / gentz de cueur</span>
   <span class="verse v3153">De meſme foꝛce / et ſemblable vigueur,</span>
   <span class="verse v3154">Qui cauſa foꝛte et lourde baterie.</span>
   <span class="verse v3155"><span class="verse-number">[3155]</span>Mais touteſuoyes /. la plus gꝛoſſe tuerie</span>
   <span class="verse v3156">En fin tourna 
      <span class="lem">ſus</span>
      
      Eſpaignols et Gotz,</span>
   <span class="verse v3157">Car les francois, eſchauffez comme coqz</span>
   <span class="verse v3158">Qui lun a lautre arrachent yeulx et creſtes,</span>
   <span class="verse v3159">Aux coups donner eurent bꝛaz et 
      <span class="lem"></span>
      
      
      <span class="lem">mains</span>
      
       pꝛeſtes,</span>
   <span class="verse v3160"><span class="verse-number">[3160]</span>
      <span class="lem">Iuſque</span>
      
      
       ſi bien faictz 
      <span class="lem">darmes</span>
      
       compoꝛter</span>
   <span class="verse v3161">Que la victoire en ſceurent rappoꝛter.</span>
   <span class="verse v3162">Dont Chilperich (a ceulx de ſa partie,</span>
   <span class="verse v3163">Bonne deſpouille et gꝛoſſe) departie,</span>
   <span class="verse v3164">Sen retourna plein de 
      <span class="lem">bien</span>
      
      
       /. gloire / et heur.</span>
   <span class="verse v3165"><span class="verse-number">[3165]</span>§Tantoſt apꝛes /Maurice, lempereur,</span>
   <span class="verse v3166">Gentz deuers luy enuoye / et ladmonneſte</span>
   <span class="verse v3167">Soy acquiter de ſa foy / comme honneſte,</span>
   <span class="verse v3168">Et 
      <span class="lem">que</span>
      
       voulſiſt rendꝛe lombardz
      <span class="lem"></span>
      
      chaſſez</span>
   <span class="verse v3169">Hoꝛs 
      <span class="lem">d<mark title="placeName" instant="false" full="yes">italie</mark></span>
      
      
       /. A ceſte charge aſſez</span>
   <span class="verse v3170"><span class="verse-number">[3170]</span>Legierement ſaccoꝛde / en eſperance</span>
   <span class="verse v3171">Mectre ſa ſeur 
      <span class="lem">en</span>
      
       pleine deliurance,</span>
   <span class="verse v3172">Et ſon nepueu /. Par ce ne monſtroit pas</span>
   
   
   <hr data-img-id="f161">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Lentrepriſe de Chilperich rompue.</span><span title="Numéro de folio" class="folio-num"><i>63r</i></span></span>
   <span class="verse v3173">Eſtre aduerty du ſien ſoudain treſpas.</span>
   <span class="verse v3174">
      <span class="lem">Non eſtoit il /</span>
      
      Mais de malheur lempꝛiſe</span>
   <span class="verse v3175"><span class="verse-number">[3175]</span>Fut inutile / et conuint laſcher pꝛiſe.</span>
   <span class="verse v3176">Car les francois contre aulcuns allemans</span>
   <span class="verse v3177">Que auoit ſoubz luy enuieux et 
      <span class="lem">gourmans</span>
      
      ,</span>
   <span class="verse v3178">De leur credit eurent 
      <span class="lem">queſtions</span>
      
       gꝛoſſes /.</span>
   <span class="verse v3179">Ceſt dangier 
      <span class="lem">gꝛand que</span>
      
       telles faulſes roſſes,</span>
   <span class="verse v3180"><span class="verse-number">[3180]</span>En une armee (a faulte dy viſer)</span>
   <span class="verse v3181">Pour moins que 
      <span class="lem">riens</span>
      
      
      <span class="lem">facent</span>
      
       / loſt diuiſer.</span>
   <span class="verse v3182">Car bien ſouuent / par ceſte truendaille</span>
   <span class="verse v3183">Se perd et 
      <span class="lem"></span>
      
      rompt / une gꝛoſſe bataille /.</span>
   <span class="verse v3184">A 
      <span class="lem"></span>
      
      ce moyen fut Chilperich
      remys</span>
   <span class="verse v3185"><span class="verse-number">[3185]</span>De ce voyaige /: et, doubtant 
      <span class="lem"></span>
      
      eſtre mys</span>
   <span class="verse v3186">
      <span class="lem">Au</span>
      
       dangereux hazard / qui en la tourbe,</span>
   <span class="verse v3187">Par telz mutins, 
      <span class="lem">la</span>
      
       victoire deſtourbe,</span>
   <span class="verse v3188">Il ayma myeulx / a tant ſe repoſer</span>
   <span class="verse v3189">Que vie (en guerre eſtrangiere) poſer /.</span>
   <span class="verse v3190"><span class="verse-number">[3190]</span>Ainſi le fait tout homme / qui par fringue</span>
   <span class="verse v3191">Veult de ce ieu retirer ſon 
      <span class="lem">eſpingue</span>
      
      .</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f154">
   <blockquote class="ms-2">
      
      <span class="verse v3044">§Cy trouverons, selon ma fantasie,</span>
      <span class="verse v3045"><span class="verse-number">[3045]</span>Cas fort estrange et de piteux recit</span>
      <span class="verse v3046">D’un roy cruel,  qui son filz propre occit,</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
               <div class="collation-content">
                  20
                  <span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>
      <span class="verse v3047"><span style="position: relative;"><span class="lem">Par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
                  <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4964]</span></div>
                  <div class="collation-content">Pour<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span> delaisser l’arrïenne <span style="position: relative;"><span class="lem">heresie</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
                  <div class="collation-content">heresrie<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xix<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content">Chapitre xx me<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content"><span class="choice">Chappitre</span> xx<sup>e</sup><span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content"><span class="choice">Chapitre</span> xx<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">Chappittre .xx<sup>e</sup>.<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f155">
   
   
   
   <hr data-img-id="f156">
   
   <span class="curr-title fw-bold">Le roy <mark class="persName">Hermehilde<span class="persName-info fw-normal on-left"><b>Herménégilde</b> (564 — 13/04/585)<span class="hr-short">&nbsp;</span>Prince wisigoth, canonisé par l’Église catholique</span></mark>
      mys hors de l’heresie arrienne</span>
   <span class="verse v3048">Ung filz d’<mark title="placeName" instant="false" full="yes">Espaigne</mark>,  en ce temps, espousa</span>
   <span class="verse v3049">La seur du roy <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>. Et posa</span>
   <span class="verse v3050"><span class="verse-number">[3050]</span>En elle amour,car de belle faconde</span>
   <span class="verse v3051">Estoit remplie,  et se nommoit <mark class="persName">Ingonde<span class="persName-info fw-normal on-right"><b>Ingonthe</b> (567 — 585)<span class="hr-100">&nbsp;</span>Princesse franque (567-585)<br/><span class="hr-short">&nbsp;</span>Princesse franque épouse du prince wisigoth d'Espagne
            Herménégild</span></mark>.</span>
   <span class="verse v3052">Elle servoit à <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> le <mark class="persName">Crëateur<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark></span>
   <span class="verse v3053">Ferventement. Et souvent, de bon cueur,</span>
   <span class="verse v3054">Admonnestoit son mary <mark class="persName">Hermehilde<span class="persName-info fw-normal on-right"><b>Herménégilde</b> (564 — 13/04/585)<span class="hr-short">&nbsp;</span>Prince wisigoth, canonisé par l’Église catholique</span></mark>,</span>
   <span class="verse v3055"><span class="verse-number">[3055]</span>Filz <span style="position: relative;"><span class="lem">d’un</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content">du<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> roy <span style="position: relative;"><span class="lem">goth</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">gotz<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>qu’on <span style="position: relative;"><span class="lem">appelloit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">appelle<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><mark class="persName">Hengilde<span class="persName-info fw-normal on-right"><b>Léovigilde</b> (entre 519 et 525 — 23/04/586)<span class="hr-short">&nbsp;</span>Roi wisigoth</span></mark>,</span>
   <span class="verse v3056">Laisser l’erreur où il estoit confit</span>
   <span class="verse v3057">De l’heresie <span class="choice"><span title="Abbrégé en Aarrïēne">arrïenne</span></span>. Et tant fit,</span>
   <span class="verse v3058">Que à traict de temps, sa frequente priere</span>
   <span class="verse v3059">Le convertit à la foy droicturiere<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>,</span>
   <span class="verse v3060"><span class="verse-number">[3060]</span>Tant par son sens<span style="position: relative;"><span class="lem">que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content"></div>
               <div class="collation-content">qu’es<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> advis et faictz arduz</span>
   <span class="verse v3061">Du trés devot <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content"><s>pre</s>
                  <span class="coll-source"> [BnFfr4964]</span></div>
            </div></sup></span>prud’homme <mark class="persName">Lëardus<span class="persName-info fw-normal on-right"><b>Léandre de Séville, saint</b> (534 — 16/03/600)<span class="hr-short">&nbsp;</span>Evêque de Séville, saint catholique et orthodoxe</span></mark>,</span>
   <span class="verse v3062">Lors florissant en saincteté de vie.</span>
   <span class="verse v3063">Mais, <span style="position: relative;">sus</span> ce cas, tost se conceut envie,</span>
   <span class="verse v3064">Par le malin,<span style="position: relative;"><span class="lem">faulx</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et inique esprit</span>
   <span class="verse v3065"><span class="verse-number">[3065]</span>Qui promptement <mark class="persName">Gonsalde<span class="persName-info fw-normal on-right"><b>Goswinthe</b> (entre 520 et 530 — 589)<span class="hr-100">&nbsp;</span>Reine des Wisigoths (555-586)<br/><span class="hr-short">&nbsp;</span>Reine wisigothe</span></mark>
      au cueur esprit,</span>
   <span class="verse v3066">Mere de celle habille <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark>,</span>
   <span class="verse v3067">Dont long <span style="position: relative;"><span class="lem">propos</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">propopos<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">s’est</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content">c’est<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> tenu.<span style="position: relative;"><span class="lem">Lors</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">dont<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><mark class="persName">Hengilde<span class="persName-info fw-normal on-right"><b>Léovigilde</b> (entre 519 et 525 — 23/04/586)<span class="hr-short">&nbsp;</span>Roi wisigoth</span></mark></span>
   <span class="verse v3068">Fut en l’instant par <mark class="persName">Gonsalde<span class="persName-info fw-normal on-right"><b>Goswinthe</b> (entre 520 et 530 — 589)<span class="hr-100">&nbsp;</span>Reine des Wisigoths (555-586)<br/><span class="hr-short">&nbsp;</span>Reine wisigothe</span></mark> adverty</span>
   <span class="verse v3069">Comme son filz estoit tout perverty,</span>
   <span class="verse v3070"><span class="verse-number">[3070]</span>Et que laissoit <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
               <div class="collation-content">leurs<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> secte gracïeuse</span>
   <span class="verse v3071">Pour prendre loy faulse et pernicïeuse.</span>
   <span class="verse v3072">De ce rapport,<span style="position: relative;">despit</span>, triste et dolent,</span>
   
   
   <hr data-img-id="f157">
   
   <span class="curr-title fw-bold">Le roy <mark class="persName">Hermehilde<span class="persName-info fw-normal on-left"><b>Herménégilde</b> (564 — 13/04/585)<span class="hr-short">&nbsp;</span>Prince wisigoth, canonisé par l’Église catholique</span></mark>
      tua son fils à <span class="date" when="--04" dur="P1D" instant="false">ung jour de Pasques</span></span>
   <span class="verse v3073">Contre son filz eut si gros maltalent</span>
   <span class="verse v3074">Que, sans avoir autre preuve affermee,</span>
   <span class="verse v3075"><span class="verse-number">[3075]</span>Soudain le <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content">faict<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> mectre en prison fermee,</span>
   <span class="verse v3076">Où il receut <span style="position: relative;"><span class="lem">griefves</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
               <div class="collation-content">griefve<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> necessitéz,</span>
   <span class="verse v3077">Oppressïons, travaulx,perplxitéz</span>
   <span class="verse v3078">Et <span style="position: relative;"><span class="lem">durs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">griefz<span class="coll-source"> [BnFfr4964, Cha515]</span></div>
            </div></sup></span> assaultz de froidure <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> famine,</span>
   <span class="verse v3079">Avecq horreur de puante vermine.</span>
   <span class="verse v3080"><span class="verse-number">[3080]</span><span style="position: relative;"><span class="lem">Quoy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">Que<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> plus ? Aprés avoir ces maulx souffers,</span>
   <span class="verse v3081">Les piedz et mains tenuz lïéz soubz fers</span>
   <span class="verse v3082">Gros et pesans, le povre enfant n’espere</span>
   <span class="verse v3083">Ja eviter la fureur de son pere.</span>
   <span class="verse v3084">§Ainsi, servy de remors
      langoureux</span>
   <span class="verse v3085"><span class="verse-number">[3085]</span>Le pere fier, robuste et rigoureux,</span>
   <span class="verse v3086"><span class="date" when="--04" dur="P1D" instant="false">Ung jour de <span style="position: relative;"><span class="lem">Pasque</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
                  <div class="collation-content">Pasques<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
               </div></sup></span></span>, en ceste chartre obscure,</span>
   <span class="verse v3087">Faignant avoir de son filz soing et cure,</span>
   <span class="verse v3088">Voulut aller. Mais le faulx inhumain,</span>
   <span class="verse v3089">Qui lors tenoit une hache en sa main,</span>
   <span class="verse v3090"><span class="verse-number">[3090]</span>Dès qu’il le veit<span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30">
               <div class="collation-content">de<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> raige envenimee,</span>
   <span class="verse v3091"><span style="position: relative;"><span class="lem">Au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31">
               <div class="collation-content">Du<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> feu d’erreur asprement allumee,</span>
   <span class="verse v3092">Tant altera sa male intentïon</span>
   <span class="verse v3093">Que, sans esgard à la detentïon</span>
   <span class="verse v3094">Fort longue,<span style="position: relative;"><span class="lem">austere, estrange</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content">estrange austere<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et criminelle,</span>
   <span class="verse v3095"><span class="verse-number">[3095]</span>Là, de sa main, oultre loy paternelle,</span>
   <span class="verse v3096">Villainement meurdrit son propre enfant,</span>
   <span class="verse v3097">Qui de martir eut loyer triumphant,</span>
   
   
   <hr data-img-id="f158">
   
   <span class="curr-title fw-bold"><mark class="persName">Ingonde<span class="persName-info fw-normal on-left"><b>Ingonthe</b> (567 — 585)<span class="hr-100">&nbsp;</span>Princesse franque (567-585)<br/><span class="hr-short">&nbsp;</span>Princesse franque épouse du prince wisigoth d'Espagne
            Herménégild</span></mark> femme de <mark class="persName">Hermeilde<span class="persName-info fw-normal on-left"><b>Herménégilde</b> (564 — 13/04/585)<span class="hr-short">&nbsp;</span>Prince wisigoth, canonisé par l’Église catholique</span></mark> fuyant avecq son fils
      fut prise</span>
   <span class="verse v3098">Comme promect le texte evangelicque</span>
   <span class="verse v3099">À qui prend mort pour la foy catholicque.<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup></span>
   <span class="verse v3100"><span class="verse-number">[3100]</span>Ainsi rendit ce pere vicïeux</span>
   <span class="verse v3101"><span style="position: relative;"><span class="lem">Le corps</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35">
               <div class="collation-content">Lorps<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> du filz<span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> terre et l’ame <span style="position: relative;"><span class="lem">aux</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
               <div class="collation-content">es<span class="coll-source"> [BnFfr4964]</span></div>
            </div></sup></span> cieulx.</span>
   <span class="verse v3102">§Aprés l’excés <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content">de<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> crime detestable,</span>
   <span class="verse v3103">Ce roy pervers fist du mal <span style="position: relative;"><span class="lem">importable</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39">
               <div class="collation-content">intollerable<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span></span>
   <span class="verse v3104">Aux <span style="position: relative;"><span class="lem">bons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4964, BnFfr4965, BnFfr17274, BnFfr23146, Cha515]</span></div>
            </div></sup></span>crestiens, par <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41">
               <div class="collation-content"><s>pugnitions</s>
                  <span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>executïons<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup></span>
   <span class="verse v3105"><span class="verse-number">[3105]</span>De lourdz travaulx et persecutïons,</span>
   <span class="verse v3106">Et mesmement à la triste adueillee</span>
   <span class="verse v3107"><mark class="persName">Ingonde<span class="persName-info fw-normal on-right"><b>Ingonthe</b> (567 — 585)<span class="hr-100">&nbsp;</span>Princesse franque (567-585)<br/><span class="hr-short">&nbsp;</span>Princesse franque épouse du prince wisigoth d'Espagne
            Herménégild</span></mark>, vefve, afflicte et desollee.</span>
   <span class="verse v3108">Si elle avoit receu dueil despiteux</span>
   <span class="verse v3109">Pour le trespas ennuyeux et doubteux</span>
   <span class="verse v3110"><span class="verse-number">[3110]</span>De son espoux. Las, ceste povre dame</span>
   <span class="verse v3111">Souffrit depuys dure tristesse de ame !</span>
   <span class="verse v3112">Des faulx vilains hereticques marrans,</span>
   <span class="verse v3113"><span style="position: relative;"><span class="lem">Eut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">Et<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> les assaultz d’opprobres lourdz et grandz.</span>
   <span class="verse v3114">Et se trouva si fort injurïee</span>
   <span class="verse v3115"><span class="verse-number">[3115]</span>Que <span style="position: relative;"><span class="lem">avoir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45">
               <div class="collation-content">avoyt<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> esté en ces lieux marïee</span>
   <span class="verse v3116">Ne luy pouoit faillir le regretter,</span>
   <span class="verse v3117">En se voyant si durement traicter.</span>
   <span class="verse v3118">§Pour tant de maulx, la doulce creature,</span>
   <span class="verse v3119">Avecq son filz, prist fuyte à l’aventure,</span>
   <span class="verse v3120"><span class="verse-number">[3120]</span>Pensant d’embleeen <mark title="placeName" instant="false" full="yes">France</mark> avoir recours.</span>
   <span class="verse v3121">Mais de malheur convint suyvre autre cours,</span>
   <span class="verse v3122">Car prise fut <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47">
               <div class="collation-content">de<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>Bisantins, gens d’armes</span>
   
   
   <hr data-img-id="f159">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> venge
      la mort de sa seur <mark class="persName">Ingonde<span class="persName-info fw-normal on-left"><b>Ingonthe</b> (567 — 585)<span class="hr-100">&nbsp;</span>Princesse franque (567-585)<br/><span class="hr-short">&nbsp;</span>Princesse franque épouse du prince wisigoth d'Espagne
            Herménégild</span></mark></span>
   <span class="verse v3123">De l’empereur,et lors conficte en larmes</span>
   <span class="verse v3124">Et durs regretz, grosse fiebvre la prist,</span>
   <span class="verse v3125"><span class="verse-number">[3125]</span>Dont <span class="date" dur="P4D" instant="false">quatre</span> jours aprés rendit
      l’esprit.</span>
   <span class="verse v3126">Et le sien filz, par ung prud’homme noble,</span>
   <span class="verse v3127">Fut emporté dedans <mark title="placeName" instant="false" full="yes">Constantinoble</mark></span>
   <span class="verse v3128">Vers l’empereur,<span style="position: relative;"><span class="lem">qu’il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48">
               <div class="collation-content">qui<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> commanda nourrir,</span>
   <span class="verse v3129">Fort bien traicter et doulcement cherir.</span>
   <span class="verse v3130"><span class="verse-number">[3130]</span>§Quant <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> eut la nouvelle sceue</span>
   <span class="verse v3131">Comme sa seur avoit, par telle yssue,</span>
   <span class="verse v3132"><span style="position: relative;"><span class="lem">Laissee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49">
               <div class="collation-content">Laissé<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span><mark title="placeName" instant="false" full="yes">Espaigne</mark>, au moyen des tors faictz </span>
   <span class="verse v3133">Et divers maulx,&nbsp;à elle a <span style="position: relative;"><span class="lem">grand</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> tort faiz.</span>
   <span class="verse v3134">Il proposa n’arrester jour ny heure</span>
   <span class="verse v3135"><span class="verse-number">[3135]</span>Qu’il ne s’en venge au dangier <span style="position: relative;"><span class="lem">que y</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51">
               <div class="collation-content">qu’il<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> demeure.</span>
   <span class="verse v3136">Lors, prepara si <span style="position: relative;"><span class="lem">diligentz apprestz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52">
               <div class="collation-content"><span class="choice">dilligente</span> aprest<s>e</s><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span></span>
   <span class="verse v3137"><span style="position: relative;"><span class="lem">Que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53">
               <div class="collation-content">Qu’il<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> fist <span style="position: relative;"><span class="lem">marcher</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54">
               <div class="collation-content">marché<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> son ost<span class="date" dur="P1M" instant="false">ung</span> moys aprés,</span>
   <span class="verse v3138">Et traversant par <mark title="placeName" instant="false" full="yes">Alpes</mark> et
      <mark title="placeName" instant="false" full="yes">Campaignes</mark>,</span>
   <span class="verse v3139">De fierté grande envahit les <mark title="placeName" instant="false" full="yes">Espaignes</mark>.</span>
   <span class="verse v3140"><span class="verse-number">[3140]</span>Le roy <mark class="persName">Hengilde<span class="persName-info fw-normal on-right"><b>Léovigilde</b> (entre 519 et 525 — 23/04/586)<span class="hr-short">&nbsp;</span>Roi wisigoth</span></mark> aux
      armes vif et prompt,</span>
   <span class="verse v3141">Tenant les champs de couraige tout rond,</span>
   <span class="verse v3142">Livra tantost aux François la bataille,</span>
   <span class="verse v3143">Bien extimant effondrer leur tripaille</span>
   <span class="verse v3144">Et <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> deffaire autant que de pourceaux.</span>
   <span class="verse v3145"><span class="verse-number">[3145]</span>Mais quant on vint à trencher les morceaux,</span>
   <span class="verse v3146">Quoy qu’il y eut coups <span style="position: relative;"><span class="lem">ruéz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown58" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown58">
               <div class="collation-content">rouués<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> à oultrance,</span>
   <span class="verse v3147">Tant <span style="position: relative;"><span class="lem">de la part</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59">
               <div class="collation-content">du costé<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> d’<mark title="placeName" instant="false" full="yes">Espaigne</mark> que de <mark title="placeName" instant="false" full="yes">France</mark>,</span>
   
   
   <hr data-img-id="f160">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> deffait
      les Espaignolz et
      Gotz</span>
   <span class="verse v3148">Quoy que les ungs, comme on <span style="position: relative;"><span class="lem">tourne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61">
               <div class="collation-content">trouve<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et prend l’aer,</span>
   <span class="verse v3149">Fussent contrainctz par grandz flottes bransler,</span>
   <span class="verse v3150"><span class="verse-number">[3150]</span>Ainsi qu’en mer forte vague et royde unde</span>
   <span class="verse v3151">Va et vient, quant fort vent souffle et redonde,</span>
   <span class="verse v3152">Si trouva l’on, des deux partz, gentz de cueur</span>
   <span class="verse v3153">De mesme force et semblable vigueur,</span>
   <span class="verse v3154">Qui causa forte et lourde baterie<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup>.</span>
   <span class="verse v3155"><span class="verse-number">[3155]</span>Mais toutesvoyes la plus grosse tuerie</span>
   <span class="verse v3156">En fin tourna <span style="position: relative;">sus</span>Espaignols et Gotz,</span>
   <span class="verse v3157">Car les François, eschaufféz comme coqz</span>
   <span class="verse v3158">Qui l’un à l’autre arrachent yeulx et crestes,</span>
   <span class="verse v3159">Aux coups donner eurent braz et <span style="position: relative;"><span class="lem">mains</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67">
               <div class="collation-content">maintz<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> prestes,</span>
   <span class="verse v3160"><span class="verse-number">[3160]</span><span style="position: relative;"><span class="lem">Jusque</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68">
               <div class="collation-content">Jusqu’à<span class="coll-source"> [Aix419, BnFfr17274, BnFfr4964, BnFfr4965, Cha515]</span></div>
               <div class="collation-content">Jusque <s>à</s><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> si bien faictz <span style="position: relative;"><span class="lem">d’armes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown69" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown69">
               <div class="collation-content">armes<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> comporter</span>
   <span class="verse v3161">Que la victoire en sceurent rapporter.</span>
   <span class="verse v3162">Dont <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, à ceulx de sa partie,</span>
   <span class="verse v3163">Bonne despouille et grosse departie,</span>
   <span class="verse v3164">S’en retourna plein de <span style="position: relative;"><span class="lem">bien</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70">
               <div class="collation-content">biens<span class="coll-source"> [Aix419, BnFfr17274]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>, gloire et heur.</span>
   <span class="verse v3165"><span class="verse-number">[3165]</span>§Tantost aprés,<mark class="persName">Maurice<span class="persName-info fw-normal on-right"><b>Maurice</b> (539 — 30/11/602)<span class="hr-short">&nbsp;</span>Empereur romain d'Orient de 582 à 602</span></mark>, l’empereur,</span>
   <span class="verse v3166">Gentz devers luy envoye et l’admonneste</span>
   <span class="verse v3167">Soy acquiter de sa foy, comme honneste,</span>
   <span class="verse v3168">Et <span style="position: relative;"><span class="lem">que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71">
               <div class="collation-content">qu’il<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> voulsist rendre Lombardzchasséz</span>
   <span class="verse v3169">Hors <span style="position: relative;"><span class="lem">d’<mark title="placeName" instant="false" full="yes">Italie</mark></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown73" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown73">
               <div class="collation-content">Ytalye<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">Ytalie<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>. À ceste charge assez</span>
   <span class="verse v3170"><span class="verse-number">[3170]</span>Legierement s’accorde, en esperance</span>
   <span class="verse v3171">Mectre sa seur <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown74" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown74">
               <div class="collation-content">à<span class="coll-source"> [BnFfr4964, BnFfr4965, Aix419, BnFfr17274, Cha515]</span></div>
            </div></sup></span> pleine delivrance,</span>
   <span class="verse v3172">Et son nepveu. Par ce ne monstroit pas</span>
   
   
   <hr data-img-id="f161">
   
   <span class="curr-title fw-bold">L’entreprise de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> rompue</span>
   <span class="verse v3173">Estre adverty du sien soudain trespas.</span>
   <span class="verse v3174"><span style="position: relative;"><span class="lem">Non estoit il,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>mais de malheur l’emprise</span>
   <span class="verse v3175"><span class="verse-number">[3175]</span>Fut inutile, et convint lascher prise.</span>
   <span class="verse v3176">Car les François contre aulcuns Allemans</span>
   <span class="verse v3177">Que avoit soubz luy envïeux et <span style="position: relative;"><span class="lem">gourmans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown76" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown76">
               <div class="collation-content">gouvernantz<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>,</span>
   <span class="verse v3178">De leur credit eurent <span style="position: relative;"><span class="lem">questïons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown77" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown77">
               <div class="collation-content">questïon<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> grosses.</span>
   <span class="verse v3179">C’est dangier <span style="position: relative;"><span class="lem">grand que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown78" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown78">
               <div class="collation-content">quant<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> telles faulses rosses,</span>
   <span class="verse v3180"><span class="verse-number">[3180]</span>En une armee, à faulte d’y viser,</span>
   <span class="verse v3181">Pour moins que <span style="position: relative;"><span class="lem">riens</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown79" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown79">
               <div class="collation-content">rien<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">facent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown80" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown80">
               <div class="collation-content">sçauront<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> l’ost diviser.</span>
   <span class="verse v3182">Car bien souvent par ceste truendaille</span>
   <span class="verse v3183">Se perd et rompt une grosse bataille.</span>
   <span class="verse v3184">À ce moyen fut <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      remys</span>
   <span class="verse v3185"><span class="verse-number">[3185]</span>De ce voyaige et, doubtant <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown83" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown83">
               <div class="collation-content">d’<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>estre mys</span>
   <span class="verse v3186"><span style="position: relative;">Au</span> dangereux hazard qui en la tourbe,</span>
   <span class="verse v3187">Par telz mutins, <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown85" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown85">
               <div class="collation-content">de<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> victoire destourbe,</span>
   <span class="verse v3188">Il ayma myeulx à tant se reposer</span>
   <span class="verse v3189">Que vie en guerre estrangiere poser.</span>
   <span class="verse v3190"><span class="verse-number">[3190]</span>Ainsi le fait tout homme qui par fringue</span>
   <span class="verse v3191">Veult de ce jeu retirer son <span style="position: relative;"><span class="lem">espingue</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown86" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown86">
               <div class="collation-content">espingle<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(3059);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Comme
      pour la conversion de Clovis, Cretin fait de la femme le moteur de
      la conversion chrétienne. Cela renvoie à une certaine réparition des
      prérogatives du couple royal en usage au début du XVI<sup>e</sup> siècle, notamment étudiée par Nicole
      Hochner (<i title="Titre">Louis XII. Les dérèglements de l’image royale
         (1498-1515)</i>, Paris, Champ Vallon, 2013, chap. 7 : « La
      reine, cet "autre" roi », p. 245-278) ou Claudie Martin-Ulrich, qui
      explique que « si le roi est l’agent, la reine est le moteur ou plus
      exactement l’inspiratrice très chrétienne des actes du monarque »
      (<i title="Titre">La <i>persona</i> de la princesse au
         XVI<sup>e</sup> siècle : personnage
         littéraire et personnage politique</i>, Paris, Champion,
      2004, p. 341).</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(3099);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Apocalypse 2 : 10 : Ne crains pas ce que tu vas souffrir.
      Voici, le diable jettera quelques-uns d’entre vous en prison, afin
      que vous soyez éprouvés, et vous aurez une tribulation de dix jours.
      Sois fidèle jusqu’à la mort, et je te donnerai la couronne de
      vie.</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(3104);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Le vers est surnuméraire dans le
      manuscrit BnF fr. 2818, d’où les corrections des autres
      manuscrits.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(3123);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Historiquement, ce n’est pas
      la même Ingonde qu’auparavant (ici ce n’est pas la femme de
      Clotaire). Cretin la désigne comme la sœur de Chilpéric alors qu’il
      s’agit de sa nièce.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(3154);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Attaque.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            20
            </span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3047);">v. 3047</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Pour</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3047);">v. 3047</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>heresrie</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xx me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xx<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xx<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xx<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3055);">v. 3055</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>du</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3055);">v. 3055</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gotz</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3055);">v. 3055</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>appelle</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3061);">v. 3061</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><s>pre</s>
            </span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3064);">v. 3064</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3067);">v. 3067</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>propopos</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3067);">v. 3067</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>c’est</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3067);">v. 3067</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>dont</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3070);">v. 3070</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leurs</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3075);">v. 3075</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faict</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3076);">v. 3076</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>griefve</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3078);">v. 3078</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, Cha515 </span>griefz</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3078);">v. 3078</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3080);">v. 3080</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Que</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3086);">v. 3086</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>Pasques</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3090);">v. 3090</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>de</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3091);">v. 3091</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Du</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3094);">v. 3094</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>estrange austere</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3101);">v. 3101</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Lorps</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3101);">v. 3101</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3101);">v. 3101</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>es</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3102);">v. 3102</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3103);">v. 3103</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>intollerable</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3104);">v. 3104</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, BnFfr17274, BnFfr23146, Cha515 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3104);">v. 3104</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>pugnitions</s>
            </span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3113);">v. 3113</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Et</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3115);">v. 3115</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>avoyt</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3122);">v. 3122</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>de</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3128);">v. 3128</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>qui</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3132);">v. 3132</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Laissé</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3133);">v. 3133</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3135);">v. 3135</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>qu’il</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3136);">v. 3136</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">dilligente</span> aprest<s>e</s></span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3137);">v. 3137</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Qu’il</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3137);">v. 3137</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>marché</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3144);">v. 3144</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll58">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3146);">v. 3146</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>rouués</span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3147);">v. 3147</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>du costé</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3148);">v. 3148</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>trouve</span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3159);">v. 3159</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>maintz</span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3160);">v. 3160</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr4964, BnFfr4965, Cha515 </span>Jusqu’à</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Jusque <s>à</s></span></div>
      </div>
   <div class="collation row" id="coll69">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3160);">v. 3160</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>armes</span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3164);">v. 3164</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274 </span>biens</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3168);">v. 3168</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>qu’il</span></div>
      </div>
   <div class="collation row" id="coll73">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3169);">v. 3169</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Ytalye</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Ytalie</span></div>
      </div>
   <div class="collation row" id="coll74">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3171);">v. 3171</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Aix419, BnFfr17274, Cha515 </span>à</span></div>
      </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3174);">v. 3174</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll76">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3177);">v. 3177</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>gouvernantz</span></div>
      </div>
   <div class="collation row" id="coll77">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3178);">v. 3178</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>questïon</span></div>
      </div>
   <div class="collation row" id="coll78">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3179);">v. 3179</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>quant</span></div>
      </div>
   <div class="collation row" id="coll79">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3181);">v. 3181</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>rien</span></div>
      </div>
   <div class="collation row" id="coll80">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3181);">v. 3181</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>sçauront</span></div>
      </div>
   <div class="collation row" id="coll83">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3185);">v. 3185</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>d’</span></div>
      </div>
   <div class="collation row" id="coll85">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3187);">v. 3187</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll86">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3191);">v. 3191</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>espingle</span></div>
      </div>
</div>
{% endmacro %}
