
{% macro chapterTitle() %}Chapitre 23{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('23_chap_22')"><i class="fa-solid fa-arrow-left"></i> Chapitre 22</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('25_chap_24')">Chapitre 24 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f180/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f180/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f180" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f181/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f181/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f181" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f182/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f182/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f182" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f183/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f183/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f183" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f184/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f184/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f184" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   
   <hr data-img-id="f180">
   <span title="Numéro de folio" class="folio-num"><i>72v</i></span>
   
   
   <hr data-img-id="f181">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Une comette cheutte / et le ciel ardoir fut veu
         ſus <mark title="placeName" instant="false" full="yes">Soiſſons</mark></span><span title="Numéro de folio" class="folio-num"><i>73r</i></span></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v3618">§Grandz ſignes veuz
         en laer / font mectre icy
         <span class="lem"></span>
         
         </span>
      <span class="verse v3619">Maulx aduenuz et la mort de Theodore,</span>
      <span class="verse v3620"><span class="verse-number">[3620]</span>Filz Chilperich, Dont rend Fredegonde
         ore</span>
      <span class="verse v3621">Femmes a mort / et Mommolin auſſi.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.&nbsp;xxiii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v3622">
      <span class="lem">DUrans</span>
      
       ces iours / fut veue une comette</span>
   <span class="verse v3623">Clere et barbue en laer /. Et quoy quon 
      <span class="lem">mecte</span>
      
      </span>
   <span class="verse v3624">
      <span class="lem">Eſtre</span>
      
       influance au naturel reſpect /</span>
   <span class="verse v3625"><span class="verse-number">[3625]</span>Si eſt touſiours ung tel ſigne ſuſpect /</span>
   <span class="verse v3626">De rappoꝛter quelque mauuais pꝛeſaige /</span>
   <span class="verse v3627">Loꝛs, oultre dꝛoit / diſcours de pꝛopꝛe vſaige,</span>
   <span class="verse v3628">Fut veu le ciel / deſſus <mark title="placeName" instant="false" full="yes">Soiſſons</mark>, ardoir /.</span>
   <span class="verse v3629">Dedans <mark title="placeName" instant="false" full="yes">Paris</mark>, 
      <span class="lem">dun</span>
      
      
      <span class="lem">nuaige</span>
      
       foꝛt noir,</span>
   <span class="verse v3630"><span class="verse-number">[3630]</span>Degoutta ſang /
      <span class="lem">en</span>
      
       veue aſſez pꝛouuee /.</span>
   <span class="verse v3631">Et, a <mark title="placeName" instant="false" full="yes">Senlis</mark>, fut la maiſon trouuee</span>
   <span class="verse v3632">Dun laboureur / ſanglante par dedans /.</span>
   <span class="verse v3633">Ce furent tous augures pꝛetendans</span>
   <span class="verse v3634">Pꝛonoſtiquer (en <mark title="placeName" instant="false" full="yes">france</mark>) eſtre moleſte</span>
   <span class="verse v3635"><span class="verse-number">[3635]</span>De maladie et venimeuſe peſte,</span>
   <span class="verse v3636">Ce qui fut vray /. et tout ainſi aduint /</span>
   <span class="verse v3637">Car celluy 
      <span class="lem"><span title="substitution"><span class="align-top" title="Ajout"><span class="choice"><span title="Abbréviation pour temps">tēps</span></span></span><s class="align-bottom" title="Suppression"><s><span class="unclear" instant="false"></span></s></s></span></span>
      
      , en des lieux plus de vingt,</span>
   <span class="verse v3638">Lepidimye / et fiere peſtilence</span>
   <span class="verse v3639">Gentz eſtrangla par foꝛte violence,</span>
   <span class="verse v3640"><span class="verse-number">[3640]</span>Et tout ſoudain 
      <span class="lem">cauſa lourdz</span>
      
       abatiz</span>
   <span class="verse v3641">
      <span class="lem">Sus</span>
      
      
      <span class="lem">ieunes</span>
      
       / vieilz / gꝛandz / moyens / et petitz /</span>
   
   
   <hr data-img-id="f182">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Mommolin accuſe de la
         mort du filz de Chilperich
         </span><span title="Numéro de folio" class="folio-num"><i>73v</i></span></span>
   <span class="verse v3642">Meſme a lenfant Theodoꝛe /
      <span class="lem">l</span>
      
      
      annee</span>
   <span class="verse v3643">Par Fredegonde enfante / fut menee</span>
   <span class="verse v3644">La 
      <span class="lem"></span>
      
      vie a fin de lexil perilleux,</span>
   <span class="verse v3645"><span class="verse-number">[3645]</span>Dont roy et royne eurent dueil merueilleux.</span>
   <span class="verse v3646">Mais 
      <span class="lem">au</span>
      
       pꝛouchatz daulcuns / diſoit la mere</span>
   <span class="verse v3647">Que par poiſon de potion amere</span>
   <span class="verse v3648">Auoit eſte ſon enfant a moꝛt mys,</span>
   <span class="verse v3649">Et que par trop ſen eſtoit entremys</span>
   <span class="verse v3650"><span class="verse-number">[3650]</span>
      <span class="lem">Ce Mommolin / dont mention 
         <span class="lem">ay</span>
         
          faicte</span>
      
      </span>
   <span class="verse v3651">
      <span class="lem">Par cy deuant / en ſoꝛte aſſez affecte /.</span>
      
      </span>
   <span class="verse v3652">Si meſbahis que homme de tel credit</span>
   <span class="verse v3653">Tant 
      <span class="lem">foꝛuoya</span>
      
      
       / veu 
      <span class="lem">ce</span>
      
       que leſcript dit /</span>
   <span class="verse v3654">Quil 
      <span class="lem">ſaccointa</span>
      
       de truandes ſoꝛcieres</span>
   <span class="verse v3655"><span class="verse-number">[3655]</span>Et leur 
      <span class="lem">donna</span>
      
       foꝛce rentes foncieres,</span>
   <span class="verse v3656">Affin dauoir le ſang des innoſcens</span>
   <span class="verse v3657">Pour le ſeruir 
      <span class="lem"></span>
      
      hoꝛs raiſon de bon 
      <span class="lem">ſens</span>
      
      ,</span>
   <span class="verse v3658">A charmes / ſoꝛtz / mixtions de bꝛuuaiges,</span>
   <span class="verse v3659">Dont il 
      <span class="lem">vſoit</span>
      
       en facons 
      <span class="lem">moult</span>
      
       ſauluaiges.</span>
   <span class="verse v3660"><span class="verse-number">[3660]</span>Loꝛs pour le faict de ceſte meſpꝛiſon</span>
   <span class="verse v3661">Fut detenu en eſtroicte pꝛiſon.</span>
   <span class="verse v3662">Puys 
      <span class="lem">veuz</span>
      
      
      <span class="lem"></span>
      
      les cas ſi enoꝛmes, infames</span>
   <span class="verse v3663">Et exceſſifz de ces vilaines femmes,</span>
   <span class="verse v3664">Par le recit de leurs confeſſions,</span>
   <span class="verse v3665"><span class="verse-number">[3665]</span>On auanca les executions</span>
   <span class="verse v3666">Et entre mains 
      <span class="lem">des</span>
      
       bourreaux deliurees</span>
   
   
   <hr data-img-id="f183">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Tourmentz que Chilperich fiſt endurer a Mommolin.
         </span><span title="Numéro de folio" class="folio-num"><i>74r</i></span></span>
   <span class="verse v3667">Furent par foꝛce a cheuaulx deſmembꝛees.</span>
   <span class="verse v3668">§Sur ce le roy Mommolin fiſt lier</span>
   <span class="verse v3669">Eſtroictement et batre 
      <span class="lem">a</span>
      
       ung 
      <span class="lem">pillier</span>
      
      ,</span>
   <span class="verse v3670"><span class="verse-number">[3670]</span>Linterroguant de la faulte commiſe</span>
   <span class="verse v3671">Dont luy eſtoit 
      <span class="lem">foꝛt</span>
      
      
      
      <span class="lem"></span>
      
      gꝛande 
      <span class="lem"></span>
      
      coulpe miſe.</span>
   <span class="verse v3672">Et, par expꝛes, luy enquiſt / quelz pꝛouffitz</span>
   <span class="verse v3673">Auoit 
      <span class="lem">receuz</span>
      
       a la moꝛt de ſon filz.</span>
   <span class="verse v3674">A quoy rendit reſponſe 
      <span class="lem">vaine</span>
      
       et crue,</span>
   <span class="verse v3675"><span class="verse-number">[3675]</span>Diſant quau faict de ceſte moꝛt meſcreue</span>
   <span class="verse v3676">
      <span class="lem"></span>
      
      Ny entendoit aulcun mal /
      <span class="lem">ne</span>
      
       ſcauoit,</span>
   <span class="verse v3677">Mais 
      <span class="lem">quelques</span>
      
       fois / ſoꝛtz et charmes auoit</span>
   <span class="verse v3678">Bien pꝛacticquez /
      <span class="lem">affin dauoir</span>
      
       ſa gꝛace</span>
   <span class="verse v3679">Pour enrichir luy et toute ſa race /.</span>
   <span class="verse v3680"><span class="verse-number">[3680]</span>§Sans autrement laffaire
      diſcuter,</span>
   <span class="verse v3681">Voult Chilperich le
      faire executer,</span>
   <span class="verse v3682">Et 
      <span class="lem">ſi</span>
      
       ne fuſt la pꝛiere humble et doulce</span>
   <span class="verse v3683">De Fredegonde.Il auoit la ſecouſſe.</span>
   <span class="verse v3684">Mais tant requiſt (pour luy) et
      ſupplia,</span>
   <span class="verse v3685"><span class="verse-number">[3685]</span>Quen ſa faueur le roy 
      <span class="lem">a</span>
      
       ce plia</span>
   <span class="verse v3686">Et le remiſt 
      <span class="lem">a</span>
      
       plaine deliurance.</span>
   <span class="verse v3687">Si neut il pas 
      <span class="lem"></span>
      
      pourtant la 
      <span class="lem"></span>
      
      recouurance</span>
   <span class="verse v3688">De ſa ſante /. Car ſes membꝛes caſſez</span>
   <span class="verse v3689">Des maulx receuz / furent trop plus que aſſez</span>
   <span class="verse v3690"><span class="verse-number">[3690]</span>Par tant dennuys / triſteſſes langoureuſes,</span>
   <span class="verse v3691">Tourmentz et gꝛiefz de peines douloureuſes</span>
   
   
   <hr data-img-id="f184">
   
   <span class="folio"><span class="d-block fw-bold mb-3">La royne Fredegonde enceinte dun filz.</span><span title="Numéro de folio" class="folio-num"><i>74v</i></span></span>
   <span class="verse v3692">
      <span class="lem"></span>
      
      Que eut en pꝛiſon /. en trois ou quatre pas</span>
   <span class="verse v3693">Franchit le 
      <span class="lem">ſault</span>
      
       / de lextreme treſpas.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   
   <hr data-img-id="f180">
   
   
   
   <hr data-img-id="f181">
   
   <span class="curr-title fw-bold">Une comette cheutte et le ciel ardoir fut veu
      sus <mark title="placeName" instant="false" full="yes">Soissons</mark></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v3618">§Grandz signes veuz
         en l’aer font mectre icy<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
                  <div class="collation-content">
                     
                     <span class="unclear" instant="false">24</span>
                     
                     <span class="coll-source"> [BnFfr4965]</span></div>
               </div></sup></span></span>
      <span class="verse v3619">Maulx advenuz et la mort de <mark class="persName">Theodore<span class="persName-info fw-normal on-right"><b>Thierry</b> (582 — 584)<span class="hr-100">&nbsp;</span> (?-?)<br/><span class="hr-short">&nbsp;</span>Fils de Chilpéric I</span></mark>,</span>
      <span class="verse v3620"><span class="verse-number">[3620]</span>Filz <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, dont rend <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>
         ore<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup></span>
      <span class="verse v3621">Femmes à mort et <mark class="persName">Mommolin<span class="persName-info fw-normal on-right"><b>Mummolus</b> (VIe siècle — 585)<span class="hr-short">&nbsp;</span>Roi de Bourgogne</span></mark> aussi.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xxiii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
               <div class="collation-content">Chapitre xxiiii me<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content"><span class="choice">Chappitre</span> xxiiii<sup>e</sup><span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content"><span class="choice">Chapitre</span> xxiiii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">Chappittre .xxiiii<sup>e</sup>.<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>
      </blockquote>
   
   <span class="verse v3622"><span style="position: relative;"><span class="lem">Durans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
               <div class="collation-content">Durant<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> ces jours, fut veue une comette</span>
   <span class="verse v3623">Clere et barbue en l’aer. Et quoy qu’on <span style="position: relative;"><span class="lem">mecte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span></span>
   <span class="verse v3624"><span style="position: relative;"><span class="lem">Estre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">Ceste<span class="coll-source"> [BnFfr23146, BnFfr17274]</span></div>
            </div></sup></span> influance au naturel respect,</span>
   <span class="verse v3625"><span class="verse-number">[3625]</span>Si est tousjours ung tel signe suspect</span>
   <span class="verse v3626">De rapporter quelque mauvais presaige.</span>
   <span class="verse v3627">Lors, oultre droit discours de propre usaige,</span>
   <span class="verse v3628">Fut veu le ciel, dessus <mark title="placeName" instant="false" full="yes">Soissons</mark>, ardoir.</span>
   <span class="verse v3629">Dedans <mark title="placeName" instant="false" full="yes">Paris</mark>, <span style="position: relative;"><span class="lem">d’un</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content">ung<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">nuaige</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">ymaige<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> fort noir,</span>
   <span class="verse v3630"><span class="verse-number">[3630]</span>Degoutta sang<span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content">à<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> veue assez prouvee,</span>
   <span class="verse v3631">Et, à <mark title="placeName" instant="false" full="yes">Senlis</mark>, fut la maison trouvee</span>
   <span class="verse v3632">D’un laboureur sanglante par dedans.</span>
   <span class="verse v3633">Ce furent tous augures pretendans</span>
   <span class="verse v3634">Pronostiquer en <mark title="placeName" instant="false" full="yes">France</mark> estre moleste</span>
   <span class="verse v3635"><span class="verse-number">[3635]</span>De maladie et venimeuse peste,</span>
   <span class="verse v3636">Ce qui fut vray et tout ainsi advint.</span>
   <span class="verse v3637">Car celluy <span style="position: relative;"><span class="lem"><span title="Texte résultant d'une substitution"><span class="choice"><span title="Abbrégé en tēps">temps</span></span></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">an<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4964, BnFfr4965]</span></div>
            </div></sup></span>, en des lieux plus de vingt,</span>
   <span class="verse v3638">L’epidimye et fiere pestilence</span>
   <span class="verse v3639">Gentz estrangla par forte vïolence,</span>
   <span class="verse v3640"><span class="verse-number">[3640]</span>Et tout soudain <span style="position: relative;">causa lourdz</span> abatiz</span>
   <span class="verse v3641"><span style="position: relative;">Sus</span><span style="position: relative;"><span class="lem">jeunes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content">jeune<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>, vieilz, grandz, moyens et petitz.</span>
   
   
   <hr data-img-id="f182">
   
   <span class="curr-title fw-bold"><mark class="persName">Mommolin<span class="persName-info fw-normal on-left"><b>Mummolus</b> (VIe siècle — 585)<span class="hr-short">&nbsp;</span>Roi de Bourgogne</span></mark> accusé de la
      mort du filz de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      </span>
   <span class="verse v3642">Mesme à l’enfant <mark class="persName">Theodore<span class="persName-info fw-normal on-right"><b>Thierry</b> (582 — 584)<span class="hr-100">&nbsp;</span> (?-?)<br/><span class="hr-short">&nbsp;</span>Fils de Chilpéric I</span></mark>,<span style="position: relative;"><span class="lem">l’</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content">telle <span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content">celle <span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>annee</span>
   <span class="verse v3643">Par <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> enfanté, fut menee</span>
   <span class="verse v3644">La vie à fin de l’exil perilleux,</span>
   <span class="verse v3645"><span class="verse-number">[3645]</span>Dont roy et royne eurent dueil merveilleux.</span>
   <span class="verse v3646">Mais <span style="position: relative;">au</span> prouchatz d’aulcuns, disoit la mere</span>
   <span class="verse v3647">Que par poison de potïon amere</span>
   <span class="verse v3648">Avoit esté son enfant à mort mys,</span>
   <span class="verse v3649">Et que par trop s’en estoit entremys</span>
   <span class="verse v3650"><span class="verse-number">[3650]</span><span style="position: relative;"><span class="lem">Ce <mark class="persName">Mommolin<span class="persName-info fw-normal on-right"><b>Mummolus</b> (VIe siècle — 585)<span class="hr-short">&nbsp;</span>Roi de Bourgogne</span></mark>, dont mentïon <span style="position: relative;"><span class="lem">ay</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
                     <div class="collation-content">est<span class="coll-source"> [Aix419]</span></div>
                  </div></sup></span> faicte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content"> Par cy devant, en sorte assez affecte <span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span></span>
   <span class="verse v3651"><span style="position: relative;"><span class="lem">Par cy devant, en sorte assez affecte<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>.</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content"> Ce Mommolin, dont mentïon ay faicte <span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span></span>
   <span class="verse v3652">Si m’esbahis que homme de tel credit</span>
   <span class="verse v3653">Tant <span style="position: relative;"><span class="lem">forvoya</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">forvoié<span class="coll-source"> [BnFfr23146]</span></div>
               <div class="collation-content">fourvoyé<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>, veu <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> que l’escript dit,</span>
   <span class="verse v3654">Qu’il <span style="position: relative;"><span class="lem">s’accointa</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
               <div class="collation-content">s’accoincte<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> de truandes sorcieres</span>
   <span class="verse v3655"><span class="verse-number">[3655]</span>Et leur <span style="position: relative;"><span class="lem">donna</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22">
               <div class="collation-content">donne<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> force rentes foncieres,</span>
   <span class="verse v3656">Affin d’avoir le sang des innoscens</span>
   <span class="verse v3657">Pour le servir hors raison de bon <span style="position: relative;"><span class="lem">sens</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
               <div class="collation-content">sang<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>,</span>
   <span class="verse v3658">À charmes, sortz, mixtïons de bruvaiges,</span>
   <span class="verse v3659">Dont il <span style="position: relative;">usoit</span> en façons <span style="position: relative;"><span class="lem">moult</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">trop<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> saulvaiges.</span>
   <span class="verse v3660"><span class="verse-number">[3660]</span>Lors pour le faict de ceste mesprison</span>
   <span class="verse v3661">Fut detenu en estroicte prison.</span>
   <span class="verse v3662">Puys <span style="position: relative;"><span class="lem">veuz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">veu<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span>les cas si enormes, infames</span>
   <span class="verse v3663">Et excessifz de ces vilaines femmes,</span>
   <span class="verse v3664">Par le recit de leurs confessïons,</span>
   <span class="verse v3665"><span class="verse-number">[3665]</span>On avança les executïons</span>
   <span class="verse v3666">Et entre mains <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
               <div class="collation-content">de<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> bourreaux delivrees</span>
   
   
   <hr data-img-id="f183">
   
   <span class="curr-title fw-bold">Tourmentz que <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> fist endurer à <mark class="persName">Mommolin<span class="persName-info fw-normal on-left"><b>Mummolus</b> (VIe siècle — 585)<span class="hr-short">&nbsp;</span>Roi de Bourgogne</span></mark>
      </span>
   <span class="verse v3667">Furent par force à chevaulx desmembrees.</span>
   <span class="verse v3668">§Sur ce le roy <mark class="persName">Mommolin<span class="persName-info fw-normal on-right"><b>Mummolus</b> (VIe siècle — 585)<span class="hr-short">&nbsp;</span>Roi de Bourgogne</span></mark> fist lïer</span>
   <span class="verse v3669">Estroictement et batre <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30">
               <div class="collation-content">en<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> ung <span style="position: relative;"><span class="lem">pillier</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31">
               <div class="collation-content">pillé<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>,</span>
   <span class="verse v3670"><span class="verse-number">[3670]</span>L’interroguant de la faulte commise</span>
   <span class="verse v3671">Dont luy estoit <span style="position: relative;"><span class="lem">fort</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
               <div class="collation-content"></div>
            </div></sup></span><span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content">à <span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>grande coulpe mise.</span>
   <span class="verse v3672">Et, par exprés, luy enquist quelz prouffitz</span>
   <span class="verse v3673">Avoit <span style="position: relative;"><span class="lem">receuz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35">
               <div class="collation-content">receu<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> à la mort de son filz.</span>
   <span class="verse v3674">À quoy rendit response <span style="position: relative;"><span class="lem">vaine</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">vifve<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et crue,</span>
   <span class="verse v3675"><span class="verse-number">[3675]</span>Disant qu’au faict de ceste mort mescreue</span>
   <span class="verse v3676"><span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
               <div class="collation-content"><s>Disant</s><span class="coll-source"> [BnFfr4964]</span></div>
            </div></sup></span>N’y entendoit aulcun mal,<span style="position: relative;">ne</span> sçavoit,</span>
   <span class="verse v3677">Mais <span style="position: relative;"><span class="lem">quelques</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39">
               <div class="collation-content">quelque<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> fois, sortz et charmes avoit</span>
   <span class="verse v3678">Bien practicquéz,<span style="position: relative;"><span class="lem">affin d’avoir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content">pour mieulx
                  avoir<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> sa grace</span>
   <span class="verse v3679">Pour enrichir luy et toute sa race.</span>
   <span class="verse v3680"><span class="verse-number">[3680]</span>§Sans autrement l’affaire
      discuter,</span>
   <span class="verse v3681">Voult <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> le
      faire executer,</span>
   <span class="verse v3682">Et <span style="position: relative;"><span class="lem">si</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41">
               <div class="collation-content">s’il<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> ne fust la priere humble et doulce</span>
   <span class="verse v3683">De <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>,il avoit la secousse.</span>
   <span class="verse v3684">Mais tant requist pour luy et
      supplïa,</span>
   <span class="verse v3685"><span class="verse-number">[3685]</span>Qu’en sa faveur le roy <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> ce plïa</span>
   <span class="verse v3686">Et le remist <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> plaine delivrance.</span>
   <span class="verse v3687">Si n’eut il pas pourtant la recouvrance</span>
   <span class="verse v3688">De sa santé. Car ses membres casséz</span>
   <span class="verse v3689">Des maulx receuz, furent trop plus que assez</span>
   <span class="verse v3690"><span class="verse-number">[3690]</span>Par tant d’ennuys, tristesses langoureuses,</span>
   <span class="verse v3691">Tourmentz et griefz de peines douloureuses</span>
   
   
   <hr data-img-id="f184">
   
   <span class="curr-title fw-bold">La royne <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> enceinte d’un filz</span>
   <span class="verse v3692">Que eut en prison, en trois ou quatre pas</span>
   <span class="verse v3693">Franchit le <span style="position: relative;"><span class="lem">sault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47">
               <div class="collation-content">pas<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> de l’extreme trespas.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(3620);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">A l'instant.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(3651);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Ardente,
      animée.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3618);">v. 3618</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            
            <span class="unclear" instant="false">24</span>
            
            </span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxiiii me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxiiii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxiiii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xxiiii<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3622);">v. 3622</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Durant</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3623);">v. 3623</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3624);">v. 3624</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146, BnFfr17274 </span>Ceste</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3629);">v. 3629</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ung</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3629);">v. 3629</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ymaige</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3630);">v. 3630</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>à</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3637);">v. 3637</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4964, BnFfr4965 </span>an</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3641);">v. 3641</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>jeune</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3642);">v. 3642</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span>telle </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>celle </span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3650);">v. 3650</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span> Par cy devant, en sorte assez affecte </span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3650);">v. 3650</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>est</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3651);">v. 3651</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span> Ce Mommolin, dont mentïon ay faicte </span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3653);">v. 3653</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>forvoié</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>fourvoyé</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3653);">v. 3653</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3654);">v. 3654</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>s’accoincte</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3655);">v. 3655</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>donne</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3657);">v. 3657</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sang</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3659);">v. 3659</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>trop</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3662);">v. 3662</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>veu</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3666);">v. 3666</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3669);">v. 3669</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>en</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3669);">v. 3669</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>pillé</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3671);">v. 3671</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>à </span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3673);">v. 3673</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>receu</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3674);">v. 3674</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>vifve</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3676);">v. 3676</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><s>Disant</s></span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3677);">v. 3677</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>quelque</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3678);">v. 3678</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>pour mieulx
            avoir</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3682);">v. 3682</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>s’il</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3685);">v. 3685</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3686);">v. 3686</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3693);">v. 3693</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>pas</span></div>
      </div>
</div>
{% endmacro %}
