
{% macro chapterTitle() %}Chapitre 3{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('3_chap_2')"><i class="fa-solid fa-arrow-left"></i> Chapitre 2</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('5_chap_4')">Chapitre 4 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f60/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f60/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f60" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f61/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f61/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f61" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f62/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f62/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f62" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f63/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f63/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f63" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f64/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f64/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f64" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f65/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f65/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f65" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f60">
   <p title="Numéro de folio" class="text-end"><i>12v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v873">§Pour mectre 
         <span class="lem"></span>
         
         fin a ce que lœil pourchace,</span>
      <span class="verse v874">Sommairement ſera cy recite</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v875"><span class="verse-number">[875]</span>Comment Clotaire, a la
         mort, fut cite,</span>
      <span class="verse v876">Par trop auoir 
         <span class="lem">prins</span>
         
          trauail a la chaſſe.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      
      <span class="lem">§Chapitre.&nbsp;iii<sup>e</sup>.</span>
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f61">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clotaire pres de
         <mark title="placeName" type="ville" instant="false" full="yes">Soiſſons</mark> alla a la chaſſe</span><span title="Numéro de folio" class="folio-num"><i>13r</i></span></span>
   <span class="verse v877">CLotaire, ung iour, deſirant pꝛendꝛe laer,</span>
   <span class="verse v878">Se departit de <mark title="placeName" instant="false" full="yes">Soiſſons</mark> pour aller</span>
   <span class="verse v879">En ſes foꝛeſtz 
      <span class="lem">courre</span>
      
       les cerfz a foꝛce,</span>
   <span class="verse v880"><span class="verse-number">[880]</span>Comme ſouuent cueur deſireux ſeffoꝛce</span>
   <span class="verse v881">Paſſer le temps durant la ceruoiſon,</span>
   <span class="verse v882">Meſmes es lieux / ou ſont gꝛandz cerfz foiſon.</span>
   <span class="verse v883">Quant les veneurs eurent / ſans longue enqueſte,</span>
   <span class="verse v884">Deuant le roy rappoꝛte de leur 
      <span class="lem">queſte</span>
      
      ,</span>
   <span class="verse v885"><span class="verse-number">[885]</span>Cerf deſtourne maintindꝛent aux rappoꝛtz.</span>
   <span class="verse v886">Eſtre ſomme de vingt 
      <span class="lem">et</span>
      
       quatre coꝛs /.</span>
   <span class="verse v887">Loꝛs fut ſa ioye a plaiſir redoublee,</span>
   <span class="verse v888">Et diſpoſa 
      <span class="lem">d</span>
      
      aller a laſſemblee /.</span>
   <span class="verse v889">La, mainte couple
      <span class="lem"></span>
      
      y eut de chiens courans /.</span>
   <span class="verse v890"><span class="verse-number">[890]</span>La, ſceurent bien veneurs 
      <span class="lem">trouuer</span>
      
       garandz,</span>
   <span class="verse v891">En repꝛenant 
      <span class="lem">erres</span>
      
       ſur 
      <span class="lem">leurs bꝛiſees</span>
      
       /.</span>
   <span class="verse v892">La furent foꝛt les manieres pꝛiſees</span>
   <span class="verse v893">Du gꝛand veneur / qui 
      <span class="lem">bien ſceut</span>
      
      , a pꝛopos,</span>
   <span class="verse v894">Faire lancer le cerf de ſon repos,</span>
   <span class="verse v895"><span class="verse-number">[895]</span>Car a la voix du lymier / plus ne doubte,</span>
   <span class="verse v896">Et toſt luy fait bailler la meutte 
      <span class="lem">a</span>
      
       routte /.</span>
   <span class="verse v897">Oꝛ, apꝛes foꝛt viander / pꝛend delit</span>
   <span class="verse v898">Cerf au repos, ſans partir de ſon lict</span>
   <span class="verse v899">Que a gꝛand regꝛet /si fault que au lancer vſe</span>
   <span class="verse v900"><span class="verse-number">[900]</span>De ſon meſtier /. et face quelque ruſe /.</span>
   <span class="verse v901">La teſte 
      <span class="lem">haulte</span>
      
       / il ſen va en oyant</span>
   
   
   <hr data-img-id="f62">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clotaire eſt a la
         chaſſe pres de <mark title="placeName" instant="false" full="yes">Soiſſons</mark>.</span><span title="Numéro de folio" class="folio-num"><i>13v</i></span></span>
   <span class="verse v902">Labbay des chiens, ſon pays tournoyant,</span>
   <span class="verse v903">Non pas ſans foꝛt 
      <span class="lem">les</span>
      
      
      <span class="lem">laſnieres</span>
      
       eſcourre,</span>
   <span class="verse v904">Veneurs apꝛes fuyans /. et chiens de courre /.</span>
   <span class="verse v905"><span class="verse-number">[905]</span>Ceſt ung plaiſir 
      <span class="lem">ouyꝛ</span>
      
       les belles voix</span>
   <span class="verse v906">Des chiens courans retentir en ces bois /.</span>
   <span class="verse v907">Ceſt ung 
      <span class="lem">deduyt</span>
      
       / quant coꝛs et trompes ſonnent</span>
   <span class="verse v908">Du plaiſant ſon /
      <span class="lem"></span>
      
      que foꝛeſtz en reſonnent /.</span>
   <span class="verse v909">Ceſt paſſetemps douyꝛ aux chiens parler&nbsp;:</span>
   <span class="verse v910"><span class="verse-number">[910]</span><span title="Discours direct">Va cy Clabault / Va, 
         <span class="lem">ve</span>
         
         
         
         <span class="lem">le cy</span>
         
          aller&nbsp;!</span></span>
   <span class="verse v911"><span title="Discours direct">La, la, ira /
         Rigault /
         Bꝛuyant /
         Fricaude,</span></span>
   <span class="verse v912"><span title="Discours direct">Marteau /
         Gꝛongnard /
         
         <span class="lem"></span>
         
         
         <span class="lem">Bꝛifault</span>
         
         
          /.
         par cy va 
         <span class="lem">bande</span>
         
         &nbsp;!</span></span>
   <span class="verse v913"><span title="Discours direct">La, cher amy, va, 
         <span class="lem"></span>
         
         
         <span class="lem">ve</span>
         
         
         
         <span class="lem">le cy</span>
         
          fuyant&nbsp; /.</span></span>
   <span class="verse v914">
      <span class="lem">Du</span>
      
      
       train 
      <span class="lem">quon</span>
      
       tient / et comme on va 
      <span class="lem">huyant</span>
      
      ,</span>
   <span class="verse v915"><span class="verse-number">[915]</span>Ie laiſſeray le ſurplus a compꝛendꝛe</span>
   <span class="verse v916">A ceulx qui bien ſcauent 
      <span class="lem">tel eſbat</span>
      
       pꝛendꝛe /.</span>
   <span class="verse v917">Tant 
      <span class="lem">fut</span>
      
       le cerf celluy iour pourmene,</span>
   <span class="verse v918">Si foꝛt couru / chaſſe / et 
      <span class="lem"></span>
      
      maumene,</span>
   <span class="verse v919">Que apꝛes auoir 
      <span class="lem">tourne</span>
      
       deuant / derriere,</span>
   <span class="verse v920"><span class="verse-number">[920]</span>Et pꝛacticque 
      <span class="lem">mainte ruze</span>
      
       en arriere /.</span>
   <span class="verse v921">Apꝛes auoir paſſe 
      <span class="lem">viuiers</span>
      
       / eſtangz,</span>
   <span class="verse v922">Et gꝛandz mareſtz / en 
      <span class="lem">ces</span>
      
       foꝛeſtz eſtantz,</span>
   <span class="verse v923">En 
      <span class="lem">trauerſant</span>
      
       dun taillis en la plaine,</span>
   <span class="verse v924">Deuant les chiens demoura 
      <span class="lem">hoꝛs</span>
      
       dalaine.</span>
   <span class="verse v925"><span class="verse-number">[925]</span>Mais ce ne fut ſans faire 
      <span class="lem"></span>
      
      ample deuoir,</span>
   <span class="verse v926">Et aux veneurs et picqueurs fait ſcauoir</span>
   
   
   <hr data-img-id="f63">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clotaire vieil
         priſt a la chaſſe la fieure continue.</span><span title="Numéro de folio" class="folio-num"><i>14r</i></span></span>
   <span class="verse v927">Comme au meſtier on doibt picquer des bottes.</span>
   <span class="verse v928">Le roy, 
      <span class="lem">ce</span>
      
       iour, caſſant 
      <span class="lem">ces</span>
      
       quatre mottes,</span>
   <span class="verse v929">
      <span class="lem">Se y</span>
      
       eſchauffa trop plus quil ne debuoit,</span>
   <span class="verse v930"><span class="verse-number">[930]</span>Car plus de 
      <span class="lem"></span>
      
      cueur beaucoup que foꝛce auoit,</span>
   <span class="verse v931">Et ſi 
      <span class="lem">eſtoit</span>
      
       peruenu a gꝛand aage</span>
   <span class="verse v932">Pour ne debuoir 
      <span class="lem">courir</span>
      
       cerfz /. dauantaige.</span>
   <span class="verse v933">Caſſe / bꝛiſe / et rompu eſtoit foꝛt,</span>
   <span class="verse v934">
      <span class="lem">Par</span>
      
       trop de iours 
      <span class="lem">auoir</span>
      
       mys ſon effoꝛt</span>
   <span class="verse v935"><span class="verse-number">[935]</span>A demener le meſtier de la guerre.</span>
   <span class="verse v936">Loꝛs ceſte la / qui 
      <span class="lem">charge de</span>
      
       longue erre,</span>
   <span class="verse v937">
      <span class="lem">Et</span>
      
       fait loger / a moins que dire <span title="Discours direct">picq</span>,</span>
   <span class="verse v938">Poures humains a la pelle et au picq,</span>
   <span class="verse v939">Et qui la vie a 
      <span class="lem">tous</span>
      
       diſcontinue,</span>
   <span class="verse v940"><span class="verse-number">[940]</span>Le fiſt ſaiſir de fieure continue /.</span>
   <span class="verse v941">§Ceſt ſimplement 
      <span class="lem"></span>
      
      
      <span class="lem">applicque</span>
      
      
      
      <span class="lem">ſon</span>
      
       deſir,</span>
   <span class="verse v942">Quant tel trauail excede le plaiſir /.</span>
   <span class="verse v943">Ceſt gꝛand malheur / cauſant lourdes tempeſtes,</span>
   <span class="verse v944">Quant ung roy court ainſi 
      <span class="lem">apꝛes</span>
      
       les beſtes /.</span>
   <span class="verse v945"><span class="verse-number">[945]</span>Ceſt gꝛand meſchief veoir homme pꝛendꝛe cours,</span>
   <span class="verse v946">Par le quel face abꝛeger ſes iours courtz /.</span>
   <span class="verse v947">Ceſt mal aduis perdꝛe le poſſeſſoire</span>
   <span class="verse v948">
      <span class="lem"></span>
      
      De ſa ſante / pour ung tel acceſſoire /.</span>
   <span class="verse v949">Bꝛief / ceſt pour roys eſbat trop perilleux,</span>
   <span class="verse v950"><span class="verse-number">[950]</span>Car non 
      <span class="lem">ſans</span>
      
       plus mectent en peril / eulx,</span>
   <span class="verse v951">Mais 
      <span class="lem">auſſi</span>
      
       tous eſtatz de 
      <span class="lem">leur</span>
      
       royaume.</span>
   
   
   <hr data-img-id="f64">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clotaire eſt au
         lict de la mort.</span><span title="Numéro de folio" class="folio-num"><i>14v</i></span></span>
   <span class="verse v952">Ceſt bien raiſon / ſe 
      <span class="lem">la chaſſe ung roy ame,</span>
      
      
      </span>
   <span class="verse v953">Que ſon plaiſir y 
      <span class="lem"></span>
      
      ait /.Mais nentre pas</span>
   <span class="verse v954">En train de courre / aultre que l
      <span class="lem">entrepas</span>
      
      
      .</span>
   <span class="verse v955"><span class="verse-number">[955]</span>Car en courant toute ſa foꝛce enerfue /.</span>
   <span class="verse v956">Cecy ne dis pour 
      <span class="lem"></span>
      
      
      <span class="lem">enſeigner</span>
      
      Minerue,</span>
   <span class="verse v957">Mais ceſt affin quon penſe, a laduenir,</span>
   <span class="verse v958">Au gꝛand dangier / qui en peult ſuruenir.</span>
   <span class="verse v959">§Clotaire eſtant ſur le lict
      moꝛtuaire,</span>
   <span class="verse v960"><span class="verse-number">[960]</span>Ne ſe trouuoit cyꝛop / electuaire,</span>
   <span class="verse v961">Dꝛogue / coulis / eſpꝛaincte /
      ou reſtaurant,</span>
   <span class="verse v962">Qui contre moꝛt luy ſceuſt poꝛter garant /</span>
   <span class="verse v963">Car laſpꝛe 
      <span class="lem"></span>
      
      fieure 
      <span class="lem">aigue</span>
      
       et rigoureuſe</span>
   <span class="verse v964">
      <span class="lem"> Le moleſta daigꝛeur ſi langoureuſe </span>
      
      </span>
   <span class="verse v965"><span class="verse-number">[965]</span>Que, 
      <span class="lem">dardeur</span>
      
      , 
      <span class="lem"></span>
      
      entre en tremblante douleur,</span>
   <span class="verse v966">Et de froidure / en 
      <span class="lem">ardante</span>
      
       challeur /.</span>
   <span class="verse v967">Ainſi 
      <span class="lem">afflict</span>
      
       / giſant a la renuerſe,</span>
   <span class="verse v968">Tant afflige de paſſion diuerſe,</span>
   <span class="verse v969">Triſte / penſif / dolent / piteux / et las,</span>
   <span class="verse v970"><span class="verse-number">[970]</span>Fit 
      <span class="lem">ſes</span>
      
       regꝛetz / diſant ces motz&nbsp; /.
      <span class="lem"></span>
      
      <span title="Discours direct">Helas&nbsp;!</span></span>
   <span class="verse v971"><span title="Discours direct">Combien eſt gꝛande et
         puiſſante la foꝛce</span></span>
   <span class="verse v972"><span title="Discours direct">Du roy celeſte. Actendu 
         <span class="lem">quil parfoꝛce</span>
         
         
         </span></span>
   <span class="verse v973"><span title="Discours direct">Les roys de terre
         / au tribut naturel,</span></span>
   <span class="verse v974"><span title="Discours direct">Et fait laiſſer leur
         regne tempoꝛel /.</span></span>
   <span class="verse v975"><span class="verse-number">[975]</span><span title="Discours direct">O ! qveſt il gꝛand /
         
         <span class="lem">ce</span>
         
         
         roy qui 
         <span class="lem"></span>
         
         humilie</span></span>
   <span class="verse v976"><span title="Discours direct">Les plus 
         <span class="lem"></span>
         
         puiſſans /
         et ce que ennemy lie,</span></span>
   
   
   <hr data-img-id="f65">
   
   <span class="folio"><span class="d-block fw-bold mb-3">La mort du roy Clotaire inhume a
         <mark title="placeName" instant="false" full="yes">Soiſſons</mark>.</span><span title="Numéro de folio" class="folio-num"><i>15r</i></span></span>
   <span class="verse v977"><span title="Discours direct">Il le deſlie /.
         et a lame et au coꝛps</span></span>
   <span class="verse v978"><span title="Discours direct">Donne ſante, tant eſt miſericoꝛdz /.</span></span>
   <span class="verse v979"><span title="Discours direct">Tant eſt il bon / quil ne pꝛend point vengence</span></span>
   <span class="verse v980"><span class="verse-number">[980]</span><span title="Discours direct">Dhomme pecheur,
         faiſant ſa diligence</span></span>
   <span class="verse v981"><span title="Discours direct">Tourner vers luy / et pardon demander</span></span>
   <span class="verse v982"><span title="Discours direct">Auecq pꝛopos ferme de
         ſe amander /.</span></span>
   <span class="verse v983"><span title="Discours direct">Tant eſt piteux / ſi doulx / et ſi traictable,</span></span>
   <span class="verse v984"><span title="Discours direct">Que au monde neſt
         peche ſi 
         <span class="lem"></span>
         
         deteſtable</span></span>
   <span class="verse v985"><span class="verse-number">[985]</span><span title="Discours direct">Ne ſi gꝛand cas
         / que lhomme ou femme 
         <span class="lem">ait</span>
         
          fait,</span></span>
   <span class="verse v986"><span title="Discours direct">
         <span class="lem">Quil</span>
         
          ne pardonne aiſeement leur meſfait /.</span></span>
   <span class="verse v987">§Loꝛs, deuant tous, diſt, 
      <span class="lem">en</span>
      
       ferme 
      <span class="lem">conſtance</span>
      
      ,</span>
   <span class="verse v988">De ſon peche la gꝛiefue circonſtance.</span>
   <span class="verse v989">Et tant contrict en cueur que faire ſceut,</span>
   <span class="verse v990"><span class="verse-number">[990]</span>Ses ſacrementz deuotement receut.</span>
   <span class="verse v991">Ainſi rendit / par moꝛt qui tout 
      <span class="lem">atterre</span>
      
       /</span>
   <span class="verse v992">Lame ou dieu
      <span class="lem">pleut</span>
      
       /. et le coꝛps a la terre /.</span>
   <span class="verse v993">Ayant des ans <span class="date" dur="P51Y" instant="false">cinquante 
         <span class="lem">et</span>
         
          ung</span> regne,</span>
   <span class="verse v994">
      <span class="lem">Et</span>
      
       ſon royaulme amplement gouuerne /.</span>
   <span class="verse v995"><span class="verse-number">[995]</span>Pour le debuoir dobſecques funerailles,</span>
   <span class="verse v996">On myt / au lieu / ou mourut ſes
      entrailles,</span>
   <span class="verse v997">Puys fut le coꝛps /
      <span class="lem">apꝛes eſtre</span>
      
       embaſme,</span>
   <span class="verse v998">A <mark title="placeName" instant="false" full="yes">Sainct Medard</mark> de
      <mark title="placeName" instant="false" full="yes">Soiſſons</mark> inhume,</span>
   <span class="verse v999">Ou pꝛeparer le triumphe enuoyerent</span>
   <span class="verse v1000"><span class="verse-number">[1000]</span>Ses quatre filz /. et la le conuoyerent /.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f60">
   <blockquote class="ms-2">
      
      <span class="verse v873">§Pour mectre fin à ce que l’œil pourchace,</span>
      <span class="verse v874">Sommairement sera cy recité</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
               <div class="collation-content">
                  3
                  <span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>
      <span class="verse v875"><span class="verse-number">[875]</span>Comment <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark>, à la
         mort, fut cité,</span>
      <span class="verse v876">Par trop avoir <span style="position: relative;">prins</span> travail à la chasse.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <span style="position: relative;"><span class="lem">§Chapitre&nbsp;iii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f61">
   
   <span class="curr-title fw-bold"><mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> prés de
      <mark title="placeName" type="ville" instant="false" full="yes">Soissons</mark> alla à la chasse</span>
   <span class="verse v877"><mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark>, ung jour, desirant prendre l’aer,</span>
   <span class="verse v878">Se departit de <mark title="placeName" instant="false" full="yes">Soissons</mark> pour aller</span>
   <span class="verse v879">En ses forestz <span style="position: relative;"><span class="lem">courre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">contre<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> les cerfz à force,</span>
   <span class="verse v880"><span class="verse-number">[880]</span>Comme souvent cueur desireux s’efforce</span>
   <span class="verse v881">Passer le temps durant la cervoison<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>,</span>
   <span class="verse v882">Mesmes es lieux où sont grandz cerfz foison.</span>
   <span class="verse v883">Quant les veneurs eurent, sans longue enqueste,</span>
   <span class="verse v884">Devant le roy rapporté de leur <span style="position: relative;">queste</span>,</span>
   <span class="verse v885"><span class="verse-number">[885]</span>Cerf destourné maintindrent aux rapportz</span>
   <span class="verse v886">Estre sommé de vingt <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> quatre cors.</span>
   <span class="verse v887">Lors fut sa joye à plaisir redoublee,</span>
   <span class="verse v888">Et disposa <span style="position: relative;"><span class="lem">d</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>’aller à l’assemblee.</span>
   <span class="verse v889">Là, mainte couple<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>y eut de chiens courans ;</span>
   <span class="verse v890"><span class="verse-number">[890]</span>Là, sceurent bien veneurs <span style="position: relative;"><span class="lem">trouver</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10">
               <div class="collation-content">trouvé<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> garandz<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup>,</span>
   <span class="verse v891">En reprenant <span style="position: relative;"><span class="lem">erres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content"><span>arres</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup> sur <span style="position: relative;"><span class="lem">leurs brisees<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content">leur braser<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> ;</span>
   <span class="verse v892">Là furent fort les manieres prisees</span>
   <span class="verse v893">Du grand veneur, qui <span style="position: relative;"><span class="lem">bien sceut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content"><s>bi sceut</s>
                  bien <s>seut sceut</s> sceut<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>, à propos,</span>
   <span class="verse v894">Faire lancer le cerf de son repos,</span>
   <span class="verse v895"><span class="verse-number">[895]</span>Car à la voix du lymier plus ne doubte,</span>
   <span class="verse v896">Et tost luy fait bailler la meutte <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
               <div class="collation-content">et<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> routte.</span>
   <span class="verse v897">Or, aprés fort viander<sup class="modal-call note-call" aria-hidden="true" id="noteCall6" data-modal-id="noteModal6">6</sup>, prend delit</span>
   <span class="verse v898">Cerf au repos, sans partir de son lict</span>
   <span class="verse v899">Que à grand regret.Si fault que au lancer<sup class="modal-call note-call" aria-hidden="true" id="noteCall7" data-modal-id="noteModal7">7</sup> use<sup class="modal-call note-call" aria-hidden="true" id="noteCall8" data-modal-id="noteModal8">8</sup></span>
   <span class="verse v900"><span class="verse-number">[900]</span>De son mestier, et face quelque ruse.</span>
   <span class="verse v901">La teste <span style="position: relative;"><span class="lem">haulte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15">
               <div class="collation-content">en hault<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>, il s’en va en oyant</span>
   
   
   <hr data-img-id="f62">
   
   <span class="curr-title fw-bold"><mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> est à la
      chasse prés de <mark title="placeName" instant="false" full="yes">Soissons</mark></span>
   <span class="verse v902">L’abbay des chiens, son pays tournoyant,</span>
   <span class="verse v903">Non pas sans fort <span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">ses<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">lasnieres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">lasniere<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> escourre<sup class="modal-call note-call" aria-hidden="true" id="noteCall9" data-modal-id="noteModal9">9</sup>,</span>
   <span class="verse v904">Veneurs aprés fuyans, et chiens de courre.</span>
   <span class="verse v905"><span class="verse-number">[905]</span>C’est ung plaisir <span style="position: relative;"><span class="lem">ouyr</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content">
                  <div>d’ouyr<span class="coll-source"> [Aix419, BnFfr17274, Cha515]</span> ; </div>
                  <div>d’ouir<span class="coll-source"> [BnFfr23146]</span></div>
               </div>
            </div></sup></span> les belles voix</span>
   <span class="verse v906">Des chiens courans retentir en ces bois.</span>
   <span class="verse v907">C’est ung <span style="position: relative;"><span class="lem">deduyt</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">plaisir<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> quant cors et trompes sonnent</span>
   <span class="verse v908">Du plaisant sonque forestz en resonnent.</span>
   <span class="verse v909">C’est passe temps d’ouyr aux chiens parler&nbsp;:</span>
   <span class="verse v910"><span class="verse-number">[910]</span><span title="Discours direct">«&nbsp;Va cy <mark class="persName">Clabault<span class="persName-info fw-normal on-right"><b>Clabault</b><span class="hr-short">&nbsp;</span>Chien</span></mark> ! Va, <span style="position: relative;"><span class="lem">ve</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
                  <div class="collation-content">vez<span class="coll-source"> [Cha515]</span></div>
               </div></sup></span>
         <span style="position: relative;"><span class="lem">le cy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22">
                  <div class="collation-content">lecy<span class="coll-source"> [BnFfr4965]</span></div>
               </div></sup></span> aller&nbsp;!</span></span>
   <span class="verse v911"><span title="Discours direct">Là, là, ira
         <mark class="persName">Rigault<span class="persName-info fw-normal on-right"><b>Rigault</b><span class="hr-short">&nbsp;</span>Chien</span></mark>,
         <mark class="persName">Bruyant<span class="persName-info fw-normal on-right"><b>Bruyant</b><span class="hr-short">&nbsp;</span>Chien</span></mark>,
         <mark class="persName">Fricaude<span class="persName-info fw-normal on-right"><b>Fricaude</b><span class="hr-short">&nbsp;</span>Chien</span></mark>,</span></span>
   <span class="verse v912"><span title="Discours direct"><mark class="persName">Marteau<span class="persName-info fw-normal on-right"><b>Marteau</b><span class="hr-short">&nbsp;</span>Chien</span></mark>,
         <mark class="persName">Grongnard<span class="persName-info fw-normal on-right"><b>Grongnard</b><span class="hr-short">&nbsp;</span>Chien</span></mark>,
         <mark class="persName"><span style="position: relative;"><span class="lem">Brifault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
                     <div class="collation-content">Brechault<span class="coll-source"> [BnFfr4964, BnFfr4965, Aix419]</span></div>
                     <div class="collation-content">Brehault<span class="coll-source"> [BnFfr17274, BnFfr23146, Cha515]</span></div>
                  </div></sup></span><span class="persName-info fw-normal on-right"><b>Brifault</b><span class="hr-short">&nbsp;</span>Chien</span></mark> !
         Par cy va <span style="position: relative;"><span class="lem">bande</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
                  <div class="collation-content">baulde<span class="coll-source"> [Cha515]</span></div>
               </div></sup></span>&nbsp;!</span></span>
   <span class="verse v913"><span title="Discours direct">Là, cher amy, va, <span style="position: relative;"><span class="lem">ve</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
                  <div class="collation-content">vez<span class="coll-source"> [BnFfr23146, Cha515]</span></div>
               </div></sup></span>
         <span style="position: relative;"><span class="lem">le cy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
                  <div class="collation-content">lecy<span class="coll-source"> [BnFfr4965]</span></div>
               </div></sup></span> fuyant<sup class="modal-call note-call" aria-hidden="true" id="noteCall10" data-modal-id="noteModal10">10</sup>&nbsp;!&nbsp;»</span></span>
   <span class="verse v914"><span style="position: relative;"><span class="lem">Du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
               <div class="collation-content">Au<span class="coll-source"> [BnFfr4964, Cha515]</span></div>
               <div class="collation-content">Ou<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> train <span style="position: relative;">qu’on</span> tient, et comme on va <span style="position: relative;">huyant</span>,</span>
   <span class="verse v915"><span class="verse-number">[915]</span>Je laisseray le surplus à comprendre</span>
   <span class="verse v916">À ceulx qui bien sçavent <span style="position: relative;"><span class="lem">tel esbat</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content">
                  <div>l’esbat y<span class="coll-source"> [BnFfr17274]</span> ; </div>
                  <div>l’esbat i<span class="coll-source"> [BnFfr23146]</span></div>
               </div>
            </div></sup></span> prendre<sup class="modal-call note-call" aria-hidden="true" id="noteCall11" data-modal-id="noteModal11">11</sup>.</span>
   <span class="verse v917">Tant <span style="position: relative;"><span class="lem">fut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content">fut<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> le cerf celluy jour pourmené,</span>
   <span class="verse v918">Si fort couru chassé et maumené,</span>
   <span class="verse v919">Que aprés avoir <span style="position: relative;">tourné</span> devant, derriere,</span>
   <span class="verse v920"><span class="verse-number">[920]</span>Et practicqué <span style="position: relative;"><span class="lem">mainte ruze</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">maintes ruses<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> en arriere,</span>
   <span class="verse v921">Aprés avoir passé <span style="position: relative;">viviers</span>, estangz,</span>
   <span class="verse v922">Et grandz marestz, en <span style="position: relative;"><span class="lem">ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
               <div class="collation-content">ses<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> forestz estantz,</span>
   <span class="verse v923">En <span style="position: relative;"><span class="lem">traversant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39">
               <div class="collation-content">traver<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> d’un taillis en la plaine,</span>
   <span class="verse v924">Devant les chiens demoura <span style="position: relative;">hors</span> d’alaine.</span>
   <span class="verse v925"><span class="verse-number">[925]</span>Mais ce ne fut sans faire ample devoir,</span>
   <span class="verse v926">Et aux veneurs et picqueurs fait sçavoir</span>
   
   
   <hr data-img-id="f63">
   
   <span class="curr-title fw-bold"><mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> vieil
      prist à la chasse la fievre continue</span>
   <span class="verse v927">Comme au mestier on doibt picquer des bottes.</span>
   <span class="verse v928">Le roy, <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> jour, cassant <span style="position: relative;"><span class="lem">ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">ses<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> quatre mottes<sup class="modal-call note-call" aria-hidden="true" id="noteCall12" data-modal-id="noteModal12">12</sup>,</span>
   <span class="verse v929"><span style="position: relative;"><span class="lem">Se y</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44">
               <div class="collation-content">Si<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span> eschauffa trop plus qu’il ne debvoit,</span>
   <span class="verse v930"><span class="verse-number">[930]</span>Car plus de cueur beaucoup que force avoit,</span>
   <span class="verse v931">Et si <span style="position: relative;"><span class="lem">estoit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46">
               <div class="collation-content">estoy<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> pervenu à grand aage</span>
   <span class="verse v932">Pour ne debvoir <span style="position: relative;"><span class="lem">courir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47">
               <div class="collation-content">courre<span class="coll-source"> [BnFfr17274, BnFfr23146, Cha515]</span></div>
            </div></sup></span> cerfz davantaige.</span>
   <span class="verse v933">Cassé, brisé et rompu estoit fort,</span>
   <span class="verse v934"><span style="position: relative;"><span class="lem">Par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48">
               <div class="collation-content">Car<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> trop de jours <span style="position: relative;"><span class="lem">avoir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49">
               <div class="collation-content">avoit<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> mys son effort</span>
   <span class="verse v935"><span class="verse-number">[935]</span>À demener le mestier de la guerre.</span>
   <span class="verse v936">Lors ceste là qui <span style="position: relative;"><span class="lem">charge de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50">
               <div class="collation-content">sans charger<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> longue erre,</span>
   <span class="verse v937"><span style="position: relative;"><span class="lem">Et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51">
               <div class="collation-content">Tous<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> fait loger, à moins que dire <span title="Discours direct">«&nbsp;picq&nbsp;»</span>,</span>
   <span class="verse v938">Povres humains à la pelle et au picq,</span>
   <span class="verse v939">Et qui la vie à <span style="position: relative;"><span class="lem">tous</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52">
               <div class="collation-content">tant<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> discontinue,</span>
   <span class="verse v940"><span class="verse-number">[940]</span>Le fist saisir de fievre continue.</span>
   <span class="verse v941">§C’est simplement <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53">
               <div class="collation-content">donc <span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">applicqué</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54">
               <div class="collation-content">applicque<s>r</s><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">apliquer<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">son</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> desir,</span>
   <span class="verse v942">Quant tel travail excede le plaisir!</span>
   <span class="verse v943">C’est grand malheur causant lourdes tempestes,</span>
   <span class="verse v944">Quant ung roy court ainsi <span style="position: relative;"><span class="lem">aprés</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56">
               <div class="collation-content">aprés<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> les bestes!</span>
   <span class="verse v945"><span class="verse-number">[945]</span>C’est grand meschief veoir homme prendre cours,</span>
   <span class="verse v946">Par lequel face abreger ses jours courtz!</span>
   <span class="verse v947">C’est mal advis perdre le possessoire</span>
   <span class="verse v948">De sa santé, pour ung tel accessoire!</span>
   <span class="verse v949">Brief, c’est pour roys esbat trop perilleux,</span>
   <span class="verse v950"><span class="verse-number">[950]</span>Car non <span style="position: relative;"><span class="lem">sans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown58" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown58">
               <div class="collation-content">sens<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> plus mectent en peril eulx,</span>
   <span class="verse v951">Mais <span style="position: relative;">aussi</span> tous estatz de <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60">
               <div class="collation-content">son<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> royaume.</span>
   
   
   <hr data-img-id="f64">
   
   <span class="curr-title fw-bold"><mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> est au
      lict de la mort</span>
   <span class="verse v952">C’est bien raison, se <span style="position: relative;"><span class="lem">la chasse ung roy ame,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61">
               <div class="collation-content">ung roy les
                  chaces ame<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515]</span></div>
               <div class="collation-content">ung roy les chasses ames<span class="coll-source"> [BnFfr4964]</span></div>
            </div></sup></span></span>
   <span class="verse v953">Que son plaisir y ait,mais n’entre pas</span>
   <span class="verse v954">En train de courre aultre que l’<span style="position: relative;"><span class="lem">entrepas</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown63" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown63">
               <div class="collation-content">outrepas<span class="coll-source"> [BnFfr4965]</span></div>
               <div class="collation-content">autrepas<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>.</span>
   <span class="verse v955"><span class="verse-number">[955]</span>Car en courant toute sa force enerfve.</span>
   <span class="verse v956">Cecy ne dis pour <span style="position: relative;"><span class="lem">enseigner</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65">
               <div class="collation-content">enseigne<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><mark class="persName">Minerve<span class="persName-info fw-normal on-right"><b>Minerve</b><span class="hr-short">&nbsp;</span>Déesse romaine de la sagesse</span></mark>,</span>
   <span class="verse v957">Mais c’est affin qu’on pense, à l’advenir,</span>
   <span class="verse v958">Au grand dangier qui en peult survenir<sup class="modal-call note-call" aria-hidden="true" id="noteCall13" data-modal-id="noteModal13">13</sup>.</span>
   <span class="verse v959">§<mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> estant sur le lict
      mortuaire,</span>
   <span class="verse v960"><span class="verse-number">[960]</span>Ne se trouvoit cyrop, electuaire<sup class="modal-call note-call" aria-hidden="true" id="noteCall14" data-modal-id="noteModal14">14</sup>,</span>
   <span class="verse v961">Drogue, coulis, espraincte<sup class="modal-call note-call" aria-hidden="true" id="noteCall15" data-modal-id="noteModal15">15</sup>
      ou restaurant<sup class="modal-call note-call" aria-hidden="true" id="noteCall16" data-modal-id="noteModal16">16</sup>,</span>
   <span class="verse v962">Qui contre mort luy sceust porter garant.</span>
   <span class="verse v963">Car l’aspre fievre <span style="position: relative;"><span class="lem">aigüe</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67">
               <div class="collation-content">aigre<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et rigoureuse</span>
   <span class="verse v964"><span style="position: relative;"><span class="lem"> Le molesta d’aigreur si langoureuse </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><sup class="modal-call note-call" aria-hidden="true" id="noteCall17" data-modal-id="noteModal17">17</sup></span>
   <span class="verse v965"><span class="verse-number">[965]</span>Que, <span style="position: relative;">d’ardeur</span>, entre en tremblante douleur,</span>
   <span class="verse v966">Et de froidure, en <span style="position: relative;">ardante</span> challeur.</span>
   <span class="verse v967">Ainsi <span style="position: relative;"><span class="lem">afflict</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown72" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown72">
               <div class="collation-content">a faict<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>, gisant à la renverse,</span>
   <span class="verse v968">Tant affligé de passïon diverse,</span>
   <span class="verse v969">Triste, pensif, dolent, piteux et las,</span>
   <span class="verse v970"><span class="verse-number">[970]</span>Fit <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown73" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown73">
               <div class="collation-content">ces<span class="coll-source"> [Aix419, Cha515]</span></div>
            </div></sup></span> regretz, disant ces motz&nbsp;:<span title="Discours direct">«&nbsp;Helas&nbsp;!</span></span>
   <span class="verse v971"><span title="Discours direct">Combien est grande et
         puissante la force</span></span>
   <span class="verse v972"><span title="Discours direct">Du <mark class="persName">roy celeste<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> ! Actendu <span style="position: relative;"><span class="lem">qu’il parforce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75">
                  <div class="collation-content"><span>qu’il <span class="choice">parforce</span></span><span class="coll-source"> [BnFfr17274]</span></div>
                  <div class="collation-content">qui par<s> </s>force<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span></span></span>
   <span class="verse v973"><span title="Discours direct">Les roys de terre au tribut naturel,</span></span>
   <span class="verse v974"><span title="Discours direct">Et fait laisser leur
         regne temporel !</span></span>
   <span class="verse v975"><span class="verse-number">[975]</span><span title="Discours direct">O ! Qu’est il grand
         <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown76" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown76">
                  <div class="collation-content">le<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span>
         <mark class="persName">roy<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> qui humilie</span></span>
   <span class="verse v976"><span title="Discours direct">Les plus puissans !
         Et ce que ennemy lie,</span></span>
   
   
   <hr data-img-id="f65">
   
   <span class="curr-title fw-bold">La mort du roy <mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> inhumé à
      <mark title="placeName" instant="false" full="yes">Soissons</mark></span>
   <span class="verse v977"><span title="Discours direct">Il le deslie,
         et à l’ame et au corps</span></span>
   <span class="verse v978"><span title="Discours direct">Donne santé, tant est misericordz.</span></span>
   <span class="verse v979"><span title="Discours direct">Tant est il bon, qu’il ne prend point vengence</span></span>
   <span class="verse v980"><span class="verse-number">[980]</span><span title="Discours direct">D’homme pecheur,
         faisant sa diligence</span></span>
   <span class="verse v981"><span title="Discours direct">Tourner vers luy, et pardon demander</span></span>
   <span class="verse v982"><span title="Discours direct">Avecq propos ferme de
         se amander.</span></span>
   <span class="verse v983"><span title="Discours direct">Tant est piteux, si doulx et si traictable,</span></span>
   <span class="verse v984"><span title="Discours direct">Que au monde n’est
         peché si detestable</span></span>
   <span class="verse v985"><span class="verse-number">[985]</span><span title="Discours direct">Ne si grand cas que l’homme ou femme <span style="position: relative;"><span class="lem">ait</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown80" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown80">
                  <div class="collation-content">ay<span class="coll-source"> [Aix419]</span></div>
               </div></sup></span> fait,</span></span>
   <span class="verse v986"><span title="Discours direct"><span style="position: relative;"><span class="lem">Qu’il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown81" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown81">
                  <div class="collation-content">Qui<span class="coll-source"> [BnFfr17274]</span></div>
               </div></sup></span> ne pardonne aiseement leur mesfait.&nbsp;»</span></span>
   <span class="verse v987">§Lors, devant tous, dist, <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown82" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown82">
               <div class="collation-content">à<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> ferme <span style="position: relative;">constance</span>,</span>
   <span class="verse v988">De son peché la griefve circonstance.</span>
   <span class="verse v989">Et tant contrict en cueur que faire sceut,</span>
   <span class="verse v990"><span class="verse-number">[990]</span>Ses sacrementz devotement receut.</span>
   <span class="verse v991">Ainsi rendit, par mort qui tout <span style="position: relative;"><span class="lem">atterre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown84" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown84">
               <div class="collation-content">à terre<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span>,</span>
   <span class="verse v992">L’ame où <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark><span style="position: relative;"><span class="lem">pleut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown85" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown85">
               <div class="collation-content">plaist<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span>, et le corps à la terre,</span>
   <span class="verse v993">Ayant des ans <span class="date" dur="P51Y" instant="false">cinquante <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown86" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown86">
                  <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, Aix419]</span></div>
               </div></sup></span> ung</span> regné,</span>
   <span class="verse v994"><span style="position: relative;"><span class="lem">Et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown87" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown87">
               <div class="collation-content">En<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> son royaulme amplement gouverné.</span>
   <span class="verse v995"><span class="verse-number">[995]</span>Pour le debvoir d’obsecques funerailles,</span>
   <span class="verse v996">On myt au lieu où mourut ses
      entrailles,</span>
   <span class="verse v997">Puys fut le corps,<span style="position: relative;"><span class="lem">aprés estre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown88" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown88">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> embasmé,</span>
   <span class="verse v998">À <mark title="placeName" instant="false" full="yes">Sainct Medard</mark> de
      <mark title="placeName" instant="false" full="yes">Soissons</mark> inhumé,</span>
   <span class="verse v999">Où preparer le triumphe envoyerent</span>
   <span class="verse v1000"><span class="verse-number">[1000]</span>Ses quatre filz et là le convoyerent.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(881);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Saison de la
      chasse au cerf.</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(889);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Attaque.</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(890);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Abris, refuges.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(891);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Chemin.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(891);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Branche brisée que le chasseur
      laisse pendante ou met à terre pour indiquer la voie de la
      bête.</div>
   <h4 class="modal-title" modal-title="noteModal6"><a href="javascript:versePointer(897);">Note n°6</a></h4>
   <div class="modal-text" modal-text="noteModal6">Se nourrir.</div>
   <h4 class="modal-title" modal-title="noteModal7"><a href="javascript:versePointer(899);">Note n°7</a></h4>
   <div class="modal-text" modal-text="noteModal7">Débusquer un
      animal.</div>
   <h4 class="modal-title" modal-title="noteModal8"><a href="javascript:versePointer(899);">Note n°8</a></h4>
   <div class="modal-text" modal-text="noteModal8">Le sujet de ce verbe et le
      suivant est le grand veneur.</div>
   <h4 class="modal-title" modal-title="noteModal9"><a href="javascript:versePointer(903);">Note n°9</a></h4>
   <div class="modal-text" modal-text="noteModal9">Agiter.</div>
   <h4 class="modal-title" modal-title="noteModal10"><a href="javascript:versePointer(913);">Note n°10</a></h4>
   <div class="modal-text" modal-text="noteModal10">Ce passage est la réécriture d'un
      poème que Cretin avait déjà consacré à la chasse : le
      <i title="Titre">Debat entre deux dames sur le passetemps des chiens
         et oyseaux</i> (<i title="Titre">Œuvres poétiques</i>, éd. K.
      Chesney, Genève, Slatkine Reprints, 1977 [Paris, Droz, 1932], p.
      94-143). En voici quelques vers : <span title="Discours direct">«&nbsp;La noise alors commence
         de plus belle, / Veneurs s’en vont apres les chiens huant :
         / « Merlant, Rigault, Marteau, appelle, appelle ! » / C’est
         ung deduict d’oyr telle chappelle, / « La, compaing, la, va,
         veez le cy fuyant ! » &nbsp;»</span> (v. 631-635). A noter que le
      <i title="Titre">Débat entre deux dames</i> de Cretin est lui-même
      la réécriture d'une partie du <i title="Titre">Livre des deduis du Roy
         Modus</i>, traité de chasse composé dans la deuxième
      moitié du XIV<sup>e</sup> siècle, parfois
      attribué à Henri de Ferrières, et qui a pu nourrir l'intégralité
      de ce chapitre, notamment pour la précision de son vocabulaire
      cynégétique. Sur cette intertextualité, voir : M. Randall, « On
      the Empire of the Senses in Cretin’s <i title="Titre">Débat entre deux
         dames</i> », dans <i title="Titre">Esprit généreux, esprit
         pantagruélicque. Essays by his Students in Honor of François
         Rigolot</i>, éd. R. Leushuis et Z. Zalloua, Genève,
      Droz, 2008, p. 75-92 et E. Delvallée, « Débat et dialogue en
      vers chez Guillaume Cretin », dans « La Forme versifiée du
      dialogue dans les genres narratifs », dossier dirigé par Corinne
      Denoyelle et Pascale Mounier, <i title="Titre">Elseneur</i>, vol. 37,
      2022, p. 79-96 [parution sur Open Edition : <span class="btn-warning btn-sm" title="Élément non pris en charge par la XSLT.">ref</span>].</div>
   <h4 class="modal-title" modal-title="noteModal11"><a href="javascript:versePointer(916);">Note n°11</a></h4>
   <div class="modal-text" modal-text="noteModal11">La prétérition, ici, ne se réduit pas
      qu'à une figure de style : Cretin manifeste une certaine connivence
      avec le roi, son lecteur, par ailleurs féru de chasse à courre et
      amateur de traités de vénerie. Guillaume Budé en rédigera un à son
      attention, sous la forme d'un dialogue entre lui-même et le roi :
      <i title="Titre">De Venatione</i>, Paris, Michel Vascosan, 1536</div>
   <h4 class="modal-title" modal-title="noteModal12"><a href="javascript:versePointer(928);">Note n°12</a></h4>
   <div class="modal-text" modal-text="noteModal12">Monticule de chasseur.</div>
   <h4 class="modal-title" modal-title="noteModal13"><a href="javascript:versePointer(958);">Note n°13</a></h4>
   <div class="modal-text" modal-text="noteModal13">Le propos semble directement adressé à François I<sup>er</sup> et le met en garde, de façon
      insistante, contre une pratique excessive de son loisir. Peut-être
      ce passage a-t-il été écrit à la suite d'un événement particulier :
      on sait par le journal de Louise de Savoie, sa mère, que François
      I<sup>er</sup> a été blessé par une branche
      d'arbre, alors qu'il chassait, le 23 septembre 1519 (<i title="Titre">Journal
         de Louise de Savoie duchesse d’Angoulesme, d’Anjou et de Valois,
         mère du grand roi François I<sup>er</sup></i> (1459-1522), éd. Pascal Dumaih,
      Clermont-Ferrand, Paléo, 2006 [1838]). Quarante ans plus tard, le
      roi Henri II est mortellement blessé lors d'un
      tournoi...</div>
   <h4 class="modal-title" modal-title="noteModal14"><a href="javascript:versePointer(960);">Note n°14</a></h4>
   <div class="modal-text" modal-text="noteModal14">Préparation médicinale sous forme
      de pâte, souvent faite d'épices et de pulpe de fruit.</div>
   <h4 class="modal-title" modal-title="noteModal15"><a href="javascript:versePointer(961);">Note n°15</a></h4>
   <div class="modal-text" modal-text="noteModal15">Compresse.</div>
   <h4 class="modal-title" modal-title="noteModal16"><a href="javascript:versePointer(961);">Note n°16</a></h4>
   <div class="modal-text" modal-text="noteModal16">Remède fortifiant.</div>
   <h4 class="modal-title" modal-title="noteModal17"><a href="javascript:versePointer(964);">Note n°17</a></h4>
   <div class="modal-text" modal-text="noteModal17">En marge du manuscrit BnF, fr. 23146 : "<span class="choice"><span title="Abbrégé en no">nota</span></span>".</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            3
            </span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(879);">v. 879</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>contre</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(886);">v. 886</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(888);">v. 888</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(890);">v. 890</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>trouvé</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(891);">v. 891</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span>arres</span></span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(891);">v. 891</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur braser</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(893);">v. 893</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><s>bi sceut</s>
            bien <s>seut sceut</s> sceut</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(896);">v. 896</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>et</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(901);">v. 901</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>en hault</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(903);">v. 903</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(903);">v. 903</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>lasniere</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(905);">v. 905</a> </div>
      
      
      <div class="coll-text col-10">
         <div><span><span class="coll-source">Aix419, BnFfr17274, Cha515 </span>d’ouyr</span> ; </div>
         <div><span><span class="coll-source">BnFfr23146 </span>d’ouir</span></div>
      </div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(907);">v. 907</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>plaisir</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(910);">v. 910</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>vez</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(910);">v. 910</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>lecy</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(912);">v. 912</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Aix419 </span>Brechault</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146, Cha515 </span>Brehault</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(912);">v. 912</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>baulde</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(913);">v. 913</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146, Cha515 </span>vez</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(913);">v. 913</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>lecy</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(914);">v. 914</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, Cha515 </span>Au</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Ou</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(916);">v. 916</a> </div>
      
      
      <div class="coll-text col-10">
         <div><span><span class="coll-source">BnFfr17274 </span>l’esbat y</span> ; </div>
         <div><span><span class="coll-source">BnFfr23146 </span>l’esbat i</span></div>
      </div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(917);">v. 917</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>fut</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(920);">v. 920</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>maintes ruses</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(922);">v. 922</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(923);">v. 923</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>traver</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(928);">v. 928</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(928);">v. 928</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(929);">v. 929</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Si</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(931);">v. 931</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>estoy</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(932);">v. 932</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146, Cha515 </span>courre</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(934);">v. 934</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Car</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(934);">v. 934</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>avoit</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(936);">v. 936</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>sans charger</span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(937);">v. 937</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Tous</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(939);">v. 939</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>tant</span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(941);">v. 941</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>donc </span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(941);">v. 941</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>applicque<s>r</s></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>apliquer</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(941);">v. 941</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(944);">v. 944</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>aprés</span></div>
      </div>
   <div class="collation row" id="coll58">
      <div class="coll-verse col-2"><a href="javascript:versePointer(950);">v. 950</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sens</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(951);">v. 951</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>son</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(952);">v. 952</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515 </span>ung roy les
            chaces ame</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>ung roy les chasses ames</span></div>
      </div>
   <div class="collation row" id="coll63">
      <div class="coll-verse col-2"><a href="javascript:versePointer(954);">v. 954</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>outrepas</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>autrepas</span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(956);">v. 956</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>enseigne</span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(963);">v. 963</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>aigre</span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(964);">v. 964</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll72">
      <div class="coll-verse col-2"><a href="javascript:versePointer(967);">v. 967</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>a faict</span></div>
      </div>
   <div class="collation row" id="coll73">
      <div class="coll-verse col-2"><a href="javascript:versePointer(970);">v. 970</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><a href="javascript:versePointer(972);">v. 972</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span>qu’il <span class="choice">parforce</span></span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>qui par<s> </s>force</span></div>
      </div>
   <div class="collation row" id="coll76">
      <div class="coll-verse col-2"><a href="javascript:versePointer(975);">v. 975</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>le</span></div>
      </div>
   <div class="collation row" id="coll80">
      <div class="coll-verse col-2"><a href="javascript:versePointer(985);">v. 985</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>ay</span></div>
      </div>
   <div class="collation row" id="coll81">
      <div class="coll-verse col-2"><a href="javascript:versePointer(986);">v. 986</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Qui</span></div>
      </div>
   <div class="collation row" id="coll82">
      <div class="coll-verse col-2"><a href="javascript:versePointer(987);">v. 987</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>à</span></div>
      </div>
   <div class="collation row" id="coll84">
      <div class="coll-verse col-2"><a href="javascript:versePointer(991);">v. 991</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>à terre</span></div>
      </div>
   <div class="collation row" id="coll85">
      <div class="coll-verse col-2"><a href="javascript:versePointer(992);">v. 992</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>plaist</span></div>
      </div>
   <div class="collation row" id="coll86">
      <div class="coll-verse col-2"><a href="javascript:versePointer(993);">v. 993</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll87">
      <div class="coll-verse col-2"><a href="javascript:versePointer(994);">v. 994</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>En</span></div>
      </div>
   <div class="collation row" id="coll88">
      <div class="coll-verse col-2"><a href="javascript:versePointer(997);">v. 997</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
</div>
{% endmacro %}
