
{% macro chapterTitle() %}Chapitre 6{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('6_chap_5')"><i class="fa-solid fa-arrow-left"></i> Chapitre 5</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('8_chap_7')">Chapitre 7 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f84/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f84/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f84" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f85/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f85/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f85" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f86/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f86/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f86" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f87/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f87/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f87" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f88/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f88/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f88" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f84">
   <p title="Numéro de folio" class="text-end"><i>24v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v1435"><span class="verse-number">[1435]</span>§Mal ſe verra la
         royne conſeillee</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v1436">Permectre ainſi ſa fille baptiſer,</span>
      <span class="verse v1437">Car Fredegonde (en faiſant attiſer</span>
      <span class="verse v1438">Feu de fureur) la rendra exillee.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.&nbsp;vi<sup>e</sup>.</span>
      
      
      
      
      </blockquote>
   
   <span class="verse v1439">Il fault noter que, Chilperich partant /</span>
   <span class="verse v1440"><span class="verse-number">[1440]</span>Eſtoit la royne enceinte /.et loꝛs par tant</span>
   <span class="verse v1441">Quil la penſoit pꝛouchaine de geſine,</span>
   <span class="verse v1442">Totale garde et paiſible ſaiſine</span>
   <span class="verse v1443">A Fredegonde en laiſſa,
      pour donner</span>
   <span class="verse v1444">Oꝛdꝛe par tout /. et du cas oꝛdonner.</span>
   <span class="verse v1445"><span class="verse-number">[1445]</span>§Aduint ainſi que mal
      denfant reueille</span>
   <span class="verse v1446">Les eſperitz de femme qui traueille.</span>
   
   
   <hr data-img-id="f85">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Andonaire tint ſa
         fille ſus fontz par le conſeil de Fredegonde.</span><span title="Numéro de folio" class="folio-num"><i>25r</i></span></span>
   <span class="verse v1447">La royne a terme accoucha en ce lieu,</span>
   <span class="verse v1448">Comme lon dit / de ce 
      <span class="lem">quil</span>
      
      
       pleut a dieu.</span>
   <span class="verse v1449">Une fille eut /. Et 
      <span class="lem"></span>
      
       apꝛes que les 
      <span class="lem"></span>
      
      doſnes,</span>
   <span class="verse v1450"><span class="verse-number">[1450]</span>Dames dhonneur /
      <span class="lem">ſaige femme</span>
      
       et matrones</span>
   <span class="verse v1451">Eurent penſe de la mere /. il conuint</span>
   <span class="verse v1452">Donner bapteſme a lenfant /. et quon vint</span>
   <span class="verse v1453">
      <span class="lem">Songneuſement</span>
      
       la beſongne parfaire.</span>
   <span class="verse v1454">Loꝛs, Fredegonde / en pourſuyuant laffaire,</span>
   <span class="verse v1455"><span class="verse-number">[1455]</span>La royne alla conſeiller, 
      <span class="lem">en</span>
      
       ſon lict,</span>
   <span class="verse v1456">Deuoir donner au roy plaiſant delit /</span>
   <span class="verse v1457">Et double ioye, en luy mandant nouuelle</span>
   <span class="verse v1458">De ceſte fille /. Et oultre, luy reuelle</span>
   <span class="verse v1459">Que 
      <span class="lem">ſus</span>
      
       les fons luy deuoit donner nom,</span>
   <span class="verse v1460"><span class="verse-number">[1460]</span>Sans, en ce cas, vouloir dire de non,</span>
   <span class="verse v1461">Veu que ne peult par nulle eſtre nommee</span>
   <span class="verse v1462">Delle appꝛouchant / et de ſa renommee.</span>
   <span class="verse v1463">La royne adoncq, du mal ne ſe doubtant,</span>
   <span class="verse v1464">Se y accoꝛda voluntiers /.et 
      <span class="lem">a tant</span>
      
      </span>
   <span class="verse v1465"><span class="verse-number">[1465]</span>Fut baptizee / ainſi que ceſte lice</span>
   <span class="verse v1466">Luy conſeilla /. Mais ſa caulte malice</span>
   <span class="verse v1467">Luy trouſſera ſi eſtrange pacquet,</span>
   <span class="verse v1468">Que peu aura dhonneur / et moins dacqueſt.</span>
   <span class="verse v1469">§Par ce moyen, fut la
      dame 
      <span class="lem"></span>
      
      deceue,</span>
   <span class="verse v1470"><span class="verse-number">[1470]</span>
      <span class="lem"></span>
      
      Tenant ſur fontz celle que auoit conceue</span>
   <span class="verse v1471">Et enfantee /.En coꝛpoꝛellement /</span>
   
   
   <hr data-img-id="f86">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Fredegonde dit a
         Chilperich que ſa femme a
         nomme ſa fille ſur fontz.</span><span title="Numéro de folio" class="folio-num"><i>25v</i></span></span>
   <span class="verse v1472">Mere eſtre / et puys ſpirituellement /</span>
   <span class="verse v1473">
      <span class="lem">A</span>
      
       oꝛdꝛe deue / en ce cas aduerſaire,</span>
   <span class="verse v1474">Quon 
      <span class="lem">ne</span>
      
       permect 
      <span class="lem">ſans cauſe neceſſaire</span>
      
      .</span>
   <span class="verse v1475"><span class="verse-number">[1475]</span>Mais Fredegonde y fiſt
      mectre cela</span>
   <span class="verse v1476">Affin que fuſt dame et maiſtreſſe la.</span>
   <span class="verse v1477">§Le roy, venu du pays de
      <mark title="placeName" instant="false" full="yes">Loꝛraine</mark>,</span>
   <span class="verse v1478">Saichant ſa femme eſtre mere et maraine,</span>
   <span class="verse v1479">Eut tel deſpit / quil en cuyda creuer.</span>
   <span class="verse v1480"><span class="verse-number">[1480]</span>A larriuer / bien ſceut laller trouuer</span>
   <span class="verse v1481">Ceſte truande
      /. et de chere ioyeuſe</span>
   <span class="verse v1482">Attribuant palme victoꝛieuſe</span>
   <span class="verse v1483">A luy venant / tres triumphant, heureux,</span>
   <span class="verse v1484">Comble de loz et renom gloꝛieux,</span>
   <span class="verse v1485"><span class="verse-number">[1485]</span>Luy va conter / tout 
      <span class="lem">de fil</span>
      
       en aiguille,</span>
   <span class="verse v1486">
      <span class="lem">Le demene</span>
      
       de ſa nouuelle fille,</span>
   <span class="verse v1487">En laſſeurant que luy pourtraict 
      <span class="lem"></span>
      
      ainſi</span>
   <span class="verse v1488">Que 
      <span class="lem">gouttes</span>
      
       deau ſe reſſemblent /. Auſſi,</span>
   <span class="verse v1489">Recite 
      <span class="lem"></span>
      
      et dit /
      <span class="lem">comme</span>
      
       ſa chere 
      <span class="lem"></span>
      
      aymee</span>
   <span class="verse v1490"><span class="verse-number">[1490]</span>Lauoit 
      <span class="lem">ſur</span>
      
       fontz Childeride
      nommee.</span>
   <span class="verse v1491">Dont bien 
      <span class="lem"></span>
      
      
      <span class="lem">faignit</span>
      
       / auoir au cueur ſenty</span>
   <span class="verse v1492">Gꝛiefue douleur /. et non pas conſenty</span>
   <span class="verse v1493">Donner, au roy, 
      <span class="lem">poire</span>
      
       dangoiſſe amere,</span>
   <span class="verse v1494">Pour compaignie auoir a ſa commere /.</span>
   <span class="verse v1495"><span class="verse-number">[1495]</span>Loꝛs reſpondit /.&nbsp;<span title="Discours direct">Si 
         <span class="lem">ce</span>
         
          que tu me dis</span></span>
   <span class="verse v1496"><span title="Discours direct">Eſt verite /.
         Ia nentre en paradis !</span></span>
   
   
   <hr data-img-id="f87">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Le maltalent de Chilperich contre ſa femme Andonaire.</span><span title="Numéro de folio" class="folio-num"><i>26r</i></span></span>
   <span class="verse v1497"><span title="Discours direct">Si ne te pꝛendz a eſpouſe
         et partie.</span></span>
   <span class="verse v1498"><span title="Discours direct">Et de mon lict fera toſt
         departie,</span></span>
   <span class="verse v1499"><span title="Discours direct">Celle ayant mys ung tel
         cas en auant,</span></span>
   <span class="verse v1500"><span class="verse-number">[1500]</span><span title="Discours direct">Sans coſte moy geſir de ſon
         viuant.</span></span>
   <span class="verse v1501">§Hoꝛs le palais la royne
      tranſpoꝛtee,</span>
   <span class="verse v1502">Entre 
      <span class="lem">les</span>
      
       bꝛaz 
      <span class="lem">ſa</span>
      
       nouuelle poꝛtee,</span>
   <span class="verse v1503">Bien eſperoit le herault /bel accueil</span>
   <span class="verse v1504">Trouuer, poꝛtant amyable recueil,</span>
   <span class="verse v1505"><span class="verse-number">[1505]</span>Et que le roy luy fiſt treſbonne chere.</span>
   <span class="verse v1506">Mais la venue, helas, luy 
      <span class="lem"></span>
      
      fut bien chere</span>
   <span class="verse v1507">Car au plus toſt que 
      <span class="lem">de</span>
      
       loing lapperceut,</span>
   <span class="verse v1508">Son fier deſpit diſſimuler ne ſceut</span>
   <span class="verse v1509">Et diſt tout hault /.<span title="Discours direct">Femme deſoꝛdonnee,</span></span>
   <span class="verse v1510"><span class="verse-number">[1510]</span><span title="Discours direct">Par ton deffault te veoy
         habandonnee /.</span></span>
   <span class="verse v1511"><span title="Discours direct">Du cas commys, trouueras
         le 
         <span class="lem">tout</span>
         
          cher.</span></span>
   <span class="verse v1512"><span title="Discours direct">Plus ne te puys par iuſte loy toucher /</span></span>
   
   <span class="lem"></span>
   
   
   <span class="verse v1513">§Diſant ces motz /
      <span class="lem"></span>
      
      paſſe oultre /. dont eſpꝛiſe</span>
   <span class="verse v1516">La triſte dame, ainſi nauree et pꝛiſe</span>
   <span class="verse v1517">Daſpꝛe douleur / ne ſcet que dire /. foꝛs</span>
   <span class="verse v1518">Larmes gecter /. et faire vuyder hoꝛs</span>
   <span class="verse v1519">Du dolent cueur / regꝛetz en habondance</span>
   <span class="verse v1520"><span class="verse-number">[1520]</span>Et gꝛos ſouppirs /.
      <span class="lem">mauldiſant</span>
      
      
      <span class="lem">laccoinctance</span>
      
      </span>
   <span class="verse v1521">De ceſte la /
      <span class="lem">qui</span>
      
       le mal a bꝛaſſe,</span>
   <span class="verse v1522">Pour mieulx tenir ſon eſpoux embꝛaſſe.</span>
   <span class="verse v1523"><span title="Discours direct">Las (diſoit elle)
         Il fault que a pꝛeſent ſente</span></span>
   
   
   <hr data-img-id="f88">
   
   <span class="folio"><span class="d-block fw-bold mb-3">La royne Andonaire
         enuoyee au <mark title="placeName" instant="false" full="yes">Mans</mark> /. Et Chilperich eſpouſa
         Fredegonde.</span><span title="Numéro de folio" class="folio-num"><i>26v</i></span></span>
   <span class="verse v1524"><span title="Discours direct">Peine 
         <span class="lem">du</span>
         
          mal / dont ie ſuys innoſcente !</span></span>
   <span class="verse v1525"><span class="verse-number">[1525]</span>§Le roy, tantoſt / pour la faulte pugnir,</span>
   <span class="verse v1526">Leueſque fiſt / exiller et bannir,</span>
   <span class="verse v1527">Qui auoit fait / du 
      <span class="lem"></span>
      
      bapteſme / loffice,</span>
   <span class="verse v1528">Et fut gecte hoꝛs de ſon benefice /.</span>
   <span class="verse v1529">Elle et ſa fille enuoya des 
      <span class="lem">ce</span>
      
       iour</span>
   <span class="verse v1530"><span class="verse-number">[1530]</span>En la cite du <mark title="placeName" instant="false" full="yes">mans</mark> faire 
      <span class="lem"></span>
      
      ſeiour</span>
   <span class="verse v1531">Ou / pour viure, eut aſſignation gꝛande.</span>
   <span class="verse v1532">Puys eſpouſa la mauuaiſe truande</span>
   <span class="verse v1533">Sa concubine /. Ainſi par fraude obtint</span>
   <span class="verse v1534">La part du lict / que autre nagueres tint /.</span>
   <span class="verse v1535"><span class="verse-number">[1535]</span>Dame 
      <span class="lem">fit</span>
      
       ſerfue en la gectant arriere,</span>
   <span class="verse v1536">Et elle dame / ou lieu de chamberiere /.</span>
   <span class="verse v1537">Ne 
      <span class="lem">fut ce</span>
      
       pas gꝛand malediction</span>
   <span class="verse v1538">Pꝛendꝛe ainſi fole et vaine ambition,</span>
   <span class="verse v1539">Sans extimer perte dhonneur ne de ame,</span>
   <span class="verse v1540"><span class="verse-number">[1540]</span>Pour tiltre auoir de ſouueraine dame /.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f84">
   <blockquote class="ms-2">
      
      <span class="verse v1435"><span class="verse-number">[1435]</span>§Mal se verra la
         royne conseillee</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
               <div class="collation-content">
                  7
                  <span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>
      <span class="verse v1436">Permectre ainsi sa fille baptiser,</span>
      <span class="verse v1437">Car <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>, en faisant attiser</span>
      <span class="verse v1438">Feu de fureur, la rendra exillee.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;vi<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
               <div class="collation-content">
                  <div>Chappitre vii<sup>e</sup><span class="coll-source"> [Cha515]</span> ; </div>
                  <div>
                     <span class="choice">Chappitre</span> vii<sup>e</sup>. <span class="coll-source"> [Aix419]</span> ; </div>
                  <div><span class="choice">Chapitre</span> vii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
               </div>
               <div class="collation-content">Chapitre viime<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
            </div></sup></span>
      </blockquote>
   
   <span class="verse v1439">Il fault noter que, <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> partant,</span>
   <span class="verse v1440"><span class="verse-number">[1440]</span>Estoit la royne enceinte.Et lors par tant</span>
   <span class="verse v1441">Qu’il la pensoit prouchaine de gesine,</span>
   <span class="verse v1442">Totale garde et paisible saisine</span>
   <span class="verse v1443">À <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> en laissa,
      pour donner</span>
   <span class="verse v1444">Ordre par tout et du cas ordonner.</span>
   <span class="verse v1445"><span class="verse-number">[1445]</span>§Advint ainsi que mal
      d’enfant reveille</span>
   <span class="verse v1446">Les esperitz de femme qui traveille.</span>
   
   
   <hr data-img-id="f85">
   
   <span class="curr-title fw-bold"><mark class="persName">Andonaire<span class="persName-info fw-normal on-left"><b>Audovère</b> (533 — 580)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (561-566)<br/><span class="hr-short">&nbsp;</span>Première épouse de Chilpéric Ier</span></mark> tint sa
      fille sus fontz par le conseil de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v1447">La royne à terme accoucha en ce lieu,</span>
   <span class="verse v1448">Comme l’on dit, de ce <span style="position: relative;"><span class="lem">qu’il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
               <div class="collation-content"></div>
               <div class="collation-content">qui<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span> pleut à <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>.</span>
   <span class="verse v1449">Une fille eut. Et  aprés que les dosnes,</span>
   <span class="verse v1450"><span class="verse-number">[1450]</span>Dames d’honneur,<span style="position: relative;"><span class="lem">saige femme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content">saiges <span class="choice">femmes</span><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> et matrones</span>
   <span class="verse v1451">Eurent pensé<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup> de la mere, il convint</span>
   <span class="verse v1452">Donner baptesme à l’enfant, et qu’on vint</span>
   <span class="verse v1453"><span style="position: relative;">Songneusement</span> la besongne parfaire.</span>
   <span class="verse v1454">Lors, <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>, en poursuyvant l’affaire,</span>
   <span class="verse v1455"><span class="verse-number">[1455]</span>La royne alla conseiller, <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content">à<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> son lict,</span>
   <span class="verse v1456">Devoir donner au roy plaisant delit</span>
   <span class="verse v1457">Et double joye, en luy mandant nouvelle</span>
   <span class="verse v1458">De ceste fille. Et oultre, luy revelle</span>
   <span class="verse v1459">Que <span style="position: relative;">sus</span> les fons luy devoit donner nom,</span>
   <span class="verse v1460"><span class="verse-number">[1460]</span>Sans, en ce cas, vouloir dire de non,</span>
   <span class="verse v1461">Veu que ne peult par nulle estre nommee</span>
   <span class="verse v1462">D’elle approuchant et de sa renommee.</span>
   <span class="verse v1463">La royne adoncq, du mal ne se doubtant,</span>
   <span class="verse v1464">Se y accorda voluntiers.Et <span style="position: relative;"><span class="lem">à tant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10">
               <div class="collation-content">actant<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span></span>
   <span class="verse v1465"><span class="verse-number">[1465]</span>Fut baptizee, ainsi que ceste lice</span>
   <span class="verse v1466">Luy conseilla. Mais sa caulte malice</span>
   <span class="verse v1467">Luy troussera si estrange pacquet,</span>
   <span class="verse v1468">Que peu aura d’honneur et moins d’acquest.</span>
   <span class="verse v1469">§Par ce moyen, fut la
      dame deceue,</span>
   <span class="verse v1470"><span class="verse-number">[1470]</span>Tenant sur fontz celle que avoit conceue</span>
   <span class="verse v1471">Et enfantee,en corporellement</span>
   
   
   <hr data-img-id="f86">
   
   <span class="curr-title fw-bold"><mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> dit à
      <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> que sa femme a
      nommé sa fille sur fontz</span>
   <span class="verse v1472">Mere estre, et puys spirituellement,</span>
   <span class="verse v1473"><span style="position: relative;"><span class="lem">À</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> ordre deue, en ce cas adversaire,</span>
   <span class="verse v1474">Qu’on <span style="position: relative;"><span class="lem">ne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> permect <span style="position: relative;">sans cause necessaire</span>.</span>
   <span class="verse v1475"><span class="verse-number">[1475]</span>Mais <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> y fist
      mectre cela</span>
   <span class="verse v1476">Affin que fust dame et maistresse là.</span>
   <span class="verse v1477">§Le roy, venu du pays de
      <mark title="placeName" instant="false" full="yes">Lorraine</mark>,</span>
   <span class="verse v1478">Saichant sa femme estre mere et maraine,</span>
   <span class="verse v1479">Eut tel despit qu’il en cuyda crever.</span>
   <span class="verse v1480"><span class="verse-number">[1480]</span>À l’arriver, bien sceut<sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup> l’aller trouver</span>
   <span class="verse v1481">Ceste truande<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup> et de chere joyeuse</span>
   <span class="verse v1482">Attribuant palme victorïeuse</span>
   <span class="verse v1483">À luy venant trés triumphant, heureux,</span>
   <span class="verse v1484">Comblé de loz et renom glorïeux,</span>
   <span class="verse v1485"><span class="verse-number">[1485]</span>Luy va conter, tout <span style="position: relative;"><span class="lem">de fil</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">le faict<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> en aiguille,</span>
   <span class="verse v1486"><span style="position: relative;"><span class="lem">Le demene</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">La dame<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup> de sa nouvelle fille,</span>
   <span class="verse v1487">En l’asseurant que luy pourtraict ainsi</span>
   <span class="verse v1488">Que <span style="position: relative;"><span class="lem">gouttes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">gotte<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> d’eau se ressemblent. Aussi,</span>
   <span class="verse v1489">Recite et dit<span style="position: relative;"><span class="lem">comme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
               <div class="collation-content">que<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> sa chere <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22">
               <div class="collation-content"><s>amye</s>
                  <span class="coll-source"> [BnFfr4964]</span></div>
            </div></sup></span>aymee</span>
   <span class="verse v1490"><span class="verse-number">[1490]</span>L’avoit <span style="position: relative;">sur</span> fontz <mark class="persName">Childeride<span class="persName-info fw-normal on-right"><b>Childesinde</b> ( — )<span class="hr-100">&nbsp;</span>Princesse franque (?-?)<br/><span class="hr-short">&nbsp;</span>Princesse franque, fille de Childéric Ier</span></mark>
      nommee.</span>
   <span class="verse v1491">Dont bien <span style="position: relative;"><span class="lem">faignit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">signet<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> avoir au cueur senty</span>
   <span class="verse v1492">Griefve douleur, et non pas consenty</span>
   <span class="verse v1493">Donner, au roy, <span style="position: relative;"><span class="lem">poire</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26">
               <div class="collation-content">paine<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> d’angoisse amere,</span>
   <span class="verse v1494">Pour compaignie avoir à sa commere<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup>.</span>
   <span class="verse v1495"><span class="verse-number">[1495]</span>Lors respondit :&nbsp;<span title="Discours direct">«&nbsp;Si <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
                  <div class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> que tu me dis</span></span>
   <span class="verse v1496"><span title="Discours direct">Est verité,
         ja n’entre en paradis !</span></span>
   
   
   <hr data-img-id="f87">
   
   <span class="curr-title fw-bold">Le maltalent de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> contre sa femme <mark class="persName">Andonaire<span class="persName-info fw-normal on-left"><b>Audovère</b> (533 — 580)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (561-566)<br/><span class="hr-short">&nbsp;</span>Première épouse de Chilpéric Ier</span></mark></span>
   <span class="verse v1497"><span title="Discours direct">Si ne te prendz à espouse
         et partie.</span></span>
   <span class="verse v1498"><span title="Discours direct">Et de mon lict fera tost
         departie,</span></span>
   <span class="verse v1499"><span title="Discours direct">Celle ayant mys ung tel
         cas en avant,</span></span>
   <span class="verse v1500"><span class="verse-number">[1500]</span><span title="Discours direct">Sans costé moy gesir de son
         vivant.&nbsp;»</span></span>
   <span class="verse v1501">§Hors le palais la royne
      transportee,</span>
   <span class="verse v1502">Entre <span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">ses<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> braz <span style="position: relative;"><span class="lem">sa</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
               <div class="collation-content">la<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> nouvelle portee,</span>
   <span class="verse v1503">Bien esperoit le herault<mark class="persName">Bel Accueil<span class="persName-info fw-normal on-right"><b>Bel Accueil</b><span class="hr-short">&nbsp;</span>Allégorie tirée du Roman de la Rose</span></mark></span>
   <span class="verse v1504">Trouver, portant amÿable recueil,</span>
   <span class="verse v1505"><span class="verse-number">[1505]</span>Et que le roy luy fist trés bonne chere.</span>
   <span class="verse v1506">Mais la venue, helas, luy fut bien chere</span>
   <span class="verse v1507">Car au plus tost que <span style="position: relative;">de</span> loing l’apperceut,</span>
   <span class="verse v1508">Son fier despit dissimuler ne sceut</span>
   <span class="verse v1509">Et dist tout hault :<span title="Discours direct">«&nbsp;Femme desordonnee,</span></span>
   <span class="verse v1510"><span class="verse-number">[1510]</span><span title="Discours direct">Par ton deffault te veoy
         habandonnee.</span></span>
   <span class="verse v1511"><span title="Discours direct">Du cas commys, trouveras
         le <span style="position: relative;"><span class="lem">tout</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
                  <div class="collation-content">coup<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515]</span></div>
               </div></sup></span> cher.</span></span>
   <span class="verse v1512"><span title="Discours direct">Plus ne te puys par juste loy toucher.&nbsp;»</span></span>
   <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
            <div class="collation-content"><s>Luy va conter tout de fil en
                  aiguille / Le demene de sa nouvelle
                  fille</s><span class="coll-source"> [BnFfr4965]</span></div>
         </div></sup></span>
   <span class="verse v1513">§Disant ces motz,passe oultre, dont esprise</span>
   <span class="verse v1516">La triste dame, ainsi navree et prise</span>
   <span class="verse v1517">D’aspre douleur, ne scet que dire, fors</span>
   <span class="verse v1518">Larmes gecter et faire vuyder hors</span>
   <span class="verse v1519">Du dolent cueur regretz en habondance</span>
   <span class="verse v1520"><span class="verse-number">[1520]</span>Et gros souppirs,<span style="position: relative;"><span class="lem">mauldisant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35">
               <div class="collation-content">mauldissant<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">l’accoinctance</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content"><span class="choice">l’occointance</span><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span></span>
   <span class="verse v1521">De ceste là<span style="position: relative;"><span class="lem">qui</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
               <div class="collation-content">que<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> le mal a brassé,</span>
   <span class="verse v1522">Pour mieulx tenir son espoux embrassé.</span>
   <span class="verse v1523"><span title="Discours direct">«&nbsp;Las, disoit elle,
         il fault que à present sente</span></span>
   
   
   <hr data-img-id="f88">
   
   <span class="curr-title fw-bold">La royne <mark class="persName">Andonaire<span class="persName-info fw-normal on-left"><b>Audovère</b> (533 — 580)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (561-566)<br/><span class="hr-short">&nbsp;</span>Première épouse de Chilpéric Ier</span></mark>
      envoyée au <mark title="placeName" instant="false" full="yes">Mans</mark>. Et <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> espousa
      <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v1524"><span title="Discours direct">Peine <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38">
                  <div class="collation-content">de<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> mal dont je suys innoscente !&nbsp;»</span></span>
   <span class="verse v1525"><span class="verse-number">[1525]</span>§Le roy, tantost, pour la faulte pugnir,</span>
   <span class="verse v1526">L’evesque fist exiller et bannir,</span>
   <span class="verse v1527">Qui avoit fait du baptesme l’office,</span>
   <span class="verse v1528">Et fut gecté hors de son benefice.</span>
   <span class="verse v1529">Elle et sa fille envoya dès <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> jour</span>
   <span class="verse v1530"><span class="verse-number">[1530]</span>En la cité du <mark title="placeName" instant="false" full="yes">Mans</mark> faire <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41">
               <div class="collation-content"><s>faire</s><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>sejour</span>
   <span class="verse v1531">Où, pour vivre, eut assignatïon grande.</span>
   <span class="verse v1532">Puys espousa la mauvaise truande</span>
   <span class="verse v1533">Sa concubine. Ainsi par fraude obtint</span>
   <span class="verse v1534">La part du lict que autre nagueres tint.</span>
   <span class="verse v1535"><span class="verse-number">[1535]</span>Dame <span style="position: relative;"><span class="lem">fit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content">fait<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> serfve en la gectant arriere,</span>
   <span class="verse v1536">Et elle dame où lieu de chamberiere.</span>
   <span class="verse v1537">Ne <span style="position: relative;"><span class="lem">fut ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">feusse<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> pas grand maledictïon</span>
   <span class="verse v1538">Prendre ainsi fole et vaine ambitïon,</span>
   <span class="verse v1539">Sans extimer perte d’honneur ne de ame,</span>
   <span class="verse v1540"><span class="verse-number">[1540]</span>Pour tiltre avoir de souveraine dame !</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(1451);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Se furent occupées</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(1480);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Le sujet du verbe est "ceste
      truande" (Frédégonde).</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(1481);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Personne méprisable.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(1486);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Etat.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(1494);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Marraine.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            7
            </span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10">
         <div><span><span class="coll-source">Cha515 </span>Chappitre vii<sup>e</sup></span> ; </div>
         <div><span><span class="coll-source">Aix419 </span>
               <span class="choice">Chappitre</span> vii<sup>e</sup>. </span> ; </div>
         <div><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> vii<sup>e</sup></span></div>
      </div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre viime</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1450);">v. 1450</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>saiges <span class="choice">femmes</span></span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1455);">v. 1455</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>à</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1464);">v. 1464</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>actant</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1473);">v. 1473</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1474);">v. 1474</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1485);">v. 1485</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>le faict</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1486);">v. 1486</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>La dame</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1488);">v. 1488</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gotte</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1489);">v. 1489</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>que</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1489);">v. 1489</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><s>amye</s>
            </span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1491);">v. 1491</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>signet</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1493);">v. 1493</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>paine</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1495);">v. 1495</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1502);">v. 1502</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1502);">v. 1502</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>la</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1511);">v. 1511</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515 </span>coup</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>Luy va conter tout de fil en
               aiguille / Le demene de sa nouvelle
               fille</s></span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1520);">v. 1520</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>mauldissant</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1520);">v. 1520</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">l’occointance</span></span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1521);">v. 1521</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>que</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1524);">v. 1524</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1529);">v. 1529</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1530);">v. 1530</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>faire</s></span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1535);">v. 1535</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fait</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1537);">v. 1537</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>feusse</span></div>
      </div>
</div>
{% endmacro %}
