
{% macro chapterTitle() %}Chapitre 7{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('7_chap_6')"><i class="fa-solid fa-arrow-left"></i> Chapitre 6</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('9_chap_8')">Chapitre 8 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f88/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f88/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f88" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f89/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f89/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f89" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f90/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f90/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f90" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f91/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f91/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f91" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f88">
   <p title="Numéro de folio" class="text-end"><i>26v</i></p>
   <blockquote class="ms-2">
      
      <span class="lem">
         
         <span class="verse v1541">§Eſtant le
            roy Sigibert en
            dangier</span>
         <span class="verse v1542">Contre les Huns /.Chilperich /<mark title="placeName" instant="false" full="yes">Reins</mark> va prendre.</span>
         <span class="verse v1543">Mais ce plaiſir luy ſcaura bien toſt rendre,</span>
         <span class="verse v1544">Prenant, 
            <span class="lem">ſus</span>
            
             luy, <mark title="placeName" instant="false" full="yes">Soiſſons</mark> /
            pour 
            <span class="lem">ſe</span>
            
             venger.</span>
         
         </span>
      
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.&nbsp;vii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   
   <hr data-img-id="f89">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Sigibert eut
         victoire contre Canacque roy des
         Huns.</span><span title="Numéro de folio" class="folio-num"><i>27r</i></span></span>
   <span class="verse v1545"><span class="verse-number">[1545]</span>CAnacque, roy 
      <span class="lem">de</span>
      
      huns, plein darogance,</span>
   <span class="verse v1546">Enfle doꝛgueil / et 
      <span class="lem">fiere</span>
      
       oultrecuydance,</span>
   <span class="verse v1547">En 
      <span class="lem">appareil</span>
      
       /
      foꝛt / puiſſant / ſumptueux,</span>
   <span class="verse v1548">Robuſte / fier / et 
      <span class="lem">tres impetueux</span>
      
      ,</span>
   <span class="verse v1549">Voulut ſouldardz 
      <span class="lem">aux faictz</span>
      
      
       darmes inſtruyꝛe,</span>
   <span class="verse v1550"><span class="verse-number">[1550]</span>Pour 
      <span class="lem"></span>
      
      Sigibert / et
      ſes terres deſtruire /.</span>
   <span class="verse v1551">A gꝛoſſe armee entra 
      <span class="lem">ſur</span>
      
       le pays,</span>
   <span class="verse v1552">Pꝛeſumant 
      <span class="lem"></span>
      
      veoir les loꝛrains eſbahys.</span>
   <span class="verse v1553">Mais ſi toſt que eut Sigibert congnoiſſance</span>
   <span class="verse v1554">Les huns venir a ſi gꝛoſſe puiſſance,</span>
   <span class="verse v1555"><span class="verse-number">[1555]</span>Non eſtonne /.Mais de bon et gꝛand cueur,</span>
   <span class="verse v1556">Foꝛce adiouxta 
      <span class="lem">ſus</span>
      
       pꝛoueſſe et vigueur,</span>
   <span class="verse v1557">Pour le deſſus myeulx que la baſſecontre</span>
   <span class="verse v1558">Chanter 
      <span class="lem">ſus</span>
      
       eulx, ſi 
      <span class="lem"></span>
      
      hault ou bas ſencontre.</span>
   <span class="verse v1559">
      <span class="lem"></span>
      
      Loꝛs, ſceut ſi bien ſes genſdarmes guider</span>
   <span class="verse v1560"><span class="verse-number">[1560]</span>Quil 
      <span class="lem">rendit</span>
      
      huns
      <span class="lem">deceuz</span>
      
       de leur cuyder,</span>
   <span class="verse v1561">Non pas ſans 
      <span class="lem">coups</span>
      
       de lourdes eſcarmouches,</span>
   <span class="verse v1562">Car laiguillon de ſi pongnantes mouſches</span>
   <span class="verse v1563">Neſt de legier 
      <span class="lem">vaincu</span>
      
      
      <span class="lem"></span>
      
      ny abatu</span>
   <span class="verse v1564">Que auant ne ſoit 
      <span class="lem"></span>
      
      par armes 
      <span class="lem"></span>
      
      combatu /.</span>
   <span class="verse v1565"><span class="verse-number">[1565]</span>Bataille y 
      <span class="lem"></span>
      
      eut auſtere et merueilleuſe</span>
   <span class="verse v1566">Et a chaſcun des deux 
      <span class="lem">oſtz</span>
      
       perilleuſe.</span>
   <span class="verse v1567">Mais Sigibert
      <span class="lem"></span>
      
      
      <span class="lem">le faix ſi bien</span>
      
      
       ſouſtint</span>
   <span class="verse v1568">Quen fin 
      <span class="lem"></span>
      
       lhonneur de la victoire obtint.</span>
   <span class="verse v1569">§Oꝛ ce pendant quil
      auoit ceſte guerre /</span>
   
   
   <hr data-img-id="f90">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Sigibert prend
         <mark title="placeName" type="ville" instant="false" full="yes">Soiſſons</mark> ſus Chilperich / et ſon filz
         priſonnier.</span><span title="Numéro de folio" class="folio-num"><i>27v</i></span></span>
   <span class="verse v1570"><span class="verse-number">[1570]</span>Contre les huns / pour deffendꝛe ſa terre,</span>
   <span class="verse v1571">Ung tour luy fiſt ſon frere Chilperich</span>
   <span class="verse v1572">Laſche et 
      <span class="lem">villain</span>
      
       /.
      <span class="lem">Deux telz</span>
      
       fiſſent le glic.</span>
   <span class="verse v1573">§Le tour fut tel /. Ayant ce gꝛos affaire</span>
   <span class="verse v1574">Que auez ouy /.En 
      <span class="lem">lieu</span>
      
       de ayde luy faire,</span>
   <span class="verse v1575"><span class="verse-number">[1575]</span>
      <span class="lem">Demblee</span>
      
       entra en ſa ville de <mark title="placeName" instant="false" full="yes">Reins</mark></span>
   <span class="verse v1576">Et ſen ſaiſit /. dont eut 
      <span class="lem">ſon</span>
      
       retour / ains</span>
   <span class="verse v1577">Le moys paſſe /. Car,apꝛes la heſmee,</span>
   <span class="verse v1578">Sigibert miſt
      / et planta ſon 
      <span class="lem"></span>
      
      armee</span>
   <span class="verse v1579">Deuant <mark title="placeName" instant="false" full="yes">Soiſſons</mark> /. dont tous les habitans,</span>
   <span class="verse v1580"><span class="verse-number">[1580]</span>En la fureur de ſon ire / doubtans</span>
   <span class="verse v1581">Eſtre pillez /.
      <span class="lem">nul aſſault</span>
      
       attendirent,</span>
   <span class="verse v1582">Mais franchement en ſes mains ſe rendirent.</span>
   <span class="verse v1583">§
      <span class="lem">La</span>
      
      
      , 
      <span class="lem">Chilperich</span>
      
       / le 
      <span class="lem"></span>
      
      plus pour le moins perd,</span>
   <span class="verse v1584">Car pꝛiſonnier eſt ſon filz 
      <span class="lem"></span>
      
      
      <span class="lem">Thidebert</span>
      
      
      
       /</span>
   <span class="verse v1585"><span class="verse-number">[1585]</span>Et 
      <span class="lem">pꝛiſe</span>
      
       voit la pꝛincipale ville</span>
   <span class="verse v1586">De ſon royaulme /. Ingꝛatitude vile,</span>
   <span class="verse v1587">Au 
      <span class="lem">monde</span>
      
      , fait tant 
      <span class="lem"></span>
      
      maulx que ceſt pitie /.</span>
   <span class="verse v1588">En lieu de rendꝛe ung bon tour damytie</span>
   <span class="verse v1589">Et maintenir charite fraternelle,</span>
   <span class="verse v1590"><span class="verse-number">[1590]</span>Trahir 
      <span class="lem">ſon frere ainſi et</span>
      
      
       /
      <span class="lem"></span>
      
      ſans querelle !</span>
   <span class="verse v1591">§Oꝛ a 
      <span class="lem"></span>
      
      receu Chilperich chou pour
      chou,</span>
   <span class="verse v1592">Par quoy, venu au point de faire
      iou,</span>
   <span class="verse v1593">Va ſuppliant, par inſtante requeſte,</span>
   <span class="verse v1594">Que 
      <span class="lem">Thidebert</span>
      
       (ſon filz) lheur de ſa 
      <span class="lem">queſte</span>
      
      ,</span>
   
   
   <hr data-img-id="f91">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Paix faicte entre Chilperich et ſon frere Sigibert.</span><span title="Numéro de folio" class="folio-num"><i>28r</i></span></span>
   <span class="verse v1595"><span class="verse-number">[1595]</span>Luy ſoit rendu /. Ceſt article accoꝛde,</span>
   <span class="verse v1596">Lappoinctement 
      <span class="lem">conſtruict</span>
      
       et recoꝛde,</span>
   <span class="verse v1597">Et de chaſcun 
      <span class="lem">la</span>
      
       conqueſte remiſe,</span>
   <span class="verse v1598">En foy de pꝛince et parolle pꝛomiſe,</span>
   <span class="verse v1599">
      <span class="lem">A</span>
      
      
       dit / iamais / iour ny heure ſe armer
      <span class="lem"></span>
      
      </span>
   <span class="verse v1600"><span class="verse-number">[1600]</span>Contre ſon frere /. Ains, pour le 
      <span class="lem"></span>
      
      traict charmer,</span>
   <span class="verse v1601">Si bien fera /
      <span class="lem">quon</span>
      
       ne ſcaura diſtraire</span>
   <span class="verse v1602">Son franc vouloir de riens faire au contraire /.</span>
   <span class="verse v1603">Mais ceſt abus /. Le faulſaire iura</span>
   <span class="verse v1604">
      <span class="lem">Ce</span>
      
       quon voulut /. et puys ſe pariura</span>
   <span class="verse v1605"><span class="verse-number">[1605]</span>Quant exaulſee 
      <span class="lem"></span>
      
      en tout fut ſa pꝛiere.</span>
   <span class="verse v1606">Et ſeffoꝛca luy faire guerre arriere,</span>
   <span class="verse v1607">Dont neant moins bientoſt ſe repentit /</span>
   <span class="verse v1608">Car, ſubiugue, ſe voyant 
      <span class="lem">fait</span>
      
       petit,</span>
   <span class="verse v1609">Et dauoir pis / mys en 
      <span class="lem">foꝛt</span>
      
       gꝛande craincte,</span>
   <span class="verse v1610"><span class="verse-number">[1610]</span>Il fut / content (voire a foꝛce contraincte)</span>
   <span class="verse v1611">Dentretenir ſans contradictions,</span>
   <span class="verse v1612">Par 
      <span class="lem">paix</span>
      
       faiſant / telles conditions</span>
   <span class="verse v1613">
      <span class="lem">Quon</span>
      
      
      <span class="lem"></span>
      
      miſt pour voir la guerre defferree.</span>
   <span class="verse v1614">Mais de ſa part /
      <span class="lem">fut</span>
      
      
       une paix fourree /.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f88">
   <blockquote class="ms-2">
      <span style="position: relative;"><span class="lem">
            
            <span class="verse v1541">§Estant le
               roy <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> en
               dangier</span>
            <span class="verse v1542">Contre les Huns,<mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark><mark title="placeName" instant="false" full="yes">Reins</mark> va prendre.</span>
            <span class="verse v1543">Mais ce plaisir luy sçaura bientost rendre,</span>
            <span class="verse v1544">Prenant, <span style="position: relative;">sus</span> luy, <mark title="placeName" instant="false" full="yes">Soissons</mark>
               pour <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3">
                        <div class="collation-content">soy<span class="coll-source"> [BnFfr4964]</span></div>
                     </div></sup></span> venger.</span>
            
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;vii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
               <div class="collation-content">Chapitre viiime<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content">
                  <span class="choice">Chappitre</span> viii<sup>e</sup><span class="coll-source"> [Aix419, Cha515]</span></div>
               <div class="collation-content"><span class="choice">Chapitre</span> viii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   <hr data-img-id="f89">
   
   <span class="curr-title fw-bold"><mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> eut
      victoire contre <mark class="persName">Canacque<span class="persName-info fw-normal on-left"><b>Canacque</b> ( — )</span></mark> roy des
      Huns</span>
   <span class="verse v1545"><span class="verse-number">[1545]</span><mark class="persName">Canacque<span class="persName-info fw-normal on-right"><b>Canacque</b> ( — )</span></mark><sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>, roy <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
               <div class="collation-content">des<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515]</span></div>
            </div></sup></span>Huns, plein d’arogance,</span>
   <span class="verse v1546">Enflé d’orgueil et <span style="position: relative;"><span class="lem">fiere</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
               <div class="collation-content">faire<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> oultrecuydance,</span>
   <span class="verse v1547">En <span style="position: relative;">appareil</span><sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup>
      fort puissant, sumptueux,</span>
   <span class="verse v1548">Robuste, fier et <span style="position: relative;"><span class="lem">trés impetueux</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8">
               <div class="collation-content"><span>trés <span class="choice">presumptueulx</span></span><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>,</span>
   <span class="verse v1549">Voulut souldardz <span style="position: relative;"><span class="lem">aux faictz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9">
               <div class="collation-content">au faict<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">au faictz<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> d’armes instruyre,</span>
   <span class="verse v1550"><span class="verse-number">[1550]</span>Pour <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> et
      ses terres destruire.</span>
   <span class="verse v1551">À grosse armee entra <span style="position: relative;">sur</span> le pays,</span>
   <span class="verse v1552">Presumant veoir les Lorrains esbahys.</span>
   <span class="verse v1553">Mais si tost que eut <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> congnoissance</span>
   <span class="verse v1554">Les Huns venir à si grosse puissance,</span>
   <span class="verse v1555"><span class="verse-number">[1555]</span>Non estonné,mais de bon et grand cueur,</span>
   <span class="verse v1556">Force adjouxta <span style="position: relative;">sus</span> prouesse et vigueur,</span>
   <span class="verse v1557">Pour le dessus myeulx que la basse contre</span>
   <span class="verse v1558">Chanter <span style="position: relative;">sus</span> eulx, si hault ou bas s’encontre.</span>
   <span class="verse v1559"><span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16">
               <div class="collation-content">Et <span class="coll-source"> [Aix419]</span></div>
            </div></sup></span>Lors, sceut si bien ses gens d’armes guider</span>
   <span class="verse v1560"><span class="verse-number">[1560]</span>Qu’il <span style="position: relative;"><span class="lem">rendit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">reduict<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>Huns<span style="position: relative;"><span class="lem">deceuz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content"><span>deceus</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> de leur cuyder,</span>
   <span class="verse v1561">Non pas sans <span style="position: relative;"><span class="lem">coups</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19">
               <div class="collation-content">coup<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> de lourdes escarmouches,</span>
   <span class="verse v1562">Car l’aiguillon de si pongnantes mousches</span>
   <span class="verse v1563">N’est de legier <span style="position: relative;"><span class="lem">vaincu</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">vince<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>ny abatu</span>
   <span class="verse v1564">Que avant ne soit par armes <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content"><s>vain</s><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>combatu.</span>
   <span class="verse v1565"><span class="verse-number">[1565]</span>Bataille y eut austere et merveilleuse</span>
   <span class="verse v1566">Et à chascun des deux <span style="position: relative;"><span class="lem">ostz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">ost<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> perilleuse.</span>
   <span class="verse v1567">Mais <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark><span style="position: relative;"><span class="lem">le faix si bien</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">si bien le faix<span class="coll-source"> [BnFfr4965]</span></div>
               <div class="collation-content">si bien le fex<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> soustint</span>
   <span class="verse v1568">Qu’enfin  l’honneur de la victoire obtint.</span>
   <span class="verse v1569">§Or ce pendant qu’il
      avoit ceste guerre</span>
   
   
   <hr data-img-id="f90">
   
   <span class="curr-title fw-bold"><mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> prend
      <mark title="placeName" type="ville" instant="false" full="yes">Soissons</mark> sus <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> et son filz
      prisonnier</span>
   <span class="verse v1570"><span class="verse-number">[1570]</span>Contre les Huns, pour deffendre sa terre,</span>
   <span class="verse v1571">Ung tour luy fist son frere <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v1572">Lasche et <span style="position: relative;"><span class="lem">villain</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29">
               <div class="collation-content">meschant<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span>.<span style="position: relative;"><span class="lem">D’eux telz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30">
               <div class="collation-content">Telz deux<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> fissent le glic<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup>.</span>
   <span class="verse v1573">§Le tour fut tel. Ayant ce gros affaire</span>
   <span class="verse v1574">Que avez ouy,en <span style="position: relative;">lieu</span> de ayde luy faire,</span>
   <span class="verse v1575"><span class="verse-number">[1575]</span><span style="position: relative;"><span class="lem">D’emblee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32">
               <div class="collation-content">D’entree<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> entra en sa ville de <mark title="placeName" instant="false" full="yes">Reins</mark></span>
   <span class="verse v1576">Et s’en saisit, dont eut <span style="position: relative;"><span class="lem">son</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content">sons<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> retour ains<sup class="modal-call note-call" aria-hidden="true" id="noteCall4" data-modal-id="noteModal4">4</sup></span>
   <span class="verse v1577">Le moys passé. Car,aprés la hesmee<sup class="modal-call note-call" aria-hidden="true" id="noteCall5" data-modal-id="noteModal5">5</sup>,</span>
   <span class="verse v1578"><mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> mist et planta son armee</span>
   <span class="verse v1579">Devant <mark title="placeName" instant="false" full="yes">Soissons</mark>, dont tous les habitans,</span>
   <span class="verse v1580"><span class="verse-number">[1580]</span>En la fureur de son ire doubtans</span>
   <span class="verse v1581">Estre pilléz,<span style="position: relative;"><span class="lem">nul assault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35">
               <div class="collation-content">nulz assaulx<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> attendirent,</span>
   <span class="verse v1582">Mais franchement en ses mains se rendirent.</span>
   <span class="verse v1583">§<span style="position: relative;"><span class="lem">Là</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
               <div class="collation-content">Las<span class="coll-source"> [BnFfr4965]</span></div>
               <div class="collation-content">Le<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>, <mark class="persName"><span style="position: relative;"><span class="lem">Chilperich</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
                  <div class="collation-content">Chilpech<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span><span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> le plus pour le moins perd,</span>
   <span class="verse v1584">Car prisonnier est son filz <mark class="persName"><span style="position: relative;"><span class="lem">Thidebert</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
                  <div class="collation-content">Childebert<span class="coll-source"> [Aix419]</span></div>
                  <div class="collation-content">Thildebert<span class="coll-source"> [BnFfr17274]</span></div>
                  <div class="collation-content">Tildebert<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span><span class="persName-info fw-normal on-right"><b>Thibert</b> (entre 548 et 551 — 575)<span class="hr-100">&nbsp;</span>Prince franc (?-575)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Chilpéric Ier</span></mark>,</span>
   <span class="verse v1585"><span class="verse-number">[1585]</span>Et <span style="position: relative;">prise</span> voit la principale ville</span>
   <span class="verse v1586">De son royaulme. Ingratitude vile,</span>
   <span class="verse v1587">Au <span style="position: relative;"><span class="lem">monde</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42">
               <div class="collation-content"><span class="choice">mondonde</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>, fait tant <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">de <span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>maulx que c’est pitié,</span>
   <span class="verse v1588">En lieu de rendre ung bon tour d’amytié</span>
   <span class="verse v1589">Et maintenir charité fraternelle,</span>
   <span class="verse v1590"><span class="verse-number">[1590]</span>Trahir <span style="position: relative;"><span class="lem">son frere ainsi et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44">
               <div class="collation-content">ainsi son
                  frere<span class="coll-source"> [BnFfr4964, BnFfr4965, BnFfr23146, Cha515]</span></div>
               <div class="collation-content">ainsy son frere<span class="coll-source"> [Aix419, BnFfr17274]</span></div>
            </div></sup></span>sans querelle !</span>
   <span class="verse v1591">§Or a receu <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> chou pour
      chou,</span>
   <span class="verse v1592">Par quoy, venu au point de faire
      jou,</span>
   <span class="verse v1593">Va supplïant, par instante requeste,</span>
   <span class="verse v1594">Que <mark class="persName"><span style="position: relative;"><span class="lem">Thidebert</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47">
                  <div class="collation-content">Childebert<span class="coll-source"> [BnFfr4965]</span></div>
               </div></sup></span><span class="persName-info fw-normal on-right"><b>Thibert</b> (entre 548 et 551 — 575)<span class="hr-100">&nbsp;</span>Prince franc (?-575)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Chilpéric Ier</span></mark>, son filz, l’heur de sa <span style="position: relative;">queste</span>,</span>
   
   
   <hr data-img-id="f91">
   
   <span class="curr-title fw-bold">Paix faicte entre <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> et son frere <mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark></span>
   <span class="verse v1595"><span class="verse-number">[1595]</span>Luy soit rendu. Cest article accordé,</span>
   <span class="verse v1596">L’appoinctement <span style="position: relative;"><span class="lem">construict</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49">
               <div class="collation-content">contrainct<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> et recordé,</span>
   <span class="verse v1597">Et de chascun <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> conqueste remise,</span>
   <span class="verse v1598">En foy de prince et parolle promise,</span>
   <span class="verse v1599"><span style="position: relative;"><span class="lem">A</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51">
               <div class="collation-content">Et<span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content">Est<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> dit jamais jour ny heure se armer</span>
   <span class="verse v1600"><span class="verse-number">[1600]</span>Contre son frere. Ains, pour le traict charmer,</span>
   <span class="verse v1601">Si bien fera<span style="position: relative;"><span class="lem">qu’on</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54">
               <div class="collation-content">que<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> ne sçaura distraire</span>
   <span class="verse v1602">Son franc vouloir de riens faire au contraire.</span>
   <span class="verse v1603">Mais c’est abus. Le faulsaire jura</span>
   <span class="verse v1604"><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55">
               <div class="collation-content">Se<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> qu’on voulut, et puys se parjura</span>
   <span class="verse v1605"><span class="verse-number">[1605]</span>Quant exaulsee en tout fut sa priere.</span>
   <span class="verse v1606">Et s’efforça luy faire guerre arriere,</span>
   <span class="verse v1607">Dont neantmoins bientost se repentit,</span>
   <span class="verse v1608">Car, subjugué, se voyant <span style="position: relative;"><span class="lem">fait</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57">
               <div class="collation-content">fort<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> petit,</span>
   <span class="verse v1609">Et d’avoir pis mys en <span style="position: relative;"><span class="lem">fort</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown58" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown58">
               <div class="collation-content">fort<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span> grande craincte,</span>
   <span class="verse v1610"><span class="verse-number">[1610]</span>Il fut content, voire à force contraincte,</span>
   <span class="verse v1611">D’entretenir sans contradictïons,</span>
   <span class="verse v1612">Par <span style="position: relative;"><span class="lem">paix</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59">
               <div class="collation-content">quoy<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span> faisant telles conditïons</span>
   <span class="verse v1613"><span style="position: relative;"><span class="lem">Qu’on</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60">
               <div class="collation-content">Que en<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>mist pour voir la guerre defferree.</span>
   <span class="verse v1614">Mais de sa part<span style="position: relative;"><span class="lem">fut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62">
               <div class="collation-content">feyt<span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">faict<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> une paix fourree.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(1545);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Kacanus dans les
      <i title="Titre">GCF</i>. Renvoie à "khan" qui désigne le chef en
      mongol&nbsp;: ce n’est sans doute pas un vrai nom propre</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(1547);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">Troupes militaires.</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(1572);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Sorte de jeu de
      cartes.</div>
   <h4 class="modal-title" modal-title="noteModal4"><a href="javascript:versePointer(1576);">Note n°4</a></h4>
   <div class="modal-text" modal-text="noteModal4">Avant.</div>
   <h4 class="modal-title" modal-title="noteModal5"><a href="javascript:versePointer(1577);">Note n°5</a></h4>
   <div class="modal-text" modal-text="noteModal5">Bataille (particulièrement violente).</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1544);">v. 1544</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>soy</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre viiime</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515 </span>
            <span class="choice">Chappitre</span> viii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> viii<sup>e</sup></span></div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1545);">v. 1545</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515 </span>des</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1546);">v. 1546</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faire</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1548);">v. 1548</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span>trés <span class="choice">presumptueulx</span></span></span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1549);">v. 1549</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>au faict</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>au faictz</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1559);">v. 1559</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Et </span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1560);">v. 1560</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>reduict</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1560);">v. 1560</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span>deceus</span></span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1561);">v. 1561</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>coup</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1563);">v. 1563</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>vince</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1564);">v. 1564</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>vain</s></span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1566);">v. 1566</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ost</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1567);">v. 1567</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>si bien le faix</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>si bien le fex</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1572);">v. 1572</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>meschant</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1572);">v. 1572</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>Telz deux</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1575);">v. 1575</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>D’entree</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1576);">v. 1576</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sons</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1581);">v. 1581</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>nulz assaulx</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1583);">v. 1583</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Las</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Le</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1583);">v. 1583</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Chilpech</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1584);">v. 1584</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Childebert</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Thildebert</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Tildebert</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1587);">v. 1587</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">mondonde</span></span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1587);">v. 1587</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>de </span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1590);">v. 1590</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, BnFfr23146, Cha515 </span>ainsi son
            frere</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274 </span>ainsy son frere</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1594);">v. 1594</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Childebert</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1596);">v. 1596</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>contrainct</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1597);">v. 1597</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1599);">v. 1599</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span>Et</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Est</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1601);">v. 1601</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>que</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1604);">v. 1604</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Se</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1608);">v. 1608</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>fort</span></div>
      </div>
   <div class="collation row" id="coll58">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1609);">v. 1609</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>fort</span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1612);">v. 1612</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>quoy</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1613);">v. 1613</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Que en</span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1614);">v. 1614</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>feyt</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faict</span></div>
      </div>
</div>
{% endmacro %}
