
{% macro chapterTitle() %}Chapitre 8{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('8_chap_7')"><i class="fa-solid fa-arrow-left"></i> Chapitre 7</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('10_chap_9')">Chapitre 9 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f91/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f91/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f91" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f92/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f92/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f92" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f93/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f93/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f93" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f94/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f94/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f94" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f95/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f95/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f95" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f96/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f96/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f96" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f91">
   <p title="Numéro de folio" class="text-end"><i>28r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v1615"><span class="verse-number">[1615]</span>§Chilperich neut /
         <span class="lem">ſes</span>
         
          deſirs aſſouuiz</span>
      <span class="verse v1616">Sans 
         <span class="lem">lourdz</span>
         
          exces deſtrange et male ſuytte,</span>
      <span class="verse v1617">Dont, a grand tort, en 
         <span class="lem"></span>
         
         
         <span class="lem">fiſt</span>
         
          faire pourſuyte.</span>
      <span class="verse v1618">A 
         <span class="lem">ſes</span>
         
          deux filz, 
         <span class="lem">Thidebert</span>
         
          / et Clouis.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      
      <span class="lem">Chapitre.&nbsp;viii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f92">
   <span title="Numéro de folio" class="folio-num"><i>28v</i></span>
   
   
   <hr data-img-id="f93">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Clouis
         filz Chilperich chaſſe de
         <mark title="placeName" instant="false" full="yes">Bordeaux</mark></span><span title="Numéro de folio" class="folio-num"><i>29r</i></span></span>
   <span class="verse v1619">MAle penſee / infecte et coꝛrumpue,</span>
   <span class="verse v1620"><span class="verse-number">[1620]</span>En Chilperich / rendit acoup rompue</span>
   <span class="verse v1621">La paix iuree entre 
      <span class="lem">ſon</span>
      
       frere et luy,</span>
   <span class="verse v1622">Ainſi quon fait encoꝛes auiourdvy /.</span>
   <span class="verse v1623">
      <span class="lem">Pape</span>
      
       / empereur / roys / ducz / pꝛinces / et comtes,</span>
   <span class="verse v1624">Sermentz toꝛtuz font 
      <span class="lem"></span>
      
      alouer en comptes,</span>
   <span class="verse v1625"><span class="verse-number">[1625]</span>Dont peu ou riens ſeruent 
      <span class="lem">leurs</span>
      
       compꝛomys</span>
   <span class="verse v1626">Veu que, ſi toſt, rompent 
      <span class="lem">ce</span>
      
      
      <span class="lem">quont</span>
      
       pꝛomys /.</span>
   <span class="verse v1627">Ce Chilperich
      <span class="lem">arma</span>
      
       de felonnie</span>
   <span class="verse v1628">Son cueur enfle / pour faire 
      <span class="lem"></span>
      
      vilenie</span>
   <span class="verse v1629">A ſon
      <span class="lem">dit</span>
      
       frere, vſant de mal aduis.</span>
   <span class="verse v1630"><span class="verse-number">[1630]</span>Et vers <mark title="placeName" instant="false" full="yes">boꝛdeaux</mark> tranſmiſt ſon filz Clouis</span>
   <span class="verse v1631">Qui, aſſez toſt, 
      <span class="lem">leans</span>
      
       entra demblee.</span>
   <span class="verse v1632">Loꝛs la pꝛouince, en 
      <span class="lem">laffaire</span>
      
       troublee,</span>
   <span class="verse v1633">Au ſennechal Singulfe eut ſon recours,</span>
   <span class="verse v1634">Qui pꝛomptement y donna tel ſecours,</span>
   <span class="verse v1635"><span class="verse-number">[1635]</span>Que contraignit Clouis
      <span class="lem"></span>
      
      de 
      <span class="lem">tourner</span>
      
       bꝛide</span>
   <span class="verse v1636">Et vers <mark title="placeName" instant="false" full="yes">paris</mark> aller demander ayde.</span>
   <span class="verse v1637">Car ce Singulfe, aux armes
      foꝛt expert,</span>
   <span class="verse v1638">La eſtably 
      <span class="lem">pour</span>
      
       le roy Sigibert,</span>
   <span class="verse v1639">Tant le haſta quen ſa playe eut la tente</span>
   <span class="verse v1640"><span class="verse-number">[1640]</span>De ſaige fuytte /.et laiſſa fole actente,</span>
   <span class="verse v1641">Dont Chilperich, 
      <span class="lem">pꝛeſt</span>
      
       de vif 
      <span class="lem">enraiger</span>
      
      </span>
   <span class="verse v1642">Fiſt par ſon filz, 
      <span class="lem">Thidebert</span>
      
      
      , 
      <span class="lem">dommaiger</span>
      
      ,</span>
   <span class="verse v1643">Feuſt par fineſſe, armes ou 
      <span class="lem">induſtrie</span>
      
      ,</span>
   
   
   <hr data-img-id="f94">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Gondonault comte de poictiers donna ſecours a Sigibert.</span><span title="Numéro de folio" class="folio-num"><i>29v</i></span></span>
   <span class="verse v1644">Tout le pays loꝛs appelle <mark title="placeName" instant="false" full="yes">Neuſtrie</mark>,</span>
   <span class="verse v1645"><span class="verse-number">[1645]</span>Qui <mark title="placeName" instant="false" full="yes">Noꝛmandie</mark> a pꝛis nom maintenant /.</span>
   <span class="verse v1646">
      <span class="lem">Pour</span>
      
       ce que eſtoit la part et main tenant</span>
   <span class="verse v1647">De Sigibert /. par falaces ſubtiles,</span>
   <span class="verse v1648">Saiſit ceſtuy maintes places 
      <span class="lem">vtiles</span>
      
      .</span>
   <span class="verse v1649">Et, 
      <span class="lem">oultre</span>
      
       plus / en la meſme fureur,</span>
   <span class="verse v1650"><span class="verse-number">[1650]</span>Donnant a tous matiere de terreur.</span>
   <span class="verse v1651">Il conqueſta, daſtuce ſouueraine,</span>
   <span class="verse v1652"><mark title="placeName" instant="false" full="yes">Cahours</mark> /.
      <span class="lem"></span>
      
      <mark title="placeName" instant="false" full="yes">Poictou</mark> /<mark title="placeName" instant="false" full="yes">Lymoſin</mark> / et
      <mark title="placeName" instant="false" full="yes">Touraine</mark>.</span>
   <span class="verse v1653">Et ſans vouloir nulle riens eſpergner,</span>
   <span class="verse v1654">Le ſacrileige oza ſes mains baigner</span>
   <span class="verse v1655"><span class="verse-number">[1655]</span>Emmy le ſang des perſonnes ſacrees,</span>
   <span class="verse v1656">En defloꝛant ieunes 
      <span class="lem"></span>
      
      vierges / entrees</span>
   <span class="verse v1657">Aux temples ſainctz /
      <span class="lem"></span>
      
      pour deuoir en ces lieux</span>
   <span class="verse v1658">Seruir le roy des roys
      / et dieu des dieux /.</span>
   <span class="verse v1659">
      <span class="lem">Oultre</span>
      
       /
      <span class="lem"></span>
      
      qui plus tout homme ſcandaliſe,</span>
   <span class="verse v1660"><span class="verse-number">[1660]</span>Fiſt le meſchant pꝛophaner 
      <span class="lem">mainte</span>
      
       egliſe,</span>
   <span class="verse v1661">Mectant cheuaulx iuſques pꝛes des aultiers.</span>
   <span class="verse v1662">§Loꝛs 
      <span class="lem">Gondouault</span>
      
      , le comte de <mark title="placeName" instant="false" full="yes">Poictiers</mark>,</span>
   <span class="verse v1663">Saichant le dꝛoit / bon / iuſte / et canonicque</span>
   <span class="verse v1664">De Sigibert /. et la querelle inique</span>
   <span class="verse v1665"><span class="verse-number">[1665]</span>De ſon nepueu / luy donna, de plain ſault,</span>
   <span class="verse v1666">Ung criminel et merueilleux aſſault.</span>
   <span class="verse v1667">Et dautre part / hoꝛs eſpoir de reſcouſſe,</span>
   <span class="verse v1668">Luy fut 
      <span class="lem">donnee</span>
      
       une telle ſecouſſe</span>
   
   
   <hr data-img-id="f95">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Chilperich print
         <mark title="placeName" instant="false" full="yes">Reins</mark> ſus ſon frere Sigibert /.</span><span title="Numéro de folio" class="folio-num"><i>30r</i></span></span>
   <span class="verse v1669">Par Sigibert / que apꝛes 
      <span class="lem"></span>
      
      foꝛt batailler,</span>
   <span class="verse v1670"><span class="verse-number">[1670]</span>Teſtes 
      <span class="lem"></span>
      
      trencher / bꝛaz / et cuyſſotz tailler,</span>
   <span class="verse v1671">Leſtrange metz de 
      <span class="lem">amere</span>
      
       confiture,</span>
   <span class="verse v1672">Signe pꝛouchain 
      <span class="lem"></span>
      
      a ſa deſconfiture,</span>
   <span class="verse v1673">Sans auoir pas ne demy reculle,</span>
   <span class="verse v1674">Comme ung ſanglier, ſe voyant 
      <span class="lem">acculle</span>
      
      ,</span>
   <span class="verse v1675"><span class="verse-number">[1675]</span>Qui chiens deſcouſt / pourfend / trenche / et 
      <span class="lem">deſſire</span>
      
      
      ,</span>
   <span class="verse v1676">Vie a pluſieurs /
      <span class="lem"></span>
      
      oſtant ſe 
      <span class="lem">fiſt</span>
      
       occire.</span>
   <span class="verse v1677">§Loꝛs, Chilperich / courroux mys 
      <span class="lem">ſus</span>
      
       deſpit,</span>
   <span class="verse v1678">Sans a 
      <span class="lem">nully</span>
      
      
      <span class="lem">donner</span>
      
       gꝛace ou reſpit.</span>
   <span class="verse v1679">Guerre cruelle ayant pꝛiſe a compaigne,</span>
   <span class="verse v1680"><span class="verse-number">[1680]</span>Alla rifler le pays de <mark title="placeName" instant="false" full="yes">champaigne</mark></span>
   <span class="verse v1681">Et pilla <mark title="placeName" instant="false" full="yes">Reins</mark> pour la ſeconde fois,</span>
   <span class="verse v1682">Vengeant la moꝛt de ſon filz /. Touteſfois,</span>
   <span class="verse v1683">Tantoſt volla commune renommee</span>
   <span class="verse v1684">Vers Sigibert
      / qui, tournant ſon armee,</span>
   <span class="verse v1685"><span class="verse-number">[1685]</span>Delibera mectre a confuſion</span>
   <span class="verse v1686">Son hayneux frere / et telle effuſion</span>
   <span class="verse v1687">De ſang moꝛtel / faire 
      <span class="lem">ſur</span>
      
       luy 
      <span class="lem">eſpoindꝛe</span>
      
      ,</span>
   <span class="verse v1688">Que plus 
      <span class="lem"></span>
      
      nauroit matiere de le poindꝛe.</span>
   <span class="verse v1689">Mais ce pendant que ung et autre faiſoit</span>
   <span class="verse v1690"><span class="verse-number">[1690]</span>Son appareil /.Ceulx a qui deſplaiſoit</span>
   <span class="verse v1691">Deux 
      <span class="lem">freres</span>
      
       veoir en 
      <span class="lem"></span>
      
      ire et foꝛte heyne,</span>
   <span class="verse v1692">Tant dun coſte que dautre, 
      <span class="lem">mirent</span>
      
       peine</span>
   <span class="verse v1693">
      <span class="lem"></span>
      
      Entre eulx / laccoꝛd diligemment traicter.</span>
   
   
   <hr data-img-id="f96">
   
   <span class="folio"><span class="d-block fw-bold mb-3">Chilperich et Sigibert bendez contre Gontran.</span><span title="Numéro de folio" class="folio-num"><i>30v</i></span></span>
   <span class="verse v1694">Et ſi treſbien le ſceurent 
      <span class="lem">contraicter</span>
      
      </span>
   <span class="verse v1695"><span class="verse-number">[1695]</span>Que fut diſcoꝛde a ce moyen coꝛdee</span>
   <span class="verse v1696">Et bonne pais, paſſee et accoꝛdee /.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f91">
   <blockquote class="ms-2">
      
      <span class="verse v1615"><span class="verse-number">[1615]</span>§<mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> n’eut<span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1">
                  <div class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> desirs assouviz</span>
      <span class="verse v1616">Sans <span style="position: relative;"><span class="lem">lourdz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2">
                  <div class="collation-content">lour<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> excés d’estrange et male suytte,</span>
      <span class="verse v1617">Dont, à grand tort, en <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4">
                  <div class="collation-content">faict<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> faire poursuyte</span>
      <span class="verse v1618">À <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5">
                  <div class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span> deux filz, <mark class="persName"><span style="position: relative;"><span class="lem">Thidebert</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6">
                     <div class="collation-content">Childebert<span class="coll-source"> [Aix419]</span></div>
                  </div></sup></span><span class="persName-info fw-normal on-right"><b>Thibert</b> (entre 548 et 551 — 575)<span class="hr-100">&nbsp;</span>Prince franc (?-575)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Chilpéric Ier</span></mark> et <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      §
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;viii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7">
               <div class="collation-content">Chapitre ixme<span class="coll-source"> [BnFfr4964]</span></div>
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></div>
               <div class="collation-content"><span class="choice">Chappitre</span> ix<sup>e</sup>.<span class="coll-source"> [Aix419]</span></div>
               <div class="collation-content">Chappitre ix<sup>e</sup><span class="coll-source"> [Cha515]</span></div>
               <div class="collation-content"><span class="choice">Chapitre</span> ix<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f92">
   
   
   
   <hr data-img-id="f93">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>
      filz <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> chassé de
      <mark title="placeName" instant="false" full="yes">Bordeaux</mark></span>
   <span class="verse v1619">Male pensee, infecte et corrumpue,</span>
   <span class="verse v1620"><span class="verse-number">[1620]</span>En <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, rendit à coup rompue</span>
   <span class="verse v1621">La paix juree entre <span style="position: relative;">son</span> frere et luy,</span>
   <span class="verse v1622">Ainsi qu’on fait encores aujourd’uy.</span>
   <span class="verse v1623"><span style="position: relative;">Pape</span>, empereur, roys, ducz, princes et comtes,</span>
   <span class="verse v1624">Sermentz tortuz font alouer en comptes,</span>
   <span class="verse v1625"><span class="verse-number">[1625]</span>Dont peu ou riens servent <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11">
               <div class="collation-content">leur<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> compromys</span>
   <span class="verse v1626">Veu que, si tost, rompent <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12">
               <div class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span><span style="position: relative;"><span class="lem">qu’ont</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13">
               <div class="collation-content">que il ont<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> promys.</span>
   <span class="verse v1627">Ce <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark><span style="position: relative;"><span class="lem">arma</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14">
               <div class="collation-content">armé<span class="coll-source"> [BnFfr17274]</span></div>
            </div></sup></span> de felonnie</span>
   <span class="verse v1628">Son cueur enflé, pour faire vilenie</span>
   <span class="verse v1629">À son <span style="position: relative;">dit</span> frere, usant de mal advis.</span>
   <span class="verse v1630"><span class="verse-number">[1630]</span>Et vers <mark title="placeName" instant="false" full="yes">Bordeaux</mark> transmist son filz <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark></span>
   <span class="verse v1631">Qui, assez tost, <span style="position: relative;"><span class="lem">lëans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17">
               <div class="collation-content">dedans<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> entra d’emblee<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>.</span>
   <span class="verse v1632">Lors la province, en <span style="position: relative;"><span class="lem">l’affaire</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18">
               <div class="collation-content">la faire<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> troublee,</span>
   <span class="verse v1633">Au sennechal <mark class="persName">Singulfe<span class="persName-info fw-normal on-right"><b>Sigulfe</b> ( — )</span></mark><sup class="modal-call note-call" aria-hidden="true" id="noteCall2" data-modal-id="noteModal2">2</sup> eut son recours,</span>
   <span class="verse v1634">Qui promptement y donna tel secours,</span>
   <span class="verse v1635"><span class="verse-number">[1635]</span>Que contraignit <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>de <span style="position: relative;"><span class="lem">tourner</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20">
               <div class="collation-content">tourne<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> bride</span>
   <span class="verse v1636">Et vers <mark title="placeName" instant="false" full="yes">Paris</mark> aller demander ayde.</span>
   <span class="verse v1637">Car ce <mark class="persName">Singulfe<span class="persName-info fw-normal on-right"><b>Sigulfe</b> ( — )</span></mark>, aux armes
      fort expert,</span>
   <span class="verse v1638">Là estably <span style="position: relative;"><span class="lem">pour</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21">
               <div class="collation-content">par<span class="coll-source"> [BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515]</span></div>
            </div></sup></span> le roy <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>,</span>
   <span class="verse v1639">Tant le hasta qu’en sa playe eut la tente</span>
   <span class="verse v1640"><span class="verse-number">[1640]</span>De saige fuytte,Et laissa fole actente,</span>
   <span class="verse v1641">Dont <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, <span style="position: relative;"><span class="lem">prest</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22">
               <div class="collation-content">près<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></div>
            </div></sup></span> de vif <span style="position: relative;"><span class="lem">enraiger</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23">
               <div class="collation-content">en raige<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span></span>
   <span class="verse v1642">Fist par son filz, <mark class="persName"><span style="position: relative;"><span class="lem">Thidebert</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24">
                  <div class="collation-content">Theodebert<span class="coll-source"> [Aix419]</span></div>
                  <div class="collation-content">Theudebert<span class="coll-source"> [Cha515]</span></div>
               </div></sup></span><span class="persName-info fw-normal on-right"><b>Thibert</b> (entre 548 et 551 — 575)<span class="hr-100">&nbsp;</span>Prince franc (?-575)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Chilpéric Ier</span></mark>, <span style="position: relative;"><span class="lem">dommaiger</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25">
               <div class="collation-content">endommaiger<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>,</span>
   <span class="verse v1643">Feust par finesse, armes ou <span style="position: relative;">industrie</span>,</span>
   
   
   <hr data-img-id="f94">
   
   <span class="curr-title fw-bold"><mark class="persName">Gondonault<span class="persName-info fw-normal on-left"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> comte de Poictiers donna secours à <mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark></span>
   <span class="verse v1644">Tout le pays lors appellé <mark title="placeName" instant="false" full="yes">Neustrie</mark>,</span>
   <span class="verse v1645"><span class="verse-number">[1645]</span>Qui <mark title="placeName" instant="false" full="yes">Normandie</mark> a pris nom maintenant.</span>
   <span class="verse v1646"><span style="position: relative;"><span class="lem">Pour</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27">
               <div class="collation-content">Par<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> ce que estoit la part et main tenant</span>
   <span class="verse v1647">De <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>, par falaces subtiles,</span>
   <span class="verse v1648">Saisit cestuy maintes places <span style="position: relative;"><span class="lem">utiles</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28">
               <div class="collation-content">et villes<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>.</span>
   <span class="verse v1649">Et, <span style="position: relative;">oultre</span> plus, en la mesme fureur,</span>
   <span class="verse v1650"><span class="verse-number">[1650]</span>Donnant à tous matiere de terreur,</span>
   <span class="verse v1651">Il conquesta, d’astuce souveraine,</span>
   <span class="verse v1652"><mark title="placeName" instant="false" full="yes">Cahours</mark>,<span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30">
               <div class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span><mark title="placeName" instant="false" full="yes">Poictou</mark>,<mark title="placeName" instant="false" full="yes">Lymosin</mark> et
      <mark title="placeName" instant="false" full="yes">Touraine</mark>.</span>
   <span class="verse v1653">Et sans vouloir nulle riens espergner,</span>
   <span class="verse v1654">Le sacrileige oza ses mains baigner</span>
   <span class="verse v1655"><span class="verse-number">[1655]</span>Emmy le sang des personnes sacrees,</span>
   <span class="verse v1656">En deflorant jeunes vierges, entrees</span>
   <span class="verse v1657">Aux temples sainctzpour devoir en ces lieux</span>
   <span class="verse v1658">Servir le <mark class="persName">roy des roys<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> et <mark class="persName">dieu des dieux<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>.</span>
   <span class="verse v1659"><span style="position: relative;"><span class="lem">Oultre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33">
               <div class="collation-content">Ou<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span>qui plus tout homme scandalise,</span>
   <span class="verse v1660"><span class="verse-number">[1660]</span>Fist le meschant prophaner <span style="position: relative;">mainte</span> eglise,</span>
   <span class="verse v1661">Mectant chevaulx jusques prés des aultiers.</span>
   <span class="verse v1662">§Lors <mark class="persName"><span style="position: relative;"><span class="lem">Gondouault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36">
                  <div class="collation-content">Gondeuaut<span class="coll-source"> [BnFfr23146]</span></div>
               </div></sup></span><span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark>, le comte de <mark title="placeName" instant="false" full="yes">Poictiers</mark>,</span>
   <span class="verse v1663">Saichant le droit bon, juste et canonicque</span>
   <span class="verse v1664">De <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>, et la querelle inique</span>
   <span class="verse v1665"><span class="verse-number">[1665]</span>De son nepveu, luy donna, de plain sault<sup class="modal-call note-call" aria-hidden="true" id="noteCall3" data-modal-id="noteModal3">3</sup>,</span>
   <span class="verse v1666">Ung criminel et merveilleux assault.</span>
   <span class="verse v1667">Et d’autre part, hors espoir de rescousse,</span>
   <span class="verse v1668">Luy fut <span style="position: relative;"><span class="lem">donnee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37">
               <div class="collation-content">donné<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> une telle secousse</span>
   
   
   <hr data-img-id="f95">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> print
      <mark title="placeName" instant="false" full="yes">Reins</mark> sus son frere <mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark></span>
   <span class="verse v1669">Par <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>, que aprés fort batailler,</span>
   <span class="verse v1670"><span class="verse-number">[1670]</span>Testes trencher, braz et cuyssotz tailler,</span>
   <span class="verse v1671">L’estrange metz de <span style="position: relative;"><span class="lem">amere</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40">
               <div class="collation-content">estrange<span class="coll-source"> [BnFfr4965]</span></div>
            </div></sup></span> confiture,</span>
   <span class="verse v1672">Signe prouchain à sa desconfiture,</span>
   <span class="verse v1673">Sans avoir pas ne demy recullé,</span>
   <span class="verse v1674">Comme ung sanglier, se voyant <span style="position: relative;">accullé</span>,</span>
   <span class="verse v1675"><span class="verse-number">[1675]</span>Qui chiens descoust, pourfend, trenche et <span style="position: relative;"><span class="lem">dessire</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43">
               <div class="collation-content">deschire<span class="coll-source"> [BnFfr17274]</span></div>
               <div class="collation-content">dechire<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span>,</span>
   <span class="verse v1676">Vie à plusieursostant, se <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45">
               <div class="collation-content">faict<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> occire.</span>
   <span class="verse v1677">§Lors, <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> courroux mys <span style="position: relative;">sus</span> despit,</span>
   <span class="verse v1678">Sans à <span style="position: relative;">nully</span><span style="position: relative;"><span class="lem">donner</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48">
               <div class="collation-content">donne<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> grace ou respit.</span>
   <span class="verse v1679">Guerre cruelle ayant prise à compaigne,</span>
   <span class="verse v1680"><span class="verse-number">[1680]</span>Alla rifler le pays de <mark title="placeName" instant="false" full="yes">Champaigne</mark></span>
   <span class="verse v1681">Et pilla <mark title="placeName" instant="false" full="yes">Reins</mark> pour la seconde fois,</span>
   <span class="verse v1682">Vengeant la mort de son filz. Toutesfois,</span>
   <span class="verse v1683">Tantost volla commune renommee</span>
   <span class="verse v1684">Vers <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> qui, tournant son armee,</span>
   <span class="verse v1685"><span class="verse-number">[1685]</span>Delibera mectre à confusïon</span>
   <span class="verse v1686">Son hayneux frere, et telle effusïon</span>
   <span class="verse v1687">De sang mortel faire <span style="position: relative;">sur</span> luy <span style="position: relative;"><span class="lem">espoindre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50">
               <div class="collation-content">espandre<span class="coll-source"> [Aix419]</span></div>
            </div></sup></span>,</span>
   <span class="verse v1688">Que plus n’auroit matiere de le poindre.</span>
   <span class="verse v1689">Mais ce pendant que ung et autre faisoit</span>
   <span class="verse v1690"><span class="verse-number">[1690]</span>Son appareil,ceulx à qui desplaisoit</span>
   <span class="verse v1691">Deux <span style="position: relative;"><span class="lem">freres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52">
               <div class="collation-content">frere<span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> veoir en ire et forte heyne,</span>
   <span class="verse v1692">Tant d’un costé que d’autre, <span style="position: relative;"><span class="lem">mirent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54">
               <div class="collation-content"><span class="choice">miren</span><span class="coll-source"> [BnFfr23146]</span></div>
            </div></sup></span> peine</span>
   <span class="verse v1693">Entre eulx l’accord diligemment traicter.</span>
   
   
   <hr data-img-id="f96">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> et <mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> bendéz contre <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark></span>
   <span class="verse v1694">Et si trés bien le sceurent <span style="position: relative;"><span class="lem">contraicter</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><div class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56">
               <div class="collation-content">contracter<span class="coll-source"> [Cha515]</span></div>
            </div></sup></span></span>
   <span class="verse v1695"><span class="verse-number">[1695]</span>Que fut discorde à ce moyen cordee</span>
   <span class="verse v1696">Et bonne pais, passee et accordee.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1"><a href="javascript:versePointer(1631);">Note n°1</a></h4>
   <div class="modal-text" modal-text="noteModal1">Le terme peut ici signifier
      "immédiatement, rapidement", mais il signifie plus souvent "en
      cachette, par surprise".</div>
   <h4 class="modal-title" modal-title="noteModal2"><a href="javascript:versePointer(1633);">Note n°2</a></h4>
   <div class="modal-text" modal-text="noteModal2">"Singulfe" est la graphie de Gaguin (le -n apparaît
      que chez Gaguin).</div>
   <h4 class="modal-title" modal-title="noteModal3"><a href="javascript:versePointer(1665);">Note n°3</a></h4>
   <div class="modal-text" modal-text="noteModal3">Tout d'un
      coup.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1615);">v. 1615</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1616);">v. 1616</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>lour</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1617);">v. 1617</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faict</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1618);">v. 1618</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1618);">v. 1618</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Childebert</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre ixme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> ix<sup>e</sup>.</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappitre ix<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> ix<sup>e</sup></span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1625);">v. 1625</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1626);">v. 1626</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1626);">v. 1626</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>que il ont</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1627);">v. 1627</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>armé</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1631);">v. 1631</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>dedans</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1632);">v. 1632</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>la faire</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1635);">v. 1635</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>tourne</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1638);">v. 1638</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515 </span>par</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1641);">v. 1641</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>près</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1641);">v. 1641</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en raige</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1642);">v. 1642</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Theodebert</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Theudebert</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1642);">v. 1642</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>endommaiger</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1646);">v. 1646</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Par</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1648);">v. 1648</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et villes</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1652);">v. 1652</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1659);">v. 1659</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Ou</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1662);">v. 1662</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Gondeuaut</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1668);">v. 1668</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>donné</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1671);">v. 1671</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>estrange</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1675);">v. 1675</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>deschire</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>dechire</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1676);">v. 1676</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faict</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1678);">v. 1678</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>donne</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1687);">v. 1687</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>espandre</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1691);">v. 1691</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>frere</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1692);">v. 1692</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">miren</span></span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1694);">v. 1694</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>contracter</span></div>
      </div>
</div>
{% endmacro %}
